<div class="card mb-0">
  <div class="card-header">
    <div class="card-title pull-left">
      <strong>{{ title.toUpperCase() }}</strong>
    </div>
    <div class="card-tools pull-right select">
      <select [(ngModel)]="type" (ngModelChange)="switchChartType($event)">
        <option value="bar">Barra</option>
        <option value="doughnut">Doghut</option>
        <option value="pie">Pizza</option>
      </select>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="card-content">
    <app-multi-report-bar *ngIf="chartDataPrepared" [chartData]="chartDataPrepared" [chartLabels]="chartLabels"
                          [chartOptions]="chartOptions" [chartType]="chartType"></app-multi-report-bar>
  </div>
</div>
