<h3 class="container_vizualized__title">Casa de pássarinho</h3>
<div class="materials">    

        <form class="forms" [formGroup]="form" (ngSubmit)="register()">
            <div class="forms_title">
                <h3 class="forms_title__h3">Novo fornecedor</h3>
                <p class="forms_title__p">Preencha todos os campos abaixo.</p>
            </div>

            <mat-form-field class="forms__input_box__input__mat">
                <input matInput placeholder="Nome do fornecedor:" [matAutocomplete]="auto" [formControl]="supplierCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let supplier of filteredSupplier | async" [value]="supplier.name">
                    <span>{{ supplier.name }}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            
            <mat-form-field class="forms__input_box__input__mat">
                <input formControlName="email" matInput placeholder="Email:">
            </mat-form-field>


            <mat-form-field class="forms__input_box__input__mat__small">
                <input matInput formControlName="phone" placeholder="TELEFONE:">
            </mat-form-field>
    
            <mat-form-field class="forms__input_box__input__mat__small">
                <input matInput formControlName="cep" placeholder="CEP:">
            </mat-form-field>
    
            <mat-form-field class="forms__input_box__input__mat">
                <input formControlName="adress" matInput placeholder="Endereço:">
            </mat-form-field>
    
            <div class="forms__box">
                <button class="forms__box__button" mat-raised-button>INSERIR <i class="forms__box__button__i flaticon-right-arrow"></i></button>
            </div>
    
    
            <button mat-fab type="button" class="btn_fixed"><i class="btn_fixed__i flaticon-right-arrow"></i></button>
        </form>
    
        <div class="materials__aside_box">
            <div class="materials__aside_box__title">
                <h3 class="materials__aside_box__title__h3">Fornecedores</h3>
                <p class="materials__aside_box__title__p">Fornecedores adicionais.</p>
                <mat-form-field class="forms__input_box__input__mat">
                    <input matInput placeholder="Pesquisar fornecedor">
                    <i matSuffix class="flaticon-magnifying-glass"></i>
                </mat-form-field>
            </div>
    
            <div class="materials__aside_box__itens">
                <div class="materials__aside_box__itens__product">
                    Nome do fornecedor
                </div>
                <div class="materials__aside_box__itens__actions">
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-edit-1"></i></button>
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-close"></i></button>
                </div>
            </div>
    
            <div class="materials__aside_box__itens">
                <div class="materials__aside_box__itens__product">
                    Nome do fornecedor
                </div>
                <div class="materials__aside_box__itens__actions">
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-edit-1"></i></button>
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-close"></i></button>
                </div>
            </div>
            <div class="materials__aside_box__itens">
                <div class="materials__aside_box__itens__product">
                    Nome do fornecedor
                </div>
                <div class="materials__aside_box__itens__actions">
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-edit-1"></i></button>
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-close"></i></button>
                </div>
            </div>
            <div class="materials__aside_box__itens">
                <div class="materials__aside_box__itens__product">
                    Nome do fornecedor
                </div>
                <div class="materials__aside_box__itens__actions">
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-edit-1"></i></button>
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-close"></i></button>
                </div>
            </div>
        </div>
    
    </div>