<div class="flex-cc" style="height: 400px" [ngStyle]="{'background': item.background}">
  <div class="col-md-12">
    <!-- Layout 1 -->
    <div class="row" *ngIf="item.layout === '1'">
      <!-- Título -->
      <div class="col-md-11 col-md-offset-1">
        <h4 class="animated" [ngClass]="item.title.animation" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}">{{ item.title.text }}</h4>
      </div>

      <!-- Bloco de Texto (Coluna Esquerda)-->
      <div class="col-md-7 col-md-offset-1 minh-vh-35 flex-cc">
        <p class="w-100 ws-pre-line lh-1-3 animated" [ngClass]="item.text.animation" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size, 'color': item.text.color}">
          {{ item.text.text }}
        </p>
      </div>

      <!-- Ícone (Coluna Direta)-->
      <div class="col-md-4 text-center minh-vh-35 flex-cc">
        <div class="row">
          <div class="col-md-12">
            <i class="material-icons" *ngIf="item.icon === 'cloud'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">cloud_download</i>
            <i class="material-icons" *ngIf="item.icon === 'arrow'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">arrow_downward</i>
            <i class="material-icons" *ngIf="item.icon === 'attach'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">attach_file</i>
            <i class="material-icons" *ngIf="item.icon === 'insert'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">insert_drive_file</i>
          </div>
          <div class="col-md-12">
            <a href="{{ item.file }}" target="_blank" class="btn btn-primary btn-color" [ngStyle]="{'color': item.downloadButton.color, 'background-color': item.downloadButton.background}">{{ item.downloadButton.text }}</a>
          </div>
        </div>
      </div>

      <!-- Botão -->
      <div class="col-md-12 text-center mt-5">
        <button type="button" class="btn btn-primary" (click)="goNext()" [ngStyle]="{'color': item.mainButton.color, 'background-color': item.mainButton.background}">{{ item.mainButton.text }}</button>
      </div>
    </div>

    <!-- Layout 2 -->
    <div class="row" *ngIf="item.layout === '2'">
      <!-- Título -->
      <div class="col-md-11 col-md-offset-1">
        <h4 class="animated" [ngClass]="item.title.animation" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}">{{ item.title.text }}</h4>
      </div>

      <!-- Ícone (Coluna Esquerda)-->
      <div class="col-md-4 text-center minh-vh-35 flex-cc">
        <div class="row">
          <div class="col-md-12">
            <i class="material-icons" *ngIf="item.icon === 'cloud'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">cloud_download</i>
            <i class="material-icons" *ngIf="item.icon === 'arrow'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">arrow_downward</i>
            <i class="material-icons" *ngIf="item.icon === 'attach'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">attach_file</i>
            <i class="material-icons" *ngIf="item.icon === 'insert'" [ngStyle]="{'color': item.iconColor, 'font-size.em': item.iconSize}">insert_drive_file</i>
          </div>
          <div class="col-md-12">
            <a href="{{ item.file }}" target="_blank" class="btn btn-primary btn-color" [ngStyle]="{'color': item.downloadButton.color, 'background-color': item.downloadButton.background}">{{ item.downloadButton.text }}</a>
          </div>
        </div>
      </div>

      <!-- Bloco de Texto (Coluna Direta)-->
      <div class="col-md-8 minh-vh-35 flex-cc">
        <p class="w-100 ws-pre-line lh-1-3 animated" [ngClass]="item.text.animation" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size, 'color': item.text.color}">
          {{ item.text.text }}
        </p>
      </div>

      <!-- Botão -->
      <div class="col-md-12 text-center mt-5">
        <button type="button" class="btn btn-primary" (click)="goNext()" [ngStyle]="{'color': item.mainButton.color, 'background-color': item.mainButton.background}">{{ item.mainButton.text }}</button>
      </div>
    </div>

    <div class="row" *ngIf="item.layout === '3'">
      <!-- Título -->
      <div class="col-md-12">
        <h4 class="animated"
        [ngClass]="item.title.animation"
        [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}">
          <b>{{ item.title.text }}</b>
        </h4>
      </div>

      <!-- Bloco de Texto (Coluna Direta)-->
      <div class="col-md-12">
        <p class="w-100 ws-pre-line lh-1-3 animated" [ngClass]="item.text.animation" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size, 'color': item.text.color}">
          {{ item.text.text }}
        </p>
      </div>

      <div class="col-md-12 text-center">
        <a href="{{ item.file }}" target="_blank" class="btn btn-primary btn-color" [ngStyle]="{'color': item.downloadButton.color, 'background-color': item.downloadButton.background}">{{ item.downloadButton.text }}</a>
      </div>

      <!-- Botão -->
      <div class="col-md-12 text-center mt-5">
        <button type="button" class="btn btn-primary" (click)="goNext()" [ngStyle]="{'color': item.mainButton.color, 'background-color': item.mainButton.background}">{{ item.mainButton.text }}</button>
      </div>
    </div>

  </div>
</div>
