.bl-7 {
    border-left: solid 7px #E91E63;
}

.box-content {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.title-intro {
    font-size: 3em;
    color: #95989a;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 40px;
    border-bottom: solid 1px #e4e4e4;
    text-transform: uppercase;
    font-weight: 500;
}


.exercises__h2 {
    color: #4e4e4e;
    font-size: 2.2em;
    margin: 20px 0;
    font-weight: 600;
}

.exercises {
    display: flex;
    justify-content: center;
    text-align: center;
    
    .exercises__box {
        width: 100%;
        max-width: 600px;
        padding: 10px 10px 10px 10px;   
        background: #fff;
        margin: 5px;    
        border-bottom: 5px solid #E91E63; 
        .exercises__box__link {
            color: #4e4e4e;
            text-align: center;
            font-size: 1.2em;
            .exercises__box__link__img {
                width: 100%;
            }
            .exercises__box__link__h3 {
                color: #E91E63;
                font-weight: 600;
                text-transform: uppercase;
            }
            .exercises__box__link__table {
                display: flex;
                background: #e8e8e8;
                justify-content: space-between;
                line-height: 2;
                padding: 15px 10px;
                margin-top: 5px;
            }
        }
    }
}

@media (min-width: 260px) and (max-width: 900px) {
    .exercises {
        display: block;
        .exercises__box {
            margin-top: 10px;
            .exercises__box__link {
                font-size: 1em;
            }
        }
    }
}