

.content { position: absolute; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; }

.title-intro { font-size: 2.5em;  color: #95989a; text-transform: uppercase; font-weight: 500; } 

.card .title { font-weight: 500; color: #e91e63; }

.bl-7 { border-left: solid 7px #e91e63; }

.bb-4 { border-bottom: 4px solid #e91e63; }

.content-grey { display: flex; background: #f1f1f1; padding: 10px 0; margin-top: 10px; }

