<div class="content bl-7">
  <div class="container">
    <div class="row">

      <h2 class="title-intro text-center my-5">Gestão asta</h2>
      <div class="col-md-5 col-md-offset-1">
        <a [routerLink]="['/visualizador/gestao']">
          <div class="card mt-0 bb-4">
            <div class="card-content p-3">
              <img src="assets/img/gestao.jpg" alt="" />
              <h3 class="title text-center">Ferramentas de gestão</h3>
              <p class="text-center">Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
              <div class="content-grey">
                <div class="col-md-6">Calculador</div>
                <div class="col-md-6 text-right">último acesso: 07/03/2018</div>
              </div>
            </div>
          </div>
        </a>
      </div><!-- /.col-md-5 .col-md-offset-1 -->

      <div class="col-md-5">
        <a [routerLink]="['/visualizador/precificacao/produtos']">
          <div class="card mt-0 bb-4">
            <div class="card-content p-3">
              <img src="assets/img/precificacao.jpg" alt="" />
              <h3 class="title text-center">Precificação</h3>
              <p class="text-center">Tenha acesso a plataforma de precificação nela você poderá ter a média real de venda do seu produto</p>
              <div class="content-grey">
                <div class="col-md-6">Produtos cadastrados</div>
                <div class="col-md-6 text-right">último acesso: 07/03/2018</div>
              </div>
               <div class="content-grey">
                <div class="col-md-6">Fornecedores</div>
                <div class="col-md-6 text-right">último acesso: 05/03/2018</div>
              </div>
            </div>
          </div>
        </a>
      </div><!-- /.col-md-5 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.content .bl-7 -->




















