<div class="col-md-12" *ngIf="loading">
  <app-clientes-spinner></app-clientes-spinner>
</div>

<div *ngIf="!loading">
  <div class="col-md-12">
    <mat-form-field [formGroup]="group" *ngIf="config.name == 'uf'">
      <mat-select [(ngModel)]="uf" (change)="chanceState($event)" [ngModelOptions]="{standalone: true}" placeholder="Estado">
        <mat-option>Selecione seu estado</mat-option>
        <mat-option *ngFor="let item of state" [value]="item.id">{{ item.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-12" *ngIf="formTrue">
    <mat-form-field [formGroup]="group">
      <mat-select formControlName="cidade" placeholder="Cidade">
          <mat-option>Selecione sua cidade</mat-option>
          <mat-option *ngFor="let item of city[0]" [value]="item.nome">
            {{ item.nome }}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

  