<h1 *ngIf="(!component)" mat-dialog-title>Usuários</h1>
<div mat-dialog-content>
    <p>Digite o nome do usuário abaixo em seguida pressione [ENTER]:</p>
    <div class="row">
        <div class="col-sm-9">
            <mat-form-field class="w-100">
                <input autocomplete="false" matInput placeholder="Buscar usuários..." (keydown.enter)="doFilter($event)" [(ngModel)]="filter" >
            </mat-form-field>            
        </div>
        <div class="col-sm-3">
            <button (click)="toggleFields()" class="btn btn-block btn-sm btn-primary">
                <i class="fa" [class.fa-angle-down]="!showFields" [class.fa-angle-up]="showFields"></i> 
                <span *ngIf="!showFields"> Mais</span>
                <span *ngIf="showFields"> Menos</span>
            </button>
        </div> 
    </div>
    <div *ngIf="showFields" class="row">
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-select autocomplete="false" matInput placeholder="Campos" (selectionChange)="getValues($event)" [(ngModel)]="field" >
                    <mat-option *ngFor="let item of fields" [value]="item.name">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>            
        </div>
        <div class="col-sm-8">
            <mat-form-field class="w-100">
                    <mat-select [disabled]="(!values) || (values[0]?.data?.options?.length == 0)" autocomplete="false" matInput placeholder="Valores" (selectionChange)="doFilter($event)" [(ngModel)]="value" >
                        <ng-container *ngIf="values">
                            <mat-option *ngFor="let item of values[0]?.data?.options" [value]="item">{{item}}</mat-option>
                        </ng-container>
                    </mat-select>
            </mat-form-field>
        </div> 
    </div>
    <div *ngIf="multiselect && (users.length > 0)" class="row">
        <div class="col-sm-12">
            <button (click)="selectAll()" class="btn btn-block" [class.btn-success]="(multiselected.length == 0)" [class.btn-danger]="(multiselected.length > 0)">
                <i class="fa" [class.fa-check-square-o]="(multiselected.length == 0)" [class.fa-square-o]="(multiselected.length > 0)"></i>
                <span *ngIf="(multiselected.length == 0)"> Marcar Todos</span>
                <span *ngIf="(multiselected.length > 0)"> Desmarcar Todos</span>
            </button>
        </div>
    </div>
    <div class="mt-3" *ngIf="(!component) || (users.length > 0)" [class.component-modal]="!component" >
        <div class="text-center" *ngIf="!users">
            Carregando...
        </div>
        <div [class.component-inline]="component">
            <div class="list">
                <div class="row" *ngFor="let user of users">
                    <div class="col-sm-10">
                        <img class="avatar pull-left" *ngIf="user.user_info.picture" [src]="user.user_info.picture" /> 
                        <div class="avatar-null pull-left" *ngIf="!user.user_info.picture">
                            <i class="fa fa-user"></i>
                        </div> 
                        <span class="username">{{user.user_info.user_name}}</span><br>
                        <span class="email">{{user.user_info.user_email}}</span>
                    </div>
                    <div class="col-sm-2">
                        <button *ngIf="!multiselect" class="btn btn-simple btn-sm btn-block btn-success" (click)="select(user)"><i class="fa fa-check"></i></button>
                        <button *ngIf="multiselect && (multiselected.indexOf(user) >= 0)" class="btn btn-simple btn-sm btn-block btn-success" (click)="unselect(user)"><i class="fa fa-check"></i></button>
                        <button *ngIf="multiselect && (multiselected.indexOf(user) < 0)" class="btn btn-simple btn-sm btn-block btn-danger" (click)="select(user)"><i class="fa fa-times"></i></button>        
                    </div>
                </div>
            </div>    
            <div *ngIf="(component)" class="text-right">
                <button *ngIf="multiselect" class="btn btn-primary btn-sm" (click)="select(multiselected)">Ok</button>
                <button class="btn btn-default btn-sm" (click)="onNoClick()">Sair</button>
            </div> 
        </div>   
    </div>

</div>
<div *ngIf="(!component)" class="pt-3 text-right" mat-dialog-actions>
    <button *ngIf="multiselect" class="btn btn-primary" (click)="select(multiselected)">Ok</button> &nbsp;
    <button class="btn btn-default" (click)="onNoClick()">Sair</button>
</div>