h1 {
    font-size: 25px;
    margin-top: 0px;
    font-weight: 700;
}

.mat-dialog-actions {
    flex-direction: row-reverse;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar-null {
    text-align: center;
    background-color: silver;
    color: white;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.result-item {
    display: table;
    width: 100%;
    padding: 10px;
}

.result-item:hover {
    background-color:rgba(0,0,0,0.1);
}

.result-item span {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-item .email {
    color: gray;
    font-size: 0.9em;
}

.component-modal {
    height:250px; 
    overflow-y:scroll;
}

.component-inline {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 2;
    box-shadow: 5px 5px 10px silver;
    padding: 10px;
    width: 90%;
}

.component-inline .list {
    max-height: 150px;
    overflow-y: auto;
}
