
<div class="col-md-12">
  <div class="form-group" [formGroup]="group">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" value="{{ config.value }}" [placeholder]="config.label" [formControlName]="config.name">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
