
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content text-center">
        <h3 class="mt-0 fw-md">Faturamento estimado necessário</h3>
          <p class="variables_coasts__p">Olá, abaixo estipulamos uma média com o valor estimado necessário para pagar os custos gerados através de seus produtos. 
            <br> Você precisa vender : </p>
            <h2 class="fw-md text-rose">R$ {{ viabilidade | number : '2.2-2'  }}</h2>
            <p>Todos os meses para pagar todos os seus custos e ainda sobrar 10% de lucro para o seu negócio.</p>
            <div class="variables mt-5">
                NÚMERO DE PEÇAS VENDIDAS PARA PAGAR OS CUSTOS
                <a (click)="openDialog()"><i class="flaticon-filter"></i></a>
            </div>
            <table class="table table-striped" *ngIf="tables.length > 0">
                <thead>
                    <tr>
                        <th>PRODUTO</th>
                        <th>VOCÊ PRECISA VENDER</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let table of tables">
                        <td>{{ table.produto }}</td>
                        <td>{{ table.Quantidade_geral_de_pecas }} PEÇAS</td>
                    </tr>
                </tbody>
            </table>
      </div>
    </div>
  </div>
</div>


