<div class="container">
    <div class="row text-center">
      <div class="col-sm-10 mx-auto mt-10 mt-10em">
        <img src="{{ img }}" width="30%" class="mb-3">
        <h4 class="mb-3">{{ msg }}</h4>
        <button [routerLink]="[redirect]" class="btn btn-primary">{{ btnMsg }}</button>
      </div>
    </div>
  </div>