<div class="card-content" [ngStyle]="{'background': item.background}">
  <div class="row">
    <div class="col-md-12 text-center m-conc-container">
      <div class="text-center m-conc">
        <h3 class="my-4 animated" [ngStyle]="{'text-align': item.title.align, 'color': item.title.color, 'font-size.px': item.titleSize}" [ngClass]="item.titleAnimation">{{ item.title.text }}</h3>
        <p class="my-4 animated ws-pre-line" [ngStyle]="{'text-align': item.text.align, 'color': item.text.color, 'font-size.px': item.textSize}" [ngClass]="item.textAnimation">{{ item.text.text }}</p>
        <div id="filezone" *ngIf="item.file.length > 0">
          <div class="item-container" *ngFor="let f of item.file">
            <ng-container *ngIf="f.url">
              <div class="item-file">
                <a target="_blank" [href]="f.url">
                  <img [src]="f.url" *ngIf="f.mimetype === 'image/jpeg' || f.mimetype === 'image/png'" />

                  <span class="item-icon" *ngIf="f.mimetype === 'video/mp4'">
                    <i class="material-icons">movie</i>
                  </span>

                  <span class="item-icon" *ngIf="!(f.mimetype === 'image/jpeg' || f.mimetype === 'image/png' || f.mimetype === 'video/mp4')">
                    <i class="material-icons">insert_drive_file</i>
                  </span>
                </a>
              </div>
              <div class="item-name">
                <p><b><a target="_blank" [href]="f.url">{{ f.filename }}</a></b></p>
                <p>{{ f.size / 1000 }} Kb</p>
              </div>
              <div class="item-button">
                <button class="btn btn-just-icon btn-link btn-danger btn-round" (click)="remove(f)"><i class="material-icons">delete</i></button>
              </div>
            </ng-container>
            <ng-container *ngIf="!f.url">
                <div class="item-file">
                  <a target="_blank" [href]="f.path">
                    <span class="item-icon">
                      <i class="material-icons">insert_drive_file</i>
                    </span>
                  </a>
                </div>
                <div class="item-name">
                  <p><b><a target="_blank" [href]="f.path">{{ f.name }}</a></b></p>
                </div>
                <div class="item-button">
                  <button class="btn btn-just-icon btn-link btn-danger btn-round" (click)="remove(f)"><i class="material-icons">delete</i></button>
                </div>
            </ng-container>
          </div>

        </div>

        <app-upload-plugin [type]="'file'" [hidden]="true" #upload (AddArchive)="getArchive($event)"></app-upload-plugin>
        <div id="dropzone"  (click)="upload.openDialog()">
          <i class="material-icons">cloud_upload</i>
          <p class="text">Enviar arquivo</p>
        </div>

        <div class="text-center" *ngIf="item.file != ''">
          <button id="upload-button" type="button" class="btn btn-primary" (click)="onDone()" [ngStyle]="{'color': item.mainButton.color, 'background': item.mainButton.background}">{{ item.mainButton.text }}</button>
        </div>

      </div>

    </div>
  </div>
</div>
