.m-conc-container{
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.m-conc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#upload-button {
    padding: 20px;
    font-size: 20px;
}

#dropzone {
    cursor: pointer;
    border: 2px dashed #999;
    border-radius: 2px;
    background: none;
    padding: 40px;
    margin: 20px;
    color: #666;
}

#dropzone .material-icons {
    font-size: 40px;
}

#dropzone .text {
    font-size: 14px;
}

#dropzone:hover {
    border-color: #333;
    color: #333;
}

#filezone {
    margin: 20px 0;
    overflow: hidden;
}

.item-container {
    border: 1px solid #CCC;
    background: #eee;
    padding: 5px;
    text-align: left;
    margin: 0 20px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-name {
    text-align: center;
}

.item-container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background: #fff;
    outline: 1px solid rgba(0,0,0,.2);
    outline-offset: -1px;
}

.item-file {
    float: left;
    margin-right: 20px;
}

.item-icon .material-icons {
    font-size: 50px;
    border: 1px solid #CCC;
    padding: 14px;
    color: #444;
    background: #FFF;
}

.item-button {
    margin: 0 10px;
}