<div class="asap-modal">
  <div class="modal-header">
    <h4 class="modal-title">{{ title() }}</h4>
  </div>
  <div class="modal-body">
      <mat-form-field *ngFor="let field of fields" class="w-100">
          <input matInput placeholder="{{field.fieldLabel}}" [(ngModel)]="entity[field.fieldName]">
      </mat-form-field>
  </div>
  <div class="modal-footer">
    <button mat-button mat-raised-button color="warn" (click)="close()"><i class="fa fa-times"></i> Fechar</button>
    <button mat-button mat-raised-button color="primary" (click)="owner.save()" cdkFocusInitial><i class="fa fa-check-square-o"></i> Salvar</button>
  </div>
</div>
