<div class="mb-3">
    <button class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i> Incluir</button>
    <button class="btn btn-warning" (click)="tableMode = !tableMode"><i class="fa fa-refresh"></i> SwitchMode</button>
</div>

<div class="row">
    <table *ngIf="list && tableMode" mat-table [dataSource]="list" class="col-sm-12">
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container *ngFor="let field of tableDef()" [matColumnDef]="field.fieldName">
            <th mat-header-cell *matHeaderCellDef> {{field.fieldLabel}} </th>
            <td mat-cell *matCellDef="let element"> {{element[field.fieldName]}} </td>
        </ng-container>

        <ng-container matColumnDef="Acao">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Ações </th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <ng-container *ngFor="let act of actionButtons()">
                    <button [class]="act.styleClass" (click)="act.action(element)" [innerHTML]="act.content"></button>&nbsp;        
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
    </table>
</div>
<ng-container *ngIf="list && !tableMode">
    <div class="row">
        <ng-container *ngFor="let element of list">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" [src]="element[imageField] || 'assets/img/no-image.jpg'" >
                    <div class="card-body text-center">
                        <h5 class="card-title">{{element[descriptionField]}}</h5>
                        <ng-container *ngFor="let act of actionButtons()">
                            <button [class]="act.styleClass" (click)="act.action(element)" [innerHTML]="act.content"></button>&nbsp;         
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
