<div class="row my-4">
  <div class="col-md-6"><h4 class="fw-500">Quanto trabalhar para ganhar?</h4></div>
  <div class="col-md-6 text-right mt-4">
    <ul class="menu-top">
      <li><a><i class="fa fa-angle-left"></i> Anterior</a></li>
      <li><a>Próximo <i class="fa fa-angle-right"></i></a></li>
      <li><a [routerLink]="['/painel']"><i class="fa fa-close"></i></a></li>
    </ul>   
  </div>
</div>

<div class="card mt-0">
  <div class="content">
    <form method="#" action="#">
        <div class="col-md-4 my-5">
          <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">A</div>
          <div class="col-md-10 border-box-input padding-10 b-radius2">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Quantas nós somos no Negócio?</label>
              <input name="valueA" [(ngModel)]="values.A" (ngModelChange)="calc()" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">B</div>
          <div class="col-md-10 border-box-input padding-10 b-radius2">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Quanto cada uma quer ganhar por mês?</label>
              <input currencyMask name="valueB" [(ngModel)]="values.B" (ngModelChange)="calc()" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="border bg-gray-light padding-10 b-radius3">
            <div class="form-group form-focus label-floating">
              <label class="control-label">O total mensal é de:</label>
              <input currencyMask type="text" class="form-control" name="resultA" [(ngModel)]="resultA" readonly>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">C</div>
          <div class="col-md-10 border-box-input padding-10 b-radius2">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Qual a média do custo de materiais do seu produto?</label>
              <input currencyMask name="valueC" [(ngModel)]="values.C" (ngModelChange)="calc()" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">D</div>
          <div class="col-md-10 border-box-input padding-10 b-radius2">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Qual a média do custo fixo?</label>
              <input currencyMask name="valueD" [(ngModel)]="values.D" (ngModelChange)="calc()" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="border bg-gray-light padding-10 b-radius3">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Total a Faturar por mês é de:</label>
              <input currencyMask type="text" class="form-control" name="resultB" [(ngModel)]="resultB" readonly>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">E</div>
          <div class="col-md-10 border-box-input padding-10 b-radius2">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Qual o preço médio do produto?</label>
              <input currencyMask name="valueE" [(ngModel)]="values.E" (ngModelChange)="calc()" type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="border bg-gray-light padding-10 b-radius3">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Total de peças</label>
              <input type="text" class="form-control" name="resultC" [(ngModel)]="resultC" readonly>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-5">
          <div class="border bg-gray-light padding-10 b-radius3">
            <div class="form-group form-focus label-floating">
              <label class="control-label">Peças por artesã</label>
              <input type="text" class="form-control" name="resultD" [(ngModel)]="resultD" readonly>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
    </form>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-rose" (click)="save()">Salvar</button>
  </div>
</div>