<form class="dynamic-form" [formGroup]="form" (ngSubmit)="submitted.emit(form.value)">
  <div class="card-content">
    <div class="row">
        <ng-container  appDynamicField [config]="address[0]" [group]="form">
        </ng-container>
      <ng-container *ngFor="let field of config;" appDynamicField [config]="field" [group]="form">
      </ng-container>
    </div>
  </div>
  <div class="card-footer">
    <div class="pull-right mb-3">
      <ng-container *ngFor="let field of buttons;" appDynamicField [config]="field" [group]="form">
      </ng-container>
    </div>
  </div>

</form>
