
a, a:hover, a:focus { text-decoration: none; }

.sidemenu { width: 310px; position: fixed; top: 56px; left: -310px; height: calc( 100vh - 50px ); z-index: 999; background: rgba(0,0,0,0.9); transition: all 0.3s ease-in-out; overflow-y: auto; }

.sidemenu.active { margin-left: 310px; }

.sidemenu ul.components { padding: 10px 0 0 0; }

.sidemenu ul li a { padding: 9px 10px; font-size: 1.1em; display: block; color: #fff; }

.sidemenu ul li a:hover { color: #e9e9e9; background: #000; }

.sidemenu ul li a i { margin: 0 30px 0 10px; font-size: 1.2em; }

.sidemenu ul li a .avatar { margin: 0 30px 0 10px; width: 23px; height: 23px; border-radius: 50%; }

.sidemenu ul p { margin: 20px; text-transform: uppercase; font-size: 1em; color: #888; font-weight: 500; }

.overlay { display: none; position: fixed;  width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7);   z-index: 998; opacity: 0; transition: all 0.5s ease-in-out; }

.overlay.active { display: block; opacity: 1; }

@media (max-width: 768px) {

  .sidemenu { margin-left: 0; }

  .sidemenu.active { margin-left: 310px; }

}
