
<nav class="sidemenu">
  <ul class="components">
   <li><a [routerLink]="['/home']"><i class="fa fa-home"></i>{{ 'Home' | translate }}</a></li>
   <li><a [routerLink]="['/training']"><i class="fa fa-clipboard"></i>{{ 'Training' | translate }}</a></li>
   <li><a [routerLink]="['/development']"><i class="fa fa-pencil-square-o"></i>{{ 'Development' | translate }}</a></li>
   <li><a [routerLink]="['/influencers']"><i class="fa fa-handshake-o"></i>{{ 'Influencers' | translate }}</a></li>
   <li><a [routerLink]="['/videos']"><i class="fa fa-video-camera"></i>{{ 'InspiringVideos' | translate }}</a></li>
   <li><a [routerLink]="['/articles']"><i class="fa fa-newspaper-o"></i>{{ 'Articles' | translate }}</a></li>
   <li *ngFor="let item of areas"><a [routerLink]="['/technical', item?.id]"><i class="fa fa-graduation-cap"></i>{{ item?.area }}</a></li>
   <li><a [routerLink]="['/my-page']"><i class="fa fa-columns"></i>{{ 'MyPage' | translate }}</a></li>
   <li><a [routerLink]="['/forum']"><i class="fa fa-comments-o"></i>{{ 'Forum' | translate }}</a></li>
   <li *ngIf="isTutor"><a [routerLink]="['/tutor']"><i class="fa fa-tasks"></i>{{ 'TutorPanel' | translate }}</a></li>
 </ul>
</nav>

<div class="overlay"></div>
