<div style="display: block;">
  <canvas baseChart
          *ngIf="chartType === 'bar'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="chartLegend"
          [chartType]="chartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  <canvas baseChart
          *ngIf="(chartType === 'pie')"
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  <canvas baseChart
          *ngIf="(chartType === 'doughnut')"
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>
