/*Importação de Fonte - Google Fonts*/


.main { padding-top:40px; min-height: calc(100% - 40px); }
.main-centered { padding-top: 70px; min-height: calc(100% - 70px); display: flex; justify-content: center; align-items: center; resize: both; }



























.card-header{ padding: 15px 15px 10px 15px !important; }
.card-header-text{ width: 96%; margin-left: 2%; margin-right: 2%; }

.title-decor{font-family: 'Pacifico', cursive; font-size: 2.5em; background: #fff; position: relative; z-index: 1; padding: 0px 15px;}
.decoration{ width: 35%; height: 5px; background-color: #e91e63; margin: 0px auto; position: relative; top:-20px;}

.ball{width: 7px; height: 7px; border-radius: 100%;}

.box-letter-desktop{font-size: 1.5em; padding: 32px 0 !important; text-align: center; border: solid 1px #e91e63; font-weight: 900;}
.border-box-input{ border-top: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }

.form-group { margin: 19px 0 0 0; }
.form-group.is-focused.form-focus .form-control {
  background-image: linear-gradient(#d60d47, #d60d47), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.label-floating label.control-label,.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  top: -22px;
  font-size: 1em;
  line-height: 1.42857143; }

.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07142857; }

.form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07142857; }

/* Nav-tabs e nav-pills
=================================================================*/
.nav-pills { margin: 30px 0px; }

/* Margens - Margin
===============================================================*/
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }

.mb-15 { margin-bottom: 15px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }

/*Espaçamento - Padding
===============================================================*/
.padding-10{ padding: 10px; }
.pl-0 { padding-left: 0px !important; }
.pr-0 { padding-right: 0px !important; }
.pr-10 { padding-right: 10px !important; }

/*Larguras - Width Tables
===============================================================*/
.w-2 { width: 2%; }
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-45 { width: 45%; }
.w-58 { width: 58%; }

/*Tabelas - Tables
===============================================================*/
.table th, .table tr { text-align: center; }
.table tr td .btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 0px;
    margin: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/*Cor de Fundo - Background
===============================================================*/
.bg-rose{ color: #fff; background-color: #e91e63 !important; }
.bg-rose-dark{color: #fff; background-color: #bf1850 !important;}
.bg-gray{color: #333; background-color: #ddd !important;}
.bg-gray-light{ color: #333; background-color: #F9F9F9 !important; }
.bg-cyan{ color: #fff; background-color: #00BCD4 !important;}
.bg-cyan-light{ color: #fff; background-color: #6ec9d3 !important; }
.bg-green{color: #fff; background-color: #36C1B6 !important;}
.bg-green-dark{color: #fff; background-color: #2fa79e !important;}

/*Borda - Border
===============================================================*/
.border{border: solid 1px #ddd;}

/*Arredondamento de Bordas - Border Radius
===============================================================*/
.b-radius1{border-radius: 5px 0 0 5px;}
.b-radius2{border-radius: 0 5px 5px 0px;}
.b-radius3{border-radius: 5px;}

/*Cor de Texto - Color Text
===============================================================*/
.rose-text{ color: #e91e63; }
.blue-text{ color: #126bb5; }
.gray-text{ color: #999999; }
.green-text{ color: #12b6a9; }

/*Fontes - Fonts
===============================================================*/
.info-icon{ font-size: 40px; color: #e91e63; }
.success-icon{ font-size: 40px; color: #12b6a9; }
.blue-icon{ font-size: 40px; color: #126bb5; }

/**************** Mobile - CSS ****************/

.box-letter-mobile{ padding: 22px 0; text-align: center; border: solid 1px #e91e63; font-weight: 900; }
.title-mobile{ display: block; font-size: 0.9em; font-weight: bold;}


/**************** @Media Queries - CSS ****************/

@media (max-width: 991px){
.card-header .card-header-text{ display: inline-block; padding: 20px 0px; }
.card .card-header.card-header-text { display: inline-block; }
}

@media only screen and (max-width: 414px) {
.mobile-hide{ display: none !important; }
}

@media only screen and (max-width: 414px) {
.mobile{ display: inline !important;}
.form-group.label-floating label.control-label,.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  top: -15px;
  font-size: 0.85em;
  line-height: 1.42857143; }

/* Nav-tabs e nav-pills
=================================================================*/
.nav-pills > li { float: none; display: inline-block; padding: 0px; margin-top: 0px; max-width: 81px;}
.nav-pills > li > a { border-radius: 4px !important; font-size: 0.8em; padding: 5px 0px;}
.nav-pills > li + li {margin-left: 0px;}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus {
  color: #fff; background-color: #E91E63;  }

/*Tabelas - Tables
===============================================================*/
.table{
  text-align: center;
  font-size: 0.9em;
  padding: 5px 0px;
}

.card .card-content {
    padding: 0px;
    position: relative;
}

.card .nav-pills,
.card .tab-content {
    margin: 0px 0px 30px 0px;
}

}

@media only screen and (min-width: 500px) {
.desktop-hide{ display: none !important; }
}
