<div class="col-md-4">
  <div class="card mb-0 text-center">
    <div class="card-header">
      <h4 class="card-title my-0"><b>{{ config.title }}</b></h4>
    </div>
    <div class="card-content">
      <p>{{ config.description }}</p>
      <button (click)="goToNextStep()" class="btn btn-just-icon btn-round btn-primary">
        <i class="{{ config.icon }}"></i>
      </button>
    </div>
    <div class="card-footer">
      <div class="togglebutton pt-2">
        Desabilitar
        <label><input type="checkbox" [checked]="config.enabled" (change)="changeStateEventFire()"></label>
        Habilitar
      </div>
    </div>
  </div>
</div>
