<div class="wrapper">
  <div class="sidebar" data-active-color="purple" data-background-color="black">
    <app-sidebar-assessment-visualizador
      #assessmentSidebar
      (event)="getAssessmentSelected($event)"
      [form]="formId"
    ></app-sidebar-assessment-visualizador>
    <!--<div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>-->
  </div>
  <div class="main-panel">
    <app-navbar-assessment></app-navbar-assessment>
    <app-detail-assessment-inner
      #assessmentDetail
      [id]="assessmentId"
      (assessmentSendedEvent)="goToNextAssessment($event)"
    ></app-detail-assessment-inner>
  </div>
</div>
