<div class="card-content" [ngStyle]="{'background-color': item.background}">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="fw-600 animated" [ngClass]="item.title.animation" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}">{{ item.title.text }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <p class="animated lh-1-3" [ngClass]="item.text.animation" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size, 'color': item.text.color}">{{ item.text.text }}</p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <div class="box-star">
        <img src="/assets/img/star-transp.png" width="255px" alt="">
        <div class="box-star-bg"></div>
        <div class="bg-load" style="max-width: 100%; max-height: 100%;"></div>
      </div>
      <p class="fs-25 fw-600">Pontuação Total: <span class="counter">0</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary" [ngStyle]="{'color': item.mainButton.color, 'background-color': item.mainButton.background}" (click)="toNext()">{{ item.mainButton.text }}</button>
    </div>
  </div>

</div>
