.box-star{
  max-width: 180px; max-height: 180px;
  position: relative;
  margin: 0px auto 50px auto;
}

.box-star img{
  position: relative;
  top: 0px; left: 0px; z-index: 3;
}

.box-star-bg{
  max-width: 100%; max-height: 100%;
  min-width: 100%; min-height: 100%;
  background: #c6c6c6; position: absolute;
  top: 0px; left: 0px; z-index: 1;
}

.bg-load{
  
  min-width: 0%; min-height: 100%;
  background: #fbc911; position: absolute;
  top: 0; left: 0px; z-index: 2;
  -webkit-animation-name: bg-load; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: bg-load;
  animation-duration: 5s;
}

.counter { color: #fbc911; }

.btn-color { background: #8eb95e; color: #FFF; cursor: pointer; box-shadow: none; }
.btn-color:hover{
  background: #96ca5b;
  -webkit-box-shadow: 0 14px 26px -12px rgba(102, 102, 102, 0.42), 0 4px 23px 0px rgba(102, 102, 102, 0.12), 0 8px 10px -5px rgba(102, 102, 102, 0.2);
  box-shadow: 0 14px 26px -12px rgba(102, 102, 102, 0.42), 0 4px 23px 0px rgba(102, 102, 102, 0.12), 0 8px 10px -5px rgba(102, 102, 102, 0.2);
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes bg-load {
    0%   {background-color:#fbc911; left:0px;}
    100% {background-color:#fbc911; left:0px;}
}

/* Standard syntax */
@keyframes bg-load {
    0%   {background-color:#fbc911; width:0%;}
    100% {background-color:#fbc911; width:100%; }
}
