
.card {
  border:  none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  -moz-box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  -webkit-box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  .card-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}

.panel,.panel-default {
  margin: 0;
  padding: 0;
}

/* Títulos
===============================================================*/
.title-question { font-size: 1.12em; font-weight:900; color: #525859; margin-bottom: 20px; }

.p-20 { padding: 20px; }

.midia { margin-top: 20px; }

.midia-vimeo {
  background: #000;
  iframe { margin-bottom: -6px; }
}

.btn-container { text-align: center; }

#viewer-container{
  min-height: calc(100vh - 123px);
  margin-bottom: 0px;
}

#viewer-container img {
  max-height: 500px;
  object-fit: contain;
  background: #eee;
  width: auto;
}

#pdf-next {
  color: rgb(255, 255, 255);
  background: rgb(51, 51, 51);
}

.painel-title {
  font-size: 1px;
}
