/* Títulos
===============================================================*/
.title-question { font-size: 1.12em; font-weight:900; color: #525859; margin-bottom: 20px; }

.p-20 { padding: 20px; }

.mt-80 { margin-top: 80px }

.midia { margin-top: 20px; }

.midia-vimeo {
  background: #000;
  iframe { margin-bottom: -6px; }
}

.btn-container { text-align: center; }

#viewer-container{
  margin-bottom: 20px;
  position: relative;
  margin-top: 21px;
}

#viewer-container img {
  max-height: 500px;
  object-fit: contain;
  background: #eee;
  width: auto;
}

.card-no-box {
  box-shadow: none !important;
}

.form-group { position: relative; }

.btn-send { position: absolute; right: 5px; top: 5px; border: 0; outline: none; background: transparent; color: #aaa; }

.btn-send:hover { cursor: pointer; }

.flex { display: flex; justify-content: flex-start; margin: 10px 0;}

.comment { margin-left: 10px; }

.comment h4 { font-size: 1.1em; font-weight: 600; }

.viewer-main { min-height: 300px;}
