<div class="viewer-main" style="margin-top: -20px" id="main">

    <div class="card card-no-box p-20" *ngIf="loader">
      <div class="card-content" style="padding: 20px;">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>
    </div>


    <div id="viewer-container" class="p-0" *ngIf="!loader">

      <div class="py-0">
        <div *ngFor="let item of componentArray">

          <div class="midia" *ngIf="item.type === 'video'">
            <app-editor-component-video [item]="item" [id]="step" (event)="emitEvent('next')"></app-editor-component-video>
          </div>

          <div class="midia" *ngIf="item.type === 'exercise'">
            <div *ngIf="item.exercise == 2">
              <app-gestao-calculadora-financeira></app-gestao-calculadora-financeira>
            </div>
            <div *ngIf="item.exercise == 3">
              <app-gestao-como-resolver-dividas></app-gestao-como-resolver-dividas>
            </div>
            <div *ngIf="item.exercise == 4">
              <app-gestao-trabalhar-pra-ganhar></app-gestao-trabalhar-pra-ganhar>
            </div>
            <div *ngIf="item.exercise == 5">
              <app-gestao-meu-cliente></app-gestao-meu-cliente>
            </div>
            <div *ngIf="item.exercise == 6">
              <app-gestao-semana></app-gestao-semana>
            </div>
            <div *ngIf="item.exercise == 7">
              <app-gestao-production-time></app-gestao-production-time>
            </div>
          </div>

          <div class="midia" *ngIf="item.type === 'correct-incorrect'">
            <app-editor-component-sheet-correct-incorrect [item]="item" [id]="step"></app-editor-component-sheet-correct-incorrect>
          </div>

          <div class="midia" *ngIf="item.type === 'multiple-questions'">
            <app-editor-component-multiple-questions [item]="item" [id]="step"></app-editor-component-multiple-questions>
          </div>

          <div class="midia" *ngIf="item.type === 'table'">
            <app-editor-component-dynamic-table [item]="item" [id]="step"></app-editor-component-dynamic-table>
          </div>

          <div class="midia" *ngIf="item.type === 'multi-choice'">
            <app-editor-component-multichoice [item]="item" [id]="step" (event)="emitEvent('next')"></app-editor-component-multichoice>
          </div>

          <div class="midia" *ngIf="item.type === 'intro'">
            <app-editor-component-intro (event)="emitEvent('next')" [item]="item"></app-editor-component-intro>
          </div>

          <div class="midia" *ngIf="item.type === 'conclusion'">
            <app-editor-component-conclusion (event)="emitEvent('done')" (rating)="ratingEvent()" [item]="item" [id]="module" #conclusion></app-editor-component-conclusion>
          </div>

          <div class="midia" *ngIf="item.type === 'challenge'">
            <app-editor-component-challenge [item]="item" (event)="emitEvent('next')"></app-editor-component-challenge>
          </div>

          <!-- Componente: StarPoint -->
          <div class="midia" *ngIf="item.type === 'star-point'">
            <app-editor-component-star-point [item]="item" (event)="emitEvent('next')"></app-editor-component-star-point>
          </div>

          <!-- Componente: Download -->
          <div class="midia" *ngIf="item.type === 'download'">
            <app-editor-component-download [item]="item" (event)="emitEvent('next')"></app-editor-component-download>
          </div>

          <!-- Componente: Upload -->
          <div class="midia" *ngIf="item.type === 'upload'">
            <app-editor-component-upload [item]="item" [id]="step" (event)="emitEvent('next')"></app-editor-component-upload>
          </div>

          <!-- Componente: Rating -->
          <div class="midia" *ngIf="item.type === 'rating'">
            <app-editor-component-rating [item]="item" [id]="step" (event)="emitEvent('next')"></app-editor-component-rating>
          </div>

          <div class="midia" *ngIf="item.type === 'forum'">
            <app-editor-component-forum [item]="item" [id]="item.forum" (event)="emitEvent('next')"></app-editor-component-forum>
          </div>

                <!-- Componente: Parágrafo -->
          <div class="midia" *ngIf="item.type == 'text'">
            <div class="card-content" [ngStyle]="{'background': item.background}">
              <!-- Box Informações -->
              <div class="row" *ngIf="item.text == ''">
                <div class="col-md-12">
                  <div class="p-4 text-center">
                    <p class="text-muted m-0 fw-600">
                      <i class="material-icons fs-60">subject</i>
                    </p>
                    <p class="text-muted mb-3 fs-20 fw-500">{{ 'Component' | translate }}: {{ 'Paragraph' | translate }}</p>
                    <p class="text-muted mb-4 fs-13">{{ 'WriteText' | translate }}!</p>
                  </div>
                </div>
              </div>

              <!-- Conteúdo do Parágrafo -->
              <div class="row" *ngIf="item.text != ''">
                <!-- Texto -->
                <div class="col-md-12">
                  <p class="ws-pre-wrap lh-1-3 animated"
                  [ngClass]="item.textAnimation"
                  [ngStyle]="{'text-align': item.textAlign, 'background-color': item.background, 'color': item.textColor, 'font-size.px': item.textSize}">{{ item.text }}</p>
                </div>

                <!-- Botão -->
                <div class="col-md-12 text-center my-4" *ngIf="item.button && item.button !== ''">
                  <button class="btn btn-orange"  type="button" id="text-next"
                    [ngStyle]="{'background-color': item.buttonBgColor, 'color': item.buttonTxtColor}"
                    (click)="emitEvent('next')">{{ item.button }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Componente: PDF -->
          <div style="margin-bottom: 50px;" class="midia midia-pdf" *ngIf="item.type == 'pdf'">
            <h3 *ngIf="item.title">{{ item.title }}</h3>
            <div class="item-component-pdf-icon-container" *ngIf="item.url == ''">
              <i class="material-icons">picture_as_pdf</i>
            </div>
            <iframe id="embed-pdf" *ngIf="item.url != ''" [src]="'https://docs.google.com/viewerng/viewer?url=' + item.url + '&embedded=true' | safeUrl" width="100%" height="400"></iframe>
            <div class="btn-container" *ngIf="item.button && item.button !== ''">
              <button class="btn btn-orange" id="pdf-next" (click)="emitEvent('next')">{{ item.button }}</button>
            </div>
          </div>

          <div class="midia midia-image" *ngIf="item.type === 'image'">
            <app-editor-component-image [item]="item" (event)="emitEvent('next')"></app-editor-component-image>
          </div>
        </div>

      </div>
    </div>
  </div>
