<app-mini-sidemenu></app-mini-sidemenu>
<app-sidebar-mini-curso-visualizador [current]="current" [data]="data" (event)="getSubEtapaByEvent($event)">
</app-sidebar-mini-curso-visualizador>

<app-navbar-mini-curso #cursoNavBar (eventNavbar)="eventNavBar($event)" [current]="current" [data]="data"></app-navbar-mini-curso>

<div class="spacer-height">
  <h2 class="fw-600 uppercase negative-top-15 mini-title">{{ title }}</h2>
  <div class="loader" *ngIf="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>

  <div class="row" *ngIf="!loader">
    <div class="col-md-9">
      <app-sidebar-mini-curso-visualizador [current]="current" [data]="data" (event)="getSubEtapaByEvent($event)">
      </app-sidebar-mini-curso-visualizador>

      <app-mini-slider [current]="current" [data]="data" (eventNavbar)="eventNavBar($event)"></app-mini-slider>

      <div class="row" *ngIf="trail">
        <div class="col-xs-10">
          <h3 class="fw-600 text-orange text-uppercase mb-3" *ngIf="miniStep != 1 && trail">{{ trail?.titulo }}</h3>

          <h3 class="fw-600 text-orange text-uppercase" *ngIf="miniStep == 1 && current">{{ trail?.nome_pasta }}</h3>
        </div>
        <div class="col-xs-2 text-right">
          <span class="check-icon" *ngIf="trail.porcentagem === 100">
            <i title="Você já concluiu esse curso" class="material-icons text-warning">check_circle</i>
          </span>
          <span class="text-muted" *ngIf="trail.porcentagem < 100">
            {{ trail.porcentagem }} %
          </span>
        </div>

      </div>

      <app-mini-viewer *ngIf="!checkModule?.date || checkDate(checkModule?.dateInitial) && !checkDateBetween(checkModule?.dateFinal)" #cursoViewer [step]="current.id" [id]="id" [module]="module" [points]="this.score" (eventNavbar)="eventNavBar($event)"></app-mini-viewer>

      <div class="card" *ngIf="checkModule?.date && checkDateBetween(checkModule?.dateFinal)">
        <div class="card-content">
          Desculpe, mas este módulo foi encerrado em {{ checkModule?.dateFinal | date: 'dd/MM/yyyy' }}.
        </div>
      </div>

      <app-modules-visualizar-mini-curso-comments [id]="id" *ngIf="(!checkModule?.date || checkDate(checkModule?.dateInitial) && !checkDateBetween(checkModule?.dateFinal)) && miniStep === 0"></app-modules-visualizar-mini-curso-comments>
      <app-modules-visualizar-mini-curso-forum [trilha]="id" *ngIf="(!checkModule?.date || checkDate(checkModule?.dateInitial) && !checkDateBetween(checkModule?.dateFinal)) && miniStep === 1"></app-modules-visualizar-mini-curso-forum>
      <app-modules-visualizar-mini-curso-comments [id]="id" *ngIf="(!checkModule?.date || checkDate(checkModule?.dateInitial) && !checkDateBetween(checkModule?.dateFinal)) && miniStep === 2"></app-modules-visualizar-mini-curso-comments>
    </div>

    <div class="col-md-3 n-top-10" *ngIf="!loaderList">
      <app-points [points]="score" [textHelper]="helperText"></app-points>

      <div *ngIf="miniStep == 0">
        <small *ngIf="playlist?.length > 0">{{ 'Recommended' | translate }}</small>
        <div class="card mb-0 mt-3 mb-5" *ngFor="let item of playlist">
          <div class="cover">
            <img [src]="item?.arquivo" class="border-top" alt="">
            <div class="overlay border-top">
              <img src="assets/img/play.png" [routerLink]="['/visualizador/mini-etapa', item?.id]"
                class="play" />
            </div>
          </div>
          <div class="card-content px-3">
            <div *ngIf="item.porcentagem === 100" class="avatar-null"><i class="material-icons text-warning">check_circle</i></div>
            <span class="label label-warning" *ngIf="item.porcentagem < 100">
              {{ item.porcentagem }} %
            </span>
            <div>
              <h4 class="title">
                <a [routerLink]="['/visualizador/mini-etapa', item?.id]">
                  {{ (item?.titulo.length > 30) ? (item?.titulo | slice:0:30)+'...' : (item?.titulo)}}
                </a>
              </h4>
              <p class="mt-4 text">
                {{ (item?.descricao.length > 75) ? (item?.descricao | slice:0:75)+'...' : (item?.descricao)}}
              </p>
            </div>
          </div>
        </div>
        <button class="btn btn-block btn-orange mt-4 mb-4" (click)="insertVideos()" *ngIf="playlistItemFinal < playlistBuffer.length">{{ 'LoadMore' | translate }}</button>
      </div>

      <div *ngIf="miniStep == 1">
        <small>{{ 'Episodies' | translate }}</small>
        <div class="card mb-0 mt-3 mb-5" *ngFor="let item of playlist; index as i">
          <div class="cover">
            <img [src]="item.image" class="border-top" alt="" />
            <div class="overlay">
              <img
                src="assets/img/play.png" class="play"
                (click)="setModule(i)" />
            </div>
          </div>
          <div class="card-content px-3">
            <div *ngIf="item.porcentagem === 100" class="avatar-null">
              <i class="material-icons text-warning">check_circle</i>
            </div>
            <span class="label label-warning" *ngIf="item.porcentagem < 100">
              {{ item.porcentagem }} %
            </span>
            <div>
              <h4 class="title">
                <a (click)="setModule(i)">
                  {{ (item.nome.length > 30) ? (item.nome | slice:0:30) + '...' : item.nome }}
                </a>
              </h4>
              <p class="mt-4 text" *ngIf="item.sinopse">
                {{ (item.sinopse.length > 75) ? (item.sinopse | slice:0:75) + '...' : item.sinopse }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="miniStep == 2">
        <small *ngIf="playlist?.length > 0">{{ 'Recommended' | translate }}</small>
        <a [routerLink]="['/visualizador/etapa-artigo', item?.id]" class="pointer" *ngFor="let item of playlist">
          <div class="card mb-0">
            <div class="card-content content-article bg-orange">
              <h4 class="text-center"><b>{{ item?.titulo }}</b></h4>
            </div>
          </div>
        </a>
        <button class="btn btn-block btn-orange mt-4 mb-4" (click)="insertVideos()" *ngIf="playlistItemFinal < playlistBuffer.length">{{ 'LoadMore' | translate }}</button>
      </div>

    </div>

  </div>
</div>
