

::ng-deep body {
  background-color: #fff;
}

.negative-top-15 { margin-top: -15px; }

.avatar { float: right; margin-left: 15px; width: 30px; height: 30px; border-radius: 50%; }

.avatar-null { width: 30px !important; height: 30px !important; border-radius: 50%;  padding: 3px; color: #888; background: #eee; float: right; }

.video { margin-top: 10px; }

.video .cover img, .video .cover iframe { width: 100%; height: 100px; }

.video-title { margin: 10px 0; text-align: left; }

.video-avatar { float: right; margin: 10px 0; width: 50px; height: 50px; border-radius: 50%; }

.influencers-list { margin: 15px 0; padding: 0; text-align: center; }

.influencers-list li { display: inline-block; margin: 0 2px; }

.influencers-list li a.active { display: block; width: 12px; height: 12px; border-radius: 50%; background: #fbb10d; font-size: 1.1em; font-weight: 600; color: #fff; }

.influencers-list li a { display: block; width: 12px; height: 12px; border-radius: 50%; background: #e9e9e9; font-size: 1.1em; font-weight: 600; color: #414141; }

.influencers-list li a:hover { background: #fbb10d; opacity: 0.6; }

.n-top-10 { margin-top: 50px; }

.comments input[type=text] { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow: 1px 1px 2px #c9bfbb; -moz-box-shadow: 1px 1px 2px #c9bfbb; -webkit-box-shadow: 1px 1px 2px #c9bfbb; background: #f5f5f5; border: transparent; width:100%; margin-top: 8px; padding: 2px 10px; }

.comments .answer { padding: 20px 0; border-bottom: 1px solid #e9e9e9; margin-bottom: 15px; }

.comments .answer:last-child { border-bottom: none; }

.comments .answer small { font-size: 0.8em; color: #a1a1a1; }

.comments .answer .text { font-size: 1em; }

.comments .answer .avatar { float: left; width: 50px; height: 50px; margin-right: 15px; margin-bottom: 1px; border-radius: 50%; }

.comments .answer .name { font-size: 1.2em; color: #f4ac1e; margin: 0; font-weight: 600; }

.comments .answer .user, .question .user { margin: 25px 0 0; border-top: 1px solid #e9e9e9; padding: 30px 0 0; }

.comments .answer .user .avatar, .question .user .avatar { float: left; width: 40px; height: 40px; border-radius: 50%; margin-right: 15px; }

.comments .answer .reply { margin: 25px 0 0; border-top: 1px solid #e9e9e9; padding: 30px 0 0 50px; }

.comments .answer .reply .avatar { float: left; width: 40px; height: 40px; border-radius: 50%; margin-right: 15px; margin-top: 5px; }

.comments .answer .reply h4 { font-size: 18px; }

.comments .answer .reply small { font-size: 12px; }

.comments .input  { width: calc(100% - 60px) !important; }

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple  { background-color: #f4ac1e !important; }

::ng-deep .mat-form-field.mat-focused .mat-form-field-label { color: #f4ac1e !important;  }


@media (min-width: 1600px) {
  .video .cover img, .video .cover iframe { width: 100%; height: 450px; }
}

.prev, .next {
  border: 0;
  background: transparent;
  outline: none;
  position: absolute;
  top: 200px;
  color: #f02;
}


.prev {
  left: -35px;
}

.next {
  right: -35px;
}

.prev i, .next i {
  font-size: 5em !important;
}

.bg-orange { background: #f4ac1e; color: #fff; border-radius: 12px; }

.label {
  position: relative;
  top: -6px;
}

.check-icon {
  position: relative;
  top: 3px;
}

.mini-title {
  text-align: center;
  margin: 0;
}



