<div class="col-md-12 pl-2 pr-2">

  <p class="tool-name border-bottom pb-3">{{ 'Introduction' | translate }}</p>

  <div class="row mb-3">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#titulo" aria-controls="titulo" role="tab" data-toggle="tab">{{ 'Content' | translate }}</a>
        </li>
        <li role="presentation">
          <a href="#button" aria-controls="button" role="tab" data-toggle="tab">{{ 'Button' | translate }}</a>
        </li>
        <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{ 'Layout' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="titulo">

          <!-- Template -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name">{{ 'Template' | translate }}</p>
            </div>
          </div>

          <!-- Box Template -->
          <div class="box-group">
            <!-- Seleção de Template -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'TemplateSelection' | translate }}:</p>
                <div class="wrapper-input">
                  <select class="w-100 text" [(ngModel)]="item.layout">
                    <option value="1">{{ 'Template' | translate }} 1</option>
                    <option value="2">{{ 'Template' | translate }} 2</option>
                    <option value="3">{{ 'Template' | translate }} 3</option>
                    <option value="4">{{ 'Template' | translate }} 4</option>
                    <option value="5">{{ 'Template' | translate }} 5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Separador -->
          <div class="divider my-4"></div>

          <!-- Título -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name">{{ 'Title' | translate }}</p>
            </div>
          </div>

          <!-- Box Título -->
          <div class="box-group">
            <!-- Texto do Título -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'Text' | translate }}:</p>
                <div class="wrapper-input">
                  <input name="title_text" type="text" class="w-100 px-2 input-styled" placeholder="{{ 'EnterTitle' | translate }}" [(ngModel)]="item.title.text" [formControl]="title">
                </div>
              </div>
            </div>

            <!-- Cor do Título -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'Color' | translate }}:</p>
                <div class="wrapper-input">
                  <input type="text" name="title_color"
                   [(colorPicker)]="item.title.color"
                   [(ngModel)]="item.title.color"
                   [style.border-left-style]="item.borderStyle"
                   [style.border-left-width]="item.borderWidth"
                   [style.border-left-color]="item.title.color"
                   [style.border-radius]="item.borderRadius"
                   cpPosition="bottom" class="w-100 text">
                </div>
              </div>
            </div>

            <!-- Animação do Título -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'Animation' | translate }}:</p>
                <div class="wrapper-input">
                  <select class="w-100 text" name="title_animation" [(ngModel)]="item.title.animation">
                    <optgroup label="Sem animação">
                      <option value="">{{ 'NoAnimation' | translate }}</option>
                    </optgroup>
                    <optgroup label="Attention Seekers">
                      <option value="bounce">bounce</option>
                      <option value="flash">flash</option>
                      <option value="pulse">pulse</option>
                      <option value="rubberBand">rubberBand</option>
                      <option value="shake">shake</option>
                      <option value="swing">swing</option>
                      <option value="tada">tada</option>
                      <option value="wobble">wobble</option>
                      <option value="jello">jello</option>
                    </optgroup>

                    <optgroup label="Bouncing Entrances">
                      <option value="bounceIn">bounceIn</option>
                      <option value="bounceInDown">bounceInDown</option>
                      <option value="bounceInLeft">bounceInLeft</option>
                      <option value="bounceInRight">bounceInRight</option>
                      <option value="bounceInUp">bounceInUp</option>
                    </optgroup>

                    <optgroup label="Bouncing Exits">
                      <option value="bounceOut">bounceOut</option>
                      <option value="bounceOutDown">bounceOutDown</option>
                      <option value="bounceOutLeft">bounceOutLeft</option>
                      <option value="bounceOutRight">bounceOutRight</option>
                      <option value="bounceOutUp">bounceOutUp</option>
                    </optgroup>

                    <optgroup label="Fading Entrances">
                      <option value="fadeIn">fadeIn</option>
                      <option value="fadeInDown">fadeInDown</option>
                      <option value="fadeInDownBig">fadeInDownBig</option>
                      <option value="fadeInLeft">fadeInLeft</option>
                      <option value="fadeInLeftBig">fadeInLeftBig</option>
                      <option value="fadeInRight">fadeInRight</option>
                      <option value="fadeInRightBig">fadeInRightBig</option>
                      <option value="fadeInUp">fadeInUp</option>
                      <option value="fadeInUpBig">fadeInUpBig</option>
                    </optgroup>

                    <optgroup label="Fading Exits">
                      <option value="fadeOut">fadeOut</option>
                      <option value="fadeOutDown">fadeOutDown</option>
                      <option value="fadeOutDownBig">fadeOutDownBig</option>
                      <option value="fadeOutLeft">fadeOutLeft</option>
                      <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                      <option value="fadeOutRight">fadeOutRight</option>
                      <option value="fadeOutRightBig">fadeOutRightBig</option>
                      <option value="fadeOutUp">fadeOutUp</option>
                      <option value="fadeOutUpBig">fadeOutUpBig</option>
                    </optgroup>

                    <optgroup label="Flippers">
                      <option value="flip">flip</option>
                      <option value="flipInX">flipInX</option>
                      <option value="flipInY">flipInY</option>
                      <option value="flipOutX">flipOutX</option>
                      <option value="flipOutY">flipOutY</option>
                    </optgroup>

                    <optgroup label="Lightspeed">
                      <option value="lightSpeedIn">lightSpeedIn</option>
                      <option value="lightSpeedOut">lightSpeedOut</option>
                    </optgroup>

                    <optgroup label="Rotating Entrances">
                      <option value="rotateIn">rotateIn</option>
                      <option value="rotateInDownLeft">rotateInDownLeft</option>
                      <option value="rotateInDownRight">rotateInDownRight</option>
                      <option value="rotateInUpLeft">rotateInUpLeft</option>
                      <option value="rotateInUpRight">rotateInUpRight</option>
                    </optgroup>

                    <optgroup label="Rotating Exits">
                      <option value="rotateOut">rotateOut</option>
                      <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                      <option value="rotateOutDownRight">rotateOutDownRight</option>
                      <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                      <option value="rotateOutUpRight">rotateOutUpRight</option>
                    </optgroup>

                    <optgroup label="Sliding Entrances">
                      <option value="slideInUp">slideInUp</option>
                      <option value="slideInDown">slideInDown</option>
                      <option value="slideInLeft">slideInLeft</option>
                      <option value="slideInRight">slideInRight</option>

                    </optgroup>
                    <optgroup label="Sliding Exits">
                      <option value="slideOutUp">slideOutUp</option>
                      <option value="slideOutDown">slideOutDown</option>
                      <option value="slideOutLeft">slideOutLeft</option>
                      <option value="slideOutRight">slideOutRight</option>

                    </optgroup>

                    <optgroup label="Zoom Entrances">
                      <option value="zoomIn">zoomIn</option>
                      <option value="zoomInDown">zoomInDown</option>
                      <option value="zoomInLeft">zoomInLeft</option>
                      <option value="zoomInRight">zoomInRight</option>
                      <option value="zoomInUp">zoomInUp</option>
                    </optgroup>

                    <optgroup label="Zoom Exits">
                      <option value="zoomOut">zoomOut</option>
                      <option value="zoomOutDown">zoomOutDown</option>
                      <option value="zoomOutLeft">zoomOutLeft</option>
                      <option value="zoomOutRight">zoomOutRight</option>
                      <option value="zoomOutUp">zoomOutUp</option>
                    </optgroup>

                    <optgroup label="Specials">
                      <option value="hinge">hinge</option>
                      <option value="jackInTheBox">jackInTheBox</option>
                      <option value="rollIn">rollIn</option>
                      <option value="rollOut">rollOut</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>

            <!-- Tamanho da Fonte do Título-->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config mb-6">{{ 'FontSize' | translate }}:</p>
                <div class="wrapper-input">
                  <!-- <nouislider name="size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.title.size" [tooltips]="true" class="slider"></nouislider> -->
                </div>
              </div>
            </div>

            <!-- Alinhamento do Título-->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'Alignment' | translate }}:</p>
                <div class="wrapper-input">
                  <button (click)="setAlign(item.title, 'left')" [class.btn-primary]="item.title.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar a Esquerda">format_align_left</i>
                  </button>

                  <button (click)="setAlign(item.title, 'center')" [class.btn-primary]="item.title.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar no Centro">format_align_center</i>
                  </button>

                  <button (click)="setAlign(item.title, 'right')" [class.btn-primary]="item.title.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar a Direita">format_align_right</i>
                  </button>
                </div>
              </div>
            </div>

          </div>

          <!-- Separador -->
          <div class="divider my-4"></div>

          <!-- Tipo de Mídia -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name">{{ 'MediaType' | translate }}</p>
            </div>
          </div>

          <!-- Box Tipo de Mídia -->
          <div class="box-group">
            <!-- Seleção do Tipo de Mídia -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'SetMedia' | translate }}:</p>
                <div class="wrapper-input">
                  <select [(ngModel)]="item.media.type" name="media_type" class="w-100 text" (ngModelChange)="emitSendEvent()">
                    <option value="none">Nenhuma</option>
                    <option value="text">Texto</option>
                    <option value="image">Imagem</option>
                    <option value="youtube">Youtube</option>
                    <option value="vimeo">Vímeo</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Se Tipo de Mídia for Texto-->
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="item.media.type === 'text'">

                  <!-- Inserção do Texto -->
                  <div class="row mb-12">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Text' | translate }}:</p>
                      <div class="wrapper-input">
                        <textarea rows="4" name="media_text" class="w-100 text px-2" placeholder="{{ 'EnterText' | translate }}" [(ngModel)]="item.media.text" [formControl]="mediaText"></textarea>
                      </div>
                    </div>
                  </div>

                  <!-- Cor do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Color' | translate }}:</p>
                      <div class="wrapper-input">
                        <input type="text" name="media_color"
                         [(colorPicker)]="item.media.color"
                         [(ngModel)]="item.media.color"
                         [style.border-left-style]="item.borderStyle"
                         [style.border-left-width]="item.borderWidth"
                         [style.border-left-color]="item.media.color"
                         [style.border-radius]="item.borderRadius"
                         cpPosition="bottom" class="w-100 text">
                      </div>
                    </div>
                  </div>

                  <!-- Animação do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Animation' | translate }}:</p>
                      <div class="wrapper-input">
                        <select class="w-100 text" name="text_animation" [(ngModel)]="item.media.animation">
                          <optgroup label="Sem animação">
                            <option value="">{{ 'NoAnimation' | translate }}</option>
                          </optgroup>

                          <optgroup label="Attention Seekers">
                            <option value="bounce">bounce</option>
                            <option value="flash">flash</option>
                            <option value="pulse">pulse</option>
                            <option value="rubberBand">rubberBand</option>
                            <option value="shake">shake</option>
                            <option value="swing">swing</option>
                            <option value="tada">tada</option>
                            <option value="wobble">wobble</option>
                            <option value="jello">jello</option>
                          </optgroup>

                          <optgroup label="Bouncing Entrances">
                            <option value="bounceIn">bounceIn</option>
                            <option value="bounceInDown">bounceInDown</option>
                            <option value="bounceInLeft">bounceInLeft</option>
                            <option value="bounceInRight">bounceInRight</option>
                            <option value="bounceInUp">bounceInUp</option>
                          </optgroup>

                          <optgroup label="Bouncing Exits">
                            <option value="bounceOut">bounceOut</option>
                            <option value="bounceOutDown">bounceOutDown</option>
                            <option value="bounceOutLeft">bounceOutLeft</option>
                            <option value="bounceOutRight">bounceOutRight</option>
                            <option value="bounceOutUp">bounceOutUp</option>
                          </optgroup>

                          <optgroup label="Fading Entrances">
                            <option value="fadeIn">fadeIn</option>
                            <option value="fadeInDown">fadeInDown</option>
                            <option value="fadeInDownBig">fadeInDownBig</option>
                            <option value="fadeInLeft">fadeInLeft</option>
                            <option value="fadeInLeftBig">fadeInLeftBig</option>
                            <option value="fadeInRight">fadeInRight</option>
                            <option value="fadeInRightBig">fadeInRightBig</option>
                            <option value="fadeInUp">fadeInUp</option>
                            <option value="fadeInUpBig">fadeInUpBig</option>
                          </optgroup>

                          <optgroup label="Fading Exits">
                            <option value="fadeOut">fadeOut</option>
                            <option value="fadeOutDown">fadeOutDown</option>
                            <option value="fadeOutDownBig">fadeOutDownBig</option>
                            <option value="fadeOutLeft">fadeOutLeft</option>
                            <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                            <option value="fadeOutRight">fadeOutRight</option>
                            <option value="fadeOutRightBig">fadeOutRightBig</option>
                            <option value="fadeOutUp">fadeOutUp</option>
                            <option value="fadeOutUpBig">fadeOutUpBig</option>
                          </optgroup>

                          <optgroup label="Flippers">
                            <option value="flip">flip</option>
                            <option value="flipInX">flipInX</option>
                            <option value="flipInY">flipInY</option>
                            <option value="flipOutX">flipOutX</option>
                            <option value="flipOutY">flipOutY</option>
                          </optgroup>

                          <optgroup label="Lightspeed">
                            <option value="lightSpeedIn">lightSpeedIn</option>
                            <option value="lightSpeedOut">lightSpeedOut</option>
                          </optgroup>

                          <optgroup label="Rotating Entrances">
                            <option value="rotateIn">rotateIn</option>
                            <option value="rotateInDownLeft">rotateInDownLeft</option>
                            <option value="rotateInDownRight">rotateInDownRight</option>
                            <option value="rotateInUpLeft">rotateInUpLeft</option>
                            <option value="rotateInUpRight">rotateInUpRight</option>
                          </optgroup>

                          <optgroup label="Rotating Exits">
                            <option value="rotateOut">rotateOut</option>
                            <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                            <option value="rotateOutDownRight">rotateOutDownRight</option>
                            <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                            <option value="rotateOutUpRight">rotateOutUpRight</option>
                          </optgroup>

                          <optgroup label="Sliding Entrances">
                            <option value="slideInUp">slideInUp</option>
                            <option value="slideInDown">slideInDown</option>
                            <option value="slideInLeft">slideInLeft</option>
                            <option value="slideInRight">slideInRight</option>

                          </optgroup>
                          <optgroup label="Sliding Exits">
                            <option value="slideOutUp">slideOutUp</option>
                            <option value="slideOutDown">slideOutDown</option>
                            <option value="slideOutLeft">slideOutLeft</option>
                            <option value="slideOutRight">slideOutRight</option>

                          </optgroup>

                          <optgroup label="Zoom Entrances">
                            <option value="zoomIn">zoomIn</option>
                            <option value="zoomInDown">zoomInDown</option>
                            <option value="zoomInLeft">zoomInLeft</option>
                            <option value="zoomInRight">zoomInRight</option>
                            <option value="zoomInUp">zoomInUp</option>
                          </optgroup>

                          <optgroup label="Zoom Exits">
                            <option value="zoomOut">zoomOut</option>
                            <option value="zoomOutDown">zoomOutDown</option>
                            <option value="zoomOutLeft">zoomOutLeft</option>
                            <option value="zoomOutRight">zoomOutRight</option>
                            <option value="zoomOutUp">zoomOutUp</option>
                          </optgroup>

                          <optgroup label="Specials">
                            <option value="hinge">hinge</option>
                            <option value="jackInTheBox">jackInTheBox</option>
                            <option value="rollIn">rollIn</option>
                            <option value="rollOut">rollOut</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- Tamanho da Fonte do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config mb-6">{{ 'Size' | translate }}:</p>
                      <div class="wrapper-input">
                        <div class="w-100 text">
                          <!-- <nouislider name="media_size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.media.size" [tooltips]="true" class="slider"></nouislider> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Alinhamento do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Alignment' | translate }}</p>
                      <div class="wrapper-input">
                        <button (click)="setAlign(item.media, 'left')" [class.btn-primary]="item.media.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                          <i class="material-icons">format_align_left</i>
                        </button>

                        <button (click)="setAlign(item.media, 'center')" [class.btn-primary]="item.media.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                          <i class="material-icons">format_align_center</i>
                        </button>

                        <button (click)="setAlign(item.media, 'right')" [class.btn-primary]="item.media.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                          <i class="material-icons">format_align_right</i>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row" *ngIf="item.media.type === 'image'">

              <div class="col-xs-12">
                <p class="title-config">{{ 'PasteLinkImage' | translate }}</p>
                <input name="url" class="w-100 text pull-left" placeholder="Ex.: https://image.freepik.com" [(ngModel)]="item.media.image">
                <p class="title-config text-center"> - ou -</p>
                <app-upload-plugin [type]="'image'" [hidden]="true" #upload [horizontal]="true" [resizeToWidth]="1110" [aspectRatio]="4 / 3" (AddPhoto)="getPhoto($event)"></app-upload-plugin>
                <button type="button" class="btn btn-sm btn-block btn-primary" (click)="upload.openDialog()">
                  {{ 'SendFile' | translate }}
                </button>
              </div>

            </div>

            <!-- Se Tipo de Mídia for Vídeo -->
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo'">
                  <p class="title-config">{{ 'PasteVideoURL' | translate }}:</p>
                  <div class="wrapper-input" *ngIf="item.media.type === 'youtube'">
                    <input name="media_url" type="text" class="w-100 text" placeholder="{{ 'VideoURL' | translate }}" [(ngModel)]="item.media.youtube" (ngModelChange)="videoChanged()" [formControl]="videoUrl">
                  </div>
                  <div class="wrapper-input" *ngIf="item.media.type === 'vimeo'">
                    <input name="media_url" type="text" class="w-100 text" placeholder="{{ 'VideoURL' | translate }}" [(ngModel)]="item.media.vimeo" (ngModelChange)="videoChanged()" [formControl]="videoUrl">
                  </div>
                </div>
              </div>
            </div>

            <!-- Se Tipo de Mídia for Vídeo -->
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo' || item.media.type === 'image'">
                  <!-- Título da Legenda da Imagem -->
                  <p class="title-config">{{ 'ImageCaptionTitle' | translate }}</p>
                  <div class="wrapper-input">
                    <input name="media_title input-styled" type="text" class="w-100 text" placeholder="{{ 'EnterTitle' | translate }}" [(ngModel)]="item.media.title" [formControl]="mediaTitle">
                  </div>

                  <!-- Texto da Legenda -->
                  <p class="title-config">{{ 'CaptionText' | translate }}:</p>
                  <div class="wrapper-input mb-12">
                    <textarea rows="4" name="media_description input-styled" class="w-100 text px-2" placeholder="{{ 'EnterText' | translate }}" [(ngModel)]="item.media.description" [formControl]="mediaDescription"></textarea>
                  </div>

                  <!-- Inserção do Texto -->
                  <div class="row mb-12">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Text' | translate }}:</p>
                      <div class="wrapper-input">
                        <textarea rows="4" name="media_text" class="w-100 text px-2" placeholder="{{ 'EnterText' | translate }}" [(ngModel)]="item.media.text" [formControl]="mediaText"></textarea>
                      </div>
                    </div>
                  </div>

                  <!-- Cor do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Color' | translate }}:</p>
                      <div class="wrapper-input">
                        <input type="text" name="media_color"
                         [(colorPicker)]="item.media.color"
                         [(ngModel)]="item.media.color"
                         [style.border-left-style]="item.borderStyle"
                         [style.border-left-width]="item.borderWidth"
                         [style.border-left-color]="item.media.color"
                         [style.border-radius]="item.borderRadius"
                         cpPosition="bottom" class="w-100 text">
                      </div>
                    </div>
                  </div>

                  <!-- Animação do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Animation' | translate }}:</p>
                      <div class="wrapper-input">
                        <select class="w-100 text" name="text_animation" [(ngModel)]="item.media.animation">
                          <optgroup label="Sem animação">
                            <option value="">{{ 'NoAnimation' | translate }}</option>
                          </optgroup>

                          <optgroup label="Attention Seekers">
                            <option value="bounce">bounce</option>
                            <option value="flash">flash</option>
                            <option value="pulse">pulse</option>
                            <option value="rubberBand">rubberBand</option>
                            <option value="shake">shake</option>
                            <option value="swing">swing</option>
                            <option value="tada">tada</option>
                            <option value="wobble">wobble</option>
                            <option value="jello">jello</option>
                          </optgroup>

                          <optgroup label="Bouncing Entrances">
                            <option value="bounceIn">bounceIn</option>
                            <option value="bounceInDown">bounceInDown</option>
                            <option value="bounceInLeft">bounceInLeft</option>
                            <option value="bounceInRight">bounceInRight</option>
                            <option value="bounceInUp">bounceInUp</option>
                          </optgroup>

                          <optgroup label="Bouncing Exits">
                            <option value="bounceOut">bounceOut</option>
                            <option value="bounceOutDown">bounceOutDown</option>
                            <option value="bounceOutLeft">bounceOutLeft</option>
                            <option value="bounceOutRight">bounceOutRight</option>
                            <option value="bounceOutUp">bounceOutUp</option>
                          </optgroup>

                          <optgroup label="Fading Entrances">
                            <option value="fadeIn">fadeIn</option>
                            <option value="fadeInDown">fadeInDown</option>
                            <option value="fadeInDownBig">fadeInDownBig</option>
                            <option value="fadeInLeft">fadeInLeft</option>
                            <option value="fadeInLeftBig">fadeInLeftBig</option>
                            <option value="fadeInRight">fadeInRight</option>
                            <option value="fadeInRightBig">fadeInRightBig</option>
                            <option value="fadeInUp">fadeInUp</option>
                            <option value="fadeInUpBig">fadeInUpBig</option>
                          </optgroup>

                          <optgroup label="Fading Exits">
                            <option value="fadeOut">fadeOut</option>
                            <option value="fadeOutDown">fadeOutDown</option>
                            <option value="fadeOutDownBig">fadeOutDownBig</option>
                            <option value="fadeOutLeft">fadeOutLeft</option>
                            <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                            <option value="fadeOutRight">fadeOutRight</option>
                            <option value="fadeOutRightBig">fadeOutRightBig</option>
                            <option value="fadeOutUp">fadeOutUp</option>
                            <option value="fadeOutUpBig">fadeOutUpBig</option>
                          </optgroup>

                          <optgroup label="Flippers">
                            <option value="flip">flip</option>
                            <option value="flipInX">flipInX</option>
                            <option value="flipInY">flipInY</option>
                            <option value="flipOutX">flipOutX</option>
                            <option value="flipOutY">flipOutY</option>
                          </optgroup>

                          <optgroup label="Lightspeed">
                            <option value="lightSpeedIn">lightSpeedIn</option>
                            <option value="lightSpeedOut">lightSpeedOut</option>
                          </optgroup>

                          <optgroup label="Rotating Entrances">
                            <option value="rotateIn">rotateIn</option>
                            <option value="rotateInDownLeft">rotateInDownLeft</option>
                            <option value="rotateInDownRight">rotateInDownRight</option>
                            <option value="rotateInUpLeft">rotateInUpLeft</option>
                            <option value="rotateInUpRight">rotateInUpRight</option>
                          </optgroup>

                          <optgroup label="Rotating Exits">
                            <option value="rotateOut">rotateOut</option>
                            <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                            <option value="rotateOutDownRight">rotateOutDownRight</option>
                            <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                            <option value="rotateOutUpRight">rotateOutUpRight</option>
                          </optgroup>

                          <optgroup label="Sliding Entrances">
                            <option value="slideInUp">slideInUp</option>
                            <option value="slideInDown">slideInDown</option>
                            <option value="slideInLeft">slideInLeft</option>
                            <option value="slideInRight">slideInRight</option>

                          </optgroup>
                          <optgroup label="Sliding Exits">
                            <option value="slideOutUp">slideOutUp</option>
                            <option value="slideOutDown">slideOutDown</option>
                            <option value="slideOutLeft">slideOutLeft</option>
                            <option value="slideOutRight">slideOutRight</option>

                          </optgroup>

                          <optgroup label="Zoom Entrances">
                            <option value="zoomIn">zoomIn</option>
                            <option value="zoomInDown">zoomInDown</option>
                            <option value="zoomInLeft">zoomInLeft</option>
                            <option value="zoomInRight">zoomInRight</option>
                            <option value="zoomInUp">zoomInUp</option>
                          </optgroup>

                          <optgroup label="Zoom Exits">
                            <option value="zoomOut">zoomOut</option>
                            <option value="zoomOutDown">zoomOutDown</option>
                            <option value="zoomOutLeft">zoomOutLeft</option>
                            <option value="zoomOutRight">zoomOutRight</option>
                            <option value="zoomOutUp">zoomOutUp</option>
                          </optgroup>

                          <optgroup label="Specials">
                            <option value="hinge">hinge</option>
                            <option value="jackInTheBox">jackInTheBox</option>
                            <option value="rollIn">rollIn</option>
                            <option value="rollOut">rollOut</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- Tamanho da Fonte do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config mb-6">{{ 'Size' | translate }}:</p>
                      <div class="wrapper-input">
                        <div class="w-100 text">
                          <!-- <nouislider name="media_size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.media.size" [tooltips]="true" class="slider"></nouislider> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Alinhamento do Texto -->
                  <div class="row">
                    <div class="col-md-12">
                      <p class="title-config">{{ 'Alignment' | translate }}</p>
                      <div class="wrapper-input">
                        <button (click)="setAlign(item.media, 'left')" [class.btn-primary]="item.media.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                          <i class="material-icons">format_align_left</i>
                        </button>

                        <button (click)="setAlign(item.media, 'center')" [class.btn-primary]="item.media.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                          <i class="material-icons">format_align_center</i>
                        </button>

                        <button (click)="setAlign(item.media, 'right')" [class.btn-primary]="item.media.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                          <i class="material-icons">format_align_right</i>
                        </button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="button">
          <div class="row">

            <div class="col-md-12">
              <p>{{ 'ButtonText' | translate }}</p>
              <div class="wrapper-input">
                <input
                  [(ngModel)]="item.button" name="button" type="text" class="w-100 mb-4 px-2 input-styled" placeholder="{{ 'EnterButtonText' | translate }}" [formControl]="button">
              </div>
            </div>

            <div class="divider my-4"></div>

            <div class="col-md-12">
              <p>{{ 'ButtonColor' | translate }}</p>
              <div class="wrapper-input">
                <input [(colorPicker)]="item.buttonOptions.background" [style.color]="item.buttonOptions.background" [(ngModel)]="item.buttonOptions.background" cpPosition="bottom" class="w-100" />
              </div>
            </div>

          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="settings">
          <div class="row">

            <div class="col-md-12">
              <p>{{ 'TextColor' | translate }}</p>
              <div class="wrapper-input">
                <input
                  [(colorPicker)]="item.settings.color"
                  [(ngModel)]="item.settings.color"
                  [style.color]="item.settings.color"
                  [style.background]="item.settings.background"
                  cpPosition="bottom" class="w-100" />
              </div>
            </div>

            <div class="col-md-12">
              <p>{{ 'Background' | translate }}</p>
              <div class="wrapper-input">
                <input
                  [(colorPicker)]="item.settings.background"
                  [(ngModel)]="item.settings.background"
                  [style.color]="item.settings.color"
                  [style.background]="item.settings.background"
                  cpPosition="bottom" class="w-100" />
              </div>
            </div>

          </div>
        </div>

        <div class="divider my-4"></div>

        <div class="text-right">
          <button class="btn btn-primary btn-sm" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
        </div>

      </div>
    </div>
  </div>

</div>

<app-file-manager (event)="uploadSubmited($event)" #fileManager="appFileManager"></app-file-manager>
