/* Material Design
===============================================================*/
/* Tooltip */
::ng-deep .mat-tooltip { background: rgba(233, 30, 99, 0.95) !important; color: #FFFFFF !important; font-size: 0.7em !important; font-weight:600; }

/* Link
===============================================================*/
.no-link { color:#3c4858; }

/* Form
===============================================================*/
.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label { top: -30px; font-size: 13px; line-height: 1.42857143; }

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label { top: -32px; left: 0; font-size: 11px; line-height: 1.07142857; }

/* Margens - Margin
===============================================================*/
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }

.mb-15 { margin-bottom: 15px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }

/*Espaçamento - Padding
===============================================================*/
.padding-10 { padding: 10px; }
.pl-0 { padding-left: 0px !important; }
.pr-0 { padding-right: 0px !important; }

/*Cor de Fundo - Background
===============================================================*/
.bg-rose{ color: #fff; background-color: #e91e63 !important; }
.bg-gray-light{ color: #333; background-color: #F9F9F9 !important; }

/*Borda - Border
===============================================================*/
.border{border: solid 1px #ddd;}

/*Arredondamento de Bordas - Border Radius
===============================================================*/
.b-radius1{border-radius: 5px 0 0 5px;}
.b-radius2{border-radius: 0 5px 5px 0px;}
.b-radius3{border-radius: 5px;}

/*Cor de Texto - Color Text
===============================================================*/
.rose-text{ color: #e91e63; }
.blue-text{ color: #126bb5; }
.gray-text{ color: #999999; }
.green-text{ color: #12b6a9; }
.fc-gray-light { color:#aaa !important; }
.fc-gray-light-100 { color:#bbb !important; }
.fc-gray-light-200 { color:#ccc !important; }
.fc-gray-light-300 { color:#ddd !important; }

/*Fontes - Fonts
===============================================================*/
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }

/*Fontes Estilo - Fonts Styles
===============================================================*/
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }

/*Ícone
===============================================================*/
.icon-del { color: #D2D2D2; }
.icon-del:hover { color: #e91e63; }

/*Display
===============================================================*/
.block { display: block !important; }

.box-letter-desktop { font-size: 1.5em; padding: 32px 0 !important; text-align: center; border: solid 1px #e91e63; font-weight: 900; }
.border-box-input{ border-top: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }


/**************** Mobile - CSS ****************/
.box-letter-mobile{ padding: 22px 0; text-align: center; border: solid 1px #e91e63; font-weight: 900; }
.title-mobile{ display: block; font-size: 0.9em; font-weight: bold;}
