<!-- NavBar -->
<div class="row my-4">
  <div class="col-md-6">
    <h4 class="fw-500">Quanto trabalhar para ganhar?</h4>
  </div>
</div>

<div class="row">
  <!-- Coluna Esquerda - Calculadora -->
  <div class="col-md-9">
    <div class="card mt-0">
      <div class="content">
        <form #workForm="ngForm">
          <div class="col-md-4 my-5">
            <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">A</div>
            <div class="col-md-10 border-box-input padding-10 b-radius2">
              <div class="form-group form-focus label-floating">
                <label class="control-label">Quantas nós somos no Negócio?</label>
                <input name="valueA" [(ngModel)]="values.A" (ngModelChange)="calc()" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-4 my-5">
            <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">B</div>
            <div class="col-md-10 border-box-input padding-10 b-radius2">
              <div class="form-group form-focus label-floating">
                <label class="control-label">Quanto cada uma quer ganhar por mês?</label>
                <input currencyMask name="valueB" [(ngModel)]="values.B" (ngModelChange)="calc()" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-4 my-5">
            <div class="border bg-gray-light padding-10 b-radius3">
              <p class="fs-11 mt-2 mb-2 fc-gray-light-100 fw-400">O total mensal é de:</p>
              <p class="mb-4 fw-400">{{ resultA | currency:'BRL':'R$':'1.2-2':'pt' }}</p>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">C</div>
            <div class="col-md-10 border-box-input padding-10 b-radius2">
              <div class="form-group form-focus label-floating">
                <label class="control-label">Qual a média do custo de materiais do seu produto?</label>
                <input currencyMask name="valueC" [(ngModel)]="values.C" (ngModelChange)="calc()" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">D</div>
            <div class="col-md-10 border-box-input padding-10 b-radius2">
              <div class="form-group form-focus label-floating">
                <label class="control-label">Qual a média do custo fixo?</label>
                <input currencyMask name="valueD" [(ngModel)]="values.D" (ngModelChange)="calc()" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="border bg-gray-light padding-10 b-radius3">
              <p class="fs-11 mt-2 mb-2 fc-gray-light-100 fw-400">Total a faturar por mês é de:</p>
              <p class="mb-4 fw-400">{{ resultB | currency:'BRL':'R$':'1.2-2':'pt' }}</p>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">E</div>
            <div class="col-md-10 border-box-input padding-10 b-radius2">
              <div class="form-group form-focus label-floating">
                <label class="control-label">Qual o preço médio do produto?</label>
                <input currencyMask name="valueE" [(ngModel)]="values.E" (ngModelChange)="calc()" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="border bg-gray-light padding-10 b-radius3">
              <p class="fs-11 mt-2 mb-2 fc-gray-light-100 fw-400">Total de peças:</p>
              <p class="mb-4 fw-400">{{ resultC }}</p>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="border bg-gray-light padding-10 b-radius3">
              <p class="fs-11 mt-2 mb-2 fc-gray-light-100 fw-400">Peças por artesã:</p>
              <p class="mb-4 fw-400">{{ resultD }}</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button [disabled]="!workForm.valid" class="btn btn-rose" (click)="save()">Salvar Cenário</button>
      </div>
    </div>
  </div>

  <!-- Coluna Direita - Cenário -->
  <div class="col-md-3">
    <div class="card mt-0">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table">Cenários</th>
            </tr>
            <tr *ngFor="let cenario of dataArray; let i = index;">
              <td class="text-left" [ngClass]="{'cenario-active': cenario === cenarioSelected}">
                <span class="pull-left" (click)="selectCenario(i)">
                  <a class="fake-link">Cenário {{i + 1}} </a> <br />
                  <small class="fs-8 fc-gray-light mt-1 visible-lg">* Salvo em: {{ cenario.updated_at.date | date:"dd/MM/yyyy" }}</small>
                </span>
                <a class="pull-right icon-del ml-4 fake-link" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'" (click)="delete(i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-left" [ngClass]="{'cenario-active': !cenarioSelected}">
                <a class="fake-link" (click)="newCenario()">Novo cenário</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
