


<form *ngIf="global.loggedUser()" [formGroup]="form" (ngSubmit)="onSubmit()" class="form-feed">
  <h4 class="title">Criar publicação</h4>
  <div class="mt-4">
    <img *ngIf="global.loggedUser().picture" [src]="global.loggedUser().picture" class="avatar-45" alt="">
    <div *ngIf="!global.loggedUser().picture" class="avatar-45-null">
      <i class="fa fa-user"></i>
    </div>
    <input formControlName="texto" type="text" placeholder="Compartilhe suas experiências">
    <div class="clearfix"></div>
  </div>

  <div class="row tmp-file-wrapper-container" *ngIf="tmpFileArray.length > 0">
    <div class="col-sm-4 mb-4 tmp-file-wrapper" *ngFor="let file of tmpFileArray">
      <div class="tmp-file-status-overlay" *ngIf="file.status < 100">
        <p class="tmp-file-status-title">Enviando...</p>
        <p class="tmp-file-status-desc" *ngIf="file.status > 0">{{ file.status }}%</p>
      </div>
      <div class="tmp-file-buttons-overlay">
        <button class="btn btn-xs tmp-file-remove-button" (click)="removeTmpFile(file)">
          <span class="fa fa-remove"></span>
        </button>
      </div>
      <div class="tmp-file-content outline-bordered">
        <img
          (click)="ExpandImg(file.fileSanitized)"
          [src]="file.fileSanitized"
          class="img-responsive tmp-upload "
          *ngIf="getTypeByMimeType(file.type) === 'image'"
        />
        <video
          class="tmp-upload tmp-upload-video"
          height="80"
          width="100%"
          controls
          *ngIf="getTypeByMimeType(file.type) === 'video'"
        >
          <source [src]="file.fileSanitized" />
        </video>
      </div>
    </div>
  </div>

  <div *ngIf="urlPreview">
    <div class="preview-wrapper">
      <button class="btn btn-xs preview-button" (click)="removePreview()">
        <span class="fa fa-remove"></span>
      </button>
      <div class="preview-image">
        <a target="_blank" href="{{ urlPreview.link }}">
          <img [src]="urlPreview.image" class="img-responsive" />
        </a>
      </div>
      <div class="preview-text">
        <button class="btn btn-simple btn-xs preview-button" (click)="removePreview()">
          <span class="fa fa-remove"></span>
        </button>
        <a target="_blank" href="{{ urlPreview.link }}">
          <small>{{ urlPreview.site }}</small>
          <h3>{{ urlPreview.title }}</h3>
          <p>{{ urlPreview.description }}</p>
        </a>
      </div>
    </div>
  </div>

  <ul class="add-file">
    <label>
      <a class="btn btn-xs btn-primary">Foto/Vídeo</a>
      <input class="hide" accept="video/*, image/*" (change)="uploadFile($event)" multiple type="file" />
    </label>
    <li *ngIf="!uploading">
        <button type="submit" class="btn btn-xs btn-secondary" [disabled]="!isValid()">Publicar</button>
      </li>
      <li *ngIf="uploading">
        <button type="button" disabled class="btn btn-xs btn-secondary" title="Aguarde. Enviando arquivo...">Publicar</button>
      </li>
    </ul>
</form>
