<div class="resume">
  <div class="resume__box">
    <div routerLink="materiais" routerLinkActive="actived" class="resume__box__header">
      <h5 class="resume__box__header__h5"><i class="resume__box__header__h5__i flaticon-school"></i> Materiais</h5>
      <!--p class="resume__box__header__p">Ultima alteração:22/11</p-->
    </div>
    <table class="table">
      <tbody>
          <tr *ngFor="let material of materiais">
            <td>{{ material?.material }}</td>
            <td>Fornecedor</td>
            <td>R$: {{ material?.preco_unidade | number : '2.2-2' }}</td>
          </tr>
        </tbody>
    </table>
  </div>

  <div class="resume__box">
      <div class="resume__box__header">
        <h5 class="resume__box__header__h5"><i class="resume__box__header__h5__i flaticon-wrench"></i> Mão de Obra</h5>
        <p class="resume__box__header__p">Ultima alteração:22/11</p>
      </div>
      <table class="table">
        <tbody>
            <tr *ngFor="let mao_obra of mao_obras">
              <td>{{ mao_obra?.service }}</td>
              <td>{{ mao_obra?.time }} {{ mao_obra?.type }}</td>
            </tr>
          </tbody>
      </table>
    </div>

</div>
  