<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  pl-2 pr-2">
  <p class="tool-name border-bottom pb-3">{{ 'MultipleIssues' | translate }}</p>

  <div class="row mb-3">
    <!-- Nav tabs -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#questoes" aria-controls="questoes" role="tab" data-toggle="tab">{{ 'Questions' | translate }}</a>
        </li>
      </ul>
    </div>

    <!-- Tab panels -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="tab-content">
        <!-- Tab Questões -->
        <div role="tabpanel" class="tab-pane fade in active" id="questoes">
          <form action="">
            <!-- Adição de novas alternativas de respostas -->
            <div class="row">
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                <p class="tool-name">>{{ 'Questions' | translate }}</p>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  text-right">
                <a class="cursor" matTooltip="Adicionar Questão" matTooltipPosition="left" (click)="insertQuestion()">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>

            <!-- Grupo de alternativas -->
            <div class="row mb-3">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " *ngFor="let question of item.questions; let i = index;">
                <div class="row my-2">
                  <!-- Menu acordion Questões -->
                  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a class="tool-name-subtitle fs-12 w-100 block" role="button" data-toggle="collapse" href="#question{{i}}" aria-expanded="false"> - {{ 'Question' | translate }} {{ i + 1 }}</a>
                  </div>

                  <!-- Botão Remover Questões -->
                  <div class="col-md-2 text-right">
                    <a class="cursor" matTooltip="Remover Questão" matTooltipPosition="left" (click)="removeQuestion(i)">
                      <i class="fa fa-minus"></i>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse" id="question{{i}}">
                    <!-- Encunciado -->
                    <div class="box-group mb-3">
                      <div class="row mb-2">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <p class="title-config">{{ 'Statement' | translate }}:</p>
                          <input name="question_title_{{i}}" [(ngModel)]="question.title" class="w-100 text" placeholder="Ex.: {{ 'SelectOptionFolder' | translate }}">
                        </div>
                      </div>
                    </div>

                    <!-- Adição de novas imagens -->
                    <div class="row mt-3">
                      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <p class="tool-name">{{ 'Images' | translate }}</p>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                        <a class="cursor" matTooltip="Adicionar Imagem" matTooltipPosition="left" (click)="insertOption(i)">
                          <i class="fa fa-plus"></i>
                        </a>
                      </div>
                    </div>

                    <!-- Grupo de Imagens -->
                    <div class="row mb-3">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let option of question.options; let io = index;">
                        <div class="row my-2">
                          <!-- Menu acordion Questões -->
                          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <a class="tool-name-subtitle fs-12 w-100 block" role="button" data-toggle="collapse" href="#image__{{i}}__{{ io }}" aria-expanded="false"> - {{ 'Image' | translate }} {{ io + 1 }}</a>
                          </div>

                          <!-- Botão Remover Questões -->
                          <div class="col-md-2 text-right">
                            <a class="cursor" matTooltip="Remover Resposta" matTooltipPosition="left" (click)="removeOption(i, io)">
                              <i class="fa fa-minus"></i>
                            </a>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse" id="image__{{i}}__{{ io }}">

                            <!-- Bloco de Imagem -->
                            <div class="box-group mb-3">
                              <div class="mb-2">
                                <!-- Texto alternativo -->
                                <div class="row mb-3">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p class="title-config">{{ 'TextAlternative' | translate }}:</p>
                                    <input name="question_{{i}}_option_{{io}}_text" class="w-100 text" placeholder="Ex.: {{ 'Option' | translate }} 1" [(ngModel)]="option.text">
                                  </div>
                                </div>

                                <!-- Input imagem -->
                                <div class="row">
                                  <div class="col-xs-12">
                                    <p class="title-config">{{ 'PasteLinkImage' | translate }}</p>
                                    <input name="question_{{i}}_option_{{io}}_image" class="w-100 text pull-left" placeholder="Ex.: https://image.freepik.com" [(ngModel)]="option.image">
                                    <p class="title-config text-center"> - ou -</p>
                                    <app-upload-plugin [type]="'image'" [hidden]="true" #upload [horizontal]="true" [resizeToWidth]="1110" [aspectRatio]="158 / 180" (AddPhoto)="getPhoto(option, $event)"></app-upload-plugin>
                                    <button type="button" class="btn btn-sm btn-block btn-primary" (click)="upload.openDialog()">
                                      {{ 'SendFile' | translate }}
                                    </button>
                                  </div>
                                </div>

                                <!-- Input checkbox - Resposta correta -->
                                <div class="row mb-3">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="checkbox m-0">
                                      <label>
                                        <input type="checkbox" name="question_{{i}}_option_{{io}}_correct" class="w-100 text" placeholder="Ex.: https://image.freepik.com/" [(ngModel)]="option.correct"> {{ 'CorrectOption' | translate }}?
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Botão de Salvamento -->
            <div class="row mt-3">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div><!-- /Tab panels -->
  </div>
</div>
