ul { list-style: none; margin: 0; padding: 0; }
.mt { padding-top: 3px;}
hr { border: 0; border-top: 1px solid #f4f4f4; margin: 0; height: 1px; }
.content-full { padding: 70px 0 0px 0; }
.content, .wrapper-full-page, .full-page { background: #f9f9f9; }

a { color:#f4ac1e; }
a:hover, a:focus { color:#f4ac1e; }
.dark-link { color: #333; }
.dark-link:hover, .dark-link:focus { color: #666; }
.pointer { cursor: pointer;}

.form-control, .form-group .form-control {
  background-image: linear-gradient(#f4ac1e, #f4ac1e), linear-gradient(#D2D2D2, #D2D2D2);
}

.link:hover { cursor: pointer; }

.title { font-size: 24px; font-weight: 300; margin: 0; padding-top: 0; }

.arrow { margin-top: 6px; line-height: 24px; }

.arrow span { font-size: 16px; color: #111; }

.arrow .fa { color: #f4ac1e; font-size: 16px; }

.align-center { text-align: center; }

/* == Margins == */
.mb-0 { margin-bottom: 0 !important; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-50 { margin-top: 50px; }
.mt-100 { margin-top: 100px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }


.avatar { width: 8em !important; height: 8em !important; border-radius: 50%; border: 3px solid #e9e9e9; padding: 3px; margin-bottom: 10px;}

.avatar-null { width: 8em !important; height: 8em !important; border-radius: 50%; border: 3px solid #e9e9e9; padding: 15px; color: #888; background: #eee; margin: 0 auto 10px auto;}

.avatar-null i { font-size: 5em; }

.fla { margin-left: -20px; }

/* Textos - Size and colors
===============================================================*/

.fs-14 { font-size: 14px; }

.fs-16 { font-size: 16px; }

.fs-18 { font-size: 18px; }

.fs-24 { font-size: 24px; }

.fs-30 { font-size: 30px; }

.fs-36 { font-size: 36px; }

.fs-40 { font-size: 40px; }

.fs-60 { font-size: 60px; }

.fc-info { color: #00bcd4; }

.fc-success { color: #4caf50; }

.fc-danger { color: #f44336; }

.fc-trophy { color: #f4ac1e; }

.fw-bold { font-weight: 600; }

.text-muted { font-weight: 400; font-size: 12px;}

.align-center { text-align: center; }

.label-dark-rose { background: #f4ac1e; }

/* Imagens - Largura X Altura
===============================================================*/
.h-160 {  width: 100%;  height: 160px !important;}

/* Cards
===============================================================*/
.logo { margin-top: 0px; width: 90px; }

.no-card { background: transparent; color: #f4ac1e; font-size: 1.2em; padding-top: 25px; }

.no-card-icon::before { font-size: 1.5em !important}

.no-border { border: none !important; }

.card { background: #fff; border-radius: 5px !important; position: relative;}

.card-header { padding: 10px 10px 0 10px !important;}

.card-title {font-size: 16px; font-weight: 600;}

.card-body { padding: 10px;}

.card-body .points { font-size: 28px;  font-weight: 600;  color: #555;}

.card-body .progress { margin-bottom: 10px;}

.card-subtitle {  text-transform: capitalize;}

.avatar-30 { float: left; width: 30px !important;  height: 30px !important; border-radius: 50%;  margin-right: 10px;}

.avatar-40 { float: left; width: 40px !important; height: 40px !important; border-radius: 50%;   margin-right: 10px;}

.avatar-50 { float: left; width: 50px !important; height: 50px !important; border-radius: 50%; }

.avatar-30-null { width: 30px !important; height: 30px !important; border-radius: 50%; border: 1px solid #e9e9e9; padding: 2px; color: #888; background: #eee; float: left; margin-right: 10px;}

.avatar-40-null { width: 40px !important; height: 40px !important; border-radius: 50%; border: 1px solid #e9e9e9; padding: 7px; color: #888; background: #eee; float: left; margin-right: 10px;}

.avatar-50-null { width: 50px !important; height: 50px !important; border-radius: 50%; border: 1px solid #e9e9e9; padding: 7px; color: #888; background: #eee; float: left;}

.avatar-projetos { position: relative; top: 0; left: 50%; width: 100px !important; height: 100px !important; margin-top: -50px; margin-left: -50px; border-radius: 50%; border: 2px solid #e9e9e9; padding: 2px;}

.no-padding { padding: 0;}

.store-feed { position: absolute; right: 15px; top: 10px; font-size: 1.8em; color: #888; }

.feed-title { margin-right: 40px; }

.button-dropdown-feed { position: absolute; right: 10px; top: 15px; font-size: 1.8em; color: #888; }

.button-dropdown { display: inline; font-size: .9em; padding: 5px; margin-left: 10px; }

.button-dropdown .mat-icon.material-icons { vertical-align: bottom; font-size: 20px !important; }

.active-edit { border-bottom: 1px solid #f4ac1e; }

.has-error-empty { padding: 5px 20px; color: #f4ac1e; }

.answer { padding: 11px 0 0 10px; margin-top: 5px; border-top: 1px solid #e9e9e9; }

.btn-ask { display: none; padding: 0 0 0 40px; color: #f4ac1e}

.btn-ask-active { display: block; }

/* Users store
===============================================================*/

.users-store li { display: block; padding: 10px 0; font-size: 14px; font-weight: 600; border-bottom: 1px solid #f0f4f7; }

.users-store li a { color: #f44339; cursor: pointer; }

.users-store li a:hover { color: #dd4b39; }

.users-store  li:last-child { border-bottom: none; }

.users-store .description { color: #aaa; }

/* Users group
===============================================================*/

.users-group li { display: block; padding: 10px 0; font-size: 14px; font-weight: 600; border-bottom: 1px solid #f0f4f7; }

.users-group li a { color: #4caf50; cursor: pointer; }

.users-group li a:hover { color: #00a65a; }

.users-group  li:last-child { border-bottom: none; }

.users-group .description { color: #aaa; }

/* List school
===============================================================*/

.list-school li { display: block; padding: 10px 0; font-size: 12px; font-weight: 400; border-bottom: 1px solid #f0f4f7; text-transform: uppercase; }

.list-school li a { color: #4a4a4a; cursor: pointer; }

.list-school li a:hover { color: #f4ac1e; }

.list-school li:last-child { border-bottom: none; }

.list-school li .fa { margin-right: 10px; color: #f4ac1e; }

.boneca { width: auto; height: 200px; }

/* Dropdown-menu
===============================================================*/
.dropdown-menu .dropdown-header { padding: 2px 8 8px 8px; font-size: 13px; border-bottom: 1px solid #f4f4f4; color: #333;}

.dropdown-menu .dropdown-footer { padding: 8px 0 0 8px; font-size: 13px; border-top: 1px solid #f4f4f4;   color: #333; text-align: center;}

.dropdown-menu .dropdown-footer a { color: #d9534f;}

.dropdown-menu .dropdown-footer a:hover { color: #333;}

.dropdown-menu li a:hover { background-color: #f4ac1e !important;}

/* Nav-tabs e nav-pills
=============================================================================================*/

.nav-pills > li { float: none; display: inline-block; margin-top: 25px;}

.nav-pills > li > a { border-radius: 4px !important;}

.nav-pills > li + li {margin-left: 2px;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color: #fff; background-color: #f4ac1e;}

/* Content
===============================================================*/
.d-flex { display: flex; justify-content: space-between; }

.post input[type=text], .post textarea { width: 85% !important; background-color: transparent; border: 2px solid #f4f4f4; outline: none; font-size: 16px; padding: 5px 20px; margin-left: 10px; resize: none; color: #444; border-radius: 40px;}

.post input[type=button] { width: 90%; background-color: transparent; border: none; outline: none; font-size: 16px; padding: 7px 0; margin-left: 10px; resize: none; color: #c1c1c1; text-align: left; }

.post ::-webkit-input-placeholder { font-size: 16px; color: #c1c1c1;}

.post ::-moz-placeholder { font-size: 16px; color: #c1c1c1;}

.post ::-ms-input-placeholder {font-size: 16px; color: #c1c1c1;}

/* .postagem img { width: 100%; height: auto;} */

.postagem iframe, .postagem video { width: 100%; height: 243px;}

.postagem p { font-size: 14px; margin: 10px 0;}

.postagem span { font-size: 12px; margin-top: 8px;}

.comment input[type=text] { width: 88% !important; background-color: transparent; border: 2px solid #f4f4f4; outline: none; font-size: 16px; padding: 5px 10px; resize: none; color: #444; border-radius: 40px; }

.comment ::-webkit-input-placeholder { font-size: 14px; color: #c1c1c1;}

.comment ::-moz-placeholder { font-size: 14px; color: #c1c1c1;}

.comment ::-ms-input-placeholder { font-size: 14px; color: #c1c1c1;}

.icons-comments { margin: 10px 0; padding: 10px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}

.icons-comments li { display: inline-block; margin-right: 30px; font-size: 14px; }

.icons-comments li:last-child { margin-right: 0; position: absolute; right: 10px; }

.icons-comments li a { color: #4a4a4a; cursor: pointer; }

.icons-comments li a:hover { color: #f4ac1e; }

.icons-comments .fa { font-size: 16px; }


/* modal feeds */

.no-shadow { box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; -moz-transition: none !important; -webkit-transition: none !important; }

.upload { width: 8em !important; height: 8em !important; border: 1px solid #e9e9e9; padding: 3px; margin-bottom: 10px;}

.btn-cameratag { background-color: #eee; color: #444; }


/* Animações
===============================================================*/
.anima-shake:hover { animation: shake 1s;}

.anima-shake a:hover { color: #777;}

@-webkit-keyframes shake {
    from, to { -webkit-transform: translate3d(0, 0, 0);  transform: translate3d(0, 0, 0); }

    10%, 30%, 50%, 70%, 90% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0);}

    20%, 40%, 60%, 80% {-webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);}
}

@keyframes shake {
    from, to {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

    10%, 30%, 50%, 70%, 90% { -webkit-transform: translate3d(-3px, 0, 0); transform: translate3d(-3px, 0, 0); }

    20%, 40%, 60%, 80% { -webkit-transform: translate3d(3px, 0, 0); transform: translate3d(3px, 0, 0);}
}

.shake {-webkit-animation-name: shake; animation-name: shake;}

.curso-card {
    height: 370px;
}

.curso-card .curso-text {
    height: 150px;
}

/* Cortar imagem do feed para mostrar sempre a mesma proporção
===============================================================*/

.img-responsive-feed { display: block; max-width: 100%; height: auto; max-height: 80vh; }

.thumbnailf { display: flex; margin-top: 5px;}

.thumbnailf img { height: 250px; object-fit: cover; outline: 1px solid rgba(0,0,0,.2); outline-offset: -1px;}

.thumbnailf img.portrait { width: 100%; height: auto; }

/* Fullscreen imagem modal
===============================================================*/

.full-screen-dialog .mat-dialog-container { max-width: none; }


/* Texto de apoio do menu lateral a direita
===============================================================*/
.text-suport {
    font-size: .85em;
    vertical-align: middle;
}

/* Errors
=======================================================================*/
.has-error {
    color: #f4ac1e;
  }

  .alert-danger {
    background: #f4ac1e;
  }

/* Girl
=======================================================================*/
.total-girl {
    position: absolute;
    top: 70px;
    right: 50px;
    font-size: 2em;
}

.icons-comments li a.active {
    color: #f4ac1e !important;;
}

/* Mat input
=======================================================================*/
::ng-deep .mat-form-field, ::ng-deep .mat-form-field-infix { width: 100% !important; }

::ng-deep .mat-option:hover, .mat-option.mat-selected { background-color: #f4ac1e !important; }

::ng-deep .mat-focused  .mat-input-placeholder { color: #f4ac1e !important; }

::ng-deep .mat-focused .mat-input-ripple { background-color: #f4ac1e !important; }

::ng-deep .cdk-focused { background: #f4ac1e !important; color: #fff !important; }

::ng-deep .mat-form-field-placeholder { color: #4a4a4a; }

::ng-deep .mat-calendar-content.cdk-focused.cdk-program-focused { background: #fff !important; color: #495e69 }

::ng-deep .mat-calendar-body-selected, .mat-calendar-body-selected:hover { background: #f4ac1e !important; color: #fff }

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle { background: #f4ac1e !important; }

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: #f4ac1e; }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background { background: #f4ac1e !important; }


/* Mat dialog
=======================================================================*/
::ng-deep .mat-dialog-content { max-height: 80vh; }

::ng-deep .mat-dialog-actions { display: flex; justify-content: flex-end; }


/* Boneca
=======================================================================*/

.content-girl { position: relative; }

.percentul-text { position: absolute; transform: translate(-50%, -50%); top: 47%; left: 50%; color: #fff; }

/* fixed navbar
======================================================================*/

.wrapper-content { display: flex; justify-content: center; }

.fixed { position: sticky; top: -20px; }


@media (min-height: 767px) {
    .fixed { position: sticky; top: 70px; }
}

.remove-item { position: relative; border: 1px solid transparent; padding: 10px; margin: 10px 0; }

.btn-remove { position: absolute; left: 50%; width: 60px; height: 35px; margin-left: -30px; margin-top: -17.5px; top: 50%; border-radius: 5px; border: 0; background: #f4ac1e; color: #f4f4f4; display: none; }

.overlay { background: rgba(0, 0, 0, .5); position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: none; }

.remove-item:hover { border: 1px solid #f4ac1e; }

.remove-item:hover .overlay { display: block; z-index: 99998 }

.remove-item:hover .btn-remove { display: block; z-index: 99999 }

/* Chat
===================================================================*/

.em-breve { background: #f4ac1e; color: #fff; padding: 5px; font-size: .9em;}

.container-content { position: relative; display: flex; }

.container-chat { width: 210px; position: sticky; top: 70px; bottom: 0; display: none; }

.wrapper-chat { position: fixed; top: 70px; bottom: 0; right: 0; padding-right: 15px; overflow-x: scroll; width: 210px; }


@media (min-width: 1200px) {
    .container-chat { width: 235px; display: block; }
    .wrapper-chat { width: 235px;  }
}

@media (min-width: 1400px) {
    .container-chat { width: 235px;  }
    .wrapper-chat { width: 235px;  }
}

.header-chat { border-bottom: 1px solid #e9e9e9;}

.header-chat h3 { font-weight: 600; color: #495e69; font-size: 1.2em; margin-left: 5px; }

.merchant-list { padding: 10px 5px; display: flex; justify-content: space-between; }

.prod-name { max-width: 180px;  display: flex; justify-content: flex-start; }

.featured { display: inline-block; margin-left: 5px; border: none; border-radius: 50%; width: 15px; height: 15px; background: #f4ac1e; color: #fff; font-size: 10px; position: relative; vertical-align: middle; padding:0 5px 2px 5px; line-height: 15px; }

.flex-right { text-align: right; display: flex; justify-content: flex-end }

.chat h3 { font-weight: 600; color: #495e69; font-size: 1.2em; margin-left: 5px;}

.chat-list { padding: 15px 5px; display: flex; justify-content: space-between; align-items: center; }

.user-name { max-width: 180px;  display: flex; justify-content: flex-start; }

.timed { color: #aaa; font-size: 11px; margin-right: 5px; }

.chat-list:hover { background: #f1f1f1; cursor: pointer; }

.opened-chat { display: block; position: fixed; right: 255px; background: #f9f9f9; border: 1px solid #e9e9e9; height: 400px; width: 320px; bottom: 0; }

.header-opened {
  width: 100%;
  background: #f4ac1e;
  color: #fff;
  height: 30px;
  padding: 5px;
  font-size: 1.2em;
}


.body-opened { position: relative; width: 100%; height: 380px; }

.input-opened { position: absolute; bottom: 12px; width: 100%;  }

.input-opened > input { border: 0; background: #fff; width: 100%; border-top: 1px solid #e9e9e9; padding: 10px; line-break: 3;}


/* Layout
==========================================================================*/

.col-left { width: 200px; margin-right: 10px; }

.col-center { width: 500px; margin: 0 10px; }

.col-right { width: 248px; margin-left: 10px; }

.col-auto { margin: 0 auto; }

.col-right-big { width: 850px; margin-left: 10px; }

.container-navbar { position: relative; }

@media (min-width: 1201px) {
    .container-navbar { position: relative; margin-left: 10px; max-width: 1010px;  }
}

@media (min-width: 1300px) {

    .col-center { width: 550px; }

    .col-right { width: 258px; }

    .container-navbar { margin-left: 40px; }
}

@media (min-width: 1366px) {

    .col-center { width: 550px; }

    .col-right { width: 258px; }

    .container-navbar { margin-left: 40px; max-width: 1090px;  }
}

@media (min-width: 1400px) {
    .col-right { width: 278px; }

    .container-navbar { left: -110px; margin: 0 auto; max-width: 1140px; }

    .col-right-big { width: 900px; }

    .col-center { width: 600px; }
}


.chat-body { padding: 8px !important; margin: 0 !important; background-color: #f9f9f9 !important;}

.chat-body .item-message {
  position: relative;
  background-color: #f9f9f9 !important;
  display: block;
  margin: 0 !important;
}

.chat-body .item-message {
  margin: 0 !important;
  padding: 0 !important;
}

.chat-body .item-message .item-inner {
  border: none !important;
}

.chat-body .item-message small {
  display: block;
  font-weight: 700;
  color: #fff;
  position: relative;
  bottom: -5px;
  text-align: left;
}

.chat-body .item-message span.right-m small { color: #333 !important; }

.chat-body .item-message span {
  position: relative;
  background-color: #f4ac1e !important;
  border-radius: .4em;
  padding: 10px;
  min-height: 40px;
  display: inline-block;
  margin: 5px 12px;
  color: #fff;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.chat-body .item-message span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  transform: scale(0.25) rotate(45deg);
  border-bottom: solid 30px #f4ac1e;
  border-right: solid 30px #f4ac1e;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
  top: -30px;
  left: -30px;
}

.chat-body .item-message span.right-m {
  text-align: right !important;
  background-color: #fff !important;
  color: #333;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.chat-body .item-message span.right-m  small{
  text-align: right !important;
}

.chat-body .item-message span.right-m:before {
  content: none !important;
}

.chat-body .item-message span.right-m:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  box-shadow: 0 -1px 0.5px rgba(0, 0, 0, 0.13);
  transform: scale(0.25) rotate(45deg);
  border-bottom: solid 30px #fff;
  border-right: solid 30px #fff;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
  top: -30px;
  right: -30px;
}

.chat-body .item-message.right-m .item-inner {
  float: right !important;
}

.chat-body .item-message.right-m small {
  display: block;
  font-weight: 700;
  color: #999;
  position: relative;
  bottom: -5px;
  text-align: right !important;
}

.chat-body .item-message.right-m span {
  position: relative;
  background-color: #fff !important;
  border-radius: .4em;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 40px;
  display: inline-block;
  margin-left: auto;
  margin-right: 12px;
  color: #333 !important;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.chat-body .item-message.right-m span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  transform: scale(0.25) rotate(45deg);
  border-bottom: solid 30px #f27173;
  border-right: solid 30px #f27173;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
  top: -30px;
  left: -30px;
}

.chat-body .item-message.right-m span:before {
  content: none !important;
}

.chat-body .item-message.right-m span:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  box-shadow: 0 -1px 0.5px rgba(0, 0, 0, 0.13);
  transform: scale(0.25) rotate(45deg);
  border-bottom: solid 30px #fff;
  border-right: solid 30px #fff;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
  top: -30px;
  right: -30px;
}

.chat-body .bubbles-left2 {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  transform: scale(0.25) rotate(45deg);
  border-bottom: solid 30px #fff;
  border-right: solid 30px #fff;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
  top: -30px;
  left: -30px;
}


/* Animations */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.20, 1.20, 1.20);
    transform: scale3d(1.20,1.20,1.20);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.20, 1.20, 1.20);
    transform: scale3d(1.20, 1.20, 1.20);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

::ng-deep .modalBanner .mat-dialog-container {
    box-shadow: none !important;
    background: transparent !important;
}

.avatar-chat {
  margin-right: 10px;
}

.avatar-chat img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.like-button a:hover {
  color: #333;
}

.outline-bordered {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.tmp-upload {
  object-fit: cover;
  width: 120px;
  height: 90px;
}

.tmp-file-wrapper:hover .tmp-file-buttons-overlay {
  opacity: 1;
  visibility: visible;
}

.tmp-file-status-overlay {
  position: absolute;
  background: rgba(0,0,0,.7);
  text-align: center;
  z-index: 9999999999;
  color: #fff;
  width: 120px;
  height: 90px;
  padding: 20px;
}

.tmp-file-status-overlay p {
  color: #fff;
}

.tmp-file-buttons-overlay {
  background: rgba(0,0,0,.5);
  width: 120px;
  height: 90px;
  position: absolute;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-out;
}

.tmp-file-remove-button {
  position: absolute;
  right: 0px;
  top: 0;
  color: #fff;
  padding: 0 5px;
}

.tmp-file-content {
  width: 120px;
}

.tmp-upload-video {
  object-fit: contain;
}

.tmp-file-wrapper {
  position: relative;
  min-height: 90px;
}

.preview-wrapper {
  position: relative;
  margin-top: 30px;
}

.preview-image img {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.preview-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.preview-text {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 11px;
  margin-top: -7px;
}

.img-with-outline {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin: -2px;
}

.masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 2px;
  position: relative;
  cursor: pointer;
}

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 250px;
  line-height: 250px;
  background: rgba(0, 0, 0, .3);
}

.play-overlay img {
  width: 80px;
  height: 80px;
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.masonry-brick:nth-child(4n+1) {
  width: 50%;
}
.masonry-brick:nth-child(4n+2) {
  width: 40%;
}
.masonry-brick:nth-child(4n+3) {
  width: 20%;
}
.masonry-brick:nth-child(4n+4) {
  width: 30%;
}


/* Empty View
=================================================================*/


.empty-view {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  line-height: 1;
}

.emblem svg {
  fill: #B2B2B2;
  stroke: #B2B2B2;
}

.view-text {
  font-size: 1.4em;
  text-align: center;
  color: #999;
  margin-top: 16px;
}

.view-text small { font-weight: 300; font-size: 14px; }

.view-img-project {
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  max-width: 613px;
  width: 100%;
}

.video-player {
  height: 100%;
  background: #000;
}

.masonry-brick-full {
  width: 100% !important;
}

