<div class="col-md-12">
  <div class="form-group" [formGroup]="group">
    <label class="control-label">{{ config.label }}</label>
    <input type="password" class="form-control" value="{{ config.value }}" [attr.placeholder]="config.placeholder" [formControlName]="config.name"/>
  </div>
</div>
