
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content">
        <h4 class="mt-0 fw-md">custos? do pedido</h4>
        <div class="row">
          <form [formGroup]="transp">
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <input formControlName="transport" matInput placeholder="Transporte:">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <input formControlName="packing" matInput placeholder="Embalagem:">
              </mat-form-field>  
            </div>
          </form>
          <div class="col-md-4">
            <form [formGroup]="desc">
              <mat-form-field class="w-100">
                <input formControlName="discount" matInput placeholder="DESCONTO PARA ESTE CLIENTE?">
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-12 my-4 text-center">
             <button type="button" (click)="update()" class="btn btn-rose" mat-button>ATUALIZAR</button>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Valor</th>
              <th class="text-center w-15">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>INSUMOS</td>
              <td>R$ {{ custos?.isumos_geral | number : '2.2-2' }}</td>
              <td></td>
            </tr>

            <tr>
              <td>MÃO DE OBRA</td>
              <td>R$ {{ custos?.mao_de_obra_geral | number : '2.2-2' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>TRANSPORTES</td>
              <td>R$ {{ custos?.transporte | number : '2.2-2' }}</td>
              <td class="text-center py-0">
                <ul class="btn-action">
                  <li><a><i class="flaticon-edit-1"></i></a></li>
                  <li><a><i class=" flaticon-close"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>EMBALAGENS</td>
              <td>R$ {{ custos?.embalagem | number : '2.2-2' }}</td>
              <td class="text-center py-0">
               <ul class="btn-action">
                  <li><a><i class="flaticon-edit-1"></i></a></li>
                  <li><a><i class=" flaticon-close"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>DESCONTO PARA CLIENTE</td>
              <td>R$ {{ custos?.desconto | number : '2.2-2' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>VALOR TOTAL DO PEDIDO</td>
              <td>R$ {{ custos?.valor_total_do_pedido_com_desconto | number : '2.2-2' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>LUCRO DA VENDA</td>
              <td>R$ {{ custos?.lucro_geral_da_venda | number : '2.2-2' }}</td>
              <td>
                <!-- 22% do valor total do pedido -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



