<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content">
        <h4 class="mt-0 fw-md">Cálculo do pedido</h4>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Material</th>
                    <th class="text-center">Unidade/medida</th>
                    <th class="text-center">Quantidade a ser comprada</th>
                    <th class="text-center">Valor a ser gasto</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>Material 1</td>
                <td class="text-center">kg</td>
                <td class="text-center">5</td>
                <td class="text-center">R$50,00</td>
              </tr>
              <tr>
                <td>Material 2</td>
                <td class="text-center">kg</td>
                <td class="text-center">5</td>
                <td class="text-center">R$50,00</td>
              </tr>
              <tr>
                <td>Material 3</td>
                <td class="text-center">kg</td>
                <td class="text-center">5</td>
                <td class="text-center">R$50,00</td>
              </tr>
              <tr>
                <td>Material 4</td>
                <td class="text-center">kg</td>
                <td class="text-center">5</td>
                <td class="text-center">R$50,00</td>
              </tr>
              <!--
                <tr *ngFor="let lista of listas">
                    <td>{{ lista.name }}</td>
                    <td>{{ lista.unidade_medida }}</td>
                    <td>{{ lista.quantidade_a_ser_comprada }}</td>
                    <td>R$ {{ lista.valor_a_ser_gasto | number : '2.2-2' }}</td>
                </tr> 
              -->
            </tbody>
        </table>
        <div class="mt-5">
          Custo total de insumos a serem comprados para o pedido: <strong> R$ {{value_total | number : '2.2-2' }}</strong>
        </div>

        <p class="mb-4">Ao gerar o <strong>RESUMO DO PEDIDO</strong>, você poderá compartilhar o mesmo com o seu cliente</p>
        
        <div class="text-right">
          <button (click)="openResumo()" class="btn btn-rose">RESUMO DO PEDIDO</button>
        </div>
       
      </div>
    </div>
  </div>
</div>

