<h3 class="container_vizualized__title">{{ produto[0].name }}</h3>
<div class="materials">    

    <form class="forms" [formGroup]="form" (ngSubmit)="register()">
        <div class="forms_title">
            <h3 class="forms_title__h3">Novo material</h3>
            <p class="forms_title__p">Preencha todos os campos abaixo.</p>
        </div>

        <mat-form-field class="forms__input_box__input__mat">
            <input formControlName="material" matInput placeholder="Material:">
        </mat-form-field>

        <mat-form-field class="forms__input_box__input__mat">
            <input formControlName="unidade" matInput placeholder="Unidade:">
        </mat-form-field>

        <!--mat-form-field class="forms__input_box__input__mat">
            <mat-select formControlName="unidade" placeholder="Unidade:">
                <mat-option [value]="metro">
                    Metro
                </mat-option>
                <mat-option [value]="centimetro">
                    Centimetro
                </mat-option>
            </mat-select>
        </mat-form-field-->
        
        <mat-form-field class="forms__input_box__input__mat__small">
            <input matInput formControlName="qtd_pecas" type="number" value="1" min="0" placeholder="Quant. usada:" #qtdPecas>
        </mat-form-field>

        <mat-form-field class="forms__input_box__input__mat__small">
            <input matInput formControlName="preco_unidade" (change)="change()" placeholder="Preço por unidade:" #precoUn>
        </mat-form-field>

        <mat-form-field class="forms__input_box__input__mat">
            <mat-select formControlName="fornecedor_id" placeholder="Fornecedor (opcional):">
                <mat-option value="0">Sem fornecedor</mat-option>
                <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">
                    {{ fornecedor.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="forms__box">
            <h4 class="forms__box__title">Valor do material</h4>
            <h3 class="forms__box__value">R$ {{total.inter}},{{total.float}}</h3>

            <button class="forms__box__button" mat-raised-button>INSERIR <i class="forms__box__button__i flaticon-right-arrow"></i></button>
        </div>


        <button mat-fab type="button" class="btn_fixed"><i class="btn_fixed__i flaticon-right-arrow"></i></button>
    </form>

    <div class="materials__aside_box">
        <div class="materials__aside_box__title">
            <h3 class="materials__aside_box__title__h3">Materiais</h3>
            <p class="materials__aside_box__title__p">Itens adicionado a este material.</p>
            <mat-form-field class="forms__input_box__input__mat">
                <input #listFilter (keyup)="0" matInput placeholder="Pesquisar material">
                <mat-icon (click)="listFilter.value = ''" matSuffix>{{ listFilter.value == '' ? 'search' : 'close'}}</mat-icon>
            </mat-form-field>
        </div>

        <div class="materials__aside_box__itens" *ngFor="let material of materiais | material:listFilter.value">
            <div class="materials__aside_box__itens__product">
                {{ material.material }}
            </div>
            <div class="materials__aside_box__itens__actions">
                <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-edit-1"></i></button>
                <button (click)="deletar(material.id)" class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-close"></i></button>
            </div>
        </div>

        <div class="materials__aside_box__itens" *ngIf="materiais == []">
            <div class="materials__aside_box__itens__product">
                Não há materiais cadastrados
            </div>
        </div>

    </div>

</div>