
<h2
  class="fw-bold"
  [style.fontSize.px]="item.title.size"
  [style.textAlign]="item.title.align"
  [style.color]="item.title.color">{{ item.title.text }}</h2>

<h3
  class="fw-bold"
  [style.fontSize.px]="item.subtitle.size"
  [style.textAlign]="item.subtitle.align"
  [style.color]="item.subtitle.color">{{ item.subtitle.text }}</h3>

<form [formGroup]="form">
  <fieldset [disabled]="blocked">
    <div class="mt-5" *ngFor="let question of item.questions; index as iQuestion">
      <p><b>{{ question.question }}</b></p>
      <ng-container *ngIf="question.type === 'objetiva'">
        <div *ngFor="let opt of question.options; index as iOpt" class="mb-4">
          <div class="multichoice">
            <label>
              <input [formControlName]="iQuestion" type="radio" name="radio" id="radio-{{iQuestion}}-{{iOpt}}" class="multichoice" [value]="opt.text" />
              <span>
                <div class="marcadores">
                  <div class="pull-left">{{ listMarkerLetter[iOpt] }})</div>
                </div>
                <div class="text">{{ opt.text }}</div>
                <i class="fa fa-check"></i>
              </span>
            </label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="question.type === 'subjetiva'">
        <textarea [formControlName]="iQuestion" class="form-control" rows="4"></textarea>
      </ng-container>
      <ng-container *ngIf="question.type === 'tabela'">
        <table [formArrayName]="iQuestion" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th *ngFor="let col of question.collumns">{{ col.text }}</th>
            </tr>
          </thead>
          <tbody>
            <tr [formArrayName]="iLine" *ngFor="let fCol of form.controls[iQuestion].controls; index as iLine">
              <td style="padding: 0; line-height: 35px;;" *ngFor="let col of question.collumns; index as iCol">
                <input style="padding: 8px; width: 100%; background: #FFF; border: none;" [formControlName]="iCol" type="text" name="radio_{{iQuestion}}_{{iLine}}_{{iCol}}" />
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
    <div class="my-3 text-center" *ngIf="!blocked">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{ 'Save' | translate }}</button>
    </div>
  </fieldset>

  <div class="my-3 text-center" *ngIf="blocked">
    <button type="button" class="btn btn-primary" (click)="goNext()">{{ 'Next' | translate }}</button>
  </div>

</form>