.fw-bold {
  font-weight: 600;
}

.multichoice label { width: 100%; }

.multichoice label span {
  display: block; cursor: pointer; border: 1px solid #ddd; border-radius: 7px; width: 100%; height: 100%; min-height: 100%;
  display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center;  padding: 10px;
}

.multichoice input[type="radio"]:checked + span { border: 1px solid #595959 !important; background: #fcfcfc; }
.multichoice input[type="radio"]:checked + span i { visibility: visible; font-size: 1.5em; margin-left: 10px; transition: 0.5s; float: right; }

.multichoice label span i { visibility: hidden; }

.multichoice .text { width: 100%; }

.marcadores { padding: 10px; font-weight: 600; }
