<div class="row bg-grey">
  <div class="col-md-6 col-xs-6"><h4 class="fw-500">Meus pedidos</h4></div>
  <div class="col-md-6 col-xs-4 text-right mt-4">
    <ul class="menu-top">
      <li><a [routerLink]="['/painel']"><i class="fa fa-close"></i></a></li>
    </ul>   
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Pedido</th>
              <th>Cliente</th>
              <th class="text-center w-15">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of pedidos">
              <td>
                Pedido Nº: {{ pedido.id }}
              </td>
              <td>Cliente: {{ pedido.pedido }}</td>
              <td class="text-center py-0">
                <ul class="btn-action">
                  <li><a (click)="openResumo(pedido.id)"><i class="flaticon-invoice"></i></a></li>
                  <li><a (click)="visualizar(pedido.id)"><i class="flaticon-edit-1"></i></a></li>
                  <li><a (click)="delete(pedido.id)"><i class=" flaticon-close"></i></a></li>
                </ul>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button (click)="novo()" mat-fab class="btn_fixed"><i class="btn_fixed__i flaticon-plus-symbol"></i></button>
    