/*.navbar-precificacao { background: #f6f6f6; border-bottom: solid 1px #e8e8e8; margin-bottom: 0px; display: flex; justify-content: space-around; width: 100%; }

.navbar-precificacao .title { color: #3e4143; font-size: 1.2em; padding: 15px 10px; font-weight: 500; }

.flex { display: flex; justify-content: space-between; width: 100% }

.flex a { color: #3e4143; font-size: 1em; padding: 15px 10px; font-weight: 500; vertical-align: middle; }

.listar-itens { width: 100%; list-style: none; }

.listar-itens .item{ min-height: 70px; background: #fff; padding: 0px 20px; border-bottom: solid 1px #e8e8e8; }

.listar-itens .item .title{ padding: 15px 0px 5px 0px; color: #3e4143; font-size: 1em; font-weight: 500; }

.listar-itens .item .cod{ text-transform: uppercase; color: #97989c; font-size: 0.8em; font-weight: 500; }

.navbar .navbar-nav { margin-left: 20px; }

.navbar .navbar-nav > li > a { color: inherit; padding-top: 25px; padding-bottom: 26px; font-weight: 500; font-size: 1em; color: #80828e; text-transform: inherit; border-radius: 3px; }

.active { border-bottom: solid 1px #4e4e4e; color: #4e4e4e; font-weight: 900; } */