/* Material Design
===============================================================*/
/* Tooltip */
::ng-deep .mat-tooltip {
  background: rgba(233, 30, 99, 0.95) !important; color: #FFFFFF !important;
  font-size: 0.7em !important; font-weight:600; }


/*Tabelas - Tables
===============================================================*/
.table th, .table tr { text-align: center; }
.table tr td .btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 0px;
    margin: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/*Cor de Fundo - Background
===============================================================*/
.bg-rose-light{color: #fff; background-color: #fcf7f8 !important;}

/*Borda - Border
===============================================================*/
.border-rose {border: solid 1px #fcb3c9;}

/*Espaçamento - Padding
===============================================================*/
.pxy-10 { padding: 10px; }
