<!-- NavBar -->
<div class="row my-4">
  <div class="col-md-6">
    <h4 class="fw-500">Tempo de produção</h4>
  </div>
</div>

<div class="row">
  <!-- Coluna Esquerda - Calculadora -->
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="card mt-0">
      <div class="card-content">
        <form #productForm="ngForm">
          <div class="row">
            <div class="col-md-12 mb-4">
              <p><strong>Adicionar novo produto</strong></p>
            </div>

            <div class="col-md-5">
              <div class="form-group form-focus label-floating mt-0">
                <label class="control-label">Nome do Produto</label>
                <input name="name" type="text" class="form-control" [(ngModel)]="product.name">
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group form-focus label-floating mt-0">
                <label class="control-label">Tempo de Produção</label>
                <input name="time" type="text" class="form-control"  [(ngModel)]="product.time">
              </div>
            </div>

            <div class="col-md-2">
              <button type="submit" class="btn btn-xs btn-rose btn-block" [disabled]="!productForm.form" (click)="insert()">Adicionar</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table mt-4">
                  <tr class="bg-gray-light">
                    <th class="w-33 text-left">Produto</th>
                    <th class="w-33 text-center">Tempo de Produção</th>
                    <th class="w-33 text-center">Ações</th>
                  </tr>
                  <tr *ngIf="productArray.length === 0">
                    <td colspan="3">Adicione produtos acima.</td>
                  </tr>
                  <tr *ngFor="let product of productArray; let p = index;">
                    <td class="text-left">{{ product.name }}</td>
                    <td class="text-center">{{ product.time }}</td>
                    <td class="text-center">
                      <button class="btn btn-simple btn-success btn-icon edit" matTooltip="Editar" [matTooltipPosition]="'left'" (click)="update(product)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button class="btn btn-simple btn-danger btn-icon remove" matTooltip="Excluir" [matTooltipPosition]="'left'" (click)="remove(p)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="card mt-0">
      <div class="card-content">
        <div class="row mt-3">
          <div class="col-md-12">
            <p><strong>Tempo de Produção</strong></p>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Tempo Total de Produção:</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark">{{ report.total.hour }}<span class="fs-15">hrs</span> {{ report.total.minutes }}<span class="fs-15">min</span></p>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Quantidade de Produtos:</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark">{{ report.count }} <span class="fs-15">produto(s)</span></p>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Tempo Médio de Produção:</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark">{{ report.media.hour }}<span class="fs-15">hrs</span> {{ report.media.minutes }}<span class="fs-15">min</span></p>
              </div>
            </div>
          </div>

          <div class="col-md-4 my-3">
            <div class="border-rose px-3 py-3 b-radius3">
              <div class="form-group form-focus label-floating mb-4">
                <label class="control-label">Meta de Produção</label>
                <input name="meta" type="text" required class="form-control" [(ngModel)]="goal" (ngModelChange)="calc()">
              </div>
            </div>
          </div>

          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Quantidade de horas que você precisa se dedicar por mês:</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark" *ngIf="goal">{{ report.hours.hour }}<span class="fs-15">hrs</span> {{ report.hours.minutes }}<span class="fs-15">min</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-rose" (click)="save()">Salvar</button>
    </div>

  </div>

  <!-- Coluna Direita - Cenário -->
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="card mt-0">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table">Cenários</th>
            </tr>
            <tr *ngFor="let cenario of dataArray; let i = index;">
              <td class="text-left" [ngClass]="{'cenario-active': cenario === cenarioSelected}">
                <span class="pull-left" (click)="selectCenario(i)">
                  <a class="fake-link">Cenário {{i + 1}} </a> <br />
                  <small class="fs-8 fc-gray-light mt-1 visible-lg">* Salvo em: {{ cenario.updated_at.date | date:"dd/MM/yyyy" }}</small>
                </span>
                <a class="pull-right icon-del ml-4 fake-link" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'" (click)="delete(i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-left" [ngClass]="{'cenario-active': !cenarioSelected}">
                <a class="fake-link" (click)="newCenario()">Novo cenário</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="updateModal" data-backdrop="false">
  <div class="modal-dialog" *ngIf="productSelected">
    <form (ngSubmit)="saveUpdate()" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Atualizar Produtos</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Produto</label>
          <input name="name" type="text" class="form-control" [(ngModel)]="productSelected.name">
        </div>
        <div class="form-group">
          <label class="control-label">Tempo de Produção</label>
          <input name="time" type="text" class="form-control" [(ngModel)]="productSelected.time"  >
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-danger btn-simple" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-simple">Salvar</button>
      </div>
    </form>
  </div>
</div>
