<p class="tool-name">{{ 'Forum' | translate }}</p>

<div class="box-group mt-3">
  <div class="row">
    <div class="col-md-12 mb-3">
      <p class="title-config">{{ 'SelectForum' | translate }}:</p>
      <select name="forum" class="w-100 mb-3 text" [(ngModel)]="item.forum">
        <option [value]="forum.id" *ngFor="let forum of forumArray">{{ forum.pergunta }}</option>
      </select>
    </div>
  </div>
</div>

<div class="divider my-4"></div>

<div class="text-right">
  <button class="btn btn-primary btn-sm" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
</div>
