<div class="text-center mb-4">
  <h1 class="title-question text-center" [ngStyle]="{'font-size.px': item.titleSize}">{{ item.title }}</h1>

  <div class="item-component-image-icon-container" *ngIf="item.url == ''">
    <i class="material-icons">wallpaper</i>
  </div>

  <img style="object-fit: scale-down; max-height: 400px;" *ngIf="item.url != ''" [src]="item.url" />
</div>

<div class="text-center">
    <button
        (click)="goNext()" [ngStyle]="{'color': item.mainButton.color, 'background': item.mainButton.background}"
        id="upload-button" type="button" class="btn btn-primary">{{ item.mainButton.text }}</button>
</div>
