<!-- NavBar -->
<div class="row my-4">
  <div class="col-md-6">
    <h4 class="fw-500">Calculadora Financeira</h4>
  </div>

  <div class="col-md-6 text-right mt-4 hidden">
    <ul class="menu-top">
      <li><a [routerLink]="['/visualizador/gestao/exercicio1']"><i class="fa fa-angle-left"></i> Anterior</a></li>
      <li><a [routerLink]="['/visualizador/gestao/como-resolver-dividas']">Próximo <i class="fa fa-angle-right"></i></a></li>
      <li><a [routerLink]="['/painel/gestao']"><i class="fa fa-close"></i></a></li>
    </ul>
  </div>
</div>

<div class="row">
  <!-- NavBar-Tabs -->
  <div class="col-md-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#tab1" data-toggle="tab">Recebimentos</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">Despesas</a>
      </li>
      <li>
        <a href="#tab3" data-toggle="tab">Total</a>
      </li>
    </ul>
  </div>

  <!-- Coluna Esquerda - Calculadora -->
  <div class="col-md-9">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <div class="card">
          <div class="card-content">
            <form #inputForm="ngForm">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input matInput required placeholder="Data" name="date" [(ngModel)]="input.date" >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input required [(ngModel)]="input.description" name="description" matInput placeholder="Tipo de recebimento">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input required currencyMask [(ngModel)]="input.amount" name="amount" matInput placeholder="Custo médio dos recebimentos">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <button [disabled]="!inputForm.valid" (click)="onInputSubmit(inputForm)" type="submit" class="btn btn-xs btn-rose pull-right">Adicionar</button>
                </div>
              </div>
            </form>
            <table class="table mt-4">
              <tr class="bg-gray-light">
                <th class="w-2 text-left"><div class="ball bg-gray"></div></th>
                <th class="w-15 text-left">Data</th>
                <th class="w-50 text-left">Recebimentos</th>
                <th class="w-15 text-left">Custo Médios</th>
                <th class="w-15 text-center">Ação</th>
              </tr>
              <tr *ngIf="inputArray.length === 0">
                <td class="text-left" colspan="5">Adicione uma data, tipo de recebimento e custo médio...</td>
              </tr>
              <tr *ngFor="let input of inputArray">
                <td class="text-left"><div class="ball bg-green" matTooltip="Recebimentos" [matTooltipPosition]="'right'"></div></td>
                <td class="text-left">{{ input.date }}</td>
                <td class="text-left">{{ input.description }}</td>
                <td class="text-left gray-text">{{ input.amount | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                <td class="text-center">
                  <button (click)="balanceSheetUpdate(input)" [matTooltipPosition]="'left'" class="btn btn-simple btn-success btn-icon edit"matTooltip="Editar">
                    <i class="material-icons">edit</i>
                  </button>
                  <button (click)="balanceSheetRemove(input)" [matTooltipPosition]="'left'" class="btn btn-simple btn-danger btn-icon remove" matTooltip="Excluir">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab2">
        <div class="card">
          <div class="card-content">
            <form #outputForm="ngForm" >
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input matInput required placeholder="Data" name="date" [(ngModel)]="output.date" >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input required [(ngModel)]="output.description" name="description" matInput placeholder="Tipo de Despesas">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="w-100">
                    <input required currencyMask [(ngModel)]="output.amount" name="amount" matInput placeholder="Custo médio das despesas">
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <button [disabled]="!outputForm.valid" (click)="onOutputSubmit(outputForm)" type="submit"
                  class="btn btn-xs btn-rose pull-right">Adicionar</button>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table class="table mt-4">
                <tr class="bg-gray-light">
                  <th class="w-2 text-left"><div class="ball bg-gray"></div></th>
                  <th class="w-15 text-left">Data</th>
                  <th class="w-50 text-left">Despesa</th>
                  <th class="w-15 text-left">Custo Médios</th>
                  <th class="w-15 text-center">Ação</th>
                </tr>
                <tr *ngIf="outputArray.length === 0">
                  <td class="text-left" colspan="5">Adicione uma data, tipo de despesa e custo médio...</td>
                </tr>
                <tr *ngFor="let output of outputArray">
                  <td class="text-left"><div class="ball bg-rose" matTooltip="Despesa" [matTooltipPosition]="'right'"></div></td>
                  <td class="text-left">{{ output.date }}</td>
                  <td class="text-left">{{ output.description }}</td>
                  <td class="text-left gray-text">{{ output.amount | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                  <td class="text-center">
                    <button (click)="balanceSheetUpdate(output)" [matTooltipPosition]="'left'" class="btn btn-simple btn-success btn-icon edit" matTooltip="Editar">
                      <i class="material-icons">edit</i>
                    </button>
                    <button (click)="balanceSheetRemove(output)" [matTooltipPosition]="'left'" class="btn btn-simple btn-danger btn-icon remove" matTooltip="Excluir">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="tab3">
        <div class="card">
          <div class="card-content">
            <div class="table-responsive">
              <table class="table">
                <tr class="bg-gray-light">
                  <th class="w-2 text-left"><div class="ball bg-gray"></div></th>
                  <th class="w-15 text-left">Data</th>
                  <th class="w-60 text-left">Recebimentos / Despesas</th>
                  <th class="w-15 text-left">Custo Médio</th>
                </tr>
                <tr *ngIf="inputArray.length === 0 && outputArray.length === 0">
                  <td class="text-left" colspan="5">Informe pelo menos um recebimento ou desepesa...</td>
                </tr>
                <tr *ngFor="let input of inputArray">
                  <td><div class="ball bg-green" matTooltip="Receita" [matTooltipPosition]="'right'"></div></td>
                  <td class="text-left">{{ input.date }}</td>
                  <td class="text-left">{{ input.description }}</td>
                  <td class="text-left gray-text">{{ input.amount | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                </tr>
                <tr *ngFor="let output of outputArray">
                  <td><div class="ball bg-rose" matTooltip="Despesas" [matTooltipPosition]="'right'"></div></td>
                  <td class="text-left">{{ output.date }}</td>
                  <td class="text-left">{{ output.description }}</td>
                  <td class="text-left gray-text">{{ output.amount | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                </tr>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table">
                <tr class="bg-gray-light">
                  <th class="w-2 text-left"><div class="ball bg-gray"></div></th>
                  <th class="text-left" colspan="2">Totais</th>
                </tr>
                <tr>
                  <td><div class="ball bg-green"></div></td>
                  <td class="w-80 text-left">Total de Entradas</td>
                  <td class="w-15 text-left">{{ total.input | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                </tr>
                <tr>
                  <td><div class="ball bg-rose"></div></td>
                  <td class="w-80 text-left">Total de Saídas</td>
                  <td class="w-15 text-left">{{ total.output | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                </tr>
                <tr>
                  <td>
                    <div class="ball bg-cyan"></div></td>
                  <td class="w-80 text-left">Saldo</td>
                  <td class="w-15 text-left fc-cyan" *ngIf="(total.input - total.output) > 0">{{ total.input - total.output | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                  <td class="w-15 text-left fc-rose" *ngIf="(total.input - total.output) < 0">{{ total.input - total.output | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                  <td class="w-15 text-left" *ngIf="(total.input - total.output) === 0">{{ total.input - total.output | currency:'BRL':'R$':'1.2-2':'pt' }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-rose" (click)="save()">Salvar</button>
      </div>
    </div>
  </div>

  <!-- Coluna Direita - Cenário -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table">Cenários</th>
            </tr>
            <tr *ngFor="let cenario of dataArray; let i = index;">
              <td class="text-left" [ngClass]="{'cenario-active': cenario === cenarioSelected}">
                <span class="pull-left" (click)="selectCenario(i)">
                  <a class="fake-link">Cenário {{i + 1}} </a> <br />
                  <small class="fs-8 fc-gray-light mt-1 visible-lg">* Salvo em: {{ cenario.updated_at.date | date:"dd/MM/yyyy" }}</small>
                </span>
                <a class="pull-right icon-del ml-4 fake-link" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'" (click)="delete(i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-left" [ngClass]="{'cenario-active': !cenarioSelected}">
                <a class="fake-link" (click)="newCenario()">Novo cenário</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal-->
<div class="modal" id="updateModal" data-backdrop="false">
  <div class="modal-dialog">
    <form (ngSubmit)="transactionUpdate()" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Atualizar transação</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Data</label>
          <input required name="date" type="text" class="form-control" [(ngModel)]="transactionSelected.date" >
        </div>
        <div class="form-group">
          <label class="control-label">Descrição</label>
          <input required [(ngModel)]="transactionSelected.description" name="description" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Valor</label>
          <input currencyMask [(ngModel)]="transactionSelected.amount" name="amount" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-danger btn-simple" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-simple" *ngIf="!updateModalSending">Salvar</button>
        <button disabled class="btn btn-primary btn-simple" *ngIf="updateModalSending">Salvando...</button>
      </div>
    </form>
  </div>
</div>
