
.box-letter-desktop{font-size: 1.5em; padding: 32px 0 !important; text-align: center; border: solid 1px #e91e63; font-weight: 900;}
.border-box-input{ border-top: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }

.form-group { margin: 19px 0 0 0; }
.form-group.is-focused.form-focus .form-control {
  background-image: linear-gradient(#d60d47, #d60d47), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.label-floating label.control-label,.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  top: -22px;
  font-size: 1em;
  line-height: 1.42857143; }

.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07142857; }

.form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07142857; }

/* Margens - Margin
===============================================================*/
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }

.mb-15 { margin-bottom: 15px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }

/*Espaçamento - Padding
===============================================================*/
.padding-10{ padding: 10px; }
.pl-0 { padding-left: 0px !important; }
.pr-0 { padding-right: 0px !important; }

/*Cor de Fundo - Background
===============================================================*/
.bg-rose{ color: #fff; background-color: #e91e63 !important; }
.bg-gray-light{ color: #333; background-color: #F9F9F9 !important; }

/*Borda - Border
===============================================================*/
.border{border: solid 1px #ddd;}

/*Arredondamento de Bordas - Border Radius
===============================================================*/
.b-radius1{border-radius: 5px 0 0 5px;}
.b-radius2{border-radius: 0 5px 5px 0px;}
.b-radius3{border-radius: 5px;}

/*Cor de Texto - Color Text
===============================================================*/
.rose-text{ color: #e91e63; }
.blue-text{ color: #126bb5; }
.gray-text{ color: #999999; }
.green-text{ color: #12b6a9; }


/**************** Mobile - CSS ****************/

.box-letter-mobile{ padding: 22px 0; text-align: center; border: solid 1px #e91e63; font-weight: 900; }
.title-mobile{ display: block; font-size: 0.9em; font-weight: bold;}


