<div class="row my-4">
  <div class="col-md-6"><h4 class="fw-500">Vamos definir agora quem é seu cliente</h4></div>
  <div class="col-md-6 text-right mt-4">
    <ul class="menu-top">
      <li><a><i class="fa fa-angle-left"></i> Anterior</a></li>
      <li><a>Próximo <i class="fa fa-angle-right"></i></a></li>
      <li><a [routerLink]="['/painel']"><i class="fa fa-close"></i></a></li>
    </ul>   
  </div>
</div>

<div class="card mt-0">
  <div class="content">
    <form method="#" action="#">
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">1</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Qual é o seu nome?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">2</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Ela trabalha com o quê?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">3</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Qual o seu nível de educação?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">4</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Qual é sua faixa de salário?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">5</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Onde essa pessoa vive?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">6</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Com quem vive?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">7</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Qual é a sua idade?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">8</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">Qual é o seu gênero?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 my-5">
        <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">9</div>
        <div class="col-md-10 border-box-input padding-10 b-radius2">
          <div class="form-group form-focus label-floating">
            <label class="control-label">O que ela gosta de fazer aos finais de semana ou nos seus momentos de lazer?</label>
            <input name="" type="text" class="form-control">
          </div>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-rose">Salvar</button>
  </div>
</div>