
<div class="modal_content">
  <form class="forms" [formGroup]="form" (ngSubmit)="update()">
    <h4 class="mt-0">Cáculo do pedido</h4>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput formControlName="qtd_parts" placeholder="Quantidade de preças:">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput formControlName="price_parts" placeholder="Preço da peça:">
        </mat-form-field>
      </div>
      <div class="col-md-12 mt-5 text-right">
        <button class="btn btn-default" (click)="onNoClick()">Cancelar</button>
        <button class="btn btn-rose">Finalizar</button>
      </div>
    </div>
  </form>
</div>
