
$im: !important;

$bg-client: var(--bg-client, #fff);

$primary-color: var(--primary-color, silver);
$primary-color-hover: var(--primary-color-hover, gray);
$primary-box-shadow: var(--primary-box-shadow, rgba(200,200,200,0.5));

#wrapper {
  display: flex;
  width: 100%;
}

// NAVBAR
.navbar {
  padding: 0 10px;
  background: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  transition: all .3s;
  .navbar-brand {
    margin-left: 60px;
    text-transform: uppercase;
    padding-top: 5px;
  }
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

//  SIDEBAR STYLE

#sidemenu {
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: $bg-client;
  transition: all 0.3s;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42);
  &.active {
    margin-left: -260px;
  }
  .sidemenu-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    margin: 20px 20px 10px;
    padding-bottom: 8px;
    background:$bg-client;
    color: #333;
    border-bottom: 1px solid #f4f4f4;
    .logo {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      background-image: var(--app-logo);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .info {
      margin-top: 10px;
    }
  }
  .sidemenu-body {
    height: 80vh;
    overflow-y: auto;
    ul {
      margin: 0;
      padding: 15px;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 14px 15px 7px;
        margin-bottom: 15px;
        border-radius: 4px;
        color: #333;
        transition: all 0.3s;
        font-size: .9em;
        &:hover {
          background: #f4f4f4;
          color: $primary-color;
        }
        &.active {
          background: $primary-color;
          box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(57, 75, 85, 0.4);
          color: #fff $im;
          .icon {
            color: #fff;
          }
        }
        .icon {
          color: $primary-color;
          float: left;
          margin-right: 10px;
        }
        .text {
          float: left;
          font-size: 1em;
        }
      }
    }
  }
}


// CONTENT STYLE

#content {
  width: calc(100% - 260px);
  padding:  15px 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background: #eee;
  &.active {
    width: 100%;
  }
}

// Notepad

.notepad-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.15em;
  margin-top: 5px;
  a {
    color: $primary-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.notepad {
  margin-top: 15px;
  input[type=text], textarea {
    box-shadow: none;
  }
}

// btn-toggler

.btn-toggler {
  position: absolute;
  z-index: 2;
  width: 45px;
  height: 45px;
  color: $primary-color;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
  border-radius: 50%;
  &:hover {
    color: $primary-color;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.14), 0 7px 15px -5px rgba(57, 75, 85, 0.2);
  }
  &:focus, &.focus {
    color: $primary-color;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.14), 0 7px 15px -5px rgba(57, 75, 85, 0.2);
  }
}

// MEDIAQUERIES

@media (max-width: 767px) {

  #sidemenu {
    margin-left: -260px;
    &.active {
      margin-left: 0;
    }
  }

  #content {
    width: 100%;
    padding: 15px 20px;
    &.active {
      width: 100%;
      .navbar {
        margin-left: 260px;
        transition: all .3s;
      }
    }
  }
}

@media (max-width: 575px) {
  .midia iframe, .midia video, .midia img { width: 100%; height:  180px; }
}

@media (min-width: 576px) and (max-width: 767px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 1200px) { }

@media (min-width: 1600px) {
  .midia iframe, .midia video, .midia img { width: 100%; height: 600px; }
}
