
<div class="loader" *ngIf="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none"
    stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>

<div *ngIf="!loader">
  <div *ngIf="data.length === 0">
    <div class="card" style="margin: 0 auto; max-width: 600px; display: block;">
      <div class="card-content text-center">
        {{ 'NoSteps' | translate }}
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-primary" (click)="back()">{{ 'ComeBack' | translate }}</button>
      </div>
    </div>
  </div>
  <div id="wrapper" *ngIf="data.length > 0">
    <div>
      <app-sidebar-curso-visualizador
      [current]="current"
      [data]="data"
      (event)="getSubEtapaByEvent($event)">
      </app-sidebar-curso-visualizador>
    </div>
    <div id="content">
      <app-navbar-curso
      #cursoNavBar
      (eventNavbar)="eventNavBar($event)"
      [current]="current"
      [data]="data"></app-navbar-curso>

      <app-viewer #cursoViewer [step]="current.id" [id]="id" (eventNavbar)="eventNavBar($event)" [module]="module"></app-viewer>
    </div>
  </div>
</div>
