<input type="file" multiple (change)="UploadImage($event)" />

<button mat-button (click)="onNoClick()">Cancelar</button>

<img *ngFor='let url of urlsImage'  [src]="url" height="200"> <br/>


<video *ngFor='let url of urlsVideo' controls>
    <source [src]="_sanitizer.bypassSecurityTrustResourceUrl(url)" type="video/webm">
    <source [src]="_sanitizer.bypassSecurityTrustResourceUrl(url)" type="video/mp4">
    I'm sorry; your browser doesn't support HTML5 video in WebM with VP8/VP9 or MP4 with H.264.
</video>