.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #e00209;
}

.upload-input {
    visibility: hidden;
}

::ng-deep .mat-dialog-container {
    position: relative;
}

.mat-dialog-actions {
    border-top: 1px solid #eee;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    padding: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #777;
}

.close i {
    font-size: 35px;
}

.select-modal {
    height: 100%;
    width: 100%;
}

.cropped-image {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
}

.cropped-image-horizontal {
    margin: 0 auto;
    display: flex;
}

.align-center {
    text-align: center;
}

.flex { 
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.flex-box {
    display: flex;
    justify-content: space-around;
}

.display-box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.display-box > ::ng-deep .source-image {
    width: 500px;
}

.title {
    font-size: 1.3em;
    color: #43425d;
    font-weight: 500;
    padding-top: 50px;
    box-sizing: border-box;
}

.title-horizontal {    
    font-size: 1.3em;
    color: #43425d;
    font-weight: 500;
    padding-top: 20px;
    box-sizing: border-box;
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.bottom .img-name {
    font-size: 1.1em;
    margin-right: 20px;
}

.bottom-horizontal {
    margin-top: 0;
    padding: 20px 0;
}

.progress-width {
    width: 60%;
}

.progress-width-horizontal {
    width: 40%;
}

.progress {
    width: 100%;
}

.progress-label {
    font-size: .9em;
    text-align: right;
}

.progress.progress-line-primary {
    background: rgba(209, 211, 211, 0.938)
}

.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background: #43425d;
}

.divider {
    height: 79vh;
    width: 1px;
    background: #ccc;
}

.divider-horizontal {
    width: 80%;
    height: 1px;
    background: #ccc;
    margin: 0 auto;
}

.col-flex {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    width: 450px;
    margin-top: -50px;
}

.upload-area {
    background: transparent;
    width: 365px;
    margin: 10px auto;
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    margin-top: calc(50vh - 150px);
}

.upload-area:hover {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.01);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.01);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.01);
    cursor: pointer;
    border-radius: 4px;
}

.big-icon {
    display: block;   
}

.big-icon i {
    font-size: 102px;
}


.noimg {
    display: none;
}

.image-cropper {
    width: 100%;
}