.description {
    margin-top: 20px;
}

.payment-method {
    margin-top: 20px;
}
.payment-data {
    margin-top: 20px;
}

.payment-value {
    font-weight: 700;
    color: gray;
}

.buttons {
    margin-top: 20px;
}

.response {
    background-color: #e9e9e9;
    color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 700;
}

.response.main {
    background-color: #e9e9e9;
    color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 700;
}

p {
    color: gray;
}

.mat-radio-button {
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: 700;
}    

.mat-radio-button .mat-radio-label {
    margin-bottom: 0px !important;
}