<mat-card class="description">
    <div class="row">
        <div *ngIf="checkout.picture" class="col-2 col-xs-2">
            <img class="w-100" [src]="checkout.picture" />
        </div>
        <div class="col-7 col-xs-7">
            <h3 class="text-truncate">{{checkout.product}}</h3>
            <p>{{checkout.description}}</p>
        </div>
        <div class="col-3 col-xs-3 text-right">
            <h3 class="payment-value">{{checkout.value | currency:'BRL':'symbol':'1.2-2':'pt'}}</h3>
        </div>
    </div>
</mat-card>
<mat-card *ngIf="!paid" class="payment-method text-center">
    <div class="col-sm-12">
        <mat-radio-group [(ngModel)]="payment.method" aria-label="Forma de Pagamento">
            <mat-radio-button [value]="1">CARTÃO DE CRÉDITO <i class="fa fa-cc-visa"></i>&nbsp;<i class="fa fa-cc-mastercard"></i>&nbsp;<i class="fa fa-cc-amex"></i> </mat-radio-button>
            <mat-radio-button [value]="2">BOLETO BANCÁRIO</mat-radio-button>
        </mat-radio-group>
    </div>
</mat-card>
<mat-card *ngIf="payment && !paid" class="payment-data">
    <div *ngIf="payment.method == 1" class="row">
        <div class="col-sm-12">
            <mat-form-field class="w-100">
                <input matInput placeholder="Nome do Titular do Cartão" [(ngModel)]="payment.name" required>
            </mat-form-field>
        </div>
        <div class="col-sm-12">
            <mat-form-field class="w-100">
                <input matInput placeholder="Número do Cartão de Crédito" [(ngModel)]="payment.nunCart" mask="0000 0000 0000 0000" [showMaskTyped]="false" required>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <input matInput placeholder="Vencimento" [(ngModel)]="payment.vencimento" mask="00/0000" [dropSpecialCharacters]="false" required>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <input matInput placeholder="CV" [(ngModel)]="payment.cv" mask="0009" required>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="w-100">
                <mat-select placeholder="Parcelas" [(ngModel)]="payment.installments" required>
                    <mat-option [value]="1">Á VISTA</mat-option>
                    <mat-option [value]="2">2 PARCELAS</mat-option>
                    <mat-option [value]="3">3 PARCELAS</mat-option>
                    <mat-option [value]="4">4 PARCELAS</mat-option>
                    <mat-option [value]="5">5 PARCELAS</mat-option>
                    <mat-option [value]="6">6 PARCELAS</mat-option>
                    <mat-option [value]="7">7 PARCELAS</mat-option>
                    <mat-option [value]="8">8 PARCELAS</mat-option>
                    <mat-option [value]="9">9 PARCELAS</mat-option>
                    <mat-option [value]="10">10 PARCELAS</mat-option>
                    <mat-option [value]="11">11 PARCELAS</mat-option>
                    <mat-option [value]="12">12 PARCELAS</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="payment.method == 2" class="row">
        <div class="col-sm-12">
            <mat-form-field class="w-100">
                <input matInput placeholder="Nome" [(ngModel)]="payment.Name" required>
            </mat-form-field>
        </div>
        <div class="col-sm-7">
            <mat-form-field class="w-100">
                <input matInput placeholder="Endereço" [(ngModel)]="payment.Street" required>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="w-100">
                <input matInput placeholder="Número" [(ngModel)]="payment.Number" required>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="w-100">
                <input matInput placeholder="Complemento" [(ngModel)]="payment.Complement" required>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="w-100">
                <input matInput placeholder="UF" mask="AA" [(ngModel)]="payment.State" required>
            </mat-form-field>
        </div>
        <div class="col-sm-7">
            <mat-form-field class="w-100">
                <input matInput placeholder="Cidade" [(ngModel)]="payment.City" required>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="w-100">
                <input matInput placeholder="CEP" mask="00.000-000" [(ngModel)]="payment.ZipCode" required>
            </mat-form-field>
        </div>
    </div>
</mat-card>
<mat-card *ngIf="paid" class="payment-method text-center">
    <div class="col-sm-12">
        <div *ngIf="payment.method == 1" class="row">
            <div class="col-sm-3">
                <i class="fa fa-5x" [class.fa-ban]="response?.Payment?.Status != 1" [class.fa-info-circle]="response?.Payment?.Status == 1"></i>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="response main col-sm-12">{{response?.Payment?.ReturnMessage}}</div>
                    <div class="response col-sm-6">{{response?.Payment?.Tid}}</div>
                    <div class="response col-sm-6">{{response?.Payment?.AuthorizationCode}}</div>
                    <div class="response col-sm-12">{{response?.Payment?.PaymentId}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="payment.method == 1" class="row">
            <div class="col-sm-3">
                <i class="fa fa-5x" [class.fa-ban]="response?.Payment?.Status != 1" [class.fa-info-circle]="response?.Payment?.Status == 1"></i>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="response main col-sm-12">{{response?.Payment?.ReturnMessage}}</div>
                    <div class="response col-sm-6">{{response?.Payment?.Tid}}</div>
                    <div class="response col-sm-6">{{response?.Payment?.AuthorizationCode}}</div>
                    <div class="response col-sm-12">{{response?.Payment?.PaymentId}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="payment.method == 2" class="row">
            <div class="col-sm-3">
                <i class="fa fa-5x" [class.fa-ban]="response?.Payment?.Status != 1" [class.fa-info-circle]="response?.Payment?.Status == 1"></i>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="response main col-sm-12">{{response?.Payment?.DigitableLine}}</div>
                    <div class="response col-sm-6">{{response?.Payment?.BoletoNumber}}</div>
                    <div class="response col-sm-6">{{response?.Payment?.Identification}}</div>
                    <div class="response col-sm-12">
                        <a target="_blank" [href]="response?.Payment?.Url">Visualizar Boleto!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<div class="buttons text-center">
    <!-- <button *ngIf="!paid" [disabled]="loading" (click)="proceedCheckout()" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart" [class.fa-spinner]="loading" [class.fa-spin]="loading" [class.fa-shopping-cart]="!loading"></i> Prosseguir</button>
    <button *ngIf="paid && error" (click)="paid = false" class="btn btn-danger btn-lg"><i class="fa fa-mail-reply"></i> Tentar Novamente</button> -->
    <!-- <button *ngIf="paid && !error" (click)="dialogRef.close()" class="btn btn-success btn-lg"><i class="fa fa-thumbs-up"></i> Obrigado!</button> -->
</div>
