
<form class="form-custom">

  <p class="tool-name">{{'Title' | translate }}</p>
  <div class="wrapper-input">
    <input name="title" type="text" class="w-100 px-2" placeholder="{{'EnterTitle' | translate }}" [(ngModel)]="item.title.text">
  </div>
  <div class="wrapper-input">
    <p class="w-30 pull-left">{{'Animation' | translate }}</p>
    <select class="w-70 pull-right" name="title_animation" [(ngModel)]="item.title_animation">
      <optgroup label="Sem animação">
        <option value="">{{'NoAnimation' | translate }}</option>
      </optgroup>
      <optgroup label="Attention Seekers">
        <option value="bounce">bounce</option>
        <option value="flash">flash</option>
        <option value="pulse">pulse</option>
        <option value="rubberBand">rubberBand</option>
        <option value="shake">shake</option>
        <option value="swing">swing</option>
        <option value="tada">tada</option>
        <option value="wobble">wobble</option>
        <option value="jello">jello</option>
      </optgroup>

      <optgroup label="Bouncing Entrances">
        <option value="bounceIn">bounceIn</option>
        <option value="bounceInDown">bounceInDown</option>
        <option value="bounceInLeft">bounceInLeft</option>
        <option value="bounceInRight">bounceInRight</option>
        <option value="bounceInUp">bounceInUp</option>
      </optgroup>

      <optgroup label="Bouncing Exits">
        <option value="bounceOut">bounceOut</option>
        <option value="bounceOutDown">bounceOutDown</option>
        <option value="bounceOutLeft">bounceOutLeft</option>
        <option value="bounceOutRight">bounceOutRight</option>
        <option value="bounceOutUp">bounceOutUp</option>
      </optgroup>

      <optgroup label="Fading Entrances">
        <option value="fadeIn">fadeIn</option>
        <option value="fadeInDown">fadeInDown</option>
        <option value="fadeInDownBig">fadeInDownBig</option>
        <option value="fadeInLeft">fadeInLeft</option>
        <option value="fadeInLeftBig">fadeInLeftBig</option>
        <option value="fadeInRight">fadeInRight</option>
        <option value="fadeInRightBig">fadeInRightBig</option>
        <option value="fadeInUp">fadeInUp</option>
        <option value="fadeInUpBig">fadeInUpBig</option>
      </optgroup>

      <optgroup label="Fading Exits">
        <option value="fadeOut">fadeOut</option>
        <option value="fadeOutDown">fadeOutDown</option>
        <option value="fadeOutDownBig">fadeOutDownBig</option>
        <option value="fadeOutLeft">fadeOutLeft</option>
        <option value="fadeOutLeftBig">fadeOutLeftBig</option>
        <option value="fadeOutRight">fadeOutRight</option>
        <option value="fadeOutRightBig">fadeOutRightBig</option>
        <option value="fadeOutUp">fadeOutUp</option>
        <option value="fadeOutUpBig">fadeOutUpBig</option>
      </optgroup>

      <optgroup label="Flippers">
        <option value="flip">flip</option>
        <option value="flipInX">flipInX</option>
        <option value="flipInY">flipInY</option>
        <option value="flipOutX">flipOutX</option>
        <option value="flipOutY">flipOutY</option>
      </optgroup>

      <optgroup label="Lightspeed">
        <option value="lightSpeedIn">lightSpeedIn</option>
        <option value="lightSpeedOut">lightSpeedOut</option>
      </optgroup>

      <optgroup label="Rotating Entrances">
        <option value="rotateIn">rotateIn</option>
        <option value="rotateInDownLeft">rotateInDownLeft</option>
        <option value="rotateInDownRight">rotateInDownRight</option>
        <option value="rotateInUpLeft">rotateInUpLeft</option>
        <option value="rotateInUpRight">rotateInUpRight</option>
      </optgroup>

      <optgroup label="Rotating Exits">
        <option value="rotateOut">rotateOut</option>
        <option value="rotateOutDownLeft">rotateOutDownLeft</option>
        <option value="rotateOutDownRight">rotateOutDownRight</option>
        <option value="rotateOutUpLeft">rotateOutUpLeft</option>
        <option value="rotateOutUpRight">rotateOutUpRight</option>
      </optgroup>

      <optgroup label="Sliding Entrances">
        <option value="slideInUp">slideInUp</option>
        <option value="slideInDown">slideInDown</option>
        <option value="slideInLeft">slideInLeft</option>
        <option value="slideInRight">slideInRight</option>

      </optgroup>
      <optgroup label="Sliding Exits">
        <option value="slideOutUp">slideOutUp</option>
        <option value="slideOutDown">slideOutDown</option>
        <option value="slideOutLeft">slideOutLeft</option>
        <option value="slideOutRight">slideOutRight</option>

      </optgroup>

      <optgroup label="Zoom Entrances">
        <option value="zoomIn">zoomIn</option>
        <option value="zoomInDown">zoomInDown</option>
        <option value="zoomInLeft">zoomInLeft</option>
        <option value="zoomInRight">zoomInRight</option>
        <option value="zoomInUp">zoomInUp</option>
      </optgroup>

      <optgroup label="Zoom Exits">
        <option value="zoomOut">zoomOut</option>
        <option value="zoomOutDown">zoomOutDown</option>
        <option value="zoomOutLeft">zoomOutLeft</option>
        <option value="zoomOutRight">zoomOutRight</option>
        <option value="zoomOutUp">zoomOutUp</option>
      </optgroup>

      <optgroup label="Specials">
        <option value="hinge">hinge</option>
        <option value="jackInTheBox">jackInTheBox</option>
        <option value="rollIn">rollIn</option>
        <option value="rollOut">rollOut</option>
      </optgroup>
    </select>
  </div>
  <div class="wrapper-input">
    <div class="pull-left mt-2">{{'Alignment' | translate }}</div>
    <div class="pull-right mt--7">
      <button
      (click)="setAlign(item.title, 'left')" [class.btn-primary]="item.title.align == 'left'"
      type="button" class="btn btn-custom btn-xs btn-default">
      <i class="material-icons">format_align_left</i>
    </button>
    <button
    (click)="setAlign(item.title, 'center')" [class.btn-primary]="item.title.align == 'center'"
    type="button" class="btn btn-custom btn-xs btn-default">
    <i class="material-icons">format_align_center</i>
  </button>
  <button
  (click)="setAlign(item.title, 'right')" [class.btn-primary]="item.title.align == 'right'"
  type="button" class="btn btn-custom btn-xs btn-default">
  <i class="material-icons">format_align_right</i>
</button>
</div>
<div class="row">
  <div class="col-md-12">
    <p style="margin-bottom: 34px;">{{'Size' | translate }}</p>
    <div>
      <!-- <nouislider name="title_size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.title.size" [tooltips]="true" class="slider"></nouislider> -->
    </div>
  </div>
</div>

</div>

<hr />

<!-- Texto -->
<p class="tool-name">{{'Text' | translate }}</p>
<textarea rows="4" name="text" class="w-100 mb-3 px-2" placeholder="{{ 'EnterText' | translate }}"  [(ngModel)]="item.text.text"></textarea>
<div class="wrapper-input">
    <p class="w-30 pull-left">{{'Animation' | translate }}</p>
    <select class="w-70 pull-right" name="text_animation" [(ngModel)]="item.text_animation">
      <optgroup label="Sem animação">
        <option value="">{{'NoAnimation' | translate }}</option>
      </optgroup>
      <optgroup label="Attention Seekers">
        <option value="bounce">bounce</option>
        <option value="flash">flash</option>
        <option value="pulse">pulse</option>
        <option value="rubberBand">rubberBand</option>
        <option value="shake">shake</option>
        <option value="swing">swing</option>
        <option value="tada">tada</option>
        <option value="wobble">wobble</option>
        <option value="jello">jello</option>
      </optgroup>

      <optgroup label="Bouncing Entrances">
        <option value="bounceIn">bounceIn</option>
        <option value="bounceInDown">bounceInDown</option>
        <option value="bounceInLeft">bounceInLeft</option>
        <option value="bounceInRight">bounceInRight</option>
        <option value="bounceInUp">bounceInUp</option>
      </optgroup>

      <optgroup label="Bouncing Exits">
        <option value="bounceOut">bounceOut</option>
        <option value="bounceOutDown">bounceOutDown</option>
        <option value="bounceOutLeft">bounceOutLeft</option>
        <option value="bounceOutRight">bounceOutRight</option>
        <option value="bounceOutUp">bounceOutUp</option>
      </optgroup>

      <optgroup label="Fading Entrances">
        <option value="fadeIn">fadeIn</option>
        <option value="fadeInDown">fadeInDown</option>
        <option value="fadeInDownBig">fadeInDownBig</option>
        <option value="fadeInLeft">fadeInLeft</option>
        <option value="fadeInLeftBig">fadeInLeftBig</option>
        <option value="fadeInRight">fadeInRight</option>
        <option value="fadeInRightBig">fadeInRightBig</option>
        <option value="fadeInUp">fadeInUp</option>
        <option value="fadeInUpBig">fadeInUpBig</option>
      </optgroup>

      <optgroup label="Fading Exits">
        <option value="fadeOut">fadeOut</option>
        <option value="fadeOutDown">fadeOutDown</option>
        <option value="fadeOutDownBig">fadeOutDownBig</option>
        <option value="fadeOutLeft">fadeOutLeft</option>
        <option value="fadeOutLeftBig">fadeOutLeftBig</option>
        <option value="fadeOutRight">fadeOutRight</option>
        <option value="fadeOutRightBig">fadeOutRightBig</option>
        <option value="fadeOutUp">fadeOutUp</option>
        <option value="fadeOutUpBig">fadeOutUpBig</option>
      </optgroup>

      <optgroup label="Flippers">
        <option value="flip">flip</option>
        <option value="flipInX">flipInX</option>
        <option value="flipInY">flipInY</option>
        <option value="flipOutX">flipOutX</option>
        <option value="flipOutY">flipOutY</option>
      </optgroup>

      <optgroup label="Lightspeed">
        <option value="lightSpeedIn">lightSpeedIn</option>
        <option value="lightSpeedOut">lightSpeedOut</option>
      </optgroup>

      <optgroup label="Rotating Entrances">
        <option value="rotateIn">rotateIn</option>
        <option value="rotateInDownLeft">rotateInDownLeft</option>
        <option value="rotateInDownRight">rotateInDownRight</option>
        <option value="rotateInUpLeft">rotateInUpLeft</option>
        <option value="rotateInUpRight">rotateInUpRight</option>
      </optgroup>

      <optgroup label="Rotating Exits">
        <option value="rotateOut">rotateOut</option>
        <option value="rotateOutDownLeft">rotateOutDownLeft</option>
        <option value="rotateOutDownRight">rotateOutDownRight</option>
        <option value="rotateOutUpLeft">rotateOutUpLeft</option>
        <option value="rotateOutUpRight">rotateOutUpRight</option>
      </optgroup>

      <optgroup label="Sliding Entrances">
        <option value="slideInUp">slideInUp</option>
        <option value="slideInDown">slideInDown</option>
        <option value="slideInLeft">slideInLeft</option>
        <option value="slideInRight">slideInRight</option>

      </optgroup>
      <optgroup label="Sliding Exits">
        <option value="slideOutUp">slideOutUp</option>
        <option value="slideOutDown">slideOutDown</option>
        <option value="slideOutLeft">slideOutLeft</option>
        <option value="slideOutRight">slideOutRight</option>

      </optgroup>

      <optgroup label="Zoom Entrances">
        <option value="zoomIn">zoomIn</option>
        <option value="zoomInDown">zoomInDown</option>
        <option value="zoomInLeft">zoomInLeft</option>
        <option value="zoomInRight">zoomInRight</option>
        <option value="zoomInUp">zoomInUp</option>
      </optgroup>

      <optgroup label="Zoom Exits">
        <option value="zoomOut">zoomOut</option>
        <option value="zoomOutDown">zoomOutDown</option>
        <option value="zoomOutLeft">zoomOutLeft</option>
        <option value="zoomOutRight">zoomOutRight</option>
        <option value="zoomOutUp">zoomOutUp</option>
      </optgroup>

      <optgroup label="Specials">
        <option value="hinge">hinge</option>
        <option value="jackInTheBox">jackInTheBox</option>
        <option value="rollIn">rollIn</option>
        <option value="rollOut">rollOut</option>
      </optgroup>
    </select>
  </div>
<div class="wrapper-input">
  <div class="pull-left mt-2">{{'Alignment' | translate }}</div>
  <div class="pull-right mt--7">
    <button
    (click)="setAlign(item.text, 'left')" [class.btn-primary]="item.text.align == 'left'"
    type="button" class="btn btn-custom btn-xs btn-default">
    <i class="material-icons">format_align_left</i>
  </button>
  <button
  (click)="setAlign(item.text, 'center')" [class.btn-primary]="item.text.align == 'center'"
  type="button" class="btn btn-custom btn-xs btn-default">
  <i class="material-icons">format_align_center</i>
</button>
<button
(click)="setAlign(item.text, 'right')" [class.btn-primary]="item.text.align == 'right'"
type="button" class="btn btn-custom btn-xs btn-default">
<i class="material-icons">format_align_right</i>
</button>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <p style="margin-bottom: 34px;">{{'Size' | translate }}</p>
    <div>
      <!-- <nouislider name="text_size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.text.size" [tooltips]="true" class="slider"></nouislider> -->
    </div>
  </div>
</div>

<hr />

<!-- Texto do botão -->
<p class="tool-name">{{'Button' | translate }}</p>
<div class="wrapper-input">
  <input [(ngModel)]="item.button" name="button" type="text" class="w-100 mb-4 px-2" placeholder="{{ 'EnterButtonText' | translate }}">
</div>

<hr />

<p class="tool-name">{{'Background' | translate }}</p>
<div class="wrapper-input">
  <input
  type="text"
  name="background"
  [(colorPicker)]="item.background"
  [style.background]="item.background"
  [style.color]="item.textColor"
  [(ngModel)]="item.background"
  cpPosition="bottom" class="w-100 px-2" />
</div>

<hr />

<p class="tool-name">{{'TextColor' | translate }}</p>
<div class="wrapper-input">
  <input
  name="textColor"
  [(colorPicker)]="item.textColor"
  [style.background]="item.background"
  [style.color]="item.textColor"
  [(ngModel)]="item.textColor"
  cpPosition="bottom" class="w-100 px-2" />
</div>

<hr />

<p class="tool-name">{{'Icon' | translate }}</p>
<div class="wrapper-input">
    <p class="w-30 pull-left">{{'Animation' | translate }}</p>
    <select class="w-70 pull-right" name="icon_animation" [(ngModel)]="item.icon_animation">
      <optgroup label="Sem animação">
        <option value="">{{'NoAnimation' | translate }}</option>
      </optgroup>
      <optgroup label="Attention Seekers">
        <option value="bounce">bounce</option>
        <option value="flash">flash</option>
        <option value="pulse">pulse</option>
        <option value="rubberBand">rubberBand</option>
        <option value="shake">shake</option>
        <option value="swing">swing</option>
        <option value="tada">tada</option>
        <option value="wobble">wobble</option>
        <option value="jello">jello</option>
      </optgroup>

      <optgroup label="Bouncing Entrances">
        <option value="bounceIn">bounceIn</option>
        <option value="bounceInDown">bounceInDown</option>
        <option value="bounceInLeft">bounceInLeft</option>
        <option value="bounceInRight">bounceInRight</option>
        <option value="bounceInUp">bounceInUp</option>
      </optgroup>

      <optgroup label="Bouncing Exits">
        <option value="bounceOut">bounceOut</option>
        <option value="bounceOutDown">bounceOutDown</option>
        <option value="bounceOutLeft">bounceOutLeft</option>
        <option value="bounceOutRight">bounceOutRight</option>
        <option value="bounceOutUp">bounceOutUp</option>
      </optgroup>

      <optgroup label="Fading Entrances">
        <option value="fadeIn">fadeIn</option>
        <option value="fadeInDown">fadeInDown</option>
        <option value="fadeInDownBig">fadeInDownBig</option>
        <option value="fadeInLeft">fadeInLeft</option>
        <option value="fadeInLeftBig">fadeInLeftBig</option>
        <option value="fadeInRight">fadeInRight</option>
        <option value="fadeInRightBig">fadeInRightBig</option>
        <option value="fadeInUp">fadeInUp</option>
        <option value="fadeInUpBig">fadeInUpBig</option>
      </optgroup>

      <optgroup label="Fading Exits">
        <option value="fadeOut">fadeOut</option>
        <option value="fadeOutDown">fadeOutDown</option>
        <option value="fadeOutDownBig">fadeOutDownBig</option>
        <option value="fadeOutLeft">fadeOutLeft</option>
        <option value="fadeOutLeftBig">fadeOutLeftBig</option>
        <option value="fadeOutRight">fadeOutRight</option>
        <option value="fadeOutRightBig">fadeOutRightBig</option>
        <option value="fadeOutUp">fadeOutUp</option>
        <option value="fadeOutUpBig">fadeOutUpBig</option>
      </optgroup>

      <optgroup label="Flippers">
        <option value="flip">flip</option>
        <option value="flipInX">flipInX</option>
        <option value="flipInY">flipInY</option>
        <option value="flipOutX">flipOutX</option>
        <option value="flipOutY">flipOutY</option>
      </optgroup>

      <optgroup label="Lightspeed">
        <option value="lightSpeedIn">lightSpeedIn</option>
        <option value="lightSpeedOut">lightSpeedOut</option>
      </optgroup>

      <optgroup label="Rotating Entrances">
        <option value="rotateIn">rotateIn</option>
        <option value="rotateInDownLeft">rotateInDownLeft</option>
        <option value="rotateInDownRight">rotateInDownRight</option>
        <option value="rotateInUpLeft">rotateInUpLeft</option>
        <option value="rotateInUpRight">rotateInUpRight</option>
      </optgroup>

      <optgroup label="Rotating Exits">
        <option value="rotateOut">rotateOut</option>
        <option value="rotateOutDownLeft">rotateOutDownLeft</option>
        <option value="rotateOutDownRight">rotateOutDownRight</option>
        <option value="rotateOutUpLeft">rotateOutUpLeft</option>
        <option value="rotateOutUpRight">rotateOutUpRight</option>
      </optgroup>

      <optgroup label="Sliding Entrances">
        <option value="slideInUp">slideInUp</option>
        <option value="slideInDown">slideInDown</option>
        <option value="slideInLeft">slideInLeft</option>
        <option value="slideInRight">slideInRight</option>

      </optgroup>
      <optgroup label="Sliding Exits">
        <option value="slideOutUp">slideOutUp</option>
        <option value="slideOutDown">slideOutDown</option>
        <option value="slideOutLeft">slideOutLeft</option>
        <option value="slideOutRight">slideOutRight</option>

      </optgroup>

      <optgroup label="Zoom Entrances">
        <option value="zoomIn">zoomIn</option>
        <option value="zoomInDown">zoomInDown</option>
        <option value="zoomInLeft">zoomInLeft</option>
        <option value="zoomInRight">zoomInRight</option>
        <option value="zoomInUp">zoomInUp</option>
      </optgroup>

      <optgroup label="Zoom Exits">
        <option value="zoomOut">zoomOut</option>
        <option value="zoomOutDown">zoomOutDown</option>
        <option value="zoomOutLeft">zoomOutLeft</option>
        <option value="zoomOutRight">zoomOutRight</option>
        <option value="zoomOutUp">zoomOutUp</option>
      </optgroup>

      <optgroup label="Specials">
        <option value="hinge">hinge</option>
        <option value="jackInTheBox">jackInTheBox</option>
        <option value="rollIn">rollIn</option>
        <option value="rollOut">rollOut</option>
      </optgroup>
    </select>
  </div>

  <p class="tool-name">{{ 'ButtonIconColor' | translate }}</p>
  <div class="wrapper-input">
    <input
    name="featureColor"
    [(colorPicker)]="item.featureColor"
    [style.color]="item.featureColor"
    [(ngModel)]="item.featureColor"
    cpPosition="top" class="w-100 px-2" />
  </div>

<hr />

<button class="btn btn-primary" type="button" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>

</form>
