
/* RESETS OF ALL NAVS */
.navbar { border: none; border-radius: 0; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); transition: background 0.5s ease-in-out; padding: 0; margin-bottom: 0; }

.navbar-brand { margin-top: -12px; padding: 24px 0 10px; }

.navbar .avatar { width: 30px; height: 30px; border-radius: 50%; margin-top: 5px; }

.navbar .no-avatar { width: 30px; height: 30px; border-radius: 50%; color: #888; background: #eee; padding: 4px 3px; margin-top: -5px;  }

.navbar .no-avatar i { font-size: 2em; }

.nav > li > a > img { margin-top: -5px; }

.nav > li > a > i { font-size: 20px; }

.navbar .toggle i { float: left; margin: 20px 40px 15px 7px; font-size: 21px; }

.navbar-brand img { width: auto; height: 35px !important; }

.navbar-nav > li > a { padding-top: 20px; padding-bottom: 10px; background: transparent; }

.navbar-right { margin-right: 5px; }

.dropdown label {position: relative; top: -12px; left: -10px; min-width: 15px; height: 15px; text-align: center; line-height: 15px; font-size: 0.7em; color: #fff; font-weight: bolder; border-radius: 3px; background: #f30; padding: 0 2px; }

.dropdown-menu { border: none; padding: 0 !important; margin: 0 !important; min-width: 315px; border-radius: none; box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); }

.dropdown-menu > li > a { padding: 10px !important; margin: 0 !important; font-size: 1.2em; }

.dropdown-menu > li > a:hover { background: #f9f9f9; box-shadow: none; color: #000; }

.dropdown-menu > li > a > i { margin: 5px 20px 5px 5px; font-size: 20px; }

.dropdown-menu-header { padding: 15px; }

.dropdown-menu-header .avatar { float: left; width: 40px; height: 40px; margin-right: 15px; border-radius: 50%; border: 2px solid rgba(255,255,255,0.7); padding: 1px; }

.dropdown-menu-header .flag { float: left; width: 40px; height: 40px; margin-top: 5px; margin-right: 15px; border-radius: 50%; border: 2px solid rgba(255,255,255,0.7); padding: 1px; }

.dropdown-menu .mini-flag { float: left; width: 25px; height: 25px; margin: 0 15px 0 12px; border-radius: 50%; border: 2px solid rgba(0,0,0,0.3); padding: 1px; }


.dropdown-menu-header .no-avatar { float: left; width: 40px; height: 40px; border-radius: 50%; color: #888; background: #eee; padding: 4px 6px; margin-top: 5px; margin-right: 10px;  }

.dropdown-menu-header .no-avatar i { font-size: 2em; }

.dropdown-menu-header .name{ font-size: 16px; font-weight: 600; text-transform: capitalize; margin-top: 5px; }

.dropdown-menu-header .email { font-size: 0.76em; }

.dropdown-menu-header .lang { font-size: 0.9em; }

.dropdown-menu-header .language{ font-size: 16px; font-weight: 600; margin-top: 5px; }

.dropdown-menu-header p { margin: 0; }

.dropdown-menu-footer { background: #f7f7f7; padding: 5px 10px; text-align: center; }

.login input[type=email], .login input[type=password]{ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background: #fff; border:1px solid #e9e9e9; padding: 15px 10px; width:200px; }

.msg { padding: 7px 10px; overflow: auto; background: #edf2fa }

.msg:hover { background: #EDEFF2; cursor: pointer; }

.msg.vizualized { background: #fff}

.msg p { float: left; width: 75%; font-size: 1em; font-weight: 600; }

.msg span { width: 25%; text-align: right;}

.msg .progress { float: left; width: 85%;  height: 5px; margin-top: 15px;  }

.msg .percent { float: left; width: 12%; font-size: 11px; margin-top: 6px; text-align: right; font-weight: bold; }

.btn { border-radius: 3px; text-transform: uppercase; font-weight: 600; letter-spacing: 0; margin: 0; }

.btn-micro { width: auto; font-size: 0.7em; padding: 2px 5px; }

.all { color: #414141; }

.all:hover { color: #f4ac1e !important; background: transparent !important; box-shadow: none  !important; }


/* STYLE NAV-HOME */
.nav-smart .navbar { background: #1f2123 !important; }
.nav-smart .nav > li > a > i { color: #fff !important; }
.nav-smart .nav > li > a > img { width: auto; height: 23px; }
.nav-smart .toggle i { color: #fff; }
.nav-smart .dropdown-menu-header { background: #1f2123 !important; color: #fff; }
