<div class="nav-smart">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="sidemenuCollapse" class="toggle">
          <i class="fa fa-bars"></i>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/logo.png" alt=""></a>
      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">

          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-globe"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-menu-header">
                  <img src="assets/img/br.png" class="flag" alt="">
                  <img src="assets/img/en.png" class="flag" alt="">
                  <img src="assets/img/br.png" class="flag" alt="">
                  <p class="language fletter">{{ 'SelectedLanguage' | translate }}</p>
                  <p class="lang">{{ 'Portuguese' | translate }}</p>
                </div>
              </li>
              <li><a><img src="assets/img/es.png" class="mini-flag" alt="">{{ 'Spanish' | translate }}</a></li>
              <li><a><img src="assets/img/en.png" class="mini-flag" alt="">{{ 'English' | translate }}</a></li>
              <li><a><img src="assets/img/br.png" class="mini-flag" alt="">{{ 'Portuguese' | translate }}</a></li>
            </ul>
          </li> -->
          <!-- <li><a [routerLink]="['/dashboard']"><i class="fa fa-cogs"></i></a></li> -->
          <li><a [routerLink]="['/helpdesk']"><img src="assets/img/helpdesk.png" alt=""></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell-o"></i>
              <label for="" *ngIf="total > 0">{{ total }}</label>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-menu-header">
                  <p>{{ 'YouHave' | translate }} {{ total }} {{ total == 1 ? ('Notification' | translate) : ('Notifications' | translate) }}</p>
                </div>
              </li>
              <li class="msg" *ngFor="let item of notification" [class.vizualized]="item?.leitura">
                <p>{{ item?.titulo }}</p>
                <span><button class="btn btn-micro btn-orange" (click)="goTo(item)">
                  {{ 'Continue' | translate }}</button></span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: item?.porcentagem + '%'}">
                  </div>
                </div>
                <div class="percent">{{ item?.porcentagem }}%</div>
              </li>
              <div class="clearfix"></div>
              <li>
                <div class="dropdown-menu-footer">
                  <a class="all" [routerLink]="['/notifications']">{{ 'SeeAll' | translate }}</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div *ngIf="loggedUser?.picture == null" class="no-avatar"><i class="material-icons">person</i></div>
              <div *ngIf="loggedUser?.picture == ''" class="no-avatar"><i class="material-icons">person</i></div>
              <img *ngIf="loggedUser?.picture != '' && loggedUser?.picture != null" [src]="loggedUser?.picture" class="avatar" alt="">
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-menu-header">
                  <div *ngIf="loggedUser?.picture == null" class="no-avatar"><i class="material-icons">person</i></div>
                  <div *ngIf="loggedUser?.picture == ''" class="no-avatar"><i class="material-icons">person</i></div>
                  <img *ngIf="loggedUser?.picture != '' && loggedUser?.picture != null" [src]="loggedUser?.picture" class="avatar" alt="">
                  <p class="name">{{ loggedUser?.name }}</p>
                  <p class="email">{{ loggedUser?.email }}</p>
                </div>
              </li>
              <li><a [routerLink]="['/my-page']"><i class="fa fa-user-circle-o"></i>{{ 'MyPage' | translate }}</a></li>
              <!-- <li><a><i class="fa fa-question-circle"></i>{{ 'Help' | translate }}</a></li> -->
              <li><a [routerLink]="['/login']"><i class="fa fa-power-off"></i>{{ 'Logout' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
