
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content">
        <h4 class="mt-0 fw-md">Custos fixos mensais</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Custo fixo</th>
              <th>Valor</th>
              <th class="text-center w-15">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="custos.length > 0">
            <tr *ngFor="let custo of custos">
              <td>{{ custo.custo }}</td>
              <td>R$ {{ custo.valor | number : '2.2-2' }}</td>
              <td class="text-center py-0">
                <ul class="btn-action">
                  <li><a (click)="editar(custo.id)"><i class="flaticon-edit-1"></i></a></li>
                  <li><a (click)="delete(custo.id)"><i class=" flaticon-close"></i></a></li>
                </ul>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button (click)="novo()" mat-fab class="btn_fixed"><i class="btn_fixed__i flaticon-plus-symbol"></i></button>