<div class="row">
  <!-- Tabela -->
  <div class="col-md-9">
    <div class="card">
      <div class="card-content p-4">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-tabl" colspan="2" rowspan="2">Canais</th>
              <th class="border-table"></th>
              <th class="border-table" colspan="3">Peso para o meu negócio</th>
            </tr>
            <tr class="bg-grey-light">
              <td class="w-10 text-center"><strong>Notas</strong></td>
              <td class="w-10 text-center">10%</td>
              <td class="w-10 text-center">30%</td>
              <td class="w-10 text-center">60%</td>
            </tr>

            <tr *ngFor="let channel of channels; let i = index">
              <td class="w-2">{{ i + 1 }}</td>
              <td class="text-left">{{ channel.name }}</td>
              <td class="w-10 text-center">
                <input type="type" readonly class="w-80 text-center" value="{{ channel.note }}">
              </td>
              <td class="w-10 text-center">
                <div class="radio ml-3 mt-3">
                  <label><input type="radio" name="item{{ i + 1 }}"></label>
                </div>
              </td>
              <td class="w-10 text-center">
                <div class="radio ml-3 mt-3">
                  <label><input type="radio" name="item{{ i + 1 }}"></label>
                </div>
              </td>
              <td class="w-10 text-center">
                <div class="radio ml-3 mt-3">
                  <label><input type="radio" name="item{{ i + 1 }}"></label>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Rodapé / Botão de Salvamento-->
      <div class="card-footer text-right">
        <input type="submit" value="Salvar" class="btn btn-rose">
      </div>
    </div>
  </div>

  <!-- Cenários -->
  <app-exercicio1-scenario></app-exercicio1-scenario>

  <!-- Instruções Gerais -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-content p-3">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr class="bg-grey">
            <th class="border-table" colspan="2">Instruções</th>
          </tr>
          <tr>
            <td>A</td>
            <td class="text-left">Aplique uma nota de 0 a 10 para cada canal de venda</td>
          </tr>
          <tr>
            <td>B</td>
            <td class="text-left">Em seguida, selecione um dos percentuais: 10%, 30% ou 60% para o canal de venda que você aplicou uma nota</td>
          </tr>
          <tr>
            <td>C</td>
            <td class="text-left">Repita o procedimento para todos os canais de venda</td>
          </tr>
          <tr>
            <td>D</td>
            <td class="text-left">Após o preenchimento de todos os canais clique no botão "Salvar"</td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
