<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form >
          <div class="card">
            <div class="card-header card-header-text" data-background-color="rose">
              <div class="col-md-12">
                <h4 class="card-title">Produção de Mídia</h4>
              </div>
            </div>

            <div class="card-content">
              <h4 class="card-title mt-5 mb-5">1.Logo</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Faça um "Brienfing", uma espécie de resumo de todas as características importantes do negócio.</span>
                  <textarea matInput placeholder="Escreva aqui o seu brienfing..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Defina a tipografia (tipo de letra), cor e estilo.</span>
                  <textarea matInput placeholder="Defina aqui a tipografia, cor e estilo de fonte..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>

              <h4 class="card-title mb-5">2.Cartão de Visitas</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Escreva abaixo as informações que entraram em seu cartão de visitas.</span>
                  <textarea matInput placeholder="Informe o nome do grupo, endereço, telefone, site, e-mail e etc..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>

              <h4 class="card-title mb-5">3.Folder</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Escreva abaixo as informações que entraram em seu cartão de visitas.</span>
                  <textarea matInput placeholder="Informe o nome do grupo, endereço, telefone, site, e-mail e etc..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>

              <h4 class="card-title mb-5">4.Catálogo</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Escreva abaixo as informações que entraram em seu cartão de visitas.</span>
                  <textarea matInput placeholder="Informe o nome do grupo, endereço, telefone, site, e-mail e etc..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>

              <h4 class="card-title mb-5">5.Etiqueta</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Escreva abaixo as informações que entraram em seu cartão de visitas.</span>
                  <textarea matInput placeholder="Informe o nome do grupo, endereço, telefone, site, e-mail e etc..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>

              <h4 class="card-title mb-5">6.Embalagem</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Escreva abaixo as informações que entraram em seu cartão de visitas.</span>
                  <textarea matInput placeholder="Informe o nome do grupo, endereço, telefone, site, e-mail e etc..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>
              <h4 class="card-title mb-5">7.Tag</h4>

              <div class="row mb-5">
                <div class="col-md-12">
                  <span class="bold-500">Escreva abaixo as informações que entraram em seu cartão de visitas.</span>
                  <textarea matInput placeholder="Informe o nome do grupo, endereço, telefone, site, e-mail e etc..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" class="form-control"></textarea>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <div class="pull-right mb-3">
                <a [routerLink]="['/smartfit-proposta']" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-rose">Salvar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
