 <div class="row">
  <ul class="steppers">
    <li><a routerLink="dados-pedido" routerLinkActive="actived" mat-raised-button>DADOS DO PEDIDO</a></li>
    <li><a routerLink="produtos" routerLinkActive="actived" mat-raised-button>PRODUTOS</a></li>
    <li><a routerLink="custos" routerLinkActive="actived" mat-raised-button>CUSTOS</a></li>
    <li><a routerLink="compras" routerLinkActive="actived" mat-raised-button>COMPRAS</a></li>
  </ul>
  <div class="col-md-12">    
    <router-outlet></router-outlet>
  </div>
</div>