<div class="main-content">
  <div class="container-fluid">

    <div class="card p-20" *ngIf="noRegisters">
      <div class="card-content">
        Nenhum registro encontrado
      </div>
    </div>

    <div class="card p-20" *ngIf="!assessment">
      <div class="card-content">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
      </div>
    </div>

    <div class="row" *ngIf="assessment && !noRegisters">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <fieldset [disabled]="(isFormLocked ? 'disabled': null)">
        <div class="col-md-12">
          <div class="card mt-0">
            <div class="card-header">
              <h4 class="card-title">{{ assessment.title }}</h4>
              <hr>
            </div>
            <div class="card-content">

              <div class="panel panel-default mb-50">
                <small class="category">{{ assessment.subtitle }}</small>
              </div>

              <div *ngFor="let question of assessment.questions; let i = index" >

                <div class="panel panel-default mb-50" *ngIf="question.type == 'A'" class="panel">
                    {{ question.nome }}
                    <div class="radio" *ngFor="let option of question.options">
                      <label>
                        <input 
                          type="hidden" 
                          name="questionA.{{ i }}.ponderacao" 
                          value="{{ question.ponderacao }}" 
                          [(ngModel)]="question.ponderacao">
                        <input 
                          type="hidden" 
                          name="questionA.{{ i }}.pontuacao_indicador" 
                          value="{{ question.pontuacao_indicador }}" 
                          [(ngModel)]="question.pontuacao_indicador">
                        <input 
                          type="hidden" 
                          name="questionA.{{ i }}.indicador" 
                          value="{{ question.indicador }}" 
                          [(ngModel)]="question.indicador">

                        <input 
                          *ngIf="question.value == option.valorA"
                          type="radio" 
                          checked="checked">

                        <input 
                          *ngIf="question.value != option.valorA"
                          required 
                          type="radio" 
                          name="questionA.{{ i }}.resposta" 
                          value="{{ option.valorA }}" 
                          [checked]="question.value == option.valorA"
                          ngModel> 

                          {{ option.nome }}
                      </label>
                  </div>
                </div>

              </div>

              <div *ngFor="let question of assessment.questions; let b = index" >

                <div *ngIf="question.type == 'B'" class="panel panel-default mb-50">
                  <div class="panel">
                    {{ question.nome }}
                    <table class="table striped">
                      <tr>
                        <td></td>
                        <td>{{ question.textoUm }}</td>
                        <td>{{ question.textoDois }}</td>
                      </tr>
                      <tr *ngFor="let option of question.options; let optx = index">
                        <td>{{ option.nome }}</td>
                        
                        <input 
                            type="hidden" 
                            name="questionB.{{ b }}.ponderacao" 
                            value="{{ question.ponderacao }}" 
                            [(ngModel)]="question.ponderacao">
                        <input 
                          type="hidden" 
                          name="questionB.{{ b }}.pontuacao_indicador" 
                          value="{{ question.pontuacao_indicador }}" 
                          [(ngModel)]="question.pontuacao_indicador">
                        <input 
                          type="hidden" 
                          name="questionB.{{ b }}.indicador" 
                          value="{{ question.indicador }}" 
                          [(ngModel)]="question.indicador">
                        <input 
                          type="hidden" 
                          name="questionB.{{ b }}.resposta.{{ optx }}.name" 
                          value="{{ option.nome }}" [(ngModel)]="option.nome">

                        <td>
                          <div class="radio">
                            <label>
                              <input 
                                *ngIf="option.valorBSelected == option.valorB1"
                                type="radio" checked="checked">
                              
                              <input 
                                *ngIf="option.valorBSelected != option.valorB1"
                                required type="radio" 
                                name="questionB.{{ b }}.resposta.{{ optx }}.value" 
                                value="{{ option.valorB1 }}" ngModel>
                              </label>
                          </div>
                        </td>
                        
                        <td>
                          <div class="radio">
                            <label>
                              <input                                 
                                *ngIf="option.valorBSelected == option.valorB2" 
                                type="radio" checked="checked">
                              <input 
                                *ngIf="option.valorBSelected != option.valorB2"
                                required type="radio" 
                                name="questionB.{{ b }}.resposta.{{ optx }}.value" 
                                value="{{ option.valorB2 }}" ngModel>
                            </label>
                          </div>
                        </td>

                      </tr>                  
                    </table>
                  </div>
                </div>

              </div>
            </div>

            <div *ngIf="!isFormLocked">
              <div class="panel-footer" *ngIf="isSubmiting">
                <p>Enviando respostas...</p>
              </div>

              <div class="panel-footer" *ngIf="!isSubmiting">
                <a [routerLink]="['/painel/home']" class="btn btn-gray btn-sm">Cancelar</a>
                <button type="submit" class="btn btn-rose btn-sm">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        </fieldset>
      </form>
    </div>        
  </div>
</div>