<div *ngIf="typeImage">
    <div class="close"><i (click)="onNoClick()" class="material-icons">close</i></div> 
    <mat-checkbox [(ngModel)]="maintainAspectRatio">Manter Proporções</mat-checkbox>   
    <div *ngIf="!horizontal" class="select-modal">
        <label for="modal-firebase-upload" class="upload-area" [class.noimg]="croppedImage != ''">
            <div class="big-icon"><i class="material-icons">note_add</i></div>
            <p>Selecione o arquivo para upload</p>
        </label>

        <input class="upload-input hidden" type="file" id="modal-firebase-upload" (change)="UploadImage($event)"  accept="image/*" />
        <div [style.display]="cropperReady ? null : 'none'" class="align-center flex-box">
            <div class="col-sm-6">
                <p class="title" *ngIf="croppedImage"><i class="fa fa-image"></i> Imagem original</p>
                <div class="col-flex">
                    <image-cropper    
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="maintainAspectRatio"
                    [aspectRatio]="aspectRatio"
                    [imageQuality]="100"
                    [resizeToWidth]="resizeToWidth"
                    format="png"
                    (imageCroppedBase64)="imageCroppedBase64($event)"
                    (imageLoaded)="imageLoaded()"
                    (loadImageFailed)="loadImageFailed()"
                    style="width: 450px;"
                    [style.display]="cropperReady ? null : 'none'"
                    ></image-cropper>                    
                </div>
                <div class="bottom" *ngIf="croppedImage">
                    <span class="img-name">{{ ( fileName == null ? 'Adicionar Imagem' : (fileName.length > 20) ? (fileName | slice:0:20)+'..' : (fileName) ) }}</span><i (click)="reset()" class="material-icons">delete</i>
                </div>
            </div>

            <!--div *ngIf="croppedImage" class="divider"></div-->
            <div class="col-sm-6">                
                <p class="title" *ngIf="croppedImage"><i class="fa fa-cut"></i> Imagem recortada</p>
                <div class="col-flex">
                    <img style="width: 450px;" class="cropped-image" [src]="croppedImage" />
                </div>

                <div class="bottom" *ngIf="croppedImage">
                    <div class="progress-width">                
                        <div class="progress progress-line-primary mt-1 mb-1">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: percentage + '%'}">
                                <span class="sr-only">{{ percentage + '%' }} Concluído</span>
                            </div>
                        </div>                        
                        <div class="progress-label">progressso {{ percentage + '%' }}</div> 
                    </div>
                </div>
            </div>           
        </div>

        <div mat-dialog-actions>
            <button mat-button class="btn btn-default" (click)="onNoClick()">Cancelar</button>
            <button mat-button class="btn btn-rose" (click)="sendImage()" [disabled]="croppedImage == ''">Salvar</button>
        </div>
    </div>


    <div *ngIf="horizontal" class="select-modal">
        <label for="modal-firebase-upload" class="upload-area" [class.noimg]="croppedImage != ''">
            <div class="big-icon"><i class="material-icons">note_add</i></div>
            <p>Selecione o arquivo para upload</p>
        </label>

        <input class="upload-input hidden" type="file" id="modal-firebase-upload" (change)="UploadImage($event)"  accept="image/*" />
        <div [style.display]="cropperReady ? null : 'none'" class="align-center">
            <div>
                <p class="title-horizontal" *ngIf="croppedImage"><i class="fa fa-image"></i> Imagem original</p>
                <div class="display-box">
                    <image-cropper 
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="maintainAspectRatio"
                        [aspectRatio]="aspectRatio"
                        [imageQuality]="100"
                        [resizeToWidth]="resizeToWidth"
                        format="png"
                        (imageCroppedBase64)="imageCroppedBase64($event)"
                        (imageLoaded)="imageLoaded()"
                        (loadImageFailed)="loadImageFailed()"
                        style="height: 250px;"
                        [style.display]="cropperReady ? null : 'none'"
                    ></image-cropper>                    
                </div>
                <div class="bottom bottom-horizontal" *ngIf="croppedImage">
                    <span class="img-name">{{ ( fileName == null ? 'Adicionar Imagem' : (fileName.length > 20) ? (fileName | slice:0:20)+'..' : (fileName) ) }}</span><i (click)="reset()" class="material-icons">delete</i>
                </div>
            </div>

            <div *ngIf="croppedImage" class="divider-horizontal"></div>
            <div>                
                <p class="title-horizontal" *ngIf="croppedImage"><i class="fa fa-cut"></i> Imagem recortada</p>
                <div class="display-box">
                    <img style="height: 250px;" class="cropped-image-horizontal" [src]="croppedImage" />
                </div>

                <div class="bottom bottom-horizontal" *ngIf="croppedImage">
                    <div class="progress-width-horizontal">                
                        <div class="progress progress-line-primary mt-1 mb-1">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: percentage + '%'}">
                                <span class="sr-only">{{ percentage + '%' }} Concluído</span>
                            </div>
                        </div>                        
                        <div class="progress-label">progressso {{ percentage + '%' }}</div> 
                    </div>
                </div>
            </div>           
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancelar</button>
            <button mat-button (click)="sendImage()" [disabled]="croppedImage == ''">Salvar</button>
        </div>
    </div>
</div>

<div *ngIf="!typeImage">
    <div mat-dialog-content>
        <div class="progress progress-line-primary mt-1 mb-1" *ngIf="percentage > 0">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: percentage + '%'}">
                <span class="sr-only">{{ percentage + '%' }} Concluído</span>
            </div>
        </div>
        <label for="modal-firebase-upload" class="upload-area">
            <i class="fa fa-cloud-upload mr-4"></i> {{ ( fileName == null ? 'Adicionar Arquivo' : (fileName.length > 20) ? (fileName | slice:0:20)+'..' : (fileName) ) }}
        </label>
        <div class="upload-archive hide text-center" *ngIf="fileName != null">
            <i class="fa fa-file mr-4"></i>
            <br>
            <p>{{ fileName }}</p>
        </div>
        <input class="upload-input" type="file" id="modal-firebase-upload" (change)="UploadArchive($event)" [attr.accept]="onlyType" />
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button (click)="sendArchive()">Salvar</button>
    </div>
</div>
