<script src="https://www.youtube.com/iframe_api"></script>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-center-block">
    <h1 class="title-question text-center mt-0" *ngIf="item.title">{{ item.title }}</h1>
  </div>
</div>

<div class="col-md-12" style="background:#000; padding: 5px 0px;">
  <div class="item-component-image-icon-container" *ngIf="!item.link">
    <i class="material-icons">camera</i>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-md-offset-1 col-center-block" *ngIf="item.link">
    <div *ngIf="item.source === 'stream' && play == false">
      <div class="embed-responsive embed-responsive-16by9">
        <img [src]="item.source_path | stream:'thumb'" alt="">
        <div class="mask-item cursor-drag" (click)="goPlay()">
            <i class="material-icons">play_circle_filled</i>
        </div>
      </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="item.source === 'file'">
        <video width="100%" *ngIf="item.showVideoControl" controls="true" controlsList="nodownload" #video (timeupdate)="setCurrentTime($event)">
            <source [src]="item.link" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <video width="100%" *ngIf="!item.showVideoControl || item.showVideoControl == 'undefined'" controlsList="nodownload" #video (timeupdate)="setCurrentTime($event)" onclick="this.paused ? this.play() : this.pause();">
            <source [src]="item.link" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="item.source === 'stream' && play === true">
        <video width="100%" *ngIf="item.showVideoControl" controls="true" controlsList="nodownload" #video (timeupdate)="setCurrentTime($event)" onclick="this.paused ? this.play() : this.pause();">
            <source [src]="item.source_path | stream:'link'" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <video width="100%" *ngIf="!item.showVideoControl || item.showVideoControl == 'undefined'" controlsList="nodownload" #video (timeupdate)="setCurrentTime($event)" onclick="this.paused ? this.play() : this.pause();">
            <source [src]="item.source_path | stream:'link'" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class="embed-responsive embed-responsive-16by9" *ngIf="item.source === 'youtube' || item.source === 'vimeo'">
      <!-- <iframe *ngIf="item.source === 'vimeo'"  id="video_player" [src]="item.link" width="100%" height="320px" frameborder="0" allowfullscreen></iframe> -->
      <div *ngIf="item.source === 'vimeo'"  id="video_player"  width="100%" height="320px"></div>
      <div *ngIf="item.source === 'youtube'"  id="video_player"  width="100%" height="320px"></div>}
    </div>

  </div>

</div>
<div class="col-md-12 px-0 d-none">
  <div class="notepad-icons">
    <div>
      <a class="" data-toggle="collapse" href="#notepad" role="button" aria-expanded="false" aria-controls="notepad">
        <i class="fa fa-book mr-2"></i>Bloco de Notas
      </a>
    </div>
    <div>
      <a><i class="fa fa-flag-o ml-3" aria-hidden="true"></i></a>
      <a><i class="fa fa-thumbs-o-down ml-3"></i></a>
      <a><i class="fa fa-thumbs-o-up ml-3" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="collapse" id="notepad">
    <div class="notepad">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Título">
        </div>
        <div class="form-group">
          <textarea rows="4" class="form-control" placeholder="Faça aqui a sua anotação sobre este vídeo..."></textarea>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Salvar anotações</button>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1"><i class="fa fa-book pull-left pt-1"></i>Bloco de Notas</a>
          <span class="pull-right">
            <i class="fa fa-flag-o ml-3" aria-hidden="true"></i>
            <i class="fa fa-thumbs-o-down ml-3"></i>
            <i class="fa fa-thumbs-o-up ml-3" aria-hidden="true"></i>
          </span>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group label-floating">
            <label class="control-label">Faça aqui a sua anotação sobre este vídeo...</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <button class="btn btn-primary btn-green-dark pull-right">Salvar Anotação</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="text-center" style="margin: 30px 0;">
  <span *ngIf="item.allowNext" matTooltip="Você só poderá avançar ao concluir o vídeo." [matTooltipDisabled]="!item?.allowNext || item?.allowNext == 'undefined' || !disableNextButton">
    <button
        id="upload-button"
      type="button"
      class="btn btn-primary"
      [disabled]="disableNextButton"
      [ngStyle]="{'color': item.mainButton.color, 'background': item.mainButton.background}"
      (click)="goNext()"
      >
        {{ item.mainButton.text }}
      </button>
  </span>

  <span *ngIf="!item.allowNext || item.allowNext == 'undefined'">
    <button
      id="upload-button"
      type="button"
      class="btn btn-primary"
      [ngStyle]="{'color': item.mainButton.color, 'background': item.mainButton.background}"
      (click)="goNext()"
      *ngIf="item.mainButton.text && item.mainButton.text !== ''"
    >
      {{ item.mainButton.text }}
    </button>
  </span>
</div>
