<!-- Texto da Questão -->
<div class="row">
  <div class="col-12">
    <h1 class="title-question text-center">{{ item.title }}</h1>
  </div>
</div>

<!-- Carregamento de Imagem -->
<div class="row">
  <div class="col-5 mx-auto text-center" >
    <div *ngIf="item.media == 'IMAGE'">
      <a><img src="{{ item.url }}" class="img-responsive"></a>
    </div>
  </div>
</div>

<fieldset [disabled]="blocked">
  <!-- Carregamento de Vídeo (Vimeo/YouTube) -->
  <div class="row">
    <div class="col-7 mx-auto">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9 mb-5 mx-4" *ngIf="item.media == 'YOUTUBE' || item.media == 'VIMEO'">
        <iframe class="embed-responsive-item" [src]="item.link" width="100%" height="500" frameborder="0" allowfullscreen *ngIf="item.link != ''">
        </iframe>
      </div>
    </div>
  </div>

  <!-- View Inline -->
  <div class="row" *ngIf="item.answersAlign === 'vertical'">
    <div class="col-9 mx-auto">
      <div class="d-flex flex-wrap flex-column">
        <div *ngFor="let opt of item.options; let i = index;" class="mb-4">
          <div class="multichoice">
            <label>
              <input type="radio" name="radio" id="radio-{{ opt.value }}" class="multichoice" value="{{ opt.value }}" (change)="onSelectionChange(opt)" />
              <span>
                <div class="marcadores">
                  <div class="pull-left" *ngIf="item.marketType === 'roman'">{{ listMarkerRoman[i] }})</div>
                  <div class="pull-left" *ngIf="item.marketType === 'lower'">{{ listMarkerLetter[i] }})</div>
                  <div class="pull-left" *ngIf="item.marketType === 'upper'">{{ listMarkerLetter[i] | uppercase }})</div>
                  <div class="pull-left" *ngIf="item.marketType === 'number'">{{ listMarkerNumber[i] }})</div>
                </div>
                <div class="text">{{ opt.label }}</div>
                <i class="fa fa-check"></i>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- View InColun -->
  <div class="row" *ngIf="item.answersAlign === 'horizontal'">
    <div class="col-12 text-center">
      <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let opt of item.options; let i = index;" class="m-4">
          <div class="multichoice">
            <label>
              <input type="radio" name="radio" id="radio-{{ opt.value }}" class="multichoice" value="{{ opt.value }}" (change)="onSelectionChange(opt)" />
              <span>
                <div class="marcadores">
                  <div class="pull-left" *ngIf="item.marketType === 'roman'">{{ listMarkerRoman[i] }})</div>
                  <div class="pull-left" *ngIf="item.marketType === 'lower'">{{ listMarkerLetter[i] }})</div>
                  <div class="pull-left" *ngIf="item.marketType === 'upper'">{{ listMarkerLetter[i] | uppercase }})</div>
                  <div class="pull-left" *ngIf="item.marketType === 'number'">{{ listMarkerNumber[i] }})</div>
                </div>
                <div class="text">{{ opt.label }}</div>
                <i class="fa fa-check"></i>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!blocked">
    <div class="col-12 text-center mb-4">
      <button class="btn btn-primary" (click)="onSubmit()">Ver questão</button>
    </div>
  </div>
</fieldset>

<div class="row" *ngIf="blocked">
  <div class="col-12 text-center mb-4">
    <button type="button" class="btn btn-primary" (click)="goNext()" >Próximo</button>
  </div>
</div>
