<div class='star-rating'>
    <ng-container *ngIf='!forDisplay'>
        <i *ngFor='let n of range; let $index = index;' class='fa to-rate fa-star' (click)='mark($index)' [ngClass]='isMarked($index)'></i>
    </ng-container>
    <ng-container *ngIf='forDisplay'>
        <i *ngFor='let n of range; let $index = index;' class="to-display fa fa-star" [ngClass]='isMarked($index)'></i>
    </ng-container>

    <p>{{ textNivel }}</p>
    
</div>
