<div class="col-md-12 pl-2 pr-2">
  <p class="tool-name border-bottom pb-3">{{ 'LongText' | translate }}</p>

  <div class="row mb-3">
    <div class="col-md-12">
      <form action="">
        <div class="box-group mt-3">
          <!-- Enunciado -->
          <div class="row">
            <div class="col-md-12 mb-3">
              <p class="title-config">{{ 'Statement' | translate }}:</p>
              <input name="enunciado" type="text" class="text w-100 mb-3" placeholder="Escreva aqui o enunciado...">
            </div>
          </div>

          <!-- Adicionar Placeholder ao Campo -->
          <div class="row">
            <div class="col-md-12 mb-3">
              <p class="title-config">{{ 'AddExplanationField' | translate }}:</p>
              <input name="placeholder" type="text" class="text w-100 mb-3" placeholder="Escreva seu texto aqui...">
            </div>
          </div>

          <!-- Campo Obrigatório -->
          <div class="row">
            <div class="col-md-12 mb-3">
              <p class="title-config av-1">{{ 'ThisFieldRequired' | translate }}:</p>
              <select class="text w-100 mb-2">
                    <option>{{ 'SelectOption' | translate }}...</option>
                    <option>{{ 'No' | translate }}</option>
                    <option>{{ 'Yes' | translate }}</option>
                  </select>
            </div>
          </div>

          <!-- Limite de Caracteres -->
          <div class="row">
            <div class="col-md-12 mb-3">
              <p class="title-config av-1">{{ 'CharacterLimit' | translate }} (Max.):</p>
              <input name="minchar" type="text" class="text w-100 mb-3" placeholder="ex.: 100">
            </div>
          </div>
        </div>

        <!-- Botão de Salvamento -->
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="divider mb-3"></div>
            <button type="button" name="button" class="btn btn-primary btn-xs pull-right">{{ 'Save' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
