
<div class="container-fluid">
    <div class="col-md-12 text-right mt-4" id="viewer-navigator">
        <ul class="menu-top">
<!--           <li *ngIf="index > 0"><a (click)="previous()"><i class="fa fa-angle-left"></i> Anterior</a></li>
          <li *ngIf="index < 7"><a (click)="next()">Próximo <i class="fa fa-angle-right"></i></a></li>
 -->          <li><a [routerLink]="['/painel/gestao']">Voltar</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>
