<nav #navbar class="navbar navbar-transparent navbar-absolute">
  <div class="container-fluid">

    <div class="navbar-header full-width">
      <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/painel/formularios']" class="navbar-text navbar-right navbar-back">Voltar</a>   
    </div>
    </div>
</nav>