<div class="col-md-12 pl-2 pr-2">

  <p class="tool-name border-bottom pb-3">Pontuação de Jogos</p>

  <div class="row mb-3">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#titulo" aria-controls="titulo" role="tab" data-toggle="tab">Conteúdo</a>
        </li>
        <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Design</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="tab-content" id="accordion">
        <div role="tabpanel" class="tab-pane fade in active" id="titulo">
          <!-- Título -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseTitle" aria-expanded="false" aria-controls="collapseTitle">Título</p>
            </div>
          </div>

          <!-- Box Título -->
          <div class="box-group collapse in" id="collapseTitle">
            <!-- Texto do Título -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Texto:</p>
                <div class="wrapper-input">
                  <input name="title_text" type="text" class="w-100 px-2 text" placeholder="Digite o título" [(ngModel)]="item.title.text">
                </div>
              </div>
            </div>

            <!-- Cor do Título -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Cor:</p>
                <div class="wrapper-input">
                  <input type="text" name="title_color"
                  [(colorPicker)]="item.title.color"
                  [(ngModel)]="item.title.color"
                  [style.background]="item.title.color"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>
            </div>

            <!-- Animação do Título -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Animação:</p>
                <div class="wrapper-input">
                  <select class="w-100 text" name="title_animation" [(ngModel)]="item.title.animation">
                    <optgroup label="Sem animação">
                      <option value="">Sem animação</option>
                    </optgroup>

                    <optgroup label="Attention Seekers">
                      <option value="bounce">bounce</option>
                      <option value="flash">flash</option>
                      <option value="pulse">pulse</option>
                      <option value="rubberBand">rubberBand</option>
                      <option value="shake">shake</option>
                      <option value="swing">swing</option>
                      <option value="tada">tada</option>
                      <option value="wobble">wobble</option>
                      <option value="jello">jello</option>
                    </optgroup>

                    <optgroup label="Bouncing Entrances">
                      <option value="bounceIn">bounceIn</option>
                      <option value="bounceInDown">bounceInDown</option>
                      <option value="bounceInLeft">bounceInLeft</option>
                      <option value="bounceInRight">bounceInRight</option>
                      <option value="bounceInUp">bounceInUp</option>
                    </optgroup>

                    <optgroup label="Bouncing Exits">
                      <option value="bounceOut">bounceOut</option>
                      <option value="bounceOutDown">bounceOutDown</option>
                      <option value="bounceOutLeft">bounceOutLeft</option>
                      <option value="bounceOutRight">bounceOutRight</option>
                      <option value="bounceOutUp">bounceOutUp</option>
                    </optgroup>

                    <optgroup label="Fading Entrances">
                      <option value="fadeIn">fadeIn</option>
                      <option value="fadeInDown">fadeInDown</option>
                      <option value="fadeInDownBig">fadeInDownBig</option>
                      <option value="fadeInLeft">fadeInLeft</option>
                      <option value="fadeInLeftBig">fadeInLeftBig</option>
                      <option value="fadeInRight">fadeInRight</option>
                      <option value="fadeInRightBig">fadeInRightBig</option>
                      <option value="fadeInUp">fadeInUp</option>
                      <option value="fadeInUpBig">fadeInUpBig</option>
                    </optgroup>

                    <optgroup label="Fading Exits">
                      <option value="fadeOut">fadeOut</option>
                      <option value="fadeOutDown">fadeOutDown</option>
                      <option value="fadeOutDownBig">fadeOutDownBig</option>
                      <option value="fadeOutLeft">fadeOutLeft</option>
                      <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                      <option value="fadeOutRight">fadeOutRight</option>
                      <option value="fadeOutRightBig">fadeOutRightBig</option>
                      <option value="fadeOutUp">fadeOutUp</option>
                      <option value="fadeOutUpBig">fadeOutUpBig</option>
                    </optgroup>

                    <optgroup label="Flippers">
                      <option value="flip">flip</option>
                      <option value="flipInX">flipInX</option>
                      <option value="flipInY">flipInY</option>
                      <option value="flipOutX">flipOutX</option>
                      <option value="flipOutY">flipOutY</option>
                    </optgroup>

                    <optgroup label="Lightspeed">
                      <option value="lightSpeedIn">lightSpeedIn</option>
                      <option value="lightSpeedOut">lightSpeedOut</option>
                    </optgroup>

                    <optgroup label="Rotating Entrances">
                      <option value="rotateIn">rotateIn</option>
                      <option value="rotateInDownLeft">rotateInDownLeft</option>
                      <option value="rotateInDownRight">rotateInDownRight</option>
                      <option value="rotateInUpLeft">rotateInUpLeft</option>
                      <option value="rotateInUpRight">rotateInUpRight</option>
                    </optgroup>

                    <optgroup label="Rotating Exits">
                      <option value="rotateOut">rotateOut</option>
                      <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                      <option value="rotateOutDownRight">rotateOutDownRight</option>
                      <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                      <option value="rotateOutUpRight">rotateOutUpRight</option>
                    </optgroup>

                    <optgroup label="Sliding Entrances">
                      <option value="slideInUp">slideInUp</option>
                      <option value="slideInDown">slideInDown</option>
                      <option value="slideInLeft">slideInLeft</option>
                      <option value="slideInRight">slideInRight</option>
                    </optgroup>

                    <optgroup label="Sliding Exits">
                      <option value="slideOutUp">slideOutUp</option>
                      <option value="slideOutDown">slideOutDown</option>
                      <option value="slideOutLeft">slideOutLeft</option>
                      <option value="slideOutRight">slideOutRight</option>
                    </optgroup>

                    <optgroup label="Zoom Entrances">
                      <option value="zoomIn">zoomIn</option>
                      <option value="zoomInDown">zoomInDown</option>
                      <option value="zoomInLeft">zoomInLeft</option>
                      <option value="zoomInRight">zoomInRight</option>
                      <option value="zoomInUp">zoomInUp</option>
                    </optgroup>

                    <optgroup label="Zoom Exits">
                      <option value="zoomOut">zoomOut</option>
                      <option value="zoomOutDown">zoomOutDown</option>
                      <option value="zoomOutLeft">zoomOutLeft</option>
                      <option value="zoomOutRight">zoomOutRight</option>
                      <option value="zoomOutUp">zoomOutUp</option>
                    </optgroup>

                    <optgroup label="Specials">
                      <option value="hinge">hinge</option>
                      <option value="jackInTheBox">jackInTheBox</option>
                      <option value="rollIn">rollIn</option>
                      <option value="rollOut">rollOut</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>

            <!-- Tamanho da Fonte do Título-->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config mb-6">Tamanho da Fonte:</p>
                <div class="wrapper-input">
                  <!-- <nouislider name="title_size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.title.size" [tooltips]="true" class="slider"></nouislider> -->
                </div>
              </div>
            </div>

            <!-- Alinhamento do Título-->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Alinhamento:</p>
                <div class="wrapper-input">
                  <button (click)="setAlign(item.title, 'left')" [class.btn-primary]="item.title.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar a Esquerda">format_align_left</i>
                  </button>

                  <button (click)="setAlign(item.title, 'center')" [class.btn-primary]="item.title.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar no Centro">format_align_center</i>
                  </button>

                  <button (click)="setAlign(item.title, 'right')" [class.btn-primary]="item.title.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar a Direita">format_align_right</i>
                  </button>
                </div>
              </div>
            </div>

          </div>

          <!-- Separador -->
          <div class="divider my-4"></div>

          <!-- Texto -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseText" aria-expanded="false" aria-controls="collapseText">Texto</p>
            </div>
          </div>

          <!-- Box Texto -->
          <div class="box-group collapse in" id="collapseText">
            <!-- Texto -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Texto:</p>
                <div>
                  <textarea rows="4" name="text_text" class="w-100 px-2 text" placeholder="Digite o título" [(ngModel)]="item.text.text"></textarea>
                </div>
              </div>
            </div>

            <!-- Cor do Texto -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Cor:</p>
                <div class="wrapper-input">
                  <input type="text" name="text_color"
                  [(colorPicker)]="item.text.color"
                  [(ngModel)]="item.text.color"
                  [style.background]="item.text.color"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>
            </div>

            <!-- Animação do texto -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Animação:</p>
                <div class="wrapper-input">
                  <select class="w-100 text" name="text_animation" [(ngModel)]="item.text.animation">
                    <optgroup label="Sem animação">
                      <option value="">Sem animação</option>
                    </optgroup>
                    <optgroup label="Attention Seekers">
                      <option value="bounce">bounce</option>
                      <option value="flash">flash</option>
                      <option value="pulse">pulse</option>
                      <option value="rubberBand">rubberBand</option>
                      <option value="shake">shake</option>
                      <option value="swing">swing</option>
                      <option value="tada">tada</option>
                      <option value="wobble">wobble</option>
                      <option value="jello">jello</option>
                    </optgroup>

                    <optgroup label="Bouncing Entrances">
                      <option value="bounceIn">bounceIn</option>
                      <option value="bounceInDown">bounceInDown</option>
                      <option value="bounceInLeft">bounceInLeft</option>
                      <option value="bounceInRight">bounceInRight</option>
                      <option value="bounceInUp">bounceInUp</option>
                    </optgroup>

                    <optgroup label="Bouncing Exits">
                      <option value="bounceOut">bounceOut</option>
                      <option value="bounceOutDown">bounceOutDown</option>
                      <option value="bounceOutLeft">bounceOutLeft</option>
                      <option value="bounceOutRight">bounceOutRight</option>
                      <option value="bounceOutUp">bounceOutUp</option>
                    </optgroup>

                    <optgroup label="Fading Entrances">
                      <option value="fadeIn">fadeIn</option>
                      <option value="fadeInDown">fadeInDown</option>
                      <option value="fadeInDownBig">fadeInDownBig</option>
                      <option value="fadeInLeft">fadeInLeft</option>
                      <option value="fadeInLeftBig">fadeInLeftBig</option>
                      <option value="fadeInRight">fadeInRight</option>
                      <option value="fadeInRightBig">fadeInRightBig</option>
                      <option value="fadeInUp">fadeInUp</option>
                      <option value="fadeInUpBig">fadeInUpBig</option>
                    </optgroup>

                    <optgroup label="Fading Exits">
                      <option value="fadeOut">fadeOut</option>
                      <option value="fadeOutDown">fadeOutDown</option>
                      <option value="fadeOutDownBig">fadeOutDownBig</option>
                      <option value="fadeOutLeft">fadeOutLeft</option>
                      <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                      <option value="fadeOutRight">fadeOutRight</option>
                      <option value="fadeOutRightBig">fadeOutRightBig</option>
                      <option value="fadeOutUp">fadeOutUp</option>
                      <option value="fadeOutUpBig">fadeOutUpBig</option>
                    </optgroup>

                    <optgroup label="Flippers">
                      <option value="flip">flip</option>
                      <option value="flipInX">flipInX</option>
                      <option value="flipInY">flipInY</option>
                      <option value="flipOutX">flipOutX</option>
                      <option value="flipOutY">flipOutY</option>
                    </optgroup>

                    <optgroup label="Lightspeed">
                      <option value="lightSpeedIn">lightSpeedIn</option>
                      <option value="lightSpeedOut">lightSpeedOut</option>
                    </optgroup>

                    <optgroup label="Rotating Entrances">
                      <option value="rotateIn">rotateIn</option>
                      <option value="rotateInDownLeft">rotateInDownLeft</option>
                      <option value="rotateInDownRight">rotateInDownRight</option>
                      <option value="rotateInUpLeft">rotateInUpLeft</option>
                      <option value="rotateInUpRight">rotateInUpRight</option>
                    </optgroup>

                    <optgroup label="Rotating Exits">
                      <option value="rotateOut">rotateOut</option>
                      <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                      <option value="rotateOutDownRight">rotateOutDownRight</option>
                      <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                      <option value="rotateOutUpRight">rotateOutUpRight</option>
                    </optgroup>

                    <optgroup label="Sliding Entrances">
                      <option value="slideInUp">slideInUp</option>
                      <option value="slideInDown">slideInDown</option>
                      <option value="slideInLeft">slideInLeft</option>
                      <option value="slideInRight">slideInRight</option>

                    </optgroup>
                    <optgroup label="Sliding Exits">
                      <option value="slideOutUp">slideOutUp</option>
                      <option value="slideOutDown">slideOutDown</option>
                      <option value="slideOutLeft">slideOutLeft</option>
                      <option value="slideOutRight">slideOutRight</option>

                    </optgroup>

                    <optgroup label="Zoom Entrances">
                      <option value="zoomIn">zoomIn</option>
                      <option value="zoomInDown">zoomInDown</option>
                      <option value="zoomInLeft">zoomInLeft</option>
                      <option value="zoomInRight">zoomInRight</option>
                      <option value="zoomInUp">zoomInUp</option>
                    </optgroup>

                    <optgroup label="Zoom Exits">
                      <option value="zoomOut">zoomOut</option>
                      <option value="zoomOutDown">zoomOutDown</option>
                      <option value="zoomOutLeft">zoomOutLeft</option>
                      <option value="zoomOutRight">zoomOutRight</option>
                      <option value="zoomOutUp">zoomOutUp</option>
                    </optgroup>

                    <optgroup label="Specials">
                      <option value="hinge">hinge</option>
                      <option value="jackInTheBox">jackInTheBox</option>
                      <option value="rollIn">rollIn</option>
                      <option value="rollOut">rollOut</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>

            <!-- Tamanho da Fonte do texto-->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config mb-6">Tamanho da Fonte:</p>
                <div class="wrapper-input">
                  <!-- <nouislider name="text_size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.text.size" [tooltips]="true" class="slider"></nouislider> -->
                </div>
              </div>
            </div>

            <!-- Alinhamento do texto-->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Alinhamento:</p>
                <div class="wrapper-input">
                  <button (click)="setAlign(item.text, 'left')" [class.btn-primary]="item.text.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar a Esquerda">format_align_left</i>
                  </button>

                  <button (click)="setAlign(item.text, 'center')" [class.btn-primary]="item.text.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar no Centro">format_align_center</i>
                  </button>

                  <button (click)="setAlign(item.text, 'right')" [class.btn-primary]="item.text.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons" title="Alinhar a Direita">format_align_right</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="settings">
          <!-- Cor de Fundo -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseBackgroudColor" aria-expanded="false" aria-controls="collapseBackgroudColor">Cor de Fundo</p>
            </div>
          </div>

          <!-- Box Cor de Fundo -->
          <div class="box-group collapse in" id="collapseBackgroudColor">
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Cor de Fundo:</p>
                <div class="wrapper-input">
                  <input type="text" name="background"
                  [(colorPicker)]="item.background"
                  [(ngModel)]="item.background"
                  [style.background]="item.background"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>
            </div>
          </div>

          <!-- Separador -->
          <div class="divider my-4"></div>

          <!-- Botão Principal -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseMainButton" aria-expanded="false" aria-controls="collapseMainButton">Botão Principal</p>
            </div>
          </div>

          <!-- Box Botão Principal -->
          <div class="box-group collapse in" id="collapseMainButton">
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Texto:</p>
                <div class="wrapper-input">
                  <input name="main_button_text" type="text" class="w-100 px-2 text" placeholder="Digite o título" [(ngModel)]="item.mainButton.text">
                </div>
              </div>

              <div class="col-md-12">
                <p class="title-config">Cor do texto:</p>
                <div class="wrapper-input">
                  <input type="text" name="main_button_color"
                  [(colorPicker)]="item.mainButton.color"
                  [(ngModel)]="item.mainButton.color"
                  [style.color]="item.mainButton.color"
                  [style.background]="item.mainButton.background"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>

              <div class="col-md-12">
                <p class="title-config">Cor de fundo:</p>
                <div class="wrapper-input">
                  <input type="main_button_background"
                  [(colorPicker)]="item.mainButton.background"
                  [(ngModel)]="item.mainButton.background"
                  [style.color]="item.mainButton.color"
                  [style.background]="item.mainButton.background"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider my-4"></div>

      <div class="text-right">
        <button class="btn btn-primary btn-sm" (click)="emitSendEvent()">Salvar</button>
      </div>

    </div>

  </div>

</div>
