<div class="forum-wrapper">
  <div class="content">
    <div class="row" *ngIf="loading">
      <p class="text-center">{{ 'Loading' | translate }}...</p>
    </div>

    <div *ngIf="!loading">
      <div class="question">
        <h3>{{ forum?.pergunta }}</h3>
        <div *ngIf="!answered">
          <div class="user">
            <form [formGroup]="form" (ngSubmit)="save()">
              <mat-form-field class="input">
                <input matInput placeholder="Digite sua resposta" formControlName="resposta">
              </mat-form-field>
              <div *ngIf="!answered">
                <div class="text-center" style="margin: 30px 0;">
                  <button type="submit" class="btn btn-medium btn-orange">{{ 'Save' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="answer" *ngIf="response?.length == 0">
        <p class="text mt-4">{{ 'NoAnswersFound' | translate }}</p>
      </div>

      <div class="answer" *ngFor="let item of response" (mouseenter)="getHidden(item)" (mouseleave)="getHidden(item)">
        <div class="flex">
          <h4 class="name">{{ item?.name }}</h4>
          <div class="pull-right">
            <div class="dropdown pull-right pt-3" *ngIf="item?.status && item?.hidden">
              <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right m-top">
                <li><a *ngIf="!item?.disable" (click)="onEdit(item)">{{ 'Edit' | translate }}</a></li>
                <li><a (click)="onRemove(item)">{{ 'Delete' | translate }}</a></li>
              </ul>
            </div>
          </div>

        </div>
        <small>{{ item?.created_at?.date | amTimeAgo }}</small>
        <small class="pull-right">
          <button class="btn btn-simple btn-vote" [class.like]="item?.voto == 1" [disabled]="item?.voto != 0" (click)="vote(item, 1)">
            <i class="material-icons">thumb_up</i> {{ item?.qtd_like }}
          </button>
          <button class="btn btn-simple btn-vote" [class.unlike]="item?.voto == 2" [disabled]="item?.voto != 0" (click)="vote(item, 2)">
            <i class="material-icons">thumb_down</i> {{ item?.qtd_unlike }}
          </button>
        </small>
        <p class="text mt-4" *ngIf="!item?.disable">{{ item?.resposta }}</p>
        <form [formGroup]="formUpdate" *ngIf="item?.disable" (ngSubmit)="updateForm()">
          <mat-form-field class="w-100">
            <input matInput formControlName="resposta" [value]="item.resposta" placeholder="Pressione enter para postar a resposta">
          </mat-form-field>
        </form>

      </div>

      <div class="text-center" style="margin: 30px 0;" *ngIf="answered">
        <button type="button" class="btn btn-primary" (click)="goNext()">Próximo</button>
      </div>

    </div>

  </div>
</div>
