$im: !important;

$bg-client: var(--bg-client, #fff);

$primary-color: var(--primary-color, silver);
$primary-color-hover: var(--primary-color-hover, gray);
$primary-box-shadow: var(--primary-box-shadow, rgba(200,200,200,0.5));

a {
    color: #4a4a4a !important;
}

a:hover,
a:focus {
    color: $primary-color !important;
}

p {
    margin: 0;
}

.forum {
    margin: 0;
    padding: 0;
}

.forum li {
    padding: 20px;
    border-bottom: 1px solid #e9e9e9;
}

.forum li:last-child {
    border-bottom: none;
}

.forum li:hover {
    background: #f1f1f1;
    border-radius: 5px;
}

.forum li small {
    font-size: 14px;
    color: #a1a1a1;
}

.forum li h3 {
    font-size: 24px;
    margin: 10px 0 15px 0;
    padding: 0;
    font-weight: 600;
}

.forum li .title {
    font-size: 16px;
    color: #a1a1a1;
    margin: 0;
}

.question {
    border-radius: 5px;
}

.question .title {
    font-size: 16px;
    color: #a1a1a1;
    margin: 0;
}

.question small {
    font-size: 14px;
    color: #a1a1a1;
}

.question h3 {
    font-size: 24px;
    margin: 10px 0 15px 0;
    padding: 0;
    font-weight: 600;
}

.answer {
    padding: 20px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
}

.answer:last-child {
    border-bottom: none;
}

.answer .title {
    font-size: 16px;
    color: #a1a1a1;
    margin: 0;
}

.answer small {
    font-size: 14px;
    color: #a1a1a1;
}

.answer h3 {
    font-size: 24px;
    margin: 10px 0 15px 0;
    padding: 0;
    font-weight: 600;
}

.answer h4 {
    font-size: 20px;
    margin: 10px 0 15px 0;
    padding: 0;
    font-weight: 600;
}

.answer .text {
    font-size: 18px;
}

.answer .avatar {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 1px;
    border-radius: 50%;
}

.answer .name {
    font-size: 20px;
    color: $primary-color;
    margin: 0;
}

.answer .user .avatar,
.question .user .avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.answer .reply {
    margin: 25px 0 0;
    border-top: 1px solid #e9e9e9;
    padding: 30px 0 0 50px;
}

.answer .reply .avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 5px;
}

.answer .reply h4 {
    font-size: 18px;
}

.answer .reply small {
    font-size: 12px;
}

.input {
    width: calc(100% - 55px) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $primary-color !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $primary-color !important;
}

.flex {
    justify-content: space-between;
    display: flex;
}

.flex-end {
    justify-content: flex-end;
    display: flex;
}

.avatar-null {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    padding: 7px;
    color: #888;
    background: #eee;
    float: left;
    margin-right: 15px;
}

.btn-medium {
    margin-left: 10px;
}

.btn-vote {
    background: transparent;
    margin: 6px 10px;
    color: #4a4a4a;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    float: left;
}

.btn-vote.active {
    color: $primary-color;
}

.star-rating {
    margin: 0px 0;
}

.no-selected-start {
    color: #ccc;
    font-size: 1em !important;
    margin-left: 5px;
}

::ng-deep .hover .star-rating .no-selected-start:hover {
    color: $primary-color;
}

.selected-start {
    color: $primary-color;
    font-size: 1em !important;
    margin-left: 5px;
}

.hover {
    cursor: pointer;
}

.forum-wrapper {
  width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
