<nav class="navbar navbar-expand-lg navbar-light">
  <div class="">
    <button type="button" id="sidebarCollapse" class="btn btn-toggler">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <a class="navbar-brand d-none d-sm-inline-block">{{(menuItems) ? (menuItems[0].title | asapLimitTo: 70) : null }}</a>
    <div class="btn-close">
      <a class="nav-link" (click)="back()">
        <i class="fa fa-close"></i>
      </a>
    </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
        <i class="material-icons visible-on-sidebar-mini">view_list</i>
      </button>
    </div>
    <a class="navbar-brand" href="#">{{getTitle()}}</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="back()">
          <i class="fa fa-close"></i>
        </a>
      </li>
    </ul>
  </div>
</nav> -->
