<textarea 
  ngControlName
  *ngIf="input.type == 'text-long'"
  name="input"
  matInput 
  matTextareaAutosize
  class="no-border w-100 cell-text" 
  [placeholder]="input.placeholder"></textarea>

<input 
  *ngIf="input.type == 'text-short'"
  type="text"
  name="input"
  matInput 
  class="no-border w-100 cell-text" 
  [placeholder]="input.placeholder" />

<input 
  *ngIf="input.type == 'number'"
  type="number"
  name="input"
  matInput 
  class="no-border w-100 cell-text" 
  [placeholder]="input.placeholder" />

<input 
  *ngIf="input.type == 'currency'"
  type="text"
  name="input"
  currencyMask
  matInput 
  class="no-border w-100 cell-text" 
  [placeholder]="input.placeholder" />

<input 
  *ngIf="input.type == 'date'"
  type="date"
  name="input"
  matInput 
  class="no-border w-100 cell-text" 
  [placeholder]="input.placeholder" />

<div class="form-group form-focus label-floating" *ngIf="input.type === 'select-single'">
  <mat-form-field class="w-100 m-b-3">
    <mat-select name="input" [placeholder]="input.placeholder">
      <mat-option *ngFor="let opt of input.selectOptions" [value]="opt.value"> {{ opt.value }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="form-group form-focus label-floating" *ngIf="input.type === 'select-multi'">
  <mat-form-field class="w-100 m-b-3">
    <mat-select multiple name="input" [placeholder]="input.placeholder">
      <mat-option *ngFor="let opt of input.selectOptions" [value]="opt.value"> {{ opt.value }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>