.form-group {
  position: relative;
}

.btn-send {
  position: absolute;
  right: 5px;
  top: 12px;
  border: 0;
  outline: none;
  background: transparent;
  color: #aaa;
}

.btn-send:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}

.comment {
  margin-left: 10px;
  background: #eee;
  line-height: 21px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.comment p {
  margin-bottom: 0;
}

.comment h4 {
  font-size: 1.1em;
  font-weight: 600;
}

.avatar {
  float: right;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-null {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  padding: 8px;
  color: #888;
  background: #eee;
  float: right;
}

.comments input[type=text] {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #c9bfbb;
  -moz-box-shadow: 1px 1px 2px #c9bfbb;
  -webkit-box-shadow: 1px 1px 2px #c9bfbb;
  background: #f5f5f5;
  border: transparent;
  width: 100%;
  margin-top: 8px;
  padding: 2px 10px;
}

.video {
  width: 100%;
  height: 360px;
}

.fake-link {
  cursor: pointer;
}