<div class="comments">
  <form (ngSubmit)="postComment()" [formGroup]="form" class="form-group">
    <fieldset [disabled]="onPosting">
      <!-- <input type="text" class="form-control" formControlName="comment" placeholder="Digite seu comentário">
      <button type="submit" [disabled]="!form.valid" class="btn-send"><i class="material-icons">send</i></button> -->
      <textarea class="form-control" formControlName="comment"  placeholder="Digite seu comentário"></textarea>
      <div class="flex-end text-right">
        <button type="submit" [disabled]="!form.valid" class="btn btn-medium btn-black">Enviar</button>
      </div>
    </fieldset>
    <p *ngIf="onPosting"><small>{{ 'Sending' | translate }}...</small></p>
  </form>
  <p *ngIf="!comment"><i>{{ 'Loading' | translate }}...</i></p>
  <div *ngIf="comment">
    <div *ngFor="let item of comment" class="flex">
      <div class="profile">
        <img [matTooltip]="item.data_user[0].name" [src]="item.data_user[0].picture || 'assets/img/blank-user.png'" class="avatar" alt="">
      </div>
      <div class="comment">
        <div class="row">
          <div class="col-xs-11">
              <p><b>{{ item.data_user[0].name }}:</b> {{ item?.comment }}</p>
          </div>
          <div class="col-xs-1">
            <span class="pull-right" *ngIf="item.status === true">
              <a (click)="onRemove(item)" class="text-danger fake-link">
                <i class="material-icons">clear</i>
              </a>
            </span>
          </div>
        </div>

      </div>
    </div>
    <p *ngIf="comment.length === 0"><i>{{ 'NoComment' | translate }}</i></p>
  </div>
</div>
