
<div class="row bg-grey">
  <div class="col-md-6 col-xs-6"><h4 class="fw-500">Novo produto</h4></div>
  <div class="col-md-6 col-xs-4 text-right mt-4">
    <ul class="menu-top">
      <li><a [routerLink]="['/painel']"><i class="fa fa-close"></i></a></li>
    </ul>   
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-content">
        
        <form class="form-new-product" [formGroup]="form" (ngSubmit)="register()">
        <h3 class="mt-0 text-center">Novo produto</h3>
        <p class="mb-4 text-center">Preencha todos os campos abaixo.</p>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
             <div class="input-box mt-4">
              <label class="forms__input_box__label" for="product">{{file_input}}</label>
              <input formControlName="foto" class="input-box-input" id="product" type="file" (change)="onFileChange($event)" #fileInput>
            </div>
          </div>
        </div>
        
        <div class="row mt-5">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <input formControlName="name" matInput placeholder="Nome do produto:">
          </mat-form-field>
        </div>
          
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input matInput formControlName="description" placeholder="Descrição:">
            </mat-form-field>
          </div>

          <div formGroupName="dimensions">
            <div class="col-md-4">
              <mat-form-field class="w-100">
                <input matInput formControlName="largura">
                <mat-placeholder>Largura em <b>CM</b>:</mat-placeholder>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="w-100">
                <input matInput formControlName="cumprimento">
                <mat-placeholder>Comprimento em <b>CM</b>:</mat-placeholder>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="w-100">
                <input matInput formControlName="peso">
                <mat-placeholder>Peso em <b>KG</b>:</mat-placeholder>
              </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-rose">CADASTRAR</button>
            </div>
              
          </div>
        </div>

        <!--<button mat-fab type="submit" class="btn_fixed"><i class="btn_fixed__i flaticon-checked"></i></button> -->
            {{errors}}
      </form>
      </div>
    </div>
  </div>
</div>



