
  <div class="row">
      <div class="steppers">
        <ul class="steppers__ul">
          <li class="steppers__ul__li"><a routerLink="materiais" routerLinkActive="actived" mat-raised-button class="steppers__ul__li__btn"><i class="steppers__ul__li__btn__i flaticon-school"></i> Materiais</a></li>
          <li class="steppers__ul__li"><a routerLink="mao-de-obra" routerLinkActive="actived" mat-raised-button class="steppers__ul__li__btn"><i class="steppers__ul__li__btn__i flaticon-wrench"></i> Mão de Obra</a></li>
          <!--li class="steppers__ul__li"><a routerLink="fornecedor" routerLinkActive="actived" mat-raised-button class="steppers__ul__li__btn"><i class="steppers__ul__li__btn__i flaticon-package"></i> Fornecedor</a></li-->
          <li class="steppers__ul__li"><a routerLink="calcular" routerLinkActive="actived" mat-raised-button class="steppers__ul__li__btn"><i class="steppers__ul__li__btn__i flaticon-calculator"></i> Calcular</a></li>
        </ul>
      </div>

      <div class="container_vizualized">        
        <router-outlet></router-outlet>
      </div>
  </div>