
<div class="messenger">

  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <img src="assets/img/logo.png" class="logo" alt="">
          <div class="cogs">
            <a [matMenuTriggerFor]="menu"><i class="fa fa-filter"></i></a>
            <mat-menu #menu="matMenu">
              <button (click)="searchStatus=null" mat-menu-item>Todos</button>
              <button (click)="searchStatus=false" mat-menu-item>Contatos Offline</button>
              <button (click)="searchStatus=true" mat-menu-item>Contatos Online</button>
            </mat-menu>
          </div>
        </div>
        <div *ngIf="selectedUser" class="col-sm-9">
          <img [src]="selectedUser.picture || 'assets/img/default-avatar.png'" class="avatar" alt="">
          <div>
            <div class="username">{{selectedUser.user_name}}</div>
            <div class="time">{{(selectedUser.updated_at.seconds*1000 || selectedUser.updated_at) | amTimeAgo}}</div>
          </div>
          <div class="close d-none d-sm-block" routerLink="/portal">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container-fluid">

      <!-- Visualização desktop -->
      <div class="row">
        <div class="col-sm-3 d-none d-sm-block">
          <div class="contacts">
            <div class="input-group input-group-sm">
              <input type="search" [(ngModel)]="searchUser" class="form-control"placeholder="Buscar no chat">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
            <ul>
              <ng-container *ngFor="let user of users | async" >
                <li *ngIf="filteredUser(user)">
                  <a class="pointer" (click)="selectUser(user)">
                    <img [src]="user.picture || 'assets/img/default-avatar.png'" class="avatar" alt="">
                    <div class="date">{{(user.updated_at.seconds*1000 || user.updated_at) | date:'dd/MM/yyyy hh:mm'}}</div>
                    <div class="username text-truncate">{{user.user_name}}</div>
                    <div class="msg text-truncate">Lorem ipsum dolor sit amet...</div>
                    <span class="status online" [class.online]="user.status" [class.offline]="!user.status"><i class="fa fa-circle"></i></span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="col-sm-9 d-none d-sm-block">
          <div *ngIf="selectedUser" class="chat">
            <div *ngFor="let msg of conversation | async" class="chat-conversation">
              <div *ngIf="showDate(msg)" class="chat-date">
                <span>{{msg.timesamp | date:'fullDate'}}</span>
              </div>
              <div [class.yours]="msg.sentby != global.loggedUser().id" [class.mine]="msg.sentby == global.loggedUser().id" class="messages">
                <div class="message">
                  {{msg.message}}
                  <div class="hour">{{msg.timesamp | date:'HH:mm:ss'}}</div>
                </div>
                <!-- <div class="message last">
                  Tudo bem contigo?
                  <div class="hour">14:10</div>
                </div> -->
              </div>
            </div>
            <!-- <div class="chat-conversation">
              <div class="chat-date">
                <span>Hoje</span>
              </div>
              <div class="mine messages">
                <div class="message">
                  Ola!
                  <div class="hour">15:48</div>
                </div>
                <div class="message last">
                  Pode madar aquela imagem?
                  <div class="hour">15:49</div>
                 </div>
              </div>
              <div class="yours messages">
                <div class="message">
                  <img src="assets/img/a.jpg" alt="">
                  <div class="hour">16:02</div>
                </div>
                <div class="message last">
                  De boa?
                  <div class="hour">16:02</div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="sender">
            <!-- <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">
                    <i class="fa fa-paperclip"></i>
                  </label>
                </div>
              </div>
              <input type="text" class="form-control"placeholder="Digite uma mensagem">
              <div class="input-group-append">
                <img src="assets/img/edu.jpg" class="avatar" alt="">
              </div>
            </div> -->
            <div *ngIf="selectedUser" class="input-group input-group-sm">
              <div class="input-group-preppend">
                <div class="input-group-append">
                  <i class="fa fa-paperclip"></i>
                </div>
              </div>
              <input #msgInput type="text" (keyup.enter)="sendMessage(msgInput)" class="form-control" placeholder="Digite uma mensagem" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div (click)="sendMessage(msgInput)" class="input-group-append">
                <i class="fa fa-send"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Visualização mobile -->
      <div class="row">
        <div class="col-sm-3 d-block d-sm-none">
          <div class="contacts">
            <div class="input-group input-group-sm">
              <input type="search" class="form-control"placeholder="Buscar no chat">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
            <ul>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/sergio.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Sérgio Borges</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status online"><i class="fa fa-circle"></i></span>
                </a>
              </li>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/herber.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Herber Jackson</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status online"><i class="fa fa-circle"></i></span>
                </a>
              </li>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/natanael.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Natanael Lopes</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status offline"><i class="fa fa-circle"></i></span>
                </a>
              </li>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/kdim.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Ricardo Almeida</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status offline"><i class="fa fa-circle"></i></span>
                </a>
              </li>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/wesley.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Wesley Oliveira</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status online"><i class="fa fa-circle"></i></span>
                </a>
              </li>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/yuri.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Yuri Carvalho</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status online"><i class="fa fa-circle"></i></span>
                </a>
              </li>
              <li>
                <a routerLink="conversation">
                  <img src="assets/img/tavares.jpg" class="avatar" alt="">
                  <div class="date">12/06/19</div>
                  <div class="username">Eduardo Tavares</div>
                  <div class="msg">Lorem ipsum dolor sit amet...</div>
                  <span class="status offline"><i class="fa fa-circle"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>
