<div class="row">
  <div class="steppers">
    <ul>
      <li><a routerLink="custos-fixos" routerLinkActive="actived" mat-raised-button>Custos fixos mensais</a></li>
      <li><a routerLink="custos-variaveis" routerLinkActive="actived" mat-raised-button>Custos variáveis</a></li>
      <li><a routerLink="faturamento-estimado" routerLinkActive="actived" mat-raised-button>Faturamento estimado</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <div class="container_viability">        
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

