.table-clean table { border-collapse: collapse; border-spacing: 0; width: 100%; border: 1px solid #ddd; background: #f9f5f4;}
.table-clean table td { padding: 0px}

.table-clean table thead tr th{ background: #dedede; font-size: 1em; font-weight: 800; color: #383838;}
.table-clean table tbody tr td { color: #383838; font-size: 1em; padding: 0px;}
.table-clean table tfoot tr th{ background: #dedede; font-size: 1em; font-weight: 800; color: #383838;}

.table-clean .table-bordered { border: 1px solid #fff; }
.table-clean .table-bordered th, .table-bordered td { border: 1px solid #fff !important; }
.table-clean .table-bordered > thead > tr > th,
.table-clean .table-bordered > tbody > tr > th,
.table-clean .table-bordered > tfoot > tr > th,
.table-clean .table-bordered > thead > tr > td,
.table-clean .table-bordered > tbody > tr > td,
.table-clean .table-bordered > tfoot > tr > td { border: 1px solid #fff; }

.table-clean .table-striped tr:nth-of-type(odd) { background-color: #f2eeef !important; }

::ng-deep .table-clean input.mat-input-element { background: transparent !important; }

.cursor-pointer { cursor: pointer; }

#dynamic-table .cell-text {
    padding: 10px;
}
