<div class="row">
  <div class="card-content">

    <form [formGroup]="form"  class="table-responsive table-clean">
      <table class="table table-bordered dynamic-table-component table-striped" id="dynamic-table">
        <thead>
          <tr>
            <th *ngFor="let col of item.collumns" class="text-center">{{ col.title }}</th>
            <th width="20" *ngIf="item.userActive"></th>
          </tr>
        </thead>
        <tbody>
          <tr formArrayName="items" *ngFor="let formItem of form.get('items')['controls']; let i = index;">

            <td [formArrayName]="i" *ngFor="let input of formItem['controls']; let x = index;">

              <textarea
                [formControlName]="x"
                *ngIf="item.collumns[x].type == 'text-long'"
                name="input_{{ i }}_{{ x }}"
                matInput
                matTextareaAutosize
                class="no-border w-100 cell-text"
                placeholder="{{ item.collumns[x].placeholder }}"></textarea>

              <input
                [formControlName]="x"
                *ngIf="item.collumns[x].type == 'text-short'"
                type="text"
                name="input_{{ i }}_{{ x }}"
                matInput
                class="no-border w-100 cell-text"
                placeholder="{{ item.collumns[x].placeholder }}" />

              <input
                [formControlName]="x"
                *ngIf="item.collumns[x].type == 'number'"
                type="number"
                name="input_{{ i }}_{{ x }}"
                matInput
                class="no-border w-100 cell-text"
                placeholder="{{ item.collumns[x].placeholder }}" />

              <input
                [formControlName]="x"
                *ngIf="item.collumns[x].type == 'currency'"
                name="input_{{ i }}_{{ x }}"
                type="text"
                currencyMask
                matInput
                class="no-border w-100 cell-text"
                placeholder="{{ item.collumns[x].placeholder }}" />

              <input
                [formControlName]="x"
                *ngIf="item.collumns[x].type == 'date'"
                type="date"
                name="input_{{ i }}_{{ x }}"
                matInput
                class="no-border w-100 cell-text"
                placeholder="{{ item.collumns[x].placeholder }}" />

              <div class="form-group form-focus label-floating py-0 px-3 m-0" *ngIf="item.collumns[x].type === 'select-single'">
                <mat-form-field class="w-100 bold-100">
                  <mat-select [formControlName]="x" placeholder="{{ item.collumns[x].placeholder }}">
                    <mat-option *ngFor="let opt of item.collumns[x].selectOptions" [value]="opt.value"> {{ opt.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group form-focus label-floating py-0 px-3 m-0" *ngIf="item.collumns[x].type === 'select-multi'">
                <mat-form-field class="w-100">
                  <mat-select multiple [formControlName]="x" placeholder="{{ item.collumns[x].placeholder }}">
                    <mat-option *ngFor="let opt of item.collumns[x].selectOptions" [value]="opt.value"> {{ opt.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </td>

            <td class="w-5 px-0 text-center" *ngIf="item.userActive">
              <a class="cursor-pointer" (click)="createView()" *ngIf="i === 0">
                <i class="fa fa-plus-circle fc-green" aria-hidden="true"></i>
              </a>
              <a class="cursor-pointer" (click)="removeView(i)" *ngIf="i > 0">
                <i class="fa fa-minus-circle fc-red" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary btn-green-dark pull-right" *ngIf="!showSaved" (click)="onSubmit()">Salvar</button>
      <button class="btn btn-success btn-green-dark pull-right" *ngIf="showSaved">Salvo com sucesso!</button>
    </form>

  </div>
</div>
