
<div class="modal_content">
  <form *ngIf="!delete" class="forms" [formGroup]="form">
    <h4 class="mt-0">Custos fixos</h4>
    <p>Preencha todos os campos abaixo:</p>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input formControlName="custo" matInput placeholder="Custo:">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input formControlName="valor" matInput placeholder="Valor:">
        </mat-form-field>
      </div>
      <div class="col-md-12 mt-5 text-right">
        <button class="btn btn-default" (click)="onNoClick()">Cancelar</button>
        <button class="btn btn-rose" (click)="register()">Cadastrar</button>
      </div>
    </div>
  </form>

  <form class="forms" *ngIf="delete">
    <div class="row">
      <div class="col-md-12">
        <h4 class="mt-0">Custos fixos</h4>
        <div mat-dialog-content>
          <p>Deseja mesmo excluir {{ custos.custo }} ?</p>
        </div>
        <div mat-dialog-actions>
          <div class="col-md-12 text-right">
            <button class="btn btn-default" (click)="cancel()">Cancelar</button>
            <button class="btn btn-rose" (click)="delClick()">Deletar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
