<div class="col-md-12">
    <div class="form-group" [formGroup]="group">
      <mat-form-field>
          <mat-select [formControlName]="config.name" [placeholder]="config.label">
              <mat-option *ngFor="let option of config.options" [value]="option">
                  {{ option }}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
</div>