<div class="logo">
  <div class="logo-normal">
    <a class="simple-text">ASTA</a>
  </div>
  <div class="logo-img">
    <img src="/assets/img/clientes/asta/logo.png" />
  </div>
</div>
<div class="sidebar-wrapper">
  <div class="user">
    <div class="icon">
      <i class="material-icons">class</i>
    </div>
    <div class="info">
      <a class="collapsed">
        <span>Meu desempenho</span>
      </a>
    </div>
  </div>
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li>
        <a><i class="fa fa-angle-left"></i> Anterior</a>
      </li>
      <li>
        <a>Próximo <i class="fa fa-angle-right"></i></a>
      </li> -->
      <li><a [routerLink]="['/painel/formularios']"><i class="fa fa-close"></i> Fechar</a></li>
      <li class="separator hidden-lg hidden-md"></li>
    </ul>
  </div>
  <div class="nav-container">
    <ul class="nav">
      <li *ngFor="let assessment of assessmentArray">
        <a style="cursor: pointer;" [routerLink]="['/visualizador/assessment', form]">
          <i class="material-icons" *ngIf="assessment.status != 1">fiber_manual_record</i>
          <i class="material-icons icon-done" *ngIf="assessment.status == 1">done</i>
          <p (click)="assessmentSelected(assessment)" style="overflow: hidden;text-overflow: ellipsis;">{{ assessment.title }}</p>
        </a>
      </li>
      <li class="link-relatorios">
        <a  [routerLink]="['/visualizador/assessment', form, 'relatorio']" style="cursor: pointer;">
          <i class="material-icons">pie_chart</i>
          Relatórios
        </a>
      </li>
    </ul>
  </div>
</div>
