.loader { width: 60px; margin: 0 auto; position: relative; top: 50vh; }

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader-radius:before {
    content: '';
    display: block;
    padding-top: 0;
}


.card { height: 130px; }

p { margin-top: 40px; margin-left: -10px; }
