<div [class.loader]="true" [class.loader-radius]="radius" [style.display]="(radius)?'inline-block':'block'" [style.width]="radius" [style.top]="(radius)?'-5px':false">
  <svg class="circular" [style.width]="radius" [style.height]="radius" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
  <p *ngIf="message != ''" >{{message}}</p>
</div>
