<div class="row my-4">
  <div class="col-md-6"><h4 class="fw-500">Ficha de Canais de Venda</h4></div>
</div>

<ul class="nav nav-tabs nav-justified">
  <li class="active">
    <a data-toggle="tab" href="#tab1">Questões</a>
  </li>
  <li>
    <a data-toggle="tab" href="#tab2">Minhas Respostas</a>
  </li>
  <li>
    <a data-toggle="tab" href="#tab3">Relatório Parcial / Avaliação</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane fade in active">
    <app-exercicio1-tab1></app-exercicio1-tab1>
  </div><!-- /#tab1 -->

  <div id="tab2" class="tab-pane fade">
    <app-exercicio1-tab2></app-exercicio1-tab2>
  </div><!-- /#tab2 -->

  <div id="tab3" class="tab-pane fade">
   <app-exercicio1-tab3></app-exercicio1-tab3>
  </div><!-- /#tab3 -->
</div>
