/* Material Design
===============================================================*/
/* Stepper */
::ng-deep .mat-horizontal-stepper-header { height: 40px !important; padding: 0px 24px 0px 0px !important;}
::ng-deep .mat-step-header .mat-step-icon { background-color: #e91e63; color: #fff; }
::ng-deep .mat-stepper-horizontal-line { margin: 5px !important; min-width: 17px !important; }
::ng-deep .mat-horizontal-content-container { overflow: hidden; padding: 0px !important; }

/* Tooltip */
::ng-deep .mat-tooltip { background: rgba(233, 30, 99, 0.95) !important; color: #FFFFFF !important; font-size: 0.7em !important; font-weight:600; }

/* Link
===============================================================*/
.no-link { color:#3c4858; }

.fs-8 { font-size: 10px !important; }
.fc-gray-light { color:#aaa !important; }

.icon-del { color: #D2D2D2; }
.icon-del:hover { color: #e91e63; }

table tr td small {line-height: 20px;}
