/* Material Design
===============================================================*/
/* Tooltip */
::ng-deep .mat-tooltip {
  background: rgba(233, 30, 99, 0.95) !important; color: #FFFFFF !important;
  font-size: 0.7em !important; font-weight:600; }

/* Select */
::ng-deep .mat-form-field, .mat-form-field-infix {
    width: 20% !important; font-size: 0.85em; margin-left: 15px; }
::ng-deep .mat-select-value { overflow: hidden !important; }
::ng-deep .mat-option { font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 0.8em !important; }

/* Datapicker */
::ng-deep .mat-calendar-body-selected, .mat-calendar-body-selected:hover { background-color: #e91e63; }
