<!-- NavBar -->
<div class="row my-4">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h4 class="fw-500">Calculadora da semana</h4>
  </div>
</div>

<div class="row">
  <!-- Coluna Esquerda - Calculadora -->
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="card mt-0">
      <div class="card-content">
        <form>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <mat-form-field>
                <input name="date" matInput [matDatepicker]="dp" placeholder="Selecione uma data..." [(ngModel)]="inputDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 br-1 py-4"><strong class="pr-3">Manhã</strong></div>
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <mat-form-field>
                  <mat-select name="morning_home" [(ngModel)]="morning.home" placeholder="Ativ. Domésticas">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="morning_health" [(ngModel)]="morning.health" placeholder="Consulta Médica">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="morning_work" [(ngModel)]="morning.work" placeholder="Trabalho">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="morning_extra" [(ngModel)]="morning.extra" placeholder="Ativ. Extras">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button type="submit" class="btn btn-xs btn-rose pull-right" (click)="insertInMorning()">Adicionar</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-3">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 br-1 py-4"><strong class="pr-3">Tarde</strong></div>
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <mat-form-field>
                  <mat-select name="afternoon_home" [(ngModel)]="afternoon.home" placeholder="Ativ. Domésticas">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="afternoon_health" [(ngModel)]="afternoon.health" placeholder="Consulta Médica">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="afternoon_work" [(ngModel)]="afternoon.work" placeholder="Trabalho">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="afternoon_extra" [(ngModel)]="afternoon.extra" placeholder="Ativ. Extras">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button type="submit" class="btn btn-xs btn-rose pull-right" (click)="insertInAfternoon()">Adicionar</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-3">
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 br-1 py-4"><strong class="pr-3">Noite</strong></div>
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <mat-form-field>
                  <mat-select name="night_home" [(ngModel)]="night.home" placeholder="Ativ. Domésticas">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="night_health" [(ngModel)]="night.health" placeholder="Consulta Médica">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="night_work" [(ngModel)]="night.work" placeholder="Trabalho">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select name="night_extra" [(ngModel)]="night.extra" placeholder="Ativ. Extras">
                    <mat-option *ngFor="let time of timeArray" [value]="time">
                      {{ time.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button type="submit" class="btn btn-xs btn-rose pull-right" (click)="insertInNight()">Adicionar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card mt-0">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
              <table class="table mt-4 fs-12">
                <tr class="bg-gray-light-400">
                  <th class="fc-gray-dark" colspan="5">Manhã</th>
                </tr>

                <tr class="bg-gray-light">
                  <th class="w-20 text-center">Data</th>
                  <th class="w-20 text-center">Ativ. domésticas</th>
                  <th class="w-20 text-center">Consulta Médica</th>
                  <th class="w-20 text-center">Trabalho</th>
                  <th class="w-20 text-center">Ativ. Extra</th>
                </tr>

                <tr *ngFor="let ag of weekArray.morning">
                  <td class="text-center">{{ ag.date }}</td>
                  <td class="text-center">{{ ag.home.label }}</td>
                  <td class="text-center">{{ ag.health.label }}</td>
                  <td class="text-center">{{ ag.work.label }}</td>
                  <td class="text-center">{{ ag.extra.label }}</td>
                </tr>
              </table>

              <table class="table mt-0 fs-12">
                <tr class="bg-gray-light-400">
                  <th class="fc-gray-dark" colspan="5">Tarde</th>
                </tr>

                <tr class="bg-gray-light">
                  <th class="w-20 text-center">Data</th>
                  <th class="w-20 text-center">Ativ. domésticas</th>
                  <th class="w-20 text-center">Consulta Médica</th>
                  <th class="w-20 text-center">Trabalho</th>
                  <th class="w-20 text-center">Ativ. Extra</th>
                </tr>

               <tr *ngFor="let ag of weekArray.afternoon">
                  <td class="text-center">{{ ag.date }}</td>
                  <td class="text-center">{{ ag.home.label }}</td>
                  <td class="text-center">{{ ag.health.label }}</td>
                  <td class="text-center">{{ ag.work.label }}</td>
                  <td class="text-center">{{ ag.extra.label }}</td>
                </tr>
              </table>

              <table class="table mt-0 mb-5 fs-12">
                <tr class="bg-gray-light-400">
                  <th class="fc-gray-dark" colspan="5">Noite</th>
                </tr>

                <tr class="bg-gray-light">
                  <th class="w-20 text-center">Data</th>
                  <th class="w-20 text-center">Ativ. Domésticas</th>
                  <th class="w-20 text-center">Consulta Médica</th>
                  <th class="w-20 text-center">Trabalho</th>
                  <th class="w-20 text-center">Ativ. Extra</th>
                </tr>

                <tr *ngFor="let ag of weekArray.night">
                  <td class="text-center">{{ ag.date }}</td>
                  <td class="text-center">{{ ag.home.label }}</td>
                  <td class="text-center">{{ ag.health.label }}</td>
                  <td class="text-center">{{ ag.work.label }}</td>
                  <td class="text-center">{{ ag.extra.label }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="row bb-1 mt-2 mb-3 mx-1">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
        </div>

        <div class="row mt-5">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Quantas horas dedico a mim?</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark">{{ report.me.hour }}<span class="fs-15">hrs</span> {{ report.me.minutes }}<span class="fs-15">min</span></p>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Quantas horas dedico aos outros?</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark">{{ report.others.hour }}<span class="fs-15">hrs</span> {{ report.others.minutes }}<span class="fs-15">min</span></p>
              </div>
            </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 my-3">
            <div class="border bg-gray-light px-3 b-radius3">
              <div class="h-100 p-3">
                <p class="text-center fs-12 fc-gray-light">Quantas horas dedico ao negócio?</p>
                <p class="text-center pt-3 fs-30 fw-500 fc-gray-dark">{{ report.business.hour }}<span class="fs-15">hrs</span> {{ report.business.minutes }}<span class="fs-15">min</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-rose" (click)="save()">Salvar</button>
    </div>
    
  </div>

  <!-- Coluna Direita - Cenário -->
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="card mt-0">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table">Cenários</th>
            </tr>
            <tr *ngFor="let cenario of dataArray; let i = index;">
              <td class="text-left" [ngClass]="{'cenario-active': cenario === cenarioSelected}">
                <span class="pull-left" (click)="selectCenario(i)">
                  <a class="fake-link">Cenário {{i + 1}} </a> <br />
                  <small class="fs-8 fc-gray-light mt-1 visible-lg">* Salvo em: {{ cenario.updated_at.date | date:"dd/MM/yyyy" }}</small>
                </span>
                <a class="pull-right icon-del ml-4 fake-link" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'" (click)="delete(i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-left" [ngClass]="{'cenario-active': !cenarioSelected}">
                <a class="fake-link" (click)="newCenario()">Novo cenário</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>