/* Altura
===============================================================*/
.h-100 {min-height: 100px;}
.h-200 {min-height: 200px;}
.h-300 {min-height: 300px;}

/* Largura
===============================================================*/
.w-2 { width: 2%; }
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-33 { width: 33%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

/* Link
===============================================================*/
.no-link { color:#3c4858; }

/*Borda - Border
===============================================================*/
.border { border: solid 1px #ddd; }
.br-1 { border-right: solid 1px #ddd; }
.bb-1 { border-bottom: dotted 5px #ddd; }

/*Arredondamento de Bordas - Border Radius
===============================================================*/
.b-radius1{border-radius: 5px 0 0 5px;}
.b-radius2{border-radius: 0 5px 5px 0px;}
.b-radius3{border-radius: 5px;}

/*Fonte - Font Size (Tamanho)
===============================================================*/
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-15 { font-size: 15px !important; }
.fs-20 { font-size: 20px !important; }
.fs-30 { font-size: 30px !important; }
.fs-40 { font-size: 40px !important; }

/*Fonte - Color Text (Cor do texto)
===============================================================*/
.fc-gray-light { color:#aaa !important; }
.fc-gray-light-100 { color:#bbb !important; }
.fc-gray-light-200 { color:#ccc !important; }
.fc-gray-light-300 { color:#ddd !important; }
.fc-gray-light-400 { color:#ededed !important; }
.fc-rose { color: #e91e63 !important; }
.fc-cyan { color: #00BCD4 !important; }


.fc-gray-dark { color:#6C7479 !important; }

/*Fonte - Style (Estilo)
===============================================================*/
/*Bold*/
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }

/*Cor de Fundo - Background
===============================================================*/
.bg-rose { color: #fff; background-color: #e91e63 !important; }

.bg-grey{ color: #4a4a4a; background-color: #eee !important; }
.bg-gray-light { color: #333; background-color: #F9F9F9 !important; }
.bg-gray-light-400 { color: #6C7479; background-color: #ededed !important; }

.bg-gray-dark { color: #fff; background-color: #D7D4C7 !important; }

/*Ícone
===============================================================*/
.icon-del { color: #D2D2D2; }
.icon-del:hover { color: #e91e63; }
.info-icon { font-size: 40px; color: #e91e63; }


.video iframe, .video video { width: 100%; height: 270px; }

.table th, .table tr { text-align: center; }
.table .progress { margin-bottom: 0; }

.text-muted { font-size: 16px; }

.progress-bar-rose { background-color: #d60d47; }



.label-rose { background: #e91e63; }

.nav-tabs { background: #e91e63; padding: 0; }



.fla { margin-left: -20px; }

.form-group.is-focused.form-focus .form-control { background-image: linear-gradient(#d60d47, #d60d47), linear-gradient(#D2D2D2, #D2D2D2); }

.menu-top { margin: 0; padding: 0; }

.menu-top li { display: inline-block; margin-left: 15px; }

.menu-top li a { color: #4a4a4a; cursor: pointer; }

.menu-top li a:hover, .menu-top li a:focus { color: #e91e63; }

.cursor-hand { cursor: pointer; }

/* Radio Button */
::ng-deep .radio input[type="radio"]:checked ~ .check { background-color: #d60d47; }
::ng-deep .radio input[type=radio]:checked ~ .circle { border-color: #d60d47; }
::ng-deep .radio label .circle { border: 1px solid rgba(0,0,0, .54); }
::ng-deep .radio label input[type=radio]:not(:checked) ~ .check:after { -webkit-animation: rippleOff 500ms; animation: rippleOff 500ms; }
::ng-deep .radio label .check:after { background-color: rgba(233,30,99, 0.5); }

::ng-deep .mat-option:hover, .mat-option.mat-selected { background-color: #e91e63 !important; }
::ng-deep .mat-focused .mat-input-placeholder { color: #e91e63 !important; }
::ng-deep .mat-focused .mat-input-ripple { background-color: #e91e63 !important; }

.content-grey { display: flex; background: #f1f1f1; padding: 10px 0; margin-top: 10px; }

.cenario-active:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0da";
  float: left;
  font-weight: bold;
  color: #e91e63;
  position: relative;
  top: 2px;
  left: -5px;
}

.fake-link { color:#3c4858; cursor: pointer; }

#viewer-navigator {
    position: absolute;
    top: 15px;
    left: -15px;
}
