
<div class="wrapper">
  <div class="sidebar" data-background-color="black">
    <app-gestao-sidebar (title)="getTitle($event)"></app-gestao-sidebar>
    <!-- <div class="sidebar-background" style="background-image: url(assets/img/clientes/asta/background-sidebar.png)"></div> -->
  </div>
  <div class="main-panel">
    <app-gestao-navbar></app-gestao-navbar>
    <app-viewer-gestao></app-viewer-gestao>
  </div>
</div>
