.mat-dialog-actions {
    flex-direction: row-reverse;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.result-item {
    display: table;
    width: 100%;
    padding: 10px;
}

.result-item:hover {
    background-color:rgba(0,0,0,0.1);
}

.result-item span {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-item .email {
    color: gray;
    font-size: 0.9em;
}
