<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>Digite sua busca abaixo em seguida pressione [ENTER]:</p>
    <mat-form-field class="w-100">
        <input autocomplete="false" matInput placeholder="Pesquisar..." (keydown.enter)="doFilter()" [(ngModel)]="filter" [disabled]="!list">
    </mat-form-field>
    <div style="height:250px; overflow-x: hidden; overflow-y:scroll;">
        <div class="text-center" *ngIf="!filteredList || !list">
            Carregando...
        </div>
        <div *ngFor="let item of filteredList">
            <div class="col-sm-10">
                <img  *ngIf="data.pictureField" class="avatar pull-left" [src]="item[data.pictureField] || 'assets/img/default-avatar.png'" />
                <span *ngIf="data.descriptionField" class="username">{{item[data.descriptionField]}}</span><br>
                <span *ngIf="data.detailField" class="email">{{item[data.detailField]}}</span>
                <span *ngIf="!data.descriptionField" class="username">{{item}}</span><br>
            </div>
            <div class="col-sm-2">
                <button *ngIf="!multiselect" class="btn btn-simple btn-sm btn-block btn-success" (click)="select(item)"><i class="fa fa-check"></i></button>
                <button *ngIf="multiselect && (multiselected.indexOf(item) >= 0)" class="btn btn-simple btn-sm btn-block btn-success" (click)="unselect(item)"><i class="fa fa-check"></i></button>
                <button *ngIf="multiselect && (multiselected.indexOf(item) < 0)" class="btn btn-simple btn-sm btn-block btn-danger" (click)="select(item)"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    <p class="text-right">{{filteredList.length}} registro(s) encontrado(s)</p>
</div>
<div class="text-right" mat-dialog-actions>
  <button *ngIf="multiselect" class="btn btn-primary" (click)="select(multiselected)">Ok</button>
  <button class="btn btn-default" (click)="onNoClick()">Sair</button>
</div>
