<div class="wrapper-content">
	<div class="col-large">
		<div class="chat-room">
            <div class="h-full">
                <div *ngIf="loading" class="text-center">
                    Carregando...
                </div>
                <div *ngIf="(!loading) && (messages?.length == 0)" class="text-center">
                    <i class="fa fa-frown fa-5x"></i>
                    <h4>Esse chat ainda não possui mensagens...</h4>
                </div>
                <ng-container *ngFor="let msg of messages">
                    <div [ngClass]="(msg?.data().user?.user_id == loggedUser?.data?.id )? 'left-m' : 'right-m'" *ngIf="msg?.data().type == 'message'" >
                        <div class="chat-body">
                            <div class="item-message">
                                <div>
                                    <img class="avatar-45" *ngIf=" (msg?.data().user?.picture == '' || msg?.data().user?.picture == 'null' || msg?.data().user?.picture == null)" src="assets/img/default-avatar.png" />
                                    <img class="avatar-45" *ngIf="!(msg?.data().user?.picture == '' || msg?.data().user?.picture == 'null' || msg?.data().user?.picture == null)" [src]="msg?.data().user?.picture" alt="" />                                 
                                </div>
                                <span class="item-text">
                                    <p class="item-date">{{ (msg?.data().date.seconds*1000 || msg?.data().date)  | date:'dd/MM/yyyy HH:mm:ss' }}</p>
                                    <p class="user-name">{{ msg?.data().user?.name }}</p>
                                    {{ msg?.data().message }}
                                </span>							
                            </div>
                            <div *ngIf="loggedUser" class="btn-answer-container">
                                <div (click)="msg.answering = !msg.answering" class="btn-answer">Responder</div>
                            </div>
                            <ng-container *ngFor="let ans of msg?.answers" >
                                <div class="item-answer">
                                    <div>
                                        <img class="avatar-30" *ngIf=" (ans?.data().user?.picture == '' || ans?.data().user?.picture == 'null' || ans?.data().user?.picture == null)" src="assets/img/default-avatar.png" />
                                        <img class="avatar-30" *ngIf="!(ans?.data().user?.picture == '' || ans?.data().user?.picture == 'null' || ans?.data().user?.picture == null)" [src]="ans?.data().user?.picture" alt="" />                                 
                                    </div>
                                    <span class="item-text">
                                        <p class="item-date">{{ (ans?.data().date.seconds*1000 || ans?.data().date) | date:'dd/MM/yyyy HH:mm:ss' }}</p>
                                        <p class="user-name">{{ ans?.data().user?.name }}</p>
                                        {{ ans?.data().message }}
                                    </span>							
                                </div>
                            </ng-container>
                            <div *ngIf="loggedUser && msg.answering" class="form-group form-answer form-focus label-floating">
                                <div>
                                    <img class="avatar-30" *ngIf=" (loggedUser?.picture == '' || loggedUser?.picture == 'null' || loggedUser?.picture == null)" src="assets/img/default-avatar.png" />
                                    <img class="avatar-30" *ngIf="!(loggedUser?.picture == '' || loggedUser?.picture == 'null' || loggedUser?.picture == null)" [src]="loggedUser?.picture" alt="" />                                 
                                </div>
                                <input type="text" class="form-control form-btn" [(ngModel)]="answer" (keydown)="onKeydown($event)" placeholder="Pressione enter para enviar sua mensagem">
                                <div class="btn-send" (click)="sendAnswer(msg)"><i class="fa fa-send"></i></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="!loggedUser" class="form-group form-focus label-floating text-center">
                <p><i class="fa fa-ban fa-lg"></i> Efetue logon para enviar uma mensagem!</p>
            </div>
            <div *ngIf="loggedUser" class="form-group form-focus label-floating">
                <div>
                    <img class="avatar-45" *ngIf=" (loggedUser?.picture == '' || loggedUser?.picture == 'null' || loggedUser?.picture == null)" src="assets/img/default-avatar.png" />
                    <img class="avatar-45" *ngIf="!(loggedUser?.picture == '' || loggedUser?.picture == 'null' || loggedUser?.picture == null)" [src]="loggedUser?.picture" alt="" />                                 
                </div>
                <input type="text" class="form-control form-btn" [(ngModel)]="message" (keydown)="onKeydown($event)" placeholder="Pressione enter para enviar sua mensagem">
                <div class="btn-send" (click)="sendMessage()"><i class="fa fa-send"></i></div>
            </div>
		</div>
	</div>
</div>
