.chat-room {
  padding: 10px 10px 0px 10px;
}

.chat-body {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.avatar-45 {
  width: 45px;
  height: 45px;
  border-radius:50%;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.avatar-30 {
  width: 30px;
  height: 30px;
  border-radius:50%;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.form-group .avatar-45 {
  margin-top: 0px; 
}

.left-m, .right-m {
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
}

.item-text {
  display: table;
  background-color: #e9e9e9;
  border-radius: 10px;
  width: calc(100% - 65px);
  padding: 10px;
}

.item-date {
  float: right;
}

.btn-answer-container {
  display: table;
  width:100%;
}

.btn-answer {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.form-btn {
  display: inline-block;
  width: calc(100% - 105px);
}

.btn-send {
  display: inline-block;
  border: 0px solid gray;
  background-color: transparent;
  margin: 0;
  padding: 0;
  line-height: 36px;
  width: 36px;
  text-align: center;
}

.form-answer {
  width: calc(100% - 65px);
  margin-left: 65px;
}

.item-answer {
  width: calc(100% - 65px);
  margin-left: 65px;
  margin-bottom: 10px;
}

.item-answer .item-text {
  width: calc(100% - 50px);
}


