<div class="col-md-12 pl-2 pr-2">

  <p class="tool-name border-bottom pb-3">{{ 'Evaluation' | translate }}</p>

  <div class="row mb-3">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#titulo" aria-controls="titulo" role="tab" data-toggle="tab">{{ 'Content' | translate }}</a>
        </li>
        <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{ 'Design' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="tab-content" id="accordion">
        <div role="tabpanel" class="tab-pane fade in active" id="titulo">

          <!-- Título -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseTitle" aria-expanded="false" aria-controls="collapseTitle">{{ 'Title' | translate }}</p>
            </div>
          </div>

          <!-- Box Título -->
          <div class="collapse in" id="collapseTitle">
            <div class="box-group">
              <!-- Texto do Título -->
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config">Texto:</p>
                  <div class="wrapper-input">
                    <input name="title" type="text" class="w-100 px-2 text" placeholder="{{ 'EnterTitle' | translate }}" [(ngModel)]="item.title.text">
                  </div>
                </div>
              </div>

              <!-- Cor do Título -->
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config">{{ 'Color' | translate }}:</p>
                  <div class="wrapper-input">
                     <input
                      [(colorPicker)]="item.titleColor"
                      [(ngModel)]="item.titleColor"
                      [style.color]="item.titleColor"
                      cpPosition="bottom" class="w-100 text" />
                  </div>
                </div>
              </div>

              <!-- Animação do Título -->
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config">{{ 'Animation' | translate }}:</p>
                  <div class="wrapper-input">
                    <select class="w-100 text" name="title_animation" [(ngModel)]="item.title.animation">
                      <optgroup label="Sem animação">
                        <option value="">{{ 'NoAnimation' | translate }}</option>
                      </optgroup>
                      <optgroup label="Attention Seekers">
                        <option value="bounce">bounce</option>
                        <option value="flash">flash</option>
                        <option value="pulse">pulse</option>
                        <option value="rubberBand">rubberBand</option>
                        <option value="shake">shake</option>
                        <option value="swing">swing</option>
                        <option value="tada">tada</option>
                        <option value="wobble">wobble</option>
                        <option value="jello">jello</option>
                      </optgroup>

                      <optgroup label="Bouncing Entrances">
                        <option value="bounceIn">bounceIn</option>
                        <option value="bounceInDown">bounceInDown</option>
                        <option value="bounceInLeft">bounceInLeft</option>
                        <option value="bounceInRight">bounceInRight</option>
                        <option value="bounceInUp">bounceInUp</option>
                      </optgroup>

                      <optgroup label="Bouncing Exits">
                        <option value="bounceOut">bounceOut</option>
                        <option value="bounceOutDown">bounceOutDown</option>
                        <option value="bounceOutLeft">bounceOutLeft</option>
                        <option value="bounceOutRight">bounceOutRight</option>
                        <option value="bounceOutUp">bounceOutUp</option>
                      </optgroup>

                      <optgroup label="Fading Entrances">
                        <option value="fadeIn">fadeIn</option>
                        <option value="fadeInDown">fadeInDown</option>
                        <option value="fadeInDownBig">fadeInDownBig</option>
                        <option value="fadeInLeft">fadeInLeft</option>
                        <option value="fadeInLeftBig">fadeInLeftBig</option>
                        <option value="fadeInRight">fadeInRight</option>
                        <option value="fadeInRightBig">fadeInRightBig</option>
                        <option value="fadeInUp">fadeInUp</option>
                        <option value="fadeInUpBig">fadeInUpBig</option>
                      </optgroup>

                      <optgroup label="Fading Exits">
                        <option value="fadeOut">fadeOut</option>
                        <option value="fadeOutDown">fadeOutDown</option>
                        <option value="fadeOutDownBig">fadeOutDownBig</option>
                        <option value="fadeOutLeft">fadeOutLeft</option>
                        <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                        <option value="fadeOutRight">fadeOutRight</option>
                        <option value="fadeOutRightBig">fadeOutRightBig</option>
                        <option value="fadeOutUp">fadeOutUp</option>
                        <option value="fadeOutUpBig">fadeOutUpBig</option>
                      </optgroup>

                      <optgroup label="Flippers">
                        <option value="flip">flip</option>
                        <option value="flipInX">flipInX</option>
                        <option value="flipInY">flipInY</option>
                        <option value="flipOutX">flipOutX</option>
                        <option value="flipOutY">flipOutY</option>
                      </optgroup>

                      <optgroup label="Lightspeed">
                        <option value="lightSpeedIn">lightSpeedIn</option>
                        <option value="lightSpeedOut">lightSpeedOut</option>
                      </optgroup>

                      <optgroup label="Rotating Entrances">
                        <option value="rotateIn">rotateIn</option>
                        <option value="rotateInDownLeft">rotateInDownLeft</option>
                        <option value="rotateInDownRight">rotateInDownRight</option>
                        <option value="rotateInUpLeft">rotateInUpLeft</option>
                        <option value="rotateInUpRight">rotateInUpRight</option>
                      </optgroup>

                      <optgroup label="Rotating Exits">
                        <option value="rotateOut">rotateOut</option>
                        <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                        <option value="rotateOutDownRight">rotateOutDownRight</option>
                        <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                        <option value="rotateOutUpRight">rotateOutUpRight</option>
                      </optgroup>

                      <optgroup label="Sliding Entrances">
                        <option value="slideInUp">slideInUp</option>
                        <option value="slideInDown">slideInDown</option>
                        <option value="slideInLeft">slideInLeft</option>
                        <option value="slideInRight">slideInRight</option>

                      </optgroup>
                      <optgroup label="Sliding Exits">
                        <option value="slideOutUp">slideOutUp</option>
                        <option value="slideOutDown">slideOutDown</option>
                        <option value="slideOutLeft">slideOutLeft</option>
                        <option value="slideOutRight">slideOutRight</option>

                      </optgroup>

                      <optgroup label="Zoom Entrances">
                        <option value="zoomIn">zoomIn</option>
                        <option value="zoomInDown">zoomInDown</option>
                        <option value="zoomInLeft">zoomInLeft</option>
                        <option value="zoomInRight">zoomInRight</option>
                        <option value="zoomInUp">zoomInUp</option>
                      </optgroup>

                      <optgroup label="Zoom Exits">
                        <option value="zoomOut">zoomOut</option>
                        <option value="zoomOutDown">zoomOutDown</option>
                        <option value="zoomOutLeft">zoomOutLeft</option>
                        <option value="zoomOutRight">zoomOutRight</option>
                        <option value="zoomOutUp">zoomOutUp</option>
                      </optgroup>

                      <optgroup label="Specials">
                        <option value="hinge">hinge</option>
                        <option value="jackInTheBox">jackInTheBox</option>
                        <option value="rollIn">rollIn</option>
                        <option value="rollOut">rollOut</option>
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Tamanho da Fonte do Título-->
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config mb-6">{{ 'FontSize' | translate }}:</p>
                  <div class="wrapper-input">
                    <!-- <nouislider name="size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.title.size" [tooltips]="true" class="slider"></nouislider> -->
                  </div>
                </div>
              </div>

              <!-- Alinhamento do Título-->
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config">{{ 'Alignment' | translate }}:</p>
                  <div class="wrapper-input">
                    <button (click)="setAlign(item.title, 'left')" [class.btn-primary]="item.title.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                      <i class="material-icons" title="Alinhar a Esquerda">format_align_left</i>
                    </button>

                    <button (click)="setAlign(item.title, 'center')" [class.btn-primary]="item.title.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                      <i class="material-icons" title="Alinhar no Centro">format_align_center</i>
                    </button>

                    <button (click)="setAlign(item.title, 'right')" [class.btn-primary]="item.title.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                      <i class="material-icons" title="Alinhar a Direita">format_align_right</i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Separador -->
          <div class="divider my-4"></div>

          <!-- Opções -->
          <div class="row mb-3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseOptionsText" aria-expanded="false" aria-controls="collapseOptionsText">{{ 'EvaluationOptions' | translate }}</p>
            </div>
          </div>

          <div class="collapse in" id="collapseOptionsText">
            <div class="box-group">
                <!-- Texto do Título -->
                <div class="row">
                  <div class="col-md-12">
                    <p class="title-config">{{ 'NegativeText' | translate }}:</p>
                    <div class="wrapper-input">
                      <input name="" type="text" class="w-100 px-2 text" placeholder="Ex.: {{ 'DidNotLike' | translate }}" [(ngModel)]="item.negative">
                    </div>
                  </div>
                </div>

                <!-- Texto do Título -->
                <div class="row">
                  <div class="col-md-12">
                    <p class="title-config">{{ 'PositiveText' | translate }}:</p>
                    <div class="wrapper-input">
                      <input name="" type="text" class="w-100 px-2 text" placeholder="Ex.: {{ 'LikedIt' | translate }}" [(ngModel)]="item.positive">
                    </div>
                  </div>
                </div>

            </div>
          </div>

          <!-- Separador
          <div class="divider my-4"></div>-->

          <!-- Opções
          <div class="row mb-3">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">Opções de Avaliação</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
              <a class="cursor" matTooltip="Adicionar Questão" matTooltipPosition="left">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>

          <div class="collapse in" id="collapseOptions">
            <div class="box-group">
              <div class="row my-2">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mb-3">
                  <a class="tool-name-subtitle fs-12 w-100 block" role="button" data-toggle="collapse" href="#collapseOption1" aria-expanded="false">Opção 1</a>
                </div>

                <div class="col-md-2 text-right mb-3">
                  <a class="cursor" matTooltip="Remover Questão" matTooltipPosition="left">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>

                <div class="collapse in" id="collapseOption1">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input name="option1" class="w-100 text" placeholder="Ex.: Não gostei">
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="settings">
          <!-- Botão Principal -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseBackgroundColor" aria-expanded="false" aria-controls="collapseBackgroundColor">{{ 'BackgroundColor' | translate }}</p>
            </div>
          </div>

         <!-- Box Botão Principal -->
          <div class="box-group collapse in" id="collapseBackgroundColor">
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">{{ 'Color' | translate }}:</p>
                <div class="wrapper-input">
                  <input
                  [(colorPicker)]="item.background"
                  [(ngModel)]="item.background"
                  [style.background]="item.background"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>
            </div>
          </div>

          <!-- Separador -->
          <div class="divider my-4"></div>

          <!-- Botão Principal -->
          <div class="row mb-3">
            <div class="col-md-12">
              <p class="tool-name" role="button" data-toggle="collapse" href="#collapseMainButton" aria-expanded="false" aria-controls="collapseMainButton">{{ 'MainButton' | translate }}</p>
            </div>
          </div>

         <!-- Box Botão Principal -->
          <div class="box-group collapse in" id="collapseMainButton">
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Texto:</p>
                <div class="wrapper-input">
                  <input name="title" type="text" class="w-100 px-2 text" placeholder="{{ 'EnterTitle' | translate}}" [(ngModel)]="item.mainButton.text">
                </div>
              </div>

              <div class="col-md-12">
                <p class="title-config">{{ 'TextColor' | translate }}:</p>
                <div class="wrapper-input">
                  <input
                  [(colorPicker)]="item.mainButton.color"
                  [(ngModel)]="item.mainButton.color"
                  [style.color]="item.mainButton.color"
                  [style.background]="item.mainButton.background"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>

              <div class="col-md-12">
                <p class="title-config">{{ 'BackgroundColor' | translate }}:</p>
                <div class="wrapper-input">
                  <input
                  [(colorPicker)]="item.mainButton.background"
                  [(ngModel)]="item.mainButton.background"
                  [style.color]="item.mainButton.color"
                  [style.background]="item.mainButton.background"
                  cpPosition="bottom" class="w-100 text" />
                </div>
              </div>
            </div>
          </div><!-- .box-group -->

        </div>

        <!-- Separador -->
        <div class="divider my-4"></div>

        <div class="text-right">
          <button class="btn btn-primary btn-sm" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
        </div>

      </div>
    </div>
  </div>

</div>
