<div class="row">
  <div class="card-content">
    <p class="fs-12 mb-4">{{ 'ComponentUse' | translate }}: {{ 'LongText' | translate }}</p>

    <p class="fs-18 bold mb-2">{{ 'DescribeProfileProduction' | translate }}?</p>

    <mat-form-field class="w-100">
      <textarea matInput #input maxlength="100" placeholder="Escreva aqui..." matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
  </div>
</div>
