.fileinput .thumbnail {
  max-width: 100% !important;
  height: 240px;
}

.modal-content {
  min-height: 450px;
}

.modal-dialog {
  //width: 890px !important;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

//.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
//  color: #fff;
//  background-color: #337ab7;
//}
