<!-- Modal -->
<div id="appFileManager" class="modal fade" role="dialog" data-backdrop="false" >
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gerenciador de Arquivos</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <ul class="nav nav-pills nav-pills-icons nav-pills-primary nav-stacked" role="tablist">
                <!--
    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
-->
                <li class="active">
                  <a href="#upload" role="tab" data-toggle="tab">
                    <i class="material-icons">backup</i> Upload
                  </a>
                </li>
                <li>
                  <a href="#arquivos" role="tab" data-toggle="tab">
                    <i class="material-icons">assignment</i> Arquivos
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-10">
              <div class="tab-content">
                <div class="tab-pane active" id="upload">
                  <div class="col-sm-12">
                    <form *ngIf="!loading" class="text-center">
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail preview" style="width: 320px;">
                          <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                        <span class="btn btn-primary btn-round btn-file">
                            <span class="fileinput-new">Selecione um arquivo</span>
                            <span class="fileinput-exists">Alterar</span>
                            <input ng2FileSelect (change)="onChange($event)" id="file" type="file" name="..."/>
                        </span>
                          <button type="button" (click)="submit()" class="fileinput-exists btn btn-primary btn-round">
                            Confirmar
                          </button>
                          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                            class="fa fa-times"></i> Remover</a>
                        </div>
                      </div>
                    </form>
                    <div *ngIf="loading">
                      <br>
                      <br>
                      <legend>Carregando...</legend>
                      <div class="progress progress-line-primary">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: progress.percentage + '%'}">
                          <span class="sr-only">{{ progress.percentage + '%' }} Concluído</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="arquivos">
                  <div class="col-md-12" style="height: 360px; overflow: auto;">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Data</th>
                          <th>Arquivo</th>
                          <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of fileList">
                          <td>{{ item.updated_at.date | date: 'dd/MM/yyyy' }}</td>
                          <td>{{ item.name }}</td>
                          <td class="td-actions text-right">
                            <button (click)="selectFile(item)" type="button" class="btn btn-success">
                              <i class="material-icons">check</i>
                            </button>
                            <button (click)="deleteFromList(item)" type="button" class="btn btn-danger">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>-->
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
