@mixin nth-children($points...) {
    @each $point in $points {
        &:nth-child(#{$point}) {
            @content;
        }
    }
  }
  
  .text-input__loading {
    height: auto;
    width: 100%;
  
    &--line {
        height: 13px;
        margin: 10px;
        border-radius: 10px;
        animation: pulse 1s infinite ease-in-out;
    }

  
    div {
        @include nth-children(1, 5, 9) {
            width: 150px;
        }
        @include nth-children(2, 6, 19) {
            width: 250px;
        }
        @include nth-children(3, 15) {
            width: 50px;
        }
        @include nth-children(13, 25) {
            width: 100px;
        }
    }
  }

  .box-input__loading {
    display: flex !important;
  
    &--box {
      margin: 10px;
      border-radius: 10px;
      animation: pulse 1s infinite ease-in-out;
    }

  }
  
  @keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
  }