<ng-container *ngIf="type == 'lines'">
    <div class='text-input__loading'>
        <div class='text-input__loading--line' *ngFor="let row of repeat"></div>
    </div>
</ng-container>

<ng-container *ngIf="type == 'box'">
   <div class="box-input__loading">
        <div class='box-input__loading--box'
            *ngFor="let row of repeat"
            [ngStyle]="{'height':boxHeight, 'width':boxWidth}">
        </div>
   </div>
</ng-container>