<div class="row my-4">
  <div class="col-md-6"><h4 class="fw-500">Como resolver minhas dívidas?</h4></div>
  <div class="col-md-6 text-right mt-4">
    <ul class="menu-top">
      <li><a [routerLink]="['../exercicio2']"><i class="fa fa-angle-left"></i> Anterior</a></li>
      <li><a [routerLink]="['../exercicio3']">Próximo <i class="fa fa-angle-right"></i></a></li>
      <li><a [routerLink]="['/painel']"><i class="fa fa-close"></i></a></li>
    </ul>   
  </div>
</div>

<div class="card mt-0">

  <div class="card-content">
    <form>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input name="description" [(ngModel)]="form.description" matInput placeholder="Dívida">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input name="amount" currencyMask [(ngModel)]="form.amount" matInput placeholder="Valor da dívida">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input name="description" [(ngModel)]="form.plan" matInput placeholder="Como resolver">
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <button [disabled]="btnBlock" type="submit" (click)="onSubmit()" class="btn btn-xs btn-rose pull-right">Adicionar</button>
        </div>

      </div>

      <div class="table-responsive">
        <table class="table mt-4">
          <tr class="bg-gray-light">
            <th class="w-2 text-left">
              <div class="ball bg-gray"></div>
            </th>
            <th class="text-left">Dívida</th>
            <th class="text-left">Valor</th>
            <th class="text-left">Como Resolver</th>
            <th class="w-20 text-center">Ação</th>
          </tr>
          <tr *ngIf="!debtArray">
            <td></td>
            <td style="text-align: left;" colspan="4">Carregando...</td>
          </tr>
          <tr *ngIf="debtArray && debtArray.length === 0">
            <td></td>
            <td style="text-align: left;" colspan="4">Adicione suas dívidas e o plano para pagá-los</td>
          </tr>
          <tr *ngFor="let debt of debtArray">
            <td class="text-left">
              <div class="ball bg-rose" matTooltip="Despesa" [matTooltipPosition]="'right'"></div>
            </td>
            <td class="text-left">{{ debt.description }}</td>
            <td class="text-left gray-text">{{ debt.amount | currency:"BRL":true }}</td>
            <td class="text-left">{{ debt.plan }}</td>
            <td class="text-center">
              <button (click)="update(debt)" class="btn btn-simple btn-success btn-icon edit" matTooltip="Editar" [matTooltipPosition]="'left'">
                <i class="material-icons">edit</i>
              </button>
              <button (click)="remove(debt)" class="btn btn-simple btn-danger btn-icon remove" matTooltip="Excluir" [matTooltipPosition]="'left'">
                <i class="material-icons">close</i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-rose" (click)="save()">Salvar</button>
  </div>
</div>

<div class="modal" id="updateModal" data-backdrop="false">
  <div class="modal-dialog">
    <form (ngSubmit)="debtUpdate()" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Atualizar transação</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Dívida</label>
          <input [(ngModel)]="debtSelected.description" name="description" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Valor</label>
          <input currencyMask [(ngModel)]="debtSelected.amount" name="amount" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Como Resolver</label>
          <input name="plan" type="text" class="form-control" [(ngModel)]="debtSelected.plan">
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-danger btn-simple" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary btn-simple" *ngIf="!updateModalSending">Salvar</button>
        <button disabled class="btn btn-primary btn-simple" *ngIf="updateModalSending">Salvando...</button>
      </div>
    </form>
  </div>
</div>
