
<div id="sidemenu">
  <div class="sidemenu-header">
    <div class="logo"></div>
    <div class="info">
      <span title="{{(menuItems) ? (menuItems[0].title) : null }}">{{(menuItems) ? (menuItems[0].title | asapLimitTo: 23) : null }}</span>
    </div>
  </div>
  <div class="sidemenu-body">
    <ul *ngIf="menuItems">
      <li *ngFor="let menuitem of menuItems"
      (click)="(menuitem.status == 1) ? menuNavigate(menuitem) : null"
      [ngStyle]="{cursor: 'pointer'}"
      [class.active]="menuitem === current"
      title="{{ menuitem.nome }}">
      <a>
        <div class="icon">
          <i class="material-icons" [ngClass]="(menuitem.status == 1) ? ['icon-done'] : ['']">
            {{(menuitem.status == 1) ? 'done' : 'fiber_manual_record'}}
          </i>
        </div>
        <div class="text">{{ menuitem.nome | asapLimitTo: 20 }}</div>
      </a>
      </li>
    </ul>
  </div>
</div>


 <!-- <div class="sidebar-wrapper">
  <div class="user">
    <div class="icon">
      <i class="material-icons">class</i>
    </div>
    <div class="info">
      <a class="collapsed">
        <span>{{(menuItems) ? (menuItems[0].title | asapLimitTo: 26) : null }}</span>
      </a>
    </div>
  </div>

  <div class="nav-container">
    <ul class="nav" *ngIf="menuItems">
      <li *ngFor="let menuitem of menuItems"
      (click)="(menuitem.status == 1) ? menuNavigate(menuitem) : null"
      [ngStyle]="{cursor: 'pointer'}"
      [class.active]="menuitem === current">
      <a>
        <i class="material-icons" [ngClass]="(menuitem.status == 1) ? ['icon-done'] : ['']">
          {{(menuitem.status == 1) ? 'done' : 'fiber_manual_record'}}
        </i>
        <p>{{ menuitem.nome | asapLimitTo: 26 }}</p>
      </a>
      </li>
    </ul>
  </div>

</div> -->
