<div class="col-md-12 pl-2 pr-2">

  <p class="tool-name border-bottom pb-3">{{ 'DynamicTable' | translate }}</p>

  <div class="row mb-3">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#collumns" aria-controls="collumns" role="tab" data-toggle="tab">{{ 'Columns' | translate }}</a>
        </li>
        <!--
        <li role="presentation">
          <a href="#footer" aria-controls="footer" role="tab" data-toggle="tab">Rodapé</a>
        </li>
         -->
        <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{ 'Settings' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="collumns">
          <div class="mt-3" *ngFor="let col of item.collumns; let colI = index">
            <a class="tool-name-subtitle fs-12 w-100 block mt-3" role="button" data-toggle="collapse" href="#col-{{colI}}" aria-expanded="false" aria-controls="linha1">
              - {{ 'Column' | translate }} {{colI+1}}
            </a>
            <div class="box-group collapse" id="col-{{colI}}">

              <div class="row">
                <div class="col-md-12 mb-3">
                  <p class="title-config mb-2">{{ 'ColumnTitle' | translate }}</p>
                  <input name="title" type="text" class="w-100 mb-3" placeholder="{{ 'Column' | translate }}" [(ngModel)]="col.title">
                </div>
              </div>
              <div class="row hide">
                <div class="col-md-12 mb-3">
                  <p class="title-config av-1">{{ 'AlignText' | translate }}:</p>
                  <button (click)="setAlign(col, 'left')" [class.btn-primary]="col.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons">format_align_left</i>
                  </button>
                  <button (click)="setAlign(col, 'center')" [class.btn-primary]="col.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons">format_align_center</i>
                  </button>
                  <button (click)="setAlign(col, 'right')" [class.btn-primary]="col.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons">format_align_right</i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">

                  <p class="title-config av-1">{{ 'FieldType' | translate }}:</p>
                  <select class="w-100 mb-2 text" name="type" [(ngModel)]="col.type" >
                    <option value="">{{ 'SelectOption' | translate }}...</option>
                    <option value="date">{{ 'Date' | translate }}</option>
                    <option value="select-single">{{ 'SingleSelection' | translate }}</option>
                    <option value="select-multi">{{ 'MultipleSelection' | translate }}</option>
                    <option value="currency">{{ 'Currency' | translate }}</option>
                    <option value="text-short">{{ 'ShortText' | translate }}</option>
                    <option value="text-long">{{ 'LongText' | translate }}</option>
                    <option value="number">{{ 'Number' | translate }}</option>
                  </select>
                  <div *ngIf="col.type === 'select-single' || col.type === 'select-multi'">
                    <tag-input secondaryPlaceholder="{{ 'AddAndPress' | translate }}" placeholder="{{ 'Option' | translate }} +" name="select-options" [(ngModel)]='col.selectOptions' theme='filled-theme'></tag-input>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-12">
                      <p class="title-config av-1">{{ 'DisplayText' | translate }}:</p>
                      <input class="w-100 text" placeholder="{{ 'DisplayText' | translate }}" name="placeholder" [(ngModel)]="col.placeholder">
                    </div>
                  </div>

                </div>
                <div class="col-sm-12 text-right">
                  <hr style="margin: 0;" />
                  <button type="button" class="btn btn-primary btn-xs pull-left" (click)="removeCollumn(colI)">
                    {{ 'RemoveColumn' | translate }}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
              <div class="col-md-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-default btn-xs pull-left" (click)="createNewCollumn()">{{ 'NewColumn' | translate }}</button>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
              </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="footer">
          <form action="">
            <div class="box-group mt-3">
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config av-1">{{ 'AddTextTotalColumn' | translate }}:</p>
                  <select class="w-100 mb-2">
                    <option>{{ 'SelectOption' | translate }}...</option>
                    <option>{{ 'Column' | translate }} 1</option>
                    <option>{{ 'Column' | translate }} 2</option>
                    <option>{{ 'Column' | translate }} 3</option>
                  </select>
                  <button type="button" class="btn btn-primary btn-sm pull-right">{{ 'Add' | translate }}</button>

                  <select multiple class="w-100">
                    <option>{{ 'Column' | translate }} 2</option>
                  </select>
                  <button type="button" class="btn btn-primary btn-sm pull-right">{{ 'Remove' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="box-group mt-3">
              <div class="row">
                <div class="col-md-12">
                  <p class="title-config av-1">{{ 'Add' | translate }} <strong>"{{ 'AutoSum' | translate }}"</strong> {{ 'ForThe' | translate }} {{ 'Column' | translate }}:</p>
                  <select class="w-100 mb-2">
                    <option>{{ 'SelectOption' | translate }}...</option>
                    <option>{{ 'Column' | translate }} 1</option>
                    <option>{{ 'Column' | translate }} 2</option>
                    <option>{{ 'Column' | translate }} 3</option>
                  </select>
                  <button type="button" class="btn btn-primary btn-sm pull-right">{{ 'Add' | translate }}</button>

                  <select multiple class="w-100">
                    <option>{{ 'Column' | translate }} 3</option>
                  </select>
                  <button type="button" class="btn btn-primary btn-sm pull-right">{{ 'Remove' | translate }}</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="settings">
          <form action="">
            <div class="row">
              <div class="col-md-12">
                <div class="box-group mt-3">
                  <div class="title-config mb-2">{{ 'Border' | translate }}:</div>
                  <div class="radio">
                    <label class="fs-12"><input type="radio" name="optionBorder" id="optionBorder" value="sim" checked>{{ 'Enable' | translate }}</label>
                  </div>
                  <div class="radio">
                    <label class="fs-12"><input type="radio" name="optionBorder" id="optionBorder" value="não">{{ 'Disable' | translate }}</label>
                  </div>
                </div>
                <div class="box-group mt-3">
                  <div class="checkbox">
                    <label class="fs-12">
                      <input type="checkbox" name="userActive" id="userActive" [(ngModel)]="item.userActive"> {{ 'CanUserAddLines' | translate }}?
                    </label>
                  </div>
                </div>
                <div class="box-group mt-3" *ngIf="!item.userActive">
                  <p class="title-config mb-2">{{ 'NumberLines' | translate }}</p>
                  <input name="countLines" type="number" class="w-100 mb-3" placeholder="{{ 'NumberLines' | translate }}" [(ngModel)]="item.countLines">
                  <p class="help-block">{{ 'NumberRowsNotUpdate' | translate }}.</p>
                </div>
              </div>
            </div>
          </form>
          <div class="row mt-3">
              <div class="col-md-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
