.feed-card {
    width: 100%;
    margin-bottom: 5%;
}
.mat-card-header .mat-card-title{
    font-size: 16px;
}
.feed-header {
    margin-bottom: 10px;
}
.feed-header-image {
    background-size: cover;
}
.feed-avatar {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.mat-card-image{
    margin: 0 -16px 0px -16px;
}

.clickable{
    cursor: pointer;
}
.mat-card-actions {
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px 0;
    margin-bottom: 0px;
}

.feed-actions{
    font-size: 25px;
}
.feed-likes{
    font-size: 13px;
    margin-top: 10px;
}

.is-liked {
    color:rgb(220, 53, 69)!important;
}

.disabled-like {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.carousel-item{
    object-fit: cover !important;
    max-height: 400px;
    object-position: center;
}

.video-player{
    position: initial !important;
}