<mat-card class="feed-card">
    <mat-card-header class="feed-header">
        
            
        <div mat-card-avatar class="feed-header-image">
            <img [src]="item?.user_info?.picture || '/assets/img/default-avatar.png'" class="feed-avatar" alt="{{ item?.user_info?.name }}">
        </div>
        <mat-card-title> <b>{{ item?.user_info?.name }}</b> Compartilhou uma publicação á {{ item?.updated_at | amTimeAgo }}</mat-card-title>
        <div class="feed-buttom-option">
            <ng-container *ngIf="global.loggedUser()">
                <button style="float: right; margin: -5px -15px 0 0; right: -28em;" mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="item?.user_info?.id == global?.loggedUser().id">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </ng-container>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="openUpdateModal(item)">Editar</button>
                <button mat-menu-item (click)="deleteFeed(item.id)">Deletar</button>
            </mat-menu>
        </div>
    </mat-card-header>

    <!-- Imagem Unica -->
    <ng-container *ngIf="item?.image">
        <img mat-card-image (click)="ExpandImg(item?.image)"
        [src]="item?.image"
        alt="">
    </ng-container>
    <!-- End -->

    <!-- Arquivos, PDFS e TXT -->
    <ng-container *ngIf="item?.files">
        <ng-container *ngIf="item.files.length  == 1">
            <ng-container *ngFor="let f of item.files">
                <ng-container *ngIf="f.type == 'pdf' || f.type == 'txt'">
                    <a [href]="'/channel/files/' + f.channel_id + '/' + f.file_id" class="w-100">
                        <div class="card card-file mt-0 pointer">
                            <div class="card-cover" [style.backgroundImage]="'url('+f.image+')'">
                            <a [href]="'/channel/files/' + f.channel_id +'/'+ f.file_id">
                                <h4 class="title">{{f.title}}</h4>
                            </a>
                            </div>
                            <a [href]="'/channel/files/' + f.channel_id +'/'+ f.file_id" class="circle">
                            <i *ngIf="f.type == 'pdf'" class="fa fa-file-pdf-o"></i>
                            <i *ngIf="f.type == 'txt'" class="fa fa-file-text-o"></i>
                            </a>
                            <div class="card-content-file-shared">
                            <div class="clearfix"></div>
                            <p class="description">{{f.description}}</p>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <ng-container *ngIf="f.type == 'video' || f.type == 'image'">
                    <ng-container *ngIf="f.type !== 'video' || (f.type === 'video' && !item.video_rendering)">
                        <img mat-card-image (click)="ExpandImg(f.url)"
                            [src]="f.url"
                            *ngIf="f.type === 'image'"
                        />
                       
                        <ng-container *ngIf="f.type === 'video'">
                            <video autoplay class="video-player" width="100%" controls>
                                <source [src]="f.url | stream:'link'" />
                            </video>
                        </ng-container>
                        <!-- <ng-container *ngIf="f.type === 'video' && !f.show">
                        <img mat-card-image
                            *ngIf="!item.thumb_rendering"
                            [src]="f.url | stream:'thumb'"
                        />
                        <div class="play-overlay" (click)="expandVideo(f)">
                            <img src="https://img.icons8.com/material-outlined/80/ffffff/play-button-circled.png" />
                        </div>
                        </ng-container> -->
        
                        <!-- <div class="video-container" *ngIf="f.type === 'video' && f.show">
                        <img
                            mat-card-image
                            [src]="f.url | stream:'thumb'"
                        />
                        <video autoplay class="video-player" width="100%" controls >
                            <source [src]="f.url | stream:'link'" />
                        </video>
                        </div> -->
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="item.files.length  > 1">
                <ng-container *ngIf="item.files[0].type == 'pdf' || item.files[0].type == 'txt'">
                    <ng-container *ngFor="let f of item.files">
                        <a [href]="'/channel/files/' + f.channel_id + '/' + f.file_id" class="w-100">
                            <div class="card card-file mt-0 pointer">
                                <div class="card-cover" [style.backgroundImage]="'url('+f.image+')'">
                                <a [href]="'/channel/files/' + f.channel_id +'/'+ f.file_id">
                                    <h4 class="title">{{f.title}}</h4>
                                </a>
                                </div>
                                <a [href]="'/channel/files/' + f.channel_id +'/'+ f.file_id" class="circle">
                                <i *ngIf="f.type == 'pdf'" class="fa fa-file-pdf-o"></i>
                                <i *ngIf="f.type == 'txt'" class="fa fa-file-text-o"></i>
                                </a>
                                <div class="card-content-file-shared">
                                <div class="clearfix"></div>
                                <p class="description">{{f.description}}</p>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="item.files[0].type == 'image'">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <ng-container *ngFor="let f of item.files; let i = index">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" [ngClass]="{'active':i == 0}"></li>
                                </ng-container>
                            </ol>
                            <div class="carousel-inner">
                                <ng-container *ngFor="let f of item.files; let i = index">
                                    <div class="carousel-item" [ngClass]="{'active':i == 0}">
                                        <img mat-card-image class="d-block w-100" [src]="f.url" alt="Primeiro Slide">
                                    </div>
                                </ng-container>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.files[0].type == 'video'">
                        <ng-container *ngIf="item.files[0].type === 'video' && !item.files[0].show">
                            <img mat-card-image
                                *ngIf="!item.thumb_rendering"
                                [src]="item.files[0].url | stream:'thumb'"
                            />
                            <div class="play-overlay" (click)="expandVideo(item.files[0])">
                                <img src="https://img.icons8.com/material-outlined/80/ffffff/play-button-circled.png" />
                            </div>
                            </ng-container>
            
                            <div *ngIf="item.files[0].type === 'video' && item.files[0].show">
                            <img
                                mat-card-image
                                [src]="item.files[0].url | stream:'thumb'"
                            />
                            <video autoplay class="video-player" width="100%" controls >
                                <source [src]="item.files[0].url | stream:'link'" />
                            </video>
                            </div>
                    </ng-container>
                </ng-container>
        </ng-container>
    <!-- End -->

     <!-- Descrição do Post -->
     <mat-card-content>
        <p class="ws-pre-wrap post-text mt-1" [innerHTML]="item.title"></p>
    </mat-card-content>
    <!-- End -->
    
    <div class="feed-likes">
        <b>
         <b>{{ item?.like?.count }} Curtida<b *ngIf="item?.like?.count > 1">s</b></b>
        </b>
    </div>
    <mat-card-actions>
        <li class="animated feed-actions" [ngClass]="pulse">
            <ng-container *ngIf="global.loggedUser()">
                <a class="mr-3 animated clickable" [ngClass]="{ 'is-liked':item?.like?.isLiked, 'disabled-like':disabledLike }" (click)="like(item)">
                    <i class="fa " [ngClass]="{'fa-heart':item?.like?.isLiked, 'fa-heart-o':!item?.like?.isLiked}"></i>
                </a>
                <!-- <a class="mr-4 animated clickable" (click)="like(item)">
                    <i class="fa fa-comments-o"></i>
                </a> -->
            </ng-container>
        </li>
    </mat-card-actions>

    <!-- Caso o Vídeo esteja Renderizando -->
    <ng-container *ngIf="item.video_rendering">
        <div style="border: 1px solid #DDD; background: #f6f6f6; padding: 8px; margin-top: 20px">Esse vídeo está sendo processado e será exibido no feed assim que estiver pronto!</div>
    </ng-container>
    <!-- End -->

    <app-feed-comment [data]="item"></app-feed-comment>
</mat-card>