
<div class="card" *ngIf="(!item?.video_rendering || (item?.video_rendering && item?.user_info?.id === loggedUser?.id)) && !item.deleted">
  <div class="card-content">
   <ng-container *ngIf="global.loggedUser()">
      <button style="float: right; margin: -5px -15px 0 0;" mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="item?.user_info?.id == global?.loggedUser().id">
        <mat-icon>more_vert</mat-icon>
      </button>
   </ng-container>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="openUpdateModal(item)">Editar</button>
      <button mat-menu-item (click)="deleteFeed(item.id)">Deletar</button>
    </mat-menu>

    <img [src]="item?.user_info?.picture || '/assets/img/default-avatar.png'" class="avatar-45" alt="">
    <h4 class="name">{{ item?.user_info?.name }}</h4>
    <p>Compartilhou uma <a [href]="['/workplace/post/' + item.id]">publicação</a> {{ item.updated_at | amTimeAgo }}.</p>

    <p class="ws-pre-wrap post-text mt-4" [innerHTML]="item.title"></p>

    <ng-container *ngIf="item.video_rendering">
      <div style="border: 1px solid #DDD; background: #f6f6f6; padding: 8px; margin-top: 20px">Esse vídeo está sendo processado e será exibido no feed assim que estiver pronto!</div>
    </ng-container>
    <div class="masonry">
      
      <ng-container *ngIf="item?.files">
        <ng-container *ngFor="let f of item.files">
          <ng-container *ngIf="f.type == 'pdf' || f.type == 'txt'">
            <a [href]="'/channel/files/' + f.channel_id + '/' + f.file_id" class="w-100">
              <div class="card card-file mt-0 pointer">
                  <div class="card-cover" [style.backgroundImage]="'url('+f.image+')'">
                    <a [href]="'/channel/files/' + f.channel_id +'/'+ f.file_id">
                      <h4 class="title">{{f.title}}</h4>
                    </a>
                  </div>
                  <a [href]="'/channel/files/' + f.channel_id +'/'+ f.file_id" class="circle">
                    <i *ngIf="f.type == 'pdf'" class="fa fa-file-pdf-o"></i>
                    <i *ngIf="f.type == 'txt'" class="fa fa-file-text-o"></i>
                  </a>
                  <div class="card-content-file-shared">
                    <div class="clearfix"></div>
                    <p class="description">{{f.description}}</p>
                  </div>
              </div>
            </a>
          </ng-container>
          
          <ng-container *ngIf="f.type == 'video' || f.type == 'image'">
            
              <div class="masonry-brick" [class.masonry-brick-full]="f.type === 'video' && !item.video_rendering" *ngIf="f.type !== 'video' || (f.type === 'video' && !item.video_rendering)">
                  <img
                    (click)="ExpandImg(f.url)"
                    [src]="f.url"
                    class="img-with-outline masonry-img"
                    *ngIf="f.type === 'image'"
                  />
                  <ng-container *ngIf="f.type === 'video' && !f.show">
                    <img
                      *ngIf="!item.thumb_rendering"
                      [src]="f.url | stream:'thumb'"
                      class="img-with-outline masonry-img"
                    />
                    <div class="play-overlay" (click)="expandVideo(f)">
                      <img src="https://img.icons8.com/material-outlined/80/ffffff/play-button-circled.png" />
                    </div>
                  </ng-container>
  
                  <div class="video-container" *ngIf="f.type === 'video' && f.show">
                    <img
                      [src]="f.url | stream:'thumb'"
                      class=""
                    />
                    <video autoplay class="video-player" width="100%" controls >
                      <source [src]="f.url | stream:'link'" />
                    </video>
                  </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="item?.image">
        <div class="masonry-brick">
          <img
            (click)="ExpandImg(item?.image)"
            [src]="item?.image"
            class="img-with-outline masonry-img"
          />
    </div>

     </ng-container>

      <ng-container *ngIf="item.file">
         <ng-container *ngIf="item?.file.type == 'pdf' || item?.file.type == 'txt'">
            <div class="card card-file mt-0 pointer">
                <div class="card-cover" [style.backgroundImage]="'url('+item?.file.image+')'">
                  <a [href]="'/channel/files/'+item?.file.channel_id +'/'+ item?.file.file_id">
                    <h4 class="title">
                      {{ (item?.file?.title?.length > 100) ? (item?.file?.title | slice:0:80) + '...' : item?.file?.title }}
                    </h4>
                  </a>
                </div>
                <a [href]="'/channel/files/' + item?.file.channel_id +'/'+ item?.file.file_id" class="circle">
                  <i *ngIf="item?.file.type == 'pdf'" class="fa fa-file-pdf-o"></i>
                  <i *ngIf="item?.file.type == 'txt'" class="fa fa-file-text-o"></i>
                </a>
                <div class="card-content-file-shared">
                  <div class="clearfix"></div>
                  <p class="description">
                    {{ (item?.file?.description?.length > 220) ? (item?.file?.description | slice:0:220) + '...' : item?.file?.description }}
                  </p>
                </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item?.file.type == 'video' || item?.file.type == 'image'">
            <div class="masonry-brick" [class.masonry-brick-full]="item?.file.type === 'video' && !item.video_rendering" *ngIf="item?.file.type !== 'video' || (item?.file.type === 'video' && !item.video_rendering)">
                <img
                  (click)="ExpandImg(item?.file.url)"
                  [src]="item?.file.url"
                  class="img-with-outline masonry-img"
                  *ngIf="item?.file.type === 'image'"
                />
                <ng-container *ngIf="item?.file.type === 'video' && !item?.file.show">
                  <img
                    *ngIf="!item.thumb_rendering"
                    [src]="item?.file.url | stream:'thumb'"
                    class="img-with-outline masonry-img"
                  />
                  <div class="play-overlay" (click)="expandVideo(item.file)">
                    <img src="https://img.icons8.com/material-outlined/80/ffffff/play-button-circled.png" />
                  </div>
                </ng-container>

                <div class="video-container" *ngIf="item?.file.type === 'video' && item?.file.show">
                  <img
                    [src]="item?.file.url | stream:'thumb'"
                    class=""
                  />
                  <video autoplay class="video-player" width="100%" controls >
                    <source [src]="item?.file.url | stream:'link'" />
                  </video>
                </div>
          </div>
        </ng-container>

      </ng-container>
    </div>
    </div>
    <div *ngIf="item.preview">
        <div class="preview-wrapper">
          <div class="preview-image">
            <a target="_blank" href="{{ item.preview.link }}">
              <img [src]="item.preview.image" class="img-responsive" />
            </a>
          </div>
          <div class="preview-text">
            <a target="_blank" href="{{ item.preview.link }}">
              <small>{{ item.preview.site }}</small>
              <h3>{{ item.preview.title }}</h3>
              <p>{{ item.preview.description }}</p>
            </a>
          </div>
        </div>
      </div>
      <ul class="icons-comments">
          <li class="animated" [ngClass]="pulse">
            <ng-container *ngIf="global.loggedUser()">
              <a class="mr-4 animated" [ngClass]="{ active: item?.like?.isLiked }" (click)="like(item)">
                <i class="fa fa-thumbs-o-up"></i> Curtir
              </a>
            </ng-container>
          </li>
          <li>
            <a *ngIf="item?.like?.count === 0">0 curtida(s)</a>
            <a class="fake-link" *ngIf="item?.like?.count > 0" (click)="showLikes(item)">{{ item?.like?.count }} curtida(s)</a> -
            <a *ngIf="item.comments">{{ item?.comments?.length }} comentário(s)</a>
          </li>
        </ul>

        <app-feed-comment [data]="item"></app-feed-comment>
  </div>
