<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img (click)="select()" width="300" alt="Angular Logo" src="{{ 'https://cnet3.cbsistatic.com/img/Yt768C55hXNi2eGSB9qOv-e7SQg=/2011/03/16/c7675aa8-fdba-11e2-8c7c-d4ae52e62bcc/Chrome-logo-2011-03-16.jpg' }}">
</div> -->
<!-- <div class='row justify-content-center'>
  <div class="col-sm-8">
    <asap-comments [user]="{id:2220, name:'Eduardo', picture:null}" [owner]="{iniciativa_id: 84}"></asap-comments>
  </div>
</div> -->
<!-- 
<div class="row row justify-content-center">
    <div class="col-sm-4 mx-auto">
        <asap-feed [limitTo]="5"></asap-feed>
    </div>
</div> -->



<!-- <div class="row row justify-content-center">
  <div class="col-sm-6">
      <asap-upload [aspectRatio]="1" type="image" (AddPhoto)="AddPhoto($event)"></asap-upload>
      <asap-upload (AddArchive)="AddPhoto($event)"></asap-upload>
  </div>
</div> -->

<!-- <asap-checkout #checkout [modal]="false" product="Cachorro para cuidar de de idoso" description="Belo cachorro da raça da Lessie muito bom e valente, cuida de idosos, dá bom dia e finge de morto" [value]="120.50" [picture]="picture"></asap-checkout> -->
<router-outlet></router-outlet>
