<div class="calculate" *ngIf="calculated == false">
    <div class="calculate__title">
        <h3 class="calculate__title__h3"><i class="calculate__title__h3__i flaticon-budget"></i> {{ calcule.Produto.data[0].name }}</h3>
    </div>
    <table class="table">
        <thead class="dark-header">
            <tr>
                <th>Custo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TOTAL DE MATERIAIS</td>
                <td>R$ {{ calcule.total_isumos | number : '2.2-2' }}</td>
            </tr>
            <tr>
                <td>TOTAL DE MÃO DE OBRA</td>
                <td>R$ {{ calcule.total_mao_de_obra | number : '2.2-2' }}</td>
            </tr>
            <tr>
                <td>CUSTO TOTAL</td>
                <td>R$ {{ calcule.custo_total | number : '2.2-2' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="calculate__group">
        <form [formGroup]="form" (ngSubmit)="update()" class="calculate__group__forms">
            <div class="calculate__group__forms__group">
                <mat-form-field class="calculate__group__forms__group__input">
                    <input matInput formControlName="lucro" placeholder="LUCRO:">
                </mat-form-field>

                <mat-form-field class="calculate__group__forms__group__input">
                    <input matInput formControlName="impostos" placeholder="IMPOSTOS:">
                </mat-form-field>
            </div>

            <button class="calculate__group__forms__button" mat-button>CALCULAR</button>
        </form>
    </div>

    <div class="table__title">
        VALORES DE REFERÊNCIA DO LUCRO POR PEÇA
    </div>
    <table class="table center">        
        <thead>
            <tr>
                <th>20%</th>
                <th>40%</th>
                <th>60%</th>
                <th>80%</th>
                <th>100%</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>R$ {{ calcule.referencia_lucro.vinte_porcento | number : '2.2-2' }}</td>
                <td>R$ {{ calcule.referencia_lucro.quarenta_porcento | number : '2.2-2' }}</td>
                <td>R$ {{ calcule.referencia_lucro.sessenta_porcento | number : '2.2-2' }}</td>
                <td>R$ {{ calcule.referencia_lucro.oitenta_porcento | number : '2.2-2' }}</td>
                <td>R$ {{ calcule.referencia_lucro.cem_porcento | number : '2.2-2' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="calculate" *ngIf="calculated == true">
    <div class="calculate__title">
            <h3 class="calculate__title__h3"><i class="calculate__title__h3__i flaticon-budget"></i> {{ calcule.Produto.data[0].name }}</h3>
        </div>
        <table class="table">
            <thead class="dark-header">
                <tr>
                    <th>Custo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TOTAL DE MATERIAIS</td>
                    <td>R$ {{ calcule.total_isumos | number : '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>TOTAL DE MÃO DE OBRA</td>
                    <td>R$ {{ calcule.total_mao_de_obra | number : '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>CUSTO TOTAL</td>
                    <td>R$ {{ calcule.custo_total | number : '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>LUCRO</td>
                    <td>R$ {{ calcule.lucro | number : '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>PREÇO ANTES DE IMPOSTOS</td>
                    <td>R$ {{ calcule.preco_antes_imposto | number : '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>IMPOSTO</td>
                    <td>R$ {{ calcule.impostos | number : '2.2-2' }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table final-background">
            <tbody>
                <tr>
                    <td>
                        PREÇO DE VENDA FINAL
                        <small>
                            Este preço de venda inclui o seu lucro selecionado
                            e os impostos.
                        </small>
                    </td>
                    <td>R$ {{ calcule.venda_imposto | number : '2.2-2' }}</td>
                </tr>
                <tr>
                    <td>
                        PREÇO DE VENDA MINIMO
                        <small>
                            Este preço de venda não inclui o seu lucro, ou seja,
                            se você vender por menos do que ele estará
                            perdendo dinheiro.
                        </small>
                    </td>
                    <td>R$ {{ calcule.venda_minimo | number : '2.2-2' }}</td>
                </tr>
            </tbody>
        </table>
</div>