<div class="row my-4">
  <div class="col-md-6"><h4 class="fw-500">Calculadora da semana</h4></div>
  <div class="col-md-6 text-right mt-4">
    <ul class="menu-top">
      <li><a><i class="fa fa-angle-left"></i> Anterior</a></li>
      <li><a>Próximo <i class="fa fa-angle-right"></i></a></li>
      <li><a [routerLink]="['/painel']"><i class="fa fa-close"></i></a></li>
    </ul>   
  </div>
</div>

<div class="card mt-0">

  <div class="card-content">

    <form method="#" action="#">
      <div class="row">
        <div class="col-md-12 my-5">
          <div class="col-md-1 border-r pt-10 pb-10"><strong>Manhã</strong></div>
          <div class="col-md-10">
            <mat-form-field>
              <mat-select placeholder="Atividades Domésticas">
                <mat-option *ngFor="let domesticas of domesticas" [value]="domesticas.value">
                  {{ domesticas.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Consulta Médica">
                <mat-option *ngFor="let consulta of consulta" [value]="consulta.value">
                  {{ consulta.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Trabalho">
                <mat-option *ngFor="let trabalho of trabalho" [value]="trabalho.value">
                  {{ trabalho.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Atividades Extras">
                <mat-option *ngFor="let extras of extras" [value]="extras.value">
                  {{ extras.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-1">
            <button type="submit" class="btn btn-xs btn-rose pull-right">Adicionar</button>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-5">
          <div class="col-md-1 border-r pt-10 pb-10"><strong>Tarde</strong></div>
          <div class="col-md-10">
            <mat-form-field>
              <mat-select placeholder="Atividades Domésticas">
                <mat-option *ngFor="let domesticas of domesticas" [value]="domesticas.value">
                  {{ domesticas.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Consulta Médica">
                <mat-option *ngFor="let consulta of consulta" [value]="consulta.value">
                  {{ consulta.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Trabalho">
                <mat-option *ngFor="let trabalho of trabalho" [value]="trabalho.value">
                  {{ trabalho.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Atividades Extras">
                <mat-option *ngFor="let extras of extras" [value]="extras.value">
                  {{ extras.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-1">
            <button type="submit" class="btn btn-xs btn-rose pull-right">Adicionar</button>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-5">
          <div class="col-md-1  border-r pt-10 pb-10"><strong>Noite</strong></div>
          <div class="col-md-10">
            <mat-form-field>
              <mat-select placeholder="Atividades Domésticas">
                <mat-option *ngFor="let domesticas of domesticas" [value]="domesticas.value">
                  {{ domesticas.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Consulta Médica">
                <mat-option *ngFor="let consulta of consulta" [value]="consulta.value">
                  {{ consulta.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Trabalho">
                <mat-option *ngFor="let trabalho of trabalho" [value]="trabalho.value">
                  {{ trabalho.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Atividades Extras">
                <mat-option *ngFor="let extras of extras" [value]="extras.value">
                  {{ extras.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-1">
            <button type="submit" class="btn btn-xs btn-rose pull-right">Adicionar</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
