/*Importação de Fonte - Google Fonts*/


.mat-form-field {
  width: auto !important;
  margin-left: 20px;
}

.mat-select { width: 100%; }

.mat-select-trigger,
.mat-option { font-size: 16px; }

.mat-select-placeholder {
  line-height: normal;
  padding: 0;
}

.mat-select-underline {
  bottom: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.app-dark .mat-select-panel { background-color: #ffffff; }

.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
}

.mat-select-value, .mat-select-trigger {
  color: #3C4858!important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: rgba(0, 0, 0, .54);
}

.mat-pseudo-checkbox {
  border: none !important;
  margin-top: 12px;
}

.mat-select-panel {
  background: #ffffff;
}

.mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #e91e63 !important;
  color: #ffffff !important;
}

.mat-option {
  color: rgba(0, 0, 0, 0.87) !important;
  transition: all 150ms linear;
}

.mat-active {
  background: transparent !important;
}

.mat-option:hover {
  background: #e91e63 !important;
  color: #ffffff !important;
}

.mat-option:focus {
  color: rgba(0, 0, 0, 0.87) !important;
  background: transparent !important;
}

.mat-option-pseudo-checkbox:after {
  color: #ffffff;
}

.mat-option-pseudo-checkbox:hover {
  background-color: #e91e63 !important;
  color: #ffffff !important;
}

.mat-selected:focus {
  background: transparent !important;
}

.mat-selected:hover {
  background-color: #e91e63 !important;
  color: #ffffff !important;
}

.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border-radius: 2px;
}

.mat-option-text {
  float: left;
}

span .mat-option-pseudo-checkbox {
  float: right;
}

.mat-option {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.mat-option-ripple.mat-ripple {
  display: none;
}

.mat-option.mat-selected:not(.mat-option-multiple) {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card-header {
  padding: 15px 15px 10px 15px !important;
}

.card-header-text {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.title-decor {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 0px 15px;
}

.decoration {
  width: 35%;
  height: 5px;
  background-color: #e91e63;
  margin: 0px auto;
  position: relative;
  top: -20px;
}

.box-letter-desktop {
  font-size: 1.5em;
  padding: 32px 0 !important;
  text-align: center;
  border: solid 1px #e91e63;
  font-weight: 900;
}

.border-box-input {
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.form-group {
  margin: 19px 0 0 0;
}

.form-group.is-focused.form-focus .form-control {
  background-image: linear-gradient(#d60d47, #d60d47), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.label-floating label.control-label, .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  top: -22px;
  font-size: 1em;
  line-height: 1.42857143;
}

.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07142857;
}

.form-group.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07142857;
}

/* Margens - Margin
===============================================================*/

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

/*Espaçamento - Padding
===============================================================*/

.padding-10 {
  padding: 10px;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

/*Cor de Fundo - Background
===============================================================*/

.bg-rose {
  color: #fff;
  background-color: #e91e63 !important;
}

.bg-gray-light {
  color: #333;
  background-color: #F9F9F9 !important;
}

/*Borda - Border
===============================================================*/

.border {
  border: solid 1px #ddd;
}

.border-r {
  border-right: solid 1px #ddd;
}

/*Arredondamento de Bordas - Border Radius
===============================================================*/

.b-radius1 {
  border-radius: 5px 0 0 5px;
}

.b-radius2 {
  border-radius: 0 5px 5px 0px;
}

.b-radius3 {
  border-radius: 5px;
}

/*Cor de Texto - Color Text
===============================================================*/

.rose-text {
  color: #e91e63;
}

.blue-text {
  color: #126bb5;
}

.gray-text {
  color: #999999;
}

.green-text {
  color: #12b6a9;
}

/**************** Mobile - CSS ****************/

.box-letter-mobile {
  padding: 22px 0;
  text-align: center;
  border: solid 1px #e91e63;
  font-weight: 900;
}

.title-mobile {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
}

/**************** @Media Queries - CSS ****************/

@media (max-width: 991px) {
  .card-header .card-header-text {
    display: inline-block;
    padding: 20px 0px;
  }
  .card .card-header.card-header-text {
    display: inline-block;
  }
}

@media only screen and (max-width: 400px) {
  .mobile-hide {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .mobile {
    display: inline !important;
  }
  .form-group.label-floating label.control-label, .form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    top: -15px;
    font-size: 0.85em;
    line-height: 1.42857143;
  }
}

@media only screen and (min-width: 500px) {
  .desktop-hide {
    display: none !important;
  }
}
