.icon { float: left; margin-right: 10px; font-size: 16px; width: 32px; height: 32px; background-color: #9c27b0; color: #fff; text-align: center; border-radius: 50%; padding: 5px;}

.icon-name { font-size: 16px; margin-top: 7px; font-weight: 400; }

.pointer { cursor: pointer; }