
<div class="col-md-12">
  <div class="card mb-0">
    <div class="card-content">
      <div class="row">
        <a (click)="goToNextStep()" style="">
          <div class="col-md-8 pointer">
            <span class="icon"><i class="{{ config.icon }}"></i></span>
            <div class="icon-name">{{ config.title }}</div>
          </div>
         </a>
        <div class="col-md-3 px-0 pt-2 text-center">
          <div class="togglebutton">
            Desabilitar <label><input type="checkbox" [checked]="config.enabled" (change)="changeStateEventFire()"></label> Habilitar
          </div>
        </div>
        <div class="col-md-1 pt-2 text-right">
            <a [routerLink]="['/cadastros/clientes/compartilhar/', idCliente]" class="p-1 m-0 btn btn-primary btn-simple" matTooltip="Compartilhar" [matTooltipPosition]="'below'">
                <i class="material-icons">share</i>
            </a>
            <a class="p-1 m-0 btn btn-primary btn-simple" matTooltip="Ver lista" [matTooltipPosition]="'below'">
                <i class="material-icons">remove_red_eye</i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- <div class="col-md-4">
  <div class="card mb-0 text-center">
    <div class="card-header">
      <h4 class="card-title my-0"><b>{{ config.title }}</b></h4>
    </div>
    <div class="card-content">
      <p>{{ config.description }}</p>
      <button (click)="goToNextStep()" class="btn btn-just-icon btn-round btn-primary">
        <i class="{{ config.icon }}"></i>
      </button>
    </div>
    <div class="card-footer">
      <div class="togglebutton pt-2">
        Desabilitar
        <label><input type="checkbox" [checked]="config.enabled" (change)="changeStateEventFire()"></label>
        Habilitar
      </div>
    </div>
  </div>
</div> -->
