.wrapper {
  position: relative;
  top: 0;
  height: 100vh; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: 260px;
  background: #FFFFFF;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .sidebar[data-background-color="black"] {
    background-color: #191919; }
  .sidebar .logo-img {
    width: 42px;
    max-height: 42px; }
    .sidebar .logo-img img {
      width: 42px;
      top: 16px;
      left: 18px;
      position: absolute; }
  .sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 70px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px; }
    .sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
      display: none !important; }
    .sidebar .sidebar-wrapper .navbar-form {
      border: none;
      box-shadow: none; }
    .sidebar .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a span,
    .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a span {
      display: inline-block; }
    .sidebar .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
    .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
      margin: 0;
      position: relative;
      -webkit-transform: translate3d(45px, 0, 0);
      -moz-transform: translate3d(45px, 0, 0);
      -o-transform: translate3d(45px, 0, 0);
      -ms-transform: translate3d(45px, 0, 0);
      transform: translate3d(45px, 0, 0);
      opacity: 1;
      white-space: nowrap;
      -webkit-transition: opacity 300ms linear, transform 300ms linear;
      -moz-transition: opacity 300ms linear, transform 300ms linear;
      -o-transition: opacity 300ms linear, transform 300ms linear;
      -ms-transition: opacity 300ms linear, transform 300ms linear;
      transition: opacity 300ms linear, transform 300ms linear; }
    .sidebar .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini,
    .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini {
      text-transform: uppercase;
      width: 30px;
      text-align: center;
      letter-spacing: 1px;
      position: absolute;
      display: inherit; }
    .sidebar .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a i,
    .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a i {
      font-size: 17px;
      line-height: 20px;
      width: 26px; }
    .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
      -webkit-transform: translate3d(45px, 0, 0);
      -moz-transform: translate3d(45px, 0, 0);
      -o-transform: translate3d(45px, 0, 0);
      -ms-transform: translate3d(45px, 0, 0);
      transform: translate3d(45px, 0, 0); }
  .sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden; }
    .sidebar .logo-tim img {
      width: 60px;
      height: 60px; }
  .sidebar .nav {
    padding-top: 15px; }
    .sidebar .nav .caret {
      margin-top: 13px;
      position: absolute;
      right: 18px; }
    .sidebar .nav li > a {
      margin: 10px 15px 0;
      border-radius: 3px;
      color: #3C4858;
      padding-left: 10px;
      padding-right: 10px; }
      .sidebar .nav li > a:hover, .sidebar .nav li > a:focus {
        background-color: transparent;
        outline: none; }
    .sidebar .nav li:first-child > a {
      margin: 0 15px; }
    .sidebar .nav li:hover > a,
    .sidebar .nav li.active > [data-toggle="collapse"] {
      background-color: rgba(200, 200, 200, 0.2);
      color: #3C4858;
      box-shadow: none; }
    .sidebar .nav li.active > [data-toggle="collapse"] i {
      color: #a9afbb; }
    .sidebar .nav li.active > a,
    .sidebar .nav li.active > a i {
      color: #FFFFFF; }
    .sidebar .nav li.separator {
      margin: 15px 0; }
      .sidebar .nav li.separator:after {
        width: calc(100% - 30px);
        content: "";
        position: absolute;
        height: 1px;
        left: 15px;
        background-color: rgba(180, 180, 180, 0.3); }
      .sidebar .nav li.separator + li {
        margin-top: 31px; }
    .sidebar .nav p {
      margin: 0;
      line-height: 30px;
      font-size: 14px;
      white-space: nowrap;
      opacity: 1;
      display: block;
      height: auto;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: opacity 300ms linear, transform 300ms linear;
      -moz-transition: opacity 300ms linear, transform 300ms linear;
      -o-transition: opacity 300ms linear, transform 300ms linear;
      -ms-transition: opacity 300ms linear, transform 300ms linear;
      transition: opacity 300ms linear, transform 300ms linear; }
    .sidebar .nav i {
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      color: #a9afbb; }
  .sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center; }
    .sidebar .sidebar-background:after {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      background: #FFFFFF;
      opacity: .93; }
  .sidebar .logo {
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4; }
    .sidebar .logo:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: rgba(180, 180, 180, 0.3); }
    .sidebar .logo p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: #FFFFFF;
      line-height: 20px; }
    .sidebar .logo .simple-text {
      text-transform: uppercase;
      padding: 5px 0px;
      display: block;
      font-size: 18px;
      color: #3C4858;
      text-align: center;
      white-space: nowrap;
      font-weight: 400;
      line-height: 30px;
      overflow: hidden; }
  .sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden; }
    .sidebar .logo-tim img {
      width: 60px;
      height: 60px; }
  .sidebar .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative; }
    .sidebar .user:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: rgba(180, 180, 180, 0.3); }
    .sidebar .user .photo {
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
      position: absolute;
      left: 23px;
      z-index: 5;
      box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
      .sidebar .user .photo img {
        width: 100%; }
    .sidebar .user a {
      color: #3C4858;
      padding: 6px 10px;
      display: block;
      white-space: nowrap; }
    .sidebar .user .info .caret {
      position: absolute;
      top: 16px;
      right: 26px; }
    .sidebar .user .info > a {
      padding-left: 70px; }
  .sidebar[data-background-color="black"] {
    background-color: #191919; }
    .sidebar[data-background-color="black"] .nav li > a {
      color: #FFFFFF; }
    .sidebar[data-background-color="black"] .nav li i {
      color: rgba(255, 255, 255, 0.8); }
    .sidebar[data-background-color="black"] .nav li.active > [data-toggle="collapse"], .sidebar[data-background-color="black"] .nav li:hover > [data-toggle="collapse"] {
      color: #FFFFFF; }
      .sidebar[data-background-color="black"] .nav li.active > [data-toggle="collapse"] i, .sidebar[data-background-color="black"] .nav li:hover > [data-toggle="collapse"] i {
        color: rgba(255, 255, 255, 0.8); }
    .sidebar[data-background-color="black"] .user a {
      color: #FFFFFF; }
    .sidebar[data-background-color="black"] .simple-text {
      color: #FFFFFF; }
    .sidebar[data-background-color="black"] .sidebar-background:after {
      background: #000;
      opacity: .8; }
  .sidebar[data-background-color="red"] {
    background-color: #e53935; }
    .sidebar[data-background-color="red"] .nav li > a {
      color: #FFFFFF; }
    .sidebar[data-background-color="red"] .nav li i {
      color: rgba(255, 255, 255, 0.8); }
    .sidebar[data-background-color="red"] .nav li.active > [data-toggle="collapse"], .sidebar[data-background-color="red"] .nav li:hover > [data-toggle="collapse"] {
      color: #FFFFFF; }
      .sidebar[data-background-color="red"] .nav li.active > [data-toggle="collapse"] i, .sidebar[data-background-color="red"] .nav li:hover > [data-toggle="collapse"] i {
        color: rgba(255, 255, 255, 0.8); }
    .sidebar[data-background-color="red"] .user a {
      color: #FFFFFF; }
    .sidebar[data-background-color="red"] .simple-text {
      color: #FFFFFF; }
    .sidebar[data-background-color="red"] .sidebar-background:after {
      background: #d50000;
      opacity: .8; }
    .sidebar[data-background-color="red"] .user:after,
    .sidebar[data-background-color="red"] .logo:after,
    .sidebar[data-background-color="red"] .nav li.separator:after {
      background-color: rgba(255, 255, 255, 0.3); }
    .sidebar[data-background-color="red"] .nav li:hover:not(.active) > a,
    .sidebar[data-background-color="red"] .nav li.active > [data-toggle="collapse"] {
      background-color: rgba(255, 255, 255, 0.1); }
  .sidebar[data-active-color="purple"] li.active > a {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); }
  .sidebar[data-active-color="blue"] li.active > a {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4); }
  .sidebar[data-active-color="green"] li.active > a {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4); }
  .sidebar[data-active-color="orange"] li.active > a {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4); }
  .sidebar[data-active-color="red"] li.active > a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); }
  .sidebar[data-active-color="rose"] li.active > a {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4); }
  .sidebar[data-active-color="white"] li.active > a {
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4); }
  .sidebar[data-active-color="white"] .nav li.active > a:not([data-toggle="collapse"]) {
    color: #3C4858;
    opacity: 1;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4); }
    .sidebar[data-active-color="white"] .nav li.active > a:not([data-toggle="collapse"]) i {
      color: rgba(60, 72, 88, 0.8); }
  .sidebar[data-active-color="white"] .sidebar-moving-tab {
    color: #3C4858;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4); }
    .sidebar[data-active-color="white"] .sidebar-moving-tab i {
      color: rgba(60, 72, 88, 0.8); }
  .sidebar[data-image]:after, .sidebar.has-image:after {
    opacity: .77; }

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  .main-panel .main-content {
    margin-top: 0px;
    padding: 0px 15px;
    min-height: calc(100vh - 123px); }
    .main-panel .main-content .container-fluid h3:first-child {
      margin-top: 0; }
  .main-panel > .footer {
    border-top: 1px solid #e7e7e7; }
  .main-panel > .navbar {
    margin-bottom: 0; }
  .main-panel .header {
    margin-bottom: 30px; }
    .main-panel .header .title {
      margin-top: 10px; }

.main-panel {
  max-height: 100%;
  height: 100%; }

.sidebar,
.main-panel,
.sidebar-wrapper {
  -webkit-transition-property: top,bottom,width;
  transition-property: top,bottom, width;
  -webkit-transition-duration: .2s,.2s, .35s;
  transition-duration: .2s,.2s, .35s;
  -webkit-transition-timing-function: linear,linear,ease;
  transition-timing-function: linear,linear,ease;
  -webkit-overflow-scrolling: touch; }

.visible-on-sidebar-regular {
  display: inline-block !important; }

.visible-on-sidebar-mini {
  display: none !important; }

@media (min-width: 992px) {
  .sidebar-mini .visible-on-sidebar-regular {
    display: none !important; }
  .sidebar-mini .visible-on-sidebar-mini {
    display: inline-block !important; }
  .sidebar-mini [data-background-color="black"] .nav .collapse li:not(.active) > a,
  .sidebar-mini [data-background-color="black"] .user .collapse li:not(.active) > a {
    color: #3C4858; }
  .sidebar-mini .sidebar-moving-tab {
    width: 50px; }
    .sidebar-mini .sidebar-moving-tab.moving .sidebar-normal,
    .sidebar-mini .sidebar-moving-tab.moving p {
      display: none; }
    .sidebar-mini .sidebar-moving-tab.moving .sidebar-mini {
      position: relative; }
  .sidebar-mini .sidebar {
    width: 80px; }
    .sidebar-mini .sidebar .sidebar-wrapper {
      width: 80px; }
      .sidebar-mini .sidebar .sidebar-wrapper .nav li > a p {
        opacity: 0;
        -webkit-transform: translate3d(-25px, 0, 0);
        -moz-transform: translate3d(-25px, 0, 0);
        -o-transform: translate3d(-25px, 0, 0);
        -ms-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0); }
      .sidebar-mini .sidebar .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
      .sidebar-mini .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
        -webkit-transform: translate3d(15px, 0, 0);
        -moz-transform: translate3d(15px, 0, 0);
        -o-transform: translate3d(15px, 0, 0);
        -ms-transform: translate3d(15px, 0, 0);
        transform: translate3d(15px, 0, 0);
        opacity: 0; }
      .sidebar-mini .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
        -webkit-transform: translate3d(25px, 0, 0);
        -moz-transform: translate3d(25px, 0, 0);
        -o-transform: translate3d(25px, 0, 0);
        -ms-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0); }
    .sidebar-mini .sidebar .user .info > a {
      line-height: 21px;
      padding-left: 45px;
      opacity: 0; }
    .sidebar-mini .sidebar .logo .logo-normal a {
      opacity: 0;
      text-align: center;
      position: relative;
      padding-left: 40px; }
  .sidebar-mini .main-panel {
    width: calc(100% - 80px);
    margin-left: 80px; }
  .sidebar-mini .sidebar:hover {
    width: 260px !important; }
    .sidebar-mini .sidebar:hover .sidebar-moving-tab {
      width: 230px; }
      .sidebar-mini .sidebar:hover .sidebar-moving-tab.moving .sidebar-normal,
      .sidebar-mini .sidebar:hover .sidebar-moving-tab.moving p {
        display: block; }
      .sidebar-mini .sidebar:hover .sidebar-moving-tab.moving .sidebar-mini {
        position: absolute; }
    .sidebar-mini .sidebar:hover .sidebar-wrapper {
      width: 260px !important; }
      .sidebar-mini .sidebar:hover .sidebar-wrapper .nav li > a p {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0); }
      .sidebar-mini .sidebar:hover .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
        -webkit-transform: translate3d(45px, 0, 0);
        -moz-transform: translate3d(45px, 0, 0);
        -o-transform: translate3d(45px, 0, 0);
        -ms-transform: translate3d(45px, 0, 0);
        transform: translate3d(45px, 0, 0);
        opacity: 1; }
      .sidebar-mini .sidebar:hover .sidebar-wrapper .user {
        padding-bottom: 20px;
        height: auto; }
        .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info > a {
          padding-left: 70px;
          opacity: 1; }
        .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
          opacity: 1;
          transform: translateX(45px); }
    .sidebar-mini .sidebar:hover .logo .logo-normal a {
      opacity: 1;
      padding-left: 0; }
    .sidebar-mini .sidebar:hover .logo .logo-mini {
      position: absolute;
      top: 18px;
      opacity: 0; } }

.hide-sidebar .sidebar {
  -webkit-transform: translate3d(-260px, 0, 0);
  -moz-transform: translate3d(-260px, 0, 0);
  -o-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.hide-sidebar .main-panel {
  width: 100%; }

.hide-sidebar.sidebar-mini .sidebar {
  -webkit-transform: translate3d(-80px, 0, 0);
  -moz-transform: translate3d(-80px, 0, 0);
  -o-transform: translate3d(-80px, 0, 0);
  -ms-transform: translate3d(-80px, 0, 0);
  transform: translate3d(-80px, 0, 0); }

.btn,
.navbar .navbar-nav > li > a.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn::-moz-focus-inner,
  .navbar .navbar-nav > li > a.btn::-moz-focus-inner {
    border: 0; }
  .btn, .btn.btn-default,
  .navbar .navbar-nav > li > a.btn,
  .navbar .navbar-nav > li > a.btn.btn-default {
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12); }
    .btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover,
    .open > .btn.dropdown-toggle,
    .open > .btn.dropdown-toggle:focus,
    .open > .btn.dropdown-toggle:hover, .btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default.active, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn.btn-default.active:focus, .btn.btn-default.active:hover,
    .open > .btn.btn-default.dropdown-toggle,
    .open > .btn.btn-default.dropdown-toggle:focus,
    .open > .btn.btn-default.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn,
    .navbar .navbar-nav > li > a.btn:hover,
    .navbar .navbar-nav > li > a.btn:focus,
    .navbar .navbar-nav > li > a.btn:active,
    .navbar .navbar-nav > li > a.btn.active,
    .navbar .navbar-nav > li > a.btn:active:focus,
    .navbar .navbar-nav > li > a.btn:active:hover,
    .navbar .navbar-nav > li > a.btn.active:focus,
    .navbar .navbar-nav > li > a.btn.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-default,
    .navbar .navbar-nav > li > a.btn.btn-default:hover,
    .navbar .navbar-nav > li > a.btn.btn-default:focus,
    .navbar .navbar-nav > li > a.btn.btn-default:active,
    .navbar .navbar-nav > li > a.btn.btn-default.active,
    .navbar .navbar-nav > li > a.btn.btn-default:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-default:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-default.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-default.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:hover {
      background-color: #999999;
      color: #FFFFFF; }
    .btn:focus, .btn:active, .btn:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover,
    .navbar .navbar-nav > li > a.btn:focus,
    .navbar .navbar-nav > li > a.btn:active,
    .navbar .navbar-nav > li > a.btn:hover,
    .navbar .navbar-nav > li > a.btn.btn-default:focus,
    .navbar .navbar-nav > li > a.btn.btn-default:active,
    .navbar .navbar-nav > li > a.btn.btn-default:hover {
      box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2); }
    .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active,
    fieldset[disabled] .btn,
    fieldset[disabled] .btn:hover,
    fieldset[disabled] .btn:focus,
    fieldset[disabled] .btn.focus,
    fieldset[disabled] .btn:active,
    fieldset[disabled] .btn.active, .btn.btn-default.disabled, .btn.btn-default.disabled:hover, .btn.btn-default.disabled:focus, .btn.btn-default.disabled.focus, .btn.btn-default.disabled:active, .btn.btn-default.disabled.active, .btn.btn-default:disabled, .btn.btn-default:disabled:hover, .btn.btn-default:disabled:focus, .btn.btn-default:disabled.focus, .btn.btn-default:disabled:active, .btn.btn-default:disabled.active, .btn.btn-default[disabled], .btn.btn-default[disabled]:hover, .btn.btn-default[disabled]:focus, .btn.btn-default[disabled].focus, .btn.btn-default[disabled]:active, .btn.btn-default[disabled].active,
    fieldset[disabled] .btn.btn-default,
    fieldset[disabled] .btn.btn-default:hover,
    fieldset[disabled] .btn.btn-default:focus,
    fieldset[disabled] .btn.btn-default.focus,
    fieldset[disabled] .btn.btn-default:active,
    fieldset[disabled] .btn.btn-default.active,
    .navbar .navbar-nav > li > a.btn.disabled,
    .navbar .navbar-nav > li > a.btn.disabled:hover,
    .navbar .navbar-nav > li > a.btn.disabled:focus,
    .navbar .navbar-nav > li > a.btn.disabled.focus,
    .navbar .navbar-nav > li > a.btn.disabled:active,
    .navbar .navbar-nav > li > a.btn.disabled.active,
    .navbar .navbar-nav > li > a.btn:disabled,
    .navbar .navbar-nav > li > a.btn:disabled:hover,
    .navbar .navbar-nav > li > a.btn:disabled:focus,
    .navbar .navbar-nav > li > a.btn:disabled.focus,
    .navbar .navbar-nav > li > a.btn:disabled:active,
    .navbar .navbar-nav > li > a.btn:disabled.active,
    .navbar .navbar-nav > li > a.btn[disabled],
    .navbar .navbar-nav > li > a.btn[disabled]:hover,
    .navbar .navbar-nav > li > a.btn[disabled]:focus,
    .navbar .navbar-nav > li > a.btn[disabled].focus,
    .navbar .navbar-nav > li > a.btn[disabled]:active,
    .navbar .navbar-nav > li > a.btn[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.active,
    .navbar .navbar-nav > li > a.btn.btn-default.disabled,
    .navbar .navbar-nav > li > a.btn.btn-default.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-default.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-default.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-default.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-default.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-default:disabled,
    .navbar .navbar-nav > li > a.btn.btn-default:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-default:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-default:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-default:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-default:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-default[disabled],
    .navbar .navbar-nav > li > a.btn.btn-default[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-default[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-default[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-default[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-default[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-default,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-default:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-default:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-default.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-default:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-default.active {
      box-shadow: none; }
    .btn.btn-simple, .btn.btn-default.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-default.btn-simple {
      background-color: transparent;
      color: #999999;
      box-shadow: none; }
      .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active, .btn.btn-default.btn-simple:hover, .btn.btn-default.btn-simple:focus, .btn.btn-default.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-default.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-default.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-default.btn-simple:active {
        background-color: transparent;
        color: #999999; }
  .btn.btn-primary,
  .navbar .navbar-nav > li > a.btn.btn-primary {
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12); }
    .btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover,
    .open > .btn.btn-primary.dropdown-toggle,
    .open > .btn.btn-primary.dropdown-toggle:focus,
    .open > .btn.btn-primary.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary,
    .navbar .navbar-nav > li > a.btn.btn-primary:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary:active,
    .navbar .navbar-nav > li > a.btn.btn-primary.active,
    .navbar .navbar-nav > li > a.btn.btn-primary:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
      background-color: #9c27b0;
      color: #FFFFFF; }
    .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary:active,
    .navbar .navbar-nav > li > a.btn.btn-primary:hover {
      box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2); }
    .btn.btn-primary.disabled, .btn.btn-primary.disabled:hover, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary.disabled:active, .btn.btn-primary.disabled.active, .btn.btn-primary:disabled, .btn.btn-primary:disabled:hover, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus, .btn.btn-primary:disabled:active, .btn.btn-primary:disabled.active, .btn.btn-primary[disabled], .btn.btn-primary[disabled]:hover, .btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled].focus, .btn.btn-primary[disabled]:active, .btn.btn-primary[disabled].active,
    fieldset[disabled] .btn.btn-primary,
    fieldset[disabled] .btn.btn-primary:hover,
    fieldset[disabled] .btn.btn-primary:focus,
    fieldset[disabled] .btn.btn-primary.focus,
    fieldset[disabled] .btn.btn-primary:active,
    fieldset[disabled] .btn.btn-primary.active,
    .navbar .navbar-nav > li > a.btn.btn-primary.disabled,
    .navbar .navbar-nav > li > a.btn.btn-primary.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-primary.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-primary.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-primary:disabled,
    .navbar .navbar-nav > li > a.btn.btn-primary:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-primary:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-primary:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-primary[disabled],
    .navbar .navbar-nav > li > a.btn.btn-primary[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-primary[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-primary[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-primary[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-primary[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-primary,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-primary:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-primary:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-primary.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-primary:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-primary.active {
      box-shadow: none; }
    .btn.btn-primary.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple {
      background-color: transparent;
      color: #9c27b0;
      box-shadow: none; }
      .btn.btn-primary.btn-simple:hover, .btn.btn-primary.btn-simple:focus, .btn.btn-primary.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:active {
        background-color: transparent;
        color: #9c27b0; }
  .btn.btn-info,
  .navbar .navbar-nav > li > a.btn.btn-info {
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12); }
    .btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover, .btn.btn-info.active:focus, .btn.btn-info.active:hover,
    .open > .btn.btn-info.dropdown-toggle,
    .open > .btn.btn-info.dropdown-toggle:focus,
    .open > .btn.btn-info.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-info,
    .navbar .navbar-nav > li > a.btn.btn-info:hover,
    .navbar .navbar-nav > li > a.btn.btn-info:focus,
    .navbar .navbar-nav > li > a.btn.btn-info:active,
    .navbar .navbar-nav > li > a.btn.btn-info.active,
    .navbar .navbar-nav > li > a.btn.btn-info:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-info:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-info.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-info.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover {
      background-color: #00bcd4;
      color: #FFFFFF; }
    .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover,
    .navbar .navbar-nav > li > a.btn.btn-info:focus,
    .navbar .navbar-nav > li > a.btn.btn-info:active,
    .navbar .navbar-nav > li > a.btn.btn-info:hover {
      box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2); }
    .btn.btn-info.disabled, .btn.btn-info.disabled:hover, .btn.btn-info.disabled:focus, .btn.btn-info.disabled.focus, .btn.btn-info.disabled:active, .btn.btn-info.disabled.active, .btn.btn-info:disabled, .btn.btn-info:disabled:hover, .btn.btn-info:disabled:focus, .btn.btn-info:disabled.focus, .btn.btn-info:disabled:active, .btn.btn-info:disabled.active, .btn.btn-info[disabled], .btn.btn-info[disabled]:hover, .btn.btn-info[disabled]:focus, .btn.btn-info[disabled].focus, .btn.btn-info[disabled]:active, .btn.btn-info[disabled].active,
    fieldset[disabled] .btn.btn-info,
    fieldset[disabled] .btn.btn-info:hover,
    fieldset[disabled] .btn.btn-info:focus,
    fieldset[disabled] .btn.btn-info.focus,
    fieldset[disabled] .btn.btn-info:active,
    fieldset[disabled] .btn.btn-info.active,
    .navbar .navbar-nav > li > a.btn.btn-info.disabled,
    .navbar .navbar-nav > li > a.btn.btn-info.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-info.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-info.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-info.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-info.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-info:disabled,
    .navbar .navbar-nav > li > a.btn.btn-info:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-info:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-info:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-info:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-info:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-info[disabled],
    .navbar .navbar-nav > li > a.btn.btn-info[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-info[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-info[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-info[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-info[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-info,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-info:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-info:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-info.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-info:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-info.active {
      box-shadow: none; }
    .btn.btn-info.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-info.btn-simple {
      background-color: transparent;
      color: #00bcd4;
      box-shadow: none; }
      .btn.btn-info.btn-simple:hover, .btn.btn-info.btn-simple:focus, .btn.btn-info.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:active {
        background-color: transparent;
        color: #00bcd4; }
  .btn.btn-success,
  .navbar .navbar-nav > li > a.btn.btn-success {
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12); }
    .btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover, .btn.btn-success.active:focus, .btn.btn-success.active:hover,
    .open > .btn.btn-success.dropdown-toggle,
    .open > .btn.btn-success.dropdown-toggle:focus,
    .open > .btn.btn-success.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-success,
    .navbar .navbar-nav > li > a.btn.btn-success:hover,
    .navbar .navbar-nav > li > a.btn.btn-success:focus,
    .navbar .navbar-nav > li > a.btn.btn-success:active,
    .navbar .navbar-nav > li > a.btn.btn-success.active,
    .navbar .navbar-nav > li > a.btn.btn-success:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-success:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-success.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-success.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:hover {
      background-color: #4caf50;
      color: #FFFFFF; }
    .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover,
    .navbar .navbar-nav > li > a.btn.btn-success:focus,
    .navbar .navbar-nav > li > a.btn.btn-success:active,
    .navbar .navbar-nav > li > a.btn.btn-success:hover {
      box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2); }
    .btn.btn-success.disabled, .btn.btn-success.disabled:hover, .btn.btn-success.disabled:focus, .btn.btn-success.disabled.focus, .btn.btn-success.disabled:active, .btn.btn-success.disabled.active, .btn.btn-success:disabled, .btn.btn-success:disabled:hover, .btn.btn-success:disabled:focus, .btn.btn-success:disabled.focus, .btn.btn-success:disabled:active, .btn.btn-success:disabled.active, .btn.btn-success[disabled], .btn.btn-success[disabled]:hover, .btn.btn-success[disabled]:focus, .btn.btn-success[disabled].focus, .btn.btn-success[disabled]:active, .btn.btn-success[disabled].active,
    fieldset[disabled] .btn.btn-success,
    fieldset[disabled] .btn.btn-success:hover,
    fieldset[disabled] .btn.btn-success:focus,
    fieldset[disabled] .btn.btn-success.focus,
    fieldset[disabled] .btn.btn-success:active,
    fieldset[disabled] .btn.btn-success.active,
    .navbar .navbar-nav > li > a.btn.btn-success.disabled,
    .navbar .navbar-nav > li > a.btn.btn-success.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-success.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-success.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-success.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-success.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-success:disabled,
    .navbar .navbar-nav > li > a.btn.btn-success:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-success:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-success:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-success:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-success:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-success[disabled],
    .navbar .navbar-nav > li > a.btn.btn-success[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-success[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-success[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-success[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-success[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-success,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-success:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-success:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-success.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-success:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-success.active {
      box-shadow: none; }
    .btn.btn-success.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-success.btn-simple {
      background-color: transparent;
      color: #4caf50;
      box-shadow: none; }
      .btn.btn-success.btn-simple:hover, .btn.btn-success.btn-simple:focus, .btn.btn-success.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:active {
        background-color: transparent;
        color: #4caf50; }
  .btn.btn-warning,
  .navbar .navbar-nav > li > a.btn.btn-warning {
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12); }
    .btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active:hover,
    .open > .btn.btn-warning.dropdown-toggle,
    .open > .btn.btn-warning.dropdown-toggle:focus,
    .open > .btn.btn-warning.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning,
    .navbar .navbar-nav > li > a.btn.btn-warning:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning:active,
    .navbar .navbar-nav > li > a.btn.btn-warning.active,
    .navbar .navbar-nav > li > a.btn.btn-warning:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover {
      background-color: #ff9800;
      color: #FFFFFF; }
    .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning:active,
    .navbar .navbar-nav > li > a.btn.btn-warning:hover {
      box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2); }
    .btn.btn-warning.disabled, .btn.btn-warning.disabled:hover, .btn.btn-warning.disabled:focus, .btn.btn-warning.disabled.focus, .btn.btn-warning.disabled:active, .btn.btn-warning.disabled.active, .btn.btn-warning:disabled, .btn.btn-warning:disabled:hover, .btn.btn-warning:disabled:focus, .btn.btn-warning:disabled.focus, .btn.btn-warning:disabled:active, .btn.btn-warning:disabled.active, .btn.btn-warning[disabled], .btn.btn-warning[disabled]:hover, .btn.btn-warning[disabled]:focus, .btn.btn-warning[disabled].focus, .btn.btn-warning[disabled]:active, .btn.btn-warning[disabled].active,
    fieldset[disabled] .btn.btn-warning,
    fieldset[disabled] .btn.btn-warning:hover,
    fieldset[disabled] .btn.btn-warning:focus,
    fieldset[disabled] .btn.btn-warning.focus,
    fieldset[disabled] .btn.btn-warning:active,
    fieldset[disabled] .btn.btn-warning.active,
    .navbar .navbar-nav > li > a.btn.btn-warning.disabled,
    .navbar .navbar-nav > li > a.btn.btn-warning.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-warning.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-warning.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-warning:disabled,
    .navbar .navbar-nav > li > a.btn.btn-warning:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-warning:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-warning:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-warning[disabled],
    .navbar .navbar-nav > li > a.btn.btn-warning[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-warning[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-warning[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-warning[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-warning[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-warning,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-warning:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-warning:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-warning.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-warning:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-warning.active {
      box-shadow: none; }
    .btn.btn-warning.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple {
      background-color: transparent;
      color: #ff9800;
      box-shadow: none; }
      .btn.btn-warning.btn-simple:hover, .btn.btn-warning.btn-simple:focus, .btn.btn-warning.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:active {
        background-color: transparent;
        color: #ff9800; }
  .btn.btn-danger,
  .navbar .navbar-nav > li > a.btn.btn-danger {
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12); }
    .btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover,
    .open > .btn.btn-danger.dropdown-toggle,
    .open > .btn.btn-danger.dropdown-toggle:focus,
    .open > .btn.btn-danger.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger,
    .navbar .navbar-nav > li > a.btn.btn-danger:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger:active,
    .navbar .navbar-nav > li > a.btn.btn-danger.active,
    .navbar .navbar-nav > li > a.btn.btn-danger:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
      background-color: #f44336;
      color: #FFFFFF; }
    .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger:active,
    .navbar .navbar-nav > li > a.btn.btn-danger:hover {
      box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2); }
    .btn.btn-danger.disabled, .btn.btn-danger.disabled:hover, .btn.btn-danger.disabled:focus, .btn.btn-danger.disabled.focus, .btn.btn-danger.disabled:active, .btn.btn-danger.disabled.active, .btn.btn-danger:disabled, .btn.btn-danger:disabled:hover, .btn.btn-danger:disabled:focus, .btn.btn-danger:disabled.focus, .btn.btn-danger:disabled:active, .btn.btn-danger:disabled.active, .btn.btn-danger[disabled], .btn.btn-danger[disabled]:hover, .btn.btn-danger[disabled]:focus, .btn.btn-danger[disabled].focus, .btn.btn-danger[disabled]:active, .btn.btn-danger[disabled].active,
    fieldset[disabled] .btn.btn-danger,
    fieldset[disabled] .btn.btn-danger:hover,
    fieldset[disabled] .btn.btn-danger:focus,
    fieldset[disabled] .btn.btn-danger.focus,
    fieldset[disabled] .btn.btn-danger:active,
    fieldset[disabled] .btn.btn-danger.active,
    .navbar .navbar-nav > li > a.btn.btn-danger.disabled,
    .navbar .navbar-nav > li > a.btn.btn-danger.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-danger.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-danger.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-danger:disabled,
    .navbar .navbar-nav > li > a.btn.btn-danger:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-danger:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-danger:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-danger[disabled],
    .navbar .navbar-nav > li > a.btn.btn-danger[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-danger[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-danger[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-danger[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-danger[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-danger,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-danger:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-danger:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-danger.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-danger:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-danger.active {
      box-shadow: none; }
    .btn.btn-danger.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple {
      background-color: transparent;
      color: #f44336;
      box-shadow: none; }
      .btn.btn-danger.btn-simple:hover, .btn.btn-danger.btn-simple:focus, .btn.btn-danger.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:active {
        background-color: transparent;
        color: #f44336; }
  .btn.btn-rose,
  .navbar .navbar-nav > li > a.btn.btn-rose {
    box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12); }
    .btn.btn-rose, .btn.btn-rose:hover, .btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose.active, .btn.btn-rose:active:focus, .btn.btn-rose:active:hover, .btn.btn-rose.active:focus, .btn.btn-rose.active:hover,
    .open > .btn.btn-rose.dropdown-toggle,
    .open > .btn.btn-rose.dropdown-toggle:focus,
    .open > .btn.btn-rose.dropdown-toggle:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose,
    .navbar .navbar-nav > li > a.btn.btn-rose:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose:active,
    .navbar .navbar-nav > li > a.btn.btn-rose.active,
    .navbar .navbar-nav > li > a.btn.btn-rose:active:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose:active:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose.active:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose.active:hover,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle:focus,
    .open >
    .navbar .navbar-nav > li > a.btn.btn-rose.dropdown-toggle:hover {
      background-color: #e91e63;
      color: #FFFFFF; }
    .btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose:active,
    .navbar .navbar-nav > li > a.btn.btn-rose:hover {
      box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2); }
    .btn.btn-rose.disabled, .btn.btn-rose.disabled:hover, .btn.btn-rose.disabled:focus, .btn.btn-rose.disabled.focus, .btn.btn-rose.disabled:active, .btn.btn-rose.disabled.active, .btn.btn-rose:disabled, .btn.btn-rose:disabled:hover, .btn.btn-rose:disabled:focus, .btn.btn-rose:disabled.focus, .btn.btn-rose:disabled:active, .btn.btn-rose:disabled.active, .btn.btn-rose[disabled], .btn.btn-rose[disabled]:hover, .btn.btn-rose[disabled]:focus, .btn.btn-rose[disabled].focus, .btn.btn-rose[disabled]:active, .btn.btn-rose[disabled].active,
    fieldset[disabled] .btn.btn-rose,
    fieldset[disabled] .btn.btn-rose:hover,
    fieldset[disabled] .btn.btn-rose:focus,
    fieldset[disabled] .btn.btn-rose.focus,
    fieldset[disabled] .btn.btn-rose:active,
    fieldset[disabled] .btn.btn-rose.active,
    .navbar .navbar-nav > li > a.btn.btn-rose.disabled,
    .navbar .navbar-nav > li > a.btn.btn-rose.disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose.disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose.disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-rose.disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-rose.disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-rose:disabled,
    .navbar .navbar-nav > li > a.btn.btn-rose:disabled:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose:disabled:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose:disabled.focus,
    .navbar .navbar-nav > li > a.btn.btn-rose:disabled:active,
    .navbar .navbar-nav > li > a.btn.btn-rose:disabled.active,
    .navbar .navbar-nav > li > a.btn.btn-rose[disabled],
    .navbar .navbar-nav > li > a.btn.btn-rose[disabled]:hover,
    .navbar .navbar-nav > li > a.btn.btn-rose[disabled]:focus,
    .navbar .navbar-nav > li > a.btn.btn-rose[disabled].focus,
    .navbar .navbar-nav > li > a.btn.btn-rose[disabled]:active,
    .navbar .navbar-nav > li > a.btn.btn-rose[disabled].active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-rose,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-rose:hover,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-rose:focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-rose.focus,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-rose:active,
    fieldset[disabled]
    .navbar .navbar-nav > li > a.btn.btn-rose.active {
      box-shadow: none; }
    .btn.btn-rose.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple {
      background-color: transparent;
      color: #e91e63;
      box-shadow: none; }
      .btn.btn-rose.btn-simple:hover, .btn.btn-rose.btn-simple:focus, .btn.btn-rose.btn-simple:active,
      .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:hover,
      .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:focus,
      .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:active {
        background-color: transparent;
        color: #e91e63; }
  .btn.btn-white, .btn.btn-white:focus, .btn.btn-white:hover,
  .navbar .navbar-nav > li > a.btn.btn-white,
  .navbar .navbar-nav > li > a.btn.btn-white:focus,
  .navbar .navbar-nav > li > a.btn.btn-white:hover {
    background-color: #FFFFFF;
    color: #999999; }
  .btn.btn-white.btn-simple,
  .navbar .navbar-nav > li > a.btn.btn-white.btn-simple {
    color: #FFFFFF;
    background: transparent;
    box-shadow: none; }
  .btn.btn-facebook,
  .navbar .navbar-nav > li > a.btn.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12); }
    .btn.btn-facebook:focus, .btn.btn-facebook:active, .btn.btn-facebook:hover,
    .navbar .navbar-nav > li > a.btn.btn-facebook:focus,
    .navbar .navbar-nav > li > a.btn.btn-facebook:active,
    .navbar .navbar-nav > li > a.btn.btn-facebook:hover {
      background-color: #3b5998;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2); }
    .btn.btn-facebook.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-facebook.btn-simple {
      color: #3b5998;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-twitter,
  .navbar .navbar-nav > li > a.btn.btn-twitter {
    background-color: #55acee;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12); }
    .btn.btn-twitter:focus, .btn.btn-twitter:active, .btn.btn-twitter:hover,
    .navbar .navbar-nav > li > a.btn.btn-twitter:focus,
    .navbar .navbar-nav > li > a.btn.btn-twitter:active,
    .navbar .navbar-nav > li > a.btn.btn-twitter:hover {
      background-color: #55acee;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2); }
    .btn.btn-twitter.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-twitter.btn-simple {
      color: #55acee;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-pinterest,
  .navbar .navbar-nav > li > a.btn.btn-pinterest {
    background-color: #cc2127;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(204, 33, 39, 0.14), 0 3px 1px -2px rgba(204, 33, 39, 0.2), 0 1px 5px 0 rgba(204, 33, 39, 0.12); }
    .btn.btn-pinterest:focus, .btn.btn-pinterest:active, .btn.btn-pinterest:hover,
    .navbar .navbar-nav > li > a.btn.btn-pinterest:focus,
    .navbar .navbar-nav > li > a.btn.btn-pinterest:active,
    .navbar .navbar-nav > li > a.btn.btn-pinterest:hover {
      background-color: #cc2127;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(204, 33, 39, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(204, 33, 39, 0.2); }
    .btn.btn-pinterest.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-pinterest.btn-simple {
      color: #cc2127;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-google,
  .navbar .navbar-nav > li > a.btn.btn-google {
    background-color: #dd4b39;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12); }
    .btn.btn-google:focus, .btn.btn-google:active, .btn.btn-google:hover,
    .navbar .navbar-nav > li > a.btn.btn-google:focus,
    .navbar .navbar-nav > li > a.btn.btn-google:active,
    .navbar .navbar-nav > li > a.btn.btn-google:hover {
      background-color: #dd4b39;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2); }
    .btn.btn-google.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-google.btn-simple {
      color: #dd4b39;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-linkedin,
  .navbar .navbar-nav > li > a.btn.btn-linkedin {
    background-color: #0976b4;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12); }
    .btn.btn-linkedin:focus, .btn.btn-linkedin:active, .btn.btn-linkedin:hover,
    .navbar .navbar-nav > li > a.btn.btn-linkedin:focus,
    .navbar .navbar-nav > li > a.btn.btn-linkedin:active,
    .navbar .navbar-nav > li > a.btn.btn-linkedin:hover {
      background-color: #0976b4;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(9, 118, 180, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(9, 118, 180, 0.2); }
    .btn.btn-linkedin.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-linkedin.btn-simple {
      color: #0976b4;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-dribbble,
  .navbar .navbar-nav > li > a.btn.btn-dribbble {
    background-color: #ea4c89;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(234, 76, 137, 0.14), 0 3px 1px -2px rgba(234, 76, 137, 0.2), 0 1px 5px 0 rgba(234, 76, 137, 0.12); }
    .btn.btn-dribbble:focus, .btn.btn-dribbble:active, .btn.btn-dribbble:hover,
    .navbar .navbar-nav > li > a.btn.btn-dribbble:focus,
    .navbar .navbar-nav > li > a.btn.btn-dribbble:active,
    .navbar .navbar-nav > li > a.btn.btn-dribbble:hover {
      background-color: #ea4c89;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(234, 76, 137, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(234, 76, 137, 0.2); }
    .btn.btn-dribbble.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-dribbble.btn-simple {
      color: #ea4c89;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-github,
  .navbar .navbar-nav > li > a.btn.btn-github {
    background-color: #333333;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12); }
    .btn.btn-github:focus, .btn.btn-github:active, .btn.btn-github:hover,
    .navbar .navbar-nav > li > a.btn.btn-github:focus,
    .navbar .navbar-nav > li > a.btn.btn-github:active,
    .navbar .navbar-nav > li > a.btn.btn-github:hover {
      background-color: #333333;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2); }
    .btn.btn-github.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-github.btn-simple {
      color: #333333;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-youtube,
  .navbar .navbar-nav > li > a.btn.btn-youtube {
    background-color: #e52d27;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(229, 45, 39, 0.14), 0 3px 1px -2px rgba(229, 45, 39, 0.2), 0 1px 5px 0 rgba(229, 45, 39, 0.12); }
    .btn.btn-youtube:focus, .btn.btn-youtube:active, .btn.btn-youtube:hover,
    .navbar .navbar-nav > li > a.btn.btn-youtube:focus,
    .navbar .navbar-nav > li > a.btn.btn-youtube:active,
    .navbar .navbar-nav > li > a.btn.btn-youtube:hover {
      background-color: #e52d27;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(229, 45, 39, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(229, 45, 39, 0.2); }
    .btn.btn-youtube.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-youtube.btn-simple {
      color: #e52d27;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-instagram,
  .navbar .navbar-nav > li > a.btn.btn-instagram {
    background-color: #125688;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(18, 86, 136, 0.14), 0 3px 1px -2px rgba(18, 86, 136, 0.2), 0 1px 5px 0 rgba(18, 86, 136, 0.12); }
    .btn.btn-instagram:focus, .btn.btn-instagram:active, .btn.btn-instagram:hover,
    .navbar .navbar-nav > li > a.btn.btn-instagram:focus,
    .navbar .navbar-nav > li > a.btn.btn-instagram:active,
    .navbar .navbar-nav > li > a.btn.btn-instagram:hover {
      background-color: #125688;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(18, 86, 136, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(18, 86, 136, 0.2); }
    .btn.btn-instagram.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-instagram.btn-simple {
      color: #125688;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-reddit,
  .navbar .navbar-nav > li > a.btn.btn-reddit {
    background-color: #ff4500;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(255, 69, 0, 0.14), 0 3px 1px -2px rgba(255, 69, 0, 0.2), 0 1px 5px 0 rgba(255, 69, 0, 0.12); }
    .btn.btn-reddit:focus, .btn.btn-reddit:active, .btn.btn-reddit:hover,
    .navbar .navbar-nav > li > a.btn.btn-reddit:focus,
    .navbar .navbar-nav > li > a.btn.btn-reddit:active,
    .navbar .navbar-nav > li > a.btn.btn-reddit:hover {
      background-color: #ff4500;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(255, 69, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 69, 0, 0.2); }
    .btn.btn-reddit.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-reddit.btn-simple {
      color: #ff4500;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-tumblr,
  .navbar .navbar-nav > li > a.btn.btn-tumblr {
    background-color: #35465c;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(53, 70, 92, 0.14), 0 3px 1px -2px rgba(53, 70, 92, 0.2), 0 1px 5px 0 rgba(53, 70, 92, 0.12); }
    .btn.btn-tumblr:focus, .btn.btn-tumblr:active, .btn.btn-tumblr:hover,
    .navbar .navbar-nav > li > a.btn.btn-tumblr:focus,
    .navbar .navbar-nav > li > a.btn.btn-tumblr:active,
    .navbar .navbar-nav > li > a.btn.btn-tumblr:hover {
      background-color: #35465c;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(53, 70, 92, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(53, 70, 92, 0.2); }
    .btn.btn-tumblr.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-tumblr.btn-simple {
      color: #35465c;
      background-color: transparent;
      box-shadow: none; }
  .btn.btn-behance,
  .navbar .navbar-nav > li > a.btn.btn-behance {
    background-color: #1769ff;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(23, 105, 255, 0.14), 0 3px 1px -2px rgba(23, 105, 255, 0.2), 0 1px 5px 0 rgba(23, 105, 255, 0.12); }
    .btn.btn-behance:focus, .btn.btn-behance:active, .btn.btn-behance:hover,
    .navbar .navbar-nav > li > a.btn.btn-behance:focus,
    .navbar .navbar-nav > li > a.btn.btn-behance:active,
    .navbar .navbar-nav > li > a.btn.btn-behance:hover {
      background-color: #1769ff;
      color: #fff;
      box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2); }
    .btn.btn-behance.btn-simple,
    .navbar .navbar-nav > li > a.btn.btn-behance.btn-simple {
      color: #1769ff;
      background-color: transparent;
      box-shadow: none; }
  .btn:focus, .btn:active, .btn:active:focus,
  .navbar .navbar-nav > li > a.btn:focus,
  .navbar .navbar-nav > li > a.btn:active,
  .navbar .navbar-nav > li > a.btn:active:focus {
    outline: 0; }
  .btn.btn-round,
  .navbar .navbar-nav > li > a.btn.btn-round {
    border-radius: 30px; }
  .btn:not(.btn-just-icon):not(.btn-fab) .fa,
  .navbar .navbar-nav > li > a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 18px;
    margin-top: -2px;
    position: relative;
    top: 2px; }
  .btn.btn-fab,
  .navbar .navbar-nav > li > a.btn.btn-fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: normal; }
    .btn.btn-fab .ripple-container,
    .navbar .navbar-nav > li > a.btn.btn-fab .ripple-container {
      border-radius: 50%; }
    .btn.btn-fab.btn-fab-mini,
    .btn-group-sm .btn.btn-fab,
    .navbar .navbar-nav > li > a.btn.btn-fab.btn-fab-mini,
    .btn-group-sm
    .navbar .navbar-nav > li > a.btn.btn-fab {
      height: 40px;
      min-width: 40px;
      width: 40px; }
      .btn.btn-fab.btn-fab-mini.material-icons,
      .btn-group-sm .btn.btn-fab.material-icons,
      .navbar .navbar-nav > li > a.btn.btn-fab.btn-fab-mini.material-icons,
      .btn-group-sm
      .navbar .navbar-nav > li > a.btn.btn-fab.material-icons {
        top: -3.5px;
        left: -3.5px; }
      .btn.btn-fab.btn-fab-mini .material-icons,
      .btn-group-sm .btn.btn-fab .material-icons,
      .navbar .navbar-nav > li > a.btn.btn-fab.btn-fab-mini .material-icons,
      .btn-group-sm
      .navbar .navbar-nav > li > a.btn.btn-fab .material-icons {
        font-size: 17px; }
    .btn.btn-fab i.material-icons,
    .navbar .navbar-nav > li > a.btn.btn-fab i.material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-12px, -12px);
      line-height: 24px;
      width: 24px;
      font-size: 24px; }
  .btn.btn-lg,
  .btn-group-lg .btn,
  .navbar .navbar-nav > li > a.btn.btn-lg,
  .btn-group-lg
  .navbar .navbar-nav > li > a.btn {
    font-size: 14px;
    padding: 18px 36px; }
  .btn.btn-sm,
  .btn-group-sm .btn,
  .navbar .navbar-nav > li > a.btn.btn-sm,
  .btn-group-sm
  .navbar .navbar-nav > li > a.btn {
    padding: 5px 20px;
    font-size: 11px; }
  .btn.btn-xs,
  .btn-group-xs .btn,
  .navbar .navbar-nav > li > a.btn.btn-xs,
  .btn-group-xs
  .navbar .navbar-nav > li > a.btn {
    padding: 4px 15px;
    font-size: 10px; }
  .btn.btn-just-icon,
  .navbar .navbar-nav > li > a.btn.btn-just-icon {
    font-size: 20px;
    padding: 11px 11px;
    line-height: 1em; }
    .btn.btn-just-icon i,
    .navbar .navbar-nav > li > a.btn.btn-just-icon i {
      width: 20px; }
    .btn.btn-just-icon.btn-lg,
    .navbar .navbar-nav > li > a.btn.btn-just-icon.btn-lg {
      font-size: 22px;
      padding: 13px 18px; }

.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: -1px;
  position: relative; }

.btn .caret {
  margin-left: 2px; }

.navbar .navbar-nav > li > a.btn {
  margin-top: 2px;
  margin-bottom: 2px; }
  .navbar .navbar-nav > li > a.btn.btn-fab {
    margin: 5px 2px; }

.navbar .navbar-nav > li > a:not(.btn) .material-icons {
  margin-top: -3px;
  top: 0px;
  position: relative;
  margin-right: 3px; }

.navbar .navbar-nav > li > .profile-photo {
  margin: 5px 2px; }

.navbar-default:not(.navbar-transparent) .navbar-nav > li > a.btn.btn-white.btn-simple {
  color: #555555; }

.btn-group,
.btn-group-vertical {
  position: relative;
  margin: 10px 1px; }
  .btn-group.open > .dropdown-toggle.btn, .btn-group.open > .dropdown-toggle.btn.btn-default,
  .btn-group-vertical.open > .dropdown-toggle.btn,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-default {
    background-color: #FFFFFF; }
  .btn-group.open > .dropdown-toggle.btn.btn-inverse,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse {
    background-color: #212121; }
  .btn-group.open > .dropdown-toggle.btn.btn-primary,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-primary {
    background-color: #9c27b0; }
  .btn-group.open > .dropdown-toggle.btn.btn-success,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-success {
    background-color: #4caf50; }
  .btn-group.open > .dropdown-toggle.btn.btn-info,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-info {
    background-color: #00bcd4; }
  .btn-group.open > .dropdown-toggle.btn.btn-warning,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-warning {
    background-color: #ff9800; }
  .btn-group.open > .dropdown-toggle.btn.btn-danger,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-danger {
    background-color: #f44336; }
  .btn-group.open > .dropdown-toggle.btn.btn-rose,
  .btn-group-vertical.open > .dropdown-toggle.btn.btn-rose {
    background-color: #e91e63; }
  .btn-group .dropdown-menu,
  .btn-group-vertical .dropdown-menu {
    border-radius: 0 0 3px 3px; }
  .btn-group.btn-group-raised,
  .btn-group-vertical.btn-group-raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .btn-group .btn + .btn,
  .btn-group .btn,
  .btn-group .btn:active,
  .btn-group .btn-group,
  .btn-group-vertical .btn + .btn,
  .btn-group-vertical .btn,
  .btn-group-vertical .btn:active,
  .btn-group-vertical .btn-group {
    margin: 0; }

.close {
  font-size: inherit;
  color: #FFFFFF;
  opacity: .9;
  text-shadow: none; }
  .close:hover, .close:focus {
    opacity: 1;
    color: #FFFFFF; }
  .close i {
    font-size: 11px; }

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff; }
  .card .card-height-indicator {
    margin-top: 100%; }
  .card.row-space .header {
    padding: 15px 20px 0; }
  .card .map {
    height: 280px;
    border-radius: 6px;
    margin-top: 15px; }
    .card .map.map-big {
      height: 420px; }
  .card .card-title {
    margin-top: 0;
    margin-bottom: 3px; }
    .card .card-title {
      margin-top: 0;
      margin-bottom: 5px; }
  .card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    z-index: 3;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .card .card-image img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      pointer-events: none; }
    .card .card-image .card-title {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #fff;
      font-size: 1.3em;
      text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5); }
  .card .category:not([class*="text-"]) {
    color: #999999;
    font-size: 14px; }
  .card .card-content {
    padding: 15px 20px;
    position: relative; }
    .card .card-content .category {
      margin-bottom: 0; }
  .card .card-actions {
    position: absolute;
    z-index: 1;
    top: -50px;
    width: calc(100% - 30px);
    left: 17px;
    right: 17px;
    text-align: center; }
    .card .card-actions .btn {
      padding-left: 12px;
      padding-right: 12px; }
    .card .card-actions .fix-broken-card {
      position: absolute;
      top: -65px; }
  .card .card-header {
    padding: 15px 20px 0;
    z-index: 3; }
    .card .card-header .category {
      margin-bottom: 0; }
    .card .card-header.card-header-text {
      display: inline-block; }
      .card .card-header.card-header-text:after {
        content: "";
        display: table; }
    .card .card-header.card-header-icon {
      float: left; }
      .card .card-header.card-header-icon i {
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px; }
    .card .card-header.card-header-tabs .nav-tabs {
      background: transparent;
      padding: 0; }
    .card .card-header.card-header-tabs .nav-tabs-title {
      float: left;
      padding: 10px 10px 10px 0;
      line-height: 24px; }
    .card .card-header.card-header-icon + .card-content .card-title {
      padding-bottom: 15px; }
  .card .social-line {
    margin-top: 15px;
    text-align: center;
    padding: 0; }
    .card .social-line .btn {
      color: #FFFFFF;
      margin-left: 5px;
      margin-right: 5px; }
  .card [data-background-color] {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
    position: relative; }
    .card [data-background-color] .card-title {
      color: #FFFFFF; }
    .card [data-background-color] .category {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.62); }
    .card [data-background-color] .ct-label {
      color: rgba(255, 255, 255, 0.7); }
    .card [data-background-color] .ct-grid {
      stroke: rgba(255, 255, 255, 0.2); }
    .card [data-background-color] .ct-series-a .ct-point,
    .card [data-background-color] .ct-series-a .ct-line,
    .card [data-background-color] .ct-series-a .ct-bar,
    .card [data-background-color] .ct-series-a .ct-slice-donut {
      stroke: rgba(255, 255, 255, 0.8); }
    .card [data-background-color] .ct-series-a .ct-slice-pie,
    .card [data-background-color] .ct-series-a .ct-area {
      fill: rgba(255, 255, 255, 0.4); }
  .card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center; }
    .card .chart-title h3 {
      margin: 0;
      color: #FFFFFF; }
    .card .chart-title h6 {
      margin: 0;
      color: rgba(255, 255, 255, 0.4); }
  .card .ct-chart ~ .card-footer i:nth-child(1n+2) {
    width: 18px;
    text-align: center; }
  .card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee; }
    .card .card-footer .form-group {
      margin: 5px 0 0; }
    .card .card-footer .content {
      display: block; }
    .card .card-footer div {
      display: inline-block; }
    .card .card-footer .author {
      color: #999999; }
    .card .card-footer .stats {
      line-height: 22px;
      color: #999999;
      font-size: 12px; }
      .card .card-footer .stats .material-icons {
        position: relative;
        top: 4px;
        font-size: 16px; }
      .card .card-footer .stats .category {
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 0; }
    .card .card-footer h4 {
      margin: 5px 0; }
    .card .card-footer .btn {
      margin-top: 5px;
      margin-bottom: 5px; }
    .card .card-footer h6 {
      color: #999999; }
  .card form .card-footer {
    border: none; }
  .card img {
    width: 100%;
    height: auto; }
  .card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0; }
  .card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px; }
  .card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px; }
  .card .author a {
    color: #3C4858;
    text-decoration: none; }
    .card .author a .ripple-container {
      display: none; }
  .card .table {
    margin-bottom: 0; }
    .card .table tr:first-child td {
      border-top: none; }
  .card .nav-pills,
  .card .tab-content {
    margin-top: 20px; }
  .card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); }
  .card [data-icon-bg-color="purple"] i {
    color: #9c27b0; }
  .card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4); }
  .card [data-icon-bg-color="blue"] i {
    color: #00bcd4; }
  .card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4); }
  .card [data-icon-bg-color="green"] i {
    color: #4caf50; }
  .card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4); }
  .card [data-icon-bg-color="orange"] i {
    color: #ff9800; }
  .card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4); }
  .card [data-icon-bg-color="red"] i {
    color: #f44336; }
  .card [data-background-color="rose"] {
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4); }
  .card [data-icon-bg-color="rose"] i {
    color: #e91e63; }
  .card [data-header-animation="true"] {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1); }
  .card:hover [data-header-animation="true"] {
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  .card [data-background-color] {
    color: #FFFFFF; }
    .card [data-background-color] a {
      color: #FFFFFF; }

.card-chart .card-header {
  padding: 0;
  min-height: 160px; }
  .card-chart .card-header + .content h4 {
    margin-top: 0; }

.card-calendar .card-content {
  padding: 0; }

.card-stats .card-title {
  margin: 0; }

.card-stats .card-header {
  float: left;
  text-align: center; }
  .card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px; }

.card-stats .card-content {
  text-align: right;
  padding-top: 10px; }

.card-plain {
  background: transparent;
  box-shadow: none; }
  .card-plain .card-header {
    margin-left: 0;
    margin-right: 0; }
  .card-plain .card-header-icon {
    margin-right: 15px; }
  .card-plain .content {
    padding-left: 5px;
    padding-right: 5px; }
  .card-plain .card-image {
    margin: 0;
    border-radius: 3px; }
    .card-plain .card-image img {
      border-radius: 3px; }

.card-raised {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.iframe-container {
  margin: 0 -20px 0; }
  .iframe-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.card-profile,
.card-testimonial {
  margin-top: 30px;
  text-align: center; }
  .card-profile .btn-just-icon.btn-raised,
  .card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px; }
  .card-profile .card-avatar,
  .card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .card-profile .card-avatar + .card-content,
    .card-testimonial .card-avatar + .card-content {
      margin-top: 15px; }
  .card-profile.card-plain .card-avatar,
  .card-testimonial.card-plain .card-avatar {
    margin-top: 0; }

.card-testimonial {
  margin-bottom: 65px; }
  .card-testimonial .card-avatar {
    max-width: 100px;
    max-height: 100px; }
  .card-testimonial .footer {
    margin-top: 0; }
    .card-testimonial .footer .card-avatar {
      margin-top: 10px;
      margin-bottom: -50px; }
  .card-testimonial .card-description {
    font-style: italic; }
    .card-testimonial .card-description + .card-title {
      margin-top: 30px; }
  .card-testimonial .icon {
    margin-top: 30px; }
    .card-testimonial .icon .material-icons {
      font-size: 40px; }

.card-pricing {
  text-align: center; }
  .card-pricing .card-title {
    margin-top: 30px; }
  .card-pricing .content {
    padding: 15px !important; }
  .card-pricing .icon {
    padding: 10px 0 0px;
    color: #999999; }
    .card-pricing .icon i {
      font-size: 55px;
      border: 1px solid #E5E5E5;
      border-radius: 50%;
      width: 130px;
      line-height: 130px;
      height: 130px; }
    .card-pricing .icon.icon-primary {
      color: #9c27b0; }
    .card-pricing .icon.icon-info {
      color: #00bcd4; }
    .card-pricing .icon.icon-success {
      color: #4caf50; }
    .card-pricing .icon.icon-warning {
      color: #ff9800; }
    .card-pricing .icon.icon-danger {
      color: #f44336; }
    .card-pricing .icon.icon-rose {
      color: #e91e63; }
  .card-pricing h1 small {
    font-size: 18px; }
    .card-pricing h1 small:first-child {
      position: relative;
      top: -17px;
      font-size: 26px; }
  .card-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto; }
    .card-pricing ul li {
      color: #999999;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
      .card-pricing ul li:last-child {
        border: 0; }
      .card-pricing ul li b {
        color: #3C4858; }
      .card-pricing ul li i {
        top: 6px;
        position: relative; }
  .card-pricing.card-background ul li,
  .card-pricing [class*="content-"] ul li {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3); }
    .card-pricing.card-background ul li b,
    .card-pricing [class*="content-"] ul li b {
      color: #FFFFFF; }
  .card-pricing.card-background [class*="text-"],
  .card-pricing [class*="content-"] [class*="text-"] {
    color: #FFFFFF; }
  .card-pricing.card-background:after {
    background-color: rgba(0, 0, 0, 0.7); }

.card-background {
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .card-background .content {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto; }
  .card-background .category,
  .card-background .card-description,
  .card-background small {
    color: rgba(255, 255, 255, 0.7); }
  .card-background .card-title {
    color: #FFFFFF;
    margin-top: 10px; }
  .card-background:not(.card-pricing) .btn {
    margin-bottom: 0; }
  .card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px; }

.card-product {
  margin-top: 30px; }
  .card-product .btn-simple.btn-just-icon {
    padding: 0; }
  .card-product .footer {
    margin-top: 5px; }
    .card-product .footer .stats .material-icons {
      margin-top: 4px;
      top: 0; }
    .card-product .footer .price h4 {
      margin-bottom: 0; }
  .card-product .card-title,
  .card-product .category,
  .card-product .card-description {
    text-align: center; }
  .card-product .card-image {
    min-height: 160px;
    background-size: cover;
    background-image: url("img/image_placeholder.jpg");
    background-position: center center; }

.card-login .card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700; }

.card-login .text-divider {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center; }

.card-login .card-content {
  padding: 0px 30px 0px 10px; }

.card-login .checkbox {
  margin-top: 20px; }
  .card-login .checkbox label {
    margin-left: 17px; }
  .card-login .checkbox .checkbox-material {
    padding-right: 12px; }

.card-login .social-line {
  margin-top: 15px;
  text-align: center;
  padding: 0; }
  .card-login .social-line .btn {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px; }
