<div class="row" *ngIf="item">
	<div class="col-md-12">
		<div class="banner" 
		*ngIf="item.value.background.type === 'color'"
		[style.background]="'linear-gradient(45deg, ' + item.value.background.colorPrimary + ' 0%, ' + item.value.background.colorSecondary + ' 100%)'"
		[class.banner-small]="item.value.size === 'small'"
		[class.banner-medium]="item.value.size === 'medium'"
		[class.banner-full]="item.value.size === 'full'"
		>
		<h3 class="m-1" [ngStyle]="{'text-align': item.value.title.align, 'color': item.value.text_color}">{{ item.value.title.text }}</h3>
		<h4 class="m-1" [ngStyle]="{'text-align': item.value.subtitle.align, 'color': item.value.text_color}">{{ item.value.subtitle.text }}</h4>
		<p class="m-1" [ngStyle]="{'text-align': item.value.description.align, 'color': item.value.text_color}">{{ item.value.description.text }}</p>
		<div [ngStyle]="{'text-align': item.value.button.align}">
			<a 
			class="btn btn-primary" 
			style="width: 200px;"
			*ngIf="item.value.target === 'assessment'"
			[routerLink]="['/painel/suggested-courses']"
			[ngClass]="{'btn-sm': item.value.button.size === 'small', 'btn-lg': item.value.button.size === 'big'}"
			>{{ item.value.button.text }}</a>
			<a 
			class="btn btn-primary" 
			style="width: 200px;"
			*ngIf="item.value.target === 'trail'"
			[routerLink]="['/visualizador/assessment', item.assessment_id]"
			[ngClass]="{'btn-sm': item.value.button.size === 'small', 'btn-lg': item.value.button.size === 'big'}"
			>{{ item.value.button.text }}</a>
		</div>
	</div>
	<div class="banner banner-with-image" 
	*ngIf="item.value.background.type === 'image'"
	style="background-image: url({{ item.value.background.image }})"
	[class.banner-small]="item.value.size === 'small'"
	[class.banner-medium]="item.value.size === 'medium'"
	[class.banner-full]="item.value.size === 'full'"
	>
	<h3 class="m-1" [ngStyle]="{'text-align': item.value.title.align, 'color': item.value.text_color}">{{ item.value.title.text }}</h3>
	<h4 class="m-1" [ngStyle]="{'text-align': item.value.subtitle.align, 'color': item.value.text_color}">{{ item.value.subtitle.text }}</h4>
	<p class="m-1" [ngStyle]="{'text-align': item.value.description.align, 'color': item.value.text_color}">{{ item.value.description.text }}</p>
	<div [ngStyle]="{'text-align': item.value.button.align}">
		<a 
		class="btn btn-primary" 
		style="width: 200px;"
		*ngIf="item.value.target === 'assessment'"
		[routerLink]="['/painel/suggested-courses']"
		[ngClass]="{'btn-sm': item.value.button.size === 'small', 'btn-lg': item.value.button.size === 'big'}"
		>{{ item.value.button.text }}</a>
		<a 
		class="btn btn-primary" 
		style="width: 200px;"
		*ngIf="item.value.target === 'trail'"
		[routerLink]="['/visualizador/assessment', item.assessment_id]"
		[ngClass]="{'btn-sm': item.value.button.size === 'small', 'btn-lg': item.value.button.size === 'big'}"
		>{{ item.value.button.text }}</a>
	</div>
</div>
</div>

</div>
