/* Laguras
===============================================================*/
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

/* Margens
===============================================================*/
.mt--5 { margin-top: -7px; }
.mt-20 { margin-top: 20px; }

.ml-3 { margin-left: 3px; }

.no-margin {margin: 0 !important;}

/* Backgrounds
===============================================================*/
.bg-grey { background: #f8f8f8; }
.bg-white { background: #ffffff; }
.bg-purple { background: #9c27b0; }

/* Texto - Tamanho da Fonte
===============================================================*/
.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-18 { font-size: 18px; }
.fs-40 { font-size: 40px; }
.fs-60 { font-size: 60px; }

/* Texto - Cor da Fonte
===============================================================*/
.fc-gray { color: #525859 !important; }
.fc-purple { color: #9c27b0 !important; }
.fc-red { color: #e50606 !important; }
.fc-green { color: #2ac994 !important; }

/* Texto - Estilo (Negrito)
===============================================================*/
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }

/* Texto - Placeholder
===============================================================*/
.placeholder { color: #d5d5d5; }

/* Bordas
===============================================================*/
.border { border: solid 1px #D2D2D2; }
.no-border { border: none; }
.bl-0 { border-left: none; }
.border-label { padding: 0px 0px; border-radius: 3px; border: 1px solid #ccc; }
.border-top {border-top: solid 1px #eeeeee; }
.border-bottom {border-bottom: 1px solid #eeeeee;}

/* Display
===============================================================*/
.block { display: block; }

/* Boxs
===============================================================*/
.box-group { padding: 10px; background: #f5f5f5; border: solid 1px #eeeeee; border-radius: 3px;}

.box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
  max-width: 600px;
  width: 100%;
}

.box-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 30px;
  width: 100%;
}

.box-ask-border {
  border: 2px solid #dadada;
  color: #3c3c3c;
  border-radius: 10px;
  display: inline-block;
  font-size: 15px;
  margin: 2%;
  max-width: 190px;
  text-align: left;
  width: 46%;
}

.box-ask-border:hover{
  border-color:#DF296A;
  color:#DF296A;
  background: #fff7fa;
}

.box-label{
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 12px;
}

.box-img {
  background-position: 50%;
  background-size: cover;
  border-radius: 1px;
  height: 160px;
  margin: 0 0 10px;
  width: 100%;
}

.box-input {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.box-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.box-input:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.box-input input:checked ~ .checkmark {
  background-color: #E91E63;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.box-input input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.box-input .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}




/* Títulos
===============================================================*/
.title { font-size: 13px; float: left; padding: 2px 10px; position: fixed; }
.title-question { font-size: 1.12em; font-weight:900; color: #525859; margin-bottom: 20px; }
.title-config { font-size: 0.8em; font-weight:500; color: #525859; margin-bottom: 0px; width: 100%; }
.tool-name { font-weight: 600; color: #9c27b0; }
.tool-name-subtitle { font-weight: 600; color: #525859; }


/* Imagens e Vídeo
===============================================================*/
.img-responsive, .vid-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.img-thumbnail, .vid-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* Colunas
===============================================================*/
.col-left { border-right: 1px solid #eee; }
.col-center { float: left; width: 60%;}
.col-right { border-left: 1px solid #eee;  }

.col-left, .col-right { float: left; width: 20%; overflow-x: hidden !important; }

.col-sup {
  height: 28vh;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 25px;
}

.col-sub {
  height: 51.5vh;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #eee;
  margin-top: 25px;
}

.col-int {
  height: 83.5vh;
  overflow-y: auto;
  padding: 10px;
  margin-top: 25px;
  border-top: 1px solid #eee;
}

/* Ícones
===============================================================*/
.icon {
  float: left;
  width: 50%;
  height: 70px;
  text-align: center;
  margin: 15px 0;
}

.icon i{ font-size:40px; }
.icon a { display: block; color: #999; }
.icon a:hover { color: #777; }
.icon p { font-size: 14px; margin: 5px; }

/* Tabelas
===============================================================*/
table thead th{ font-size: 1em; font-weight: 900; color: #9c27b0; }
table tfoot .amount{ font-size: 1em; font-weight: 900; color: #9c27b0; text-align: right;}

/* Divisor
===============================================================*/
.divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

/* Input - Tipo texto (Pesonalizado)
===============================================================*/
input.cell-text::placeholder { color: #d5d5d5; }

input.text { border: solid #dddddd 1px; padding: 5px 10px; border-radius: 3px; color: #333; }
input.text::placeholder { color: #d5d5d5; }

select.text{ border: solid #dddddd 1px; padding: 5px 2px; border-radius: 3px; color: #333; }
select.text::placeholder { color: #d5d5d5; }


.text-input {
  color: #b5b4b4;
  font-size: 1.12em;
  position:relative;
  vertical-align: middle;
  display: inline-block;
  transition: 0.5s;
  padding: 0;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  -webkit-transition:0.5s;
}

.text-input::before, .text-input::after {
 width: 100%;
 height:100%;
 z-index: 3;
 content:'';
 position: absolute;
 top:0;
 left:0;
 box-sizing: border-box;
 -webkit-transform: scale(0);
 transition: 0.5s;
}

.text-input::placeholder {
  color: #dcb8e3;
  font-size: 1.09em;
}

.text-input:focus {
  color: #dcb8e3;
  font-size: 1.09em;
  border-bottom: 2px solid #9c27b0;
}

.text-input:hover {
  color: #dcb8e3;
  font-size: 1.09em;
  border-bottom: 2px solid #9c27b0;
}

/* Input - Tipo RadioButton
===============================================================*/
input[type="radio"] { display:none; }

input[type="radio"] + label { color:#b5b4b4; font-size: 1.09em}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  /* background:url(check_radio.png) -38px top no-repeat; */
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  /* background:url(check_radio.png) -57px top no-repeat; */
}

/* Input - Tipo checkbox
===============================================================*/
input[type="checkbox"] { display:none; }

input[type="checkbox"] + label { color:#b5b4b4; font-size: 1.09em}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  /* background:url(check_radio.png) left top no-repeat; */
  cursor:pointer;
  transition: 0.1s;
}

input[type="checkbox"]:checked + label span {
  /* background:url(check_radio.png) -19px top no-repeat; */
  transition: 0.1s;
}

/* Input - Tipo RadioButton (Modelo para Multipla Escolha)
===============================================================*/

/* Ocultar o input */
input.multichoice:empty { margin-left: -999px; }

/* Estilo da label */
input.multichoice:empty ~ label {
	position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  float: left;
  line-height: 2.5em;
  text-indent: 3.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.1s;
}

input.multichoice:empty ~ label:before {
  position: relative;
  left: 0;
  float: left;
  content: '';
  width: 40px;
  background: #D1D3D4;
  border-radius: 3px 0px 0px 3px;
  margin-left: 0;
  margin-right: -40px;
}

/* Botão Selecionado - Checked */
input.multichoice:checked ~ label:before {
	content:'\2714';
	text-indent: 0.9em;
	color: #fff;
	background-color: #9C27B0;
  transition: 0.1s;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.content-wrapper {
  min-height: 100%;
  background-color: #fff;
  z-index: 800;
  padding-top:40px;
}

.top-menu {
  position: absolute;
  border-bottom: 1px solid #eee;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
}

.tool {
  float: right;
  padding: 2px 5px;
}

.footer {
  position: absolute;
  border-top: 1px solid #eee;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
}

.cliente {
  font-size: 16px;
}

.modulo a{
  padding: 2px 5px;
  border-radius: 4px;
  display: block;
  background: #9c27b0;
  color: #fff;
  margin-bottom: 5px;
}

.modulo a:hover{
  background: #831596;
}

.modulo span  a{
  float: right;
  font-size: 12px;
  padding: 0;
  background: transparent;
  margin-left: 5px;
  margin-top: 1px;
}

.modulo span  a:hover{
  color: #e9e9e9;
}

.etapa a{
  padding: 2px 5px 2px 20px;
  border-radius: 4px;
  display: block;
  background: transparent;
  color: #777;
  margin-bottom: 5px;
}

.etapa a:hover{
  background: #f4f4f4;
}

.etapa span  a{
  float: right;
  font-size: 12px;
  padding: 0;
  background: transparent;
  color: #ddd;
  margin-left: 5px;
  margin-top: 1px;
}

.etapa span  a:hover{ color: #999; }

.form-custom input[type=text],  .form-custom input[type=number], .form-custom select, .form-custom textarea {
  border: 1px solid #dadde2;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 13px;
  overflow-x: hidden;
}

.form-custom .txt {
  border: 1px 1px 0px 1px solid #dadde2;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 13px;
}

.form-custom ::-webkit-input-placeholder { font-size: 13px; color: #999; }
.form-custom ::-moz-placeholder { font-size: 13px; color: #999; }
.form-custom ::-ms-input-placeholder {  font-size: 13px; color: #999; }

.wrapper-input {
  height: 45px;
}
.btn-custom {
  padding: 4px 8px 2px;
}

.cursor {
  cursor: pointer;
}
/*Stage */

.midia-w iframe {
  width: 100%;
}

.midia-h iframe {
  height: 400px;
}

.breadcrumb {
  padding: 0 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  font-size: 12px;
}

.config-label{width: 100%; margin:5px 0px; float: left; font-size: 0.8em; display: block; line-height: 1.5em;}
.config-textarea{width: 100%; margin:5px 0px; float: left; resize:initial; overflow-y:auto; display: block; font-size: 0.9em !important; color: #999999;}
.config-select{width: 100%; margin:5px 0px; float: left; display: block; font-size: 0.9em !important; color: #999999; }
.config-input{width: 100%; margin:5px 0px; float: left; display: block; font-size: 0.9em !important; color: #999999; }
.config-box{width: 100%; margin:5px; float: left;}
.config-box-50{width: 45%; min-height: 110px; margin:5px; float: left; background: #f9f9f9; border: solid 1px #eee; border-radius: 5px; padding: 10px; }
.config-box-title{width: 100%; padding: 10px; font-size: 0.85em}

.no-bg-image {background-image: none;}
.space-inside {padding: 10px;}
.block{display: block;}

.fake-link {
  cursor: pointer;
}

.item-component {
  margin: 0;
  border-radius: 2px;
  border: 1px solid #fff;
}

.item-component:hover {
  border-color: #9c27b0;
}

.item-component.active {
  border-color: #9c27b0;
  background-color: rgba(156, 39, 176, 0.05);
}

.item-component-title-content {

}

.item-component-title .title-bold {
  font-weight: bold;
}

.item-component-title .title-italic {
  font-style: italic;
}

.item-component-title .title-underline {
  text-decoration: underline;
}

.icon.disabled {
  opacity: 0.3;
}

.item-component-video-icon-container,
.item-component-image-icon-container,
.item-component-pdf-icon-container {
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
  color: #444;
  font-size: 50px;
  padding: 160px;
}

.item-component-video .material-icons,
.item-component-image .material-icons,
.item-component-pdf .material-icons {
  font-size: 80px;
}

.btn-container {
  text-align: center;
}

.etapa.active a,
.etapa a:hover{
  background: #f4f4f4;
}

.etapa.active:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0da";
  float: left;
  font-weight: bold;
  color: #9c27b0;
  position: relative;
  top: 5px;
  left: 5px;
}

#trail-status {
  color: #DDD;
  margin-right: 10px;
  background: none;
  border: none;
}

#trail-status.active {
  color: #6C9;
}

.item-btn-delete {
  position: relative;
}

.item-btn-delete button {
  border: 1px solid #9c27b0;
  background-color: #fff;
  color: #9c27b0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  float: right;
  margin: -10px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}

.item-btn-delete button:hover {
  background-color: #9c27b0;
  color: #fff;
}

.custom-divisor {
  margin: 10px 0;
}

#tbl-objetivo td {padding: 0px 8px; height: 0px;}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .col-sup {
    height: 45vh;
  }
  .col-sub {
    height: 55.5vh;
  }
  .col-int {
    height: 88.5vh;
  }

}

#editor-components-wrapper img {
  max-height: 500px;
  object-fit: contain;
  background: #eee;
  width: auto;
}

.banner { display: flex; flex-direction: column; justify-content: center; resize: both; padding: 20px; }

.banner-small { width: 30vw; height: 30vh; }

.banner-medium { width: 60vw; height: 60vh; }

.banner-full { width: 90vw; height: 90vh; }

.banner .overlay { position: relative; width: 100%; height: 100%; background: rgba(0,0,0,0.6); }

.nav-tabs { border-bottom: 1px solid #ddd; margin-bottom: 20px; background: transparent; }

.nav-tabs > li > a { margin-right: 0 !important; padding: 4px 8px; color: #9c27b0 !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { color: #555; cursor: default; background-color: #fff; border: 1px solid #ddd !important; border-bottom-color: transparent !important; }

.navbar-right > li { float: left; margin-left: 10px; }

.btn-upload { top: -9px; margin-bottom: -9px; line-height: 25px; width: 19%; }

.banner-with-image {
  background-color: #333; background-size: cover; background-repeat: no-repeat; background-position: center center;
}