<p class="tool-name">{{ 'Image' | translate }}</p>

<div class="row mb-3">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#image-tab" aria-controls="image-tab" role="tab" data-toggle="tab">{{ 'Image' | translate }}</a>
      </li>
      <li role="presentation">
        <a href="#button" aria-controls="button" role="tab" data-toggle="tab">{{ 'Button' | translate }}</a>
      </li>
    </ul>
  </div>

  <div class="col-md-12">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="image-tab">
        <!-- Template -->
        <div class="row mb-3">
          <div class="col-md-12">
            <p class="tool-name">{{ 'Title' | translate }}</p>
          </div>
        </div>

        <!-- Box Template -->
        <div class="box-group">
          <div class="row">
            <div class="col-md-12">
              <p class="title-config">{{ 'Text' | translate }}</p>
              <div class="wrapper-input">
                <input name="title" type="text" class="w-100 px-2 input-styled" placeholder="Digite o título" [(ngModel)]="item.title">
              </div>
            </div>
            <div class="col-md-12">
              <p class="title-config mb-6">{{ 'FontSize' | translate }}</p>
              <div class="wrapper-input">
                <!-- <nouislider name="size" [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="item.titleSize" [tooltips]="true" class="slider"></nouislider> -->
              </div>
            </div>
          </div>
        </div>

        <!-- Separador -->
        <div class="divider my-4"></div>

        <!-- Título -->
        <div class="row mb-3">
          <div class="col-md-12">
            <p class="tool-name">{{ 'Image' | translate }}</p>
          </div>
        </div>

        <div class="box-group">
          <div class="row">
            <div class="col-xs-12">
              <p class="title-config">{{ 'PasteLinkImage' | translate }}</p>
              <input name="url" class="w-100 text pull-left" placeholder="Ex.: https://image.freepik.com" [(ngModel)]="item.url">
              <p class="title-config text-center"> - ou -</p>
              <app-upload-plugin [type]="'image'" [hidden]="true" #upload [horizontal]="true" [resizeToWidth]="1110" [aspectRatio]="4 / 3" (AddPhoto)="getPhoto($event)"></app-upload-plugin>
              <button type="button" class="btn btn-sm btn-block btn-primary" (click)="upload.openDialog()">
                {{ 'SendFile' | translate }}
              </button>
            </div>
          </div>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane fade" id="button">

        <div class="row mb-3">
          <div class="col-md-12">
            <p class="tool-name">{{ 'Title' | translate }}</p>
          </div>
        </div>

        <!-- Box Template -->
        <div class="box-group">
          <!-- Box Botão Principal -->
          <div class="row">
            <div class="col-md-12">
              <p class="title-config">{{ 'Text' | translate }}:</p>
              <div class="wrapper-input">
                <input name="main_button_text" type="text" class="w-100 text" placeholder="Digite o título" [(ngModel)]="item.mainButton.text">
              </div>
            </div>

            <div class="col-md-12">
              <p class="title-config">{{ 'TextColor' | translate }}:</p>
              <div class="wrapper-input">
                <input name="main_button_color" type="text"
                [(colorPicker)]="item.mainButton.color"
                [(ngModel)]="item.mainButton.color"
                [style.color]="item.mainButton.color"
                [style.background]="item.mainButton.background"
                cpPosition="bottom" class="w-100 text">
              </div>
            </div>

            <div class="col-md-12">
              <p class="title-config">{{ 'Background' | translate }}:</p>
              <div class="wrapper-input">
                <input name="main_button_background"
                [(colorPicker)]="item.mainButton.background"
                [(ngModel)]="item.mainButton.background"
                [style.color]="item.mainButton.color"
                [style.background]="item.mainButton.background"
                cpPosition="bottom" class="w-100 text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <button type="button" name="button" class="btn btn-primary btn-sm pull-right" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
    </div>
  </div>
</div>
