<div class="card-content pt-3 pl-0" *ngFor="let comment of data.comments | slice:0:limitTo; let i=index">
  <img *ngIf="comment?.user_info?.picture" [src]="comment?.user_info?.picture" class="avatar-45" alt="">
  <div *ngIf="!comment?.user_info?.picture" class="avatar-45-null">
    <i class="fa fa-user"></i>
  </div>
  <h5 class="name mt-1">{{ comment?.user_info?.name || 'Não Informado' }}
    <ng-container *ngIf="global?.loggedUser()">
      <button style="float: right; margin: -5px -15px 0 0;" mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="comment?.user_info?.id == global?.loggedUser().id">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="willEdit(comment)">Editar</button>
        <button mat-menu-item (click)="deleteComment(comment)">Deletar</button>
      </mat-menu>
    </ng-container>
  </h5>
  <p *ngIf="!comment.editing" class="no-mg">{{ comment.comment }}</p>
  <input *ngIf="comment.editing" (keyup.enter)="doEdit(comment,$event)" [value]="comment.comment" type="text" class="form-control" required placeholder="Pressione ENTER para postar o comentário" style="width: 83%;">
  <small class="comment-time txt-gray">
    <!-- <b class="txt-black clickable">
      <label class="clickable">{{ comment?.users_likes?.length}} </label>
      <label *ngIf="comment?.isLiked" class="comment-liked clickable" (click)="unlikeComment(comment)"> - Curtiu</label>
      <label *ngIf="!comment?.isLiked" class="clickable" (click)="likeComment(comment)"> - Curtir</label>
    </b> -->
     {{ comment.updated_at | amTimeAgo}} </small> <small class="txt-gray" *ngIf="comment?.edited">- Editado</small>
</div>

<ng-container *ngIf="(data?.comments?.length > 2)">
  <div class="text-center">
    <b class="clickable text-primary" (click)="loadMore()" *ngIf="(data?.comments?.length >= limitTo)">Ver mais</b>
  </div>
</ng-container>

<form *ngIf="global.loggedUser()" [formGroup]="form" (ngSubmit)="onSubmit()" class="form-comment">
  <img *ngIf="global.loggedUser().picture" [src]="global.loggedUser().picture" class="avatar-45" alt="">
  <div *ngIf="!global.loggedUser().picture" class="avatar-45-null">
    <i class="fa fa-user"></i>
  </div>
  <input formControlName="text" type="text" required placeholder="Pressione ENTER para postar o comentário">
  <!-- <div class="form-input-btn">
    <button class="btn btn-xs btn-secondary" type="submit" [disabled]="!form.valid">
      Enviar</button>
  </div> -->
  <div class="clearfix"></div>
</form>
