
<div class="logo">
  <div class="logo-normal">
    <a class="simple-text">
      Precificação
    </a>
  </div>
</div>

<div class="sidebar-wrapper">

  <div *ngIf="isMobileMenu()"></div>
  
  <div class="nav-container">
    <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
        <!--If is a single link-->
        <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
          <i class="fla {{menuitem.icontype}}"></i>
          <p>{{menuitem.title}}</p>
        </a>

        <!--If it have a submenu - NÃO JOGUE ISSO FORA!!!
        <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()">
          <div class="row">
              <i class="material-icons">{{menuitem.icontype}}</i>
              <p>{{menuitem.title}}<b class="caret"></b></p>
          </div>
        </a>
        -->
      </li>
    </ul>
  </div>

</div>
