@import "../../../@core/fonts/icons.css";

.sidebar-wrapper { margin:0 !important; padding: 0; overflow-x: hidden; }

/* ::ng-deep .sidebar { border-right: 7px solid #e91e63; } */

::ng-deep .sidebar .logo { text-transform: uppercase; padding: 25px 0px; display: block; font-size: 1.2em; text-align: center; white-space: nowrap; font-weight: 400; overflow: hidden; border-bottom: 1px solid rgba(180, 180, 180, 0.3); }

.logo::after { display: none; }

.nav { margin: 0; padding: 0; margin-left: 0 !important; }

::ng-deep .sidebar .nav p { margin: 2px 0 0 10px; line-height: 20px; font-size: 1em; white-space: normal; opacity: 1; display: block; height: auto; }

.nav > li > a { display: flex; align-items: center; height: 70px;	padding: 15px; margin: 0; border-radius: none; color: #a9afbb; border-bottom: 1px solid rgba(180, 180, 180, 0.3); }

.nav > li > a:hover { background: transparent; }

.nav > li.active> a { background-color: transparent; color: #fff; box-shadow: none; }

.nav li { border-left: 4px solid transparent; }

.nav li.active { border-left: 4px solid #e91e63; }

.nav li i { color: #a9afbb; vertical-align: middle; }

.nav li.active i { color: #fff; }

.fla { font-size: 1.2em; margin-top: -2px; margin-left: -10px; }