<!--button class="prev" type="button" (click)="goToPrev()" *ngIf="indexes.current > 1"><i class="material-icons" >keyboard_arrow_left</i></button>

<button class="next" type="button" (click)="goToNext()" *ngIf="indexes.current < indexes.total"><i class="material-icons">keyboard_arrow_right</i></button-->