
<h1 mat-dialog-title class="modal_title">Cálculo</h1>
<div class="materials">    
  <form class="forms" [formGroup]="formArtesa" *ngIf="formType == false" (ngSubmit)="registerArt()">
    <div mat-dialog-content>
      <p>Digite um valor para o cálculo</p>
      
      <mat-form-field class="forms__input_box__input__mat">
        <input matInput formControlName="price" placeholder="Preço:">
      </mat-form-field>

      <mat-form-field class="forms__input_box__input__mat">
        <input matInput formControlName="type" placeholder="Tempo:">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>

      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button>Finalizar</button>
    </div>
  </form>

  <form class="forms" [formGroup]="formProducao" *ngIf="formType == true" (ngSubmit)="registerProd()">
    <div mat-dialog-content>
      <p>Digite um valor para o cálculo</p>
      
      <mat-form-field class="forms__input_box__input__mat">
        <input matInput formControlName="service" placeholder="Etapa:">
      </mat-form-field>

      <mat-form-field class="forms__input_box__input__mat">
        <input matInput formControlName="time" placeholder="Tempo:">
      </mat-form-field>
  
      <mat-form-field class="forms__input_box__input__mat">
        <input matInput formControlName="type" placeholder="Tipo (minutos):">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
  
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button>Finalizar</button>
    </div>
  </form>
</div>