<div class="intro-wrapper" [ngStyle]="item.settings" style="">

  <!-- Layout 1 -->
  <div  *ngIf="!item.layout || item.layout === '1'">
    <!-- Box Template: Nome do Componente -->
    <div *ngIf="item.title.text === ''">
      <p class="text-muted m-0 fw-600">
        <i class="material-icons fs-35">flag</i>
      </p>
      <p class="text-muted mb-3 fs-13 fw-500">{{ 'Tool' | translate }}: {{ 'Introduction' | translate }} ({{ 'Template' | translate }} 1)</p>
    </div>

    <!-- Box Template: Título -->
    <div class="my-2 fs-20 fw-500" *ngIf="item.title.text === ''">{{ 'SetTitle' | translate }}</div>

    <!-- Título -->
    <div class="mt-4" *ngIf="item.title.text != ''">
      <h4 id="intro-title"
        class="card-title bold-600 animated"
        [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}"
        [ngClass]="item.title.animation">
        {{ item.title.text }}
      </h4>
    </div>

  <!-- Box Template: Mídia -->
  <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
    <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
    <p>
      <i class="material-icons fs-60">subject</i>
      <i class="material-icons fs-60 mx-3">wallpaper</i>
      <i class="material-icons fs-60">ondemand_video</i>
    </p>
  </div>

  <!-- Mídia -->
  <div class="col-md-12" *ngIf="item.media.type != 'none'">
    <!-- Bloco de Texto (Sem Coluna))-->
    <div class="row mb-4" *ngIf="item.media.type === 'text'">
      <div class="col-md-12 p-0">
        <p id="intro-text" class="anim-typewriter animated ws-pre-line lh-1-3"
        [ngClass]="item.media.animation"
        [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
        {{ item.media.text }}
      </p>
    </div>
  </div>

  <!-- Mídia: Imagem (Sem Coluna) -->
  <div class="row" *ngIf="item.media.type === 'image'">
    <div class="col-md-12 mt-3 mb-4" *ngIf="item.media.image != ''
    ">
    <img style="width: auto !important; max-width: 100%; max-height: 300px" [src]="item.media.image" alt="" *ngIf="item.media.image !== ''" />
  </div>

  <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
    <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
    <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
  </div>

  <div class="col-md-12 p-0" *ngIf="item.media.text != ''">
    <p class="animated ws-pre-line lh-1-3 m-0"
    [ngClass]="item.media.animation"
    [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
    {{ item.media.text }}
  </p>
</div>
</div>

<!-- Mídia: Vídeo (Sem Coluna) -->
<div class="row mt-4" *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo'">

<!-- Player de Vídeo -->
<div class="col-md-12 pb-4 text-center" *ngIf="item.link !== ''">
  <iframe width="560" height="315" [src]="item.link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Bloco da Legenda -->
<div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
  <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
  <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
</div>

<!-- Bloco de Texto -->
<div class="col-md-12 p-0" *ngIf="item.media.text != ''">
  <p class="animated ws-pre-line lh-1-3 m-0"
  [ngClass]="item.media.animation"
  [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
  {{ item.media.text }}
</p>
</div>
</div>
</div>

<!-- Box Template: Botão -->
<div class="col-md-12 item-box-model my-2 text-center" *ngIf="item.button === ''">
<p class="fs-15 fw-500">{{ 'SetCharacteristicsButton' | translate }}:</p>
<button type="button" name="button" class="btn btn-primary btn-muted">{{ 'Button' | translate }}</button>
</div>

<!-- Botão -->
<div class="col-md-12 text-center my-4" *ngIf="item.button != ''">
<div *ngIf="item.button != ''">
  <button
  type="button" class="btn btn-primary"
  [ngStyle]="{'background': item.buttonOptions.background}" (click)="goNext()">{{ item.button }}
</button>
</div>
</div>

  </div>

    <!-- Layout 2 -->
    <div class="row" *ngIf="item.layout === '2'">
      <div class="col-md-12 p-0">
        <!-- Box Template: Nome do Componente -->
        <div *ngIf="item.title.text === ''">
          <p class="text-muted m-0 fw-600">
            <i class="material-icons fs-35">flag</i>
          </p>
          <p class="text-muted mb-3 fs-13 fw-500">{{ 'Tool' | translate }}: {{ 'Introduction' | translate }} ({{ 'Template' | translate }} 2)</p>
        </div>

        <!-- Box Template: Título -->
        <div class="col-md-12 item-box-model my-2 fs-20 fw-500" *ngIf="item.title.text === ''">{{ 'SetTitle' | translate }}</div>

        <!-- Título -->
        <div class="col-md-12 box mt-4" *ngIf="item.title.text != ''">
          <h4 id="intro-title"
            class="card-title bold-600 animated"
            [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}"
            [ngClass]="item.title.animation">
            {{ item.title.text }}
          </h4>
        </div>
      </div>

      <!-- Coluna Esquerda -->
      <div class="col-md-6 pl-0 pr-2">
        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60 mx-3">wallpaper</i>
            <i class="material-icons fs-60">ondemand_video</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Mídia: Imagem (Coluna Esquerda) -->
          <div class="row" *ngIf="item.media.type === 'image'">
            <!-- Bloco de Imagem -->
            <div class="col-md-12 mt-3 mb-4 minh-vh-40 flex-cc nowrap" *ngIf="item.media.image != ''">
              <img style="width: auto !important; max-width: 100%; max-height: 300px" [src]="item.media.image" alt="" *ngIf="item.media.image !== ''" />
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>

          <!-- Mídia: Vídeo (Sem Coluna) -->
          <div class="row mt-4" *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo'">

            <!-- Player de Vídeo -->
            <div class="col-md-12 pb-4 text-center" *ngIf="item.link !== ''">
              <iframe width="100%" height="315" [src]="item.link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Coluna Direita -->
      <div class="col-md-6 pr-0 pl-2">
        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60">subject</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Bloco de Texto (Sem Coluna))-->
          <div class="row mb-4" *ngIf="item.media.type === 'image' || item.media.type === 'youtube' || item.media.type === 'vimeo'">
            <div class="col-md-12 p-0 minh-vh-40 flex-cc">
              <p id="intro-text" class="anim-typewriter animated ws-pre-line lh-1-3"
                [ngClass]="item.media.animation"
                [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
                {{ item.media.text }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0">
        <!-- Box Template: Botão -->
        <div class="col-md-12 item-box-model my-2 text-center" *ngIf="item.button === ''">
          <p class="fs-15 fw-500">{{ 'SetCharacteristicsButton' | translate }}:</p>
          <button type="button" name="button" class="btn btn-primary btn-muted">{{ 'Button' | translate }}</button>
        </div>

        <!-- Botão -->
        <div class="col-md-12 text-center my-4" *ngIf="item.button != ''">
          <div *ngIf="item.button != ''">
            <button
            type="button" class="btn btn-primary"
            [ngStyle]="{'background': item.buttonOptions.background}" (click)="goNext()">{{ item.button }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Layout 3 -->
    <div class="row" *ngIf="item.layout === '3'">
      <div class="col-md-12 p-0">
        <!-- Box Template: Nome do Componente -->
        <div *ngIf="item.title.text === ''">
          <p class="text-muted m-0 fw-600">
            <i class="material-icons fs-35">flag</i>
          </p>
          <p class="text-muted mb-3 fs-13 fw-500">{{ 'Tool' | translate }}: {{ 'Introduction' | translate }} ({{ 'Template' | translate }} 3)</p>
        </div>

        <!-- Box Template: Título -->
        <div class="col-md-12 item-box-model my-2 fs-20 fw-500" *ngIf="item.title.text === ''">{{ 'SetTitle' | translate }}</div>

        <!-- Título -->
        <div class="col-md-12 mt-4" *ngIf="item.title.text != ''">
          <h4 id="intro-title"
            class="card-title bold-600 animated"
            [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}"
            [ngClass]="item.title.animation">
            {{ item.title.text }}
          </h4>
        </div>
      </div>

      <!-- Coluna Esquerda -->
      <div class="col-md-6 pl-0 pr-2">
        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60">subject</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Bloco de Texto (Sem Coluna))-->
          <div class="row mb-4" *ngIf="item.media.type === 'image' || item.media.type === 'youtube' || item.media.type === 'vimeo'">
            <div class="col-md-12 p-0 minh-vh-40 flex-cc">
              <p id="intro-text" class="anim-typewriter animated ws-pre-line lh-1-3"
                [ngClass]="item.media.animation"
                [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
                {{ item.media.text }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Coluna Direita -->
      <div class="col-md-6 pr-0 pl-2">
        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60 mx-3">wallpaper</i>
            <i class="material-icons fs-60">ondemand_video</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Mídia: Imagem (Coluna Esquerda) -->
          <div class="row" *ngIf="item.media.type === 'image'">
            <!-- Bloco de Imagem -->
            <div class="col-md-12 mt-3 mb-4 minh-vh-40 flex-cc nowrap" *ngIf="item.media.image != ''">
              <img style="width: auto !important; max-width: 100%; max-height: 300px" [src]="item.media.image" alt="" *ngIf="item.media.image !== ''" />
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>

          <!-- Mídia: Vídeo (Sem Coluna) -->
          <div class="row mt-4" *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo'">

            <!-- Player de Vídeo -->
            <div class="col-md-12 pb-4 text-center" *ngIf="item.link !== ''">
              <iframe width="100%" height="315" [src]="item.link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0">
        <!-- Box Template: Botão -->
        <div class="col-md-12 item-box-model my-2 text-center" *ngIf="item.button === ''">
          <p class="fs-15 fw-500">{{ 'SetCharacteristicsButton' | translate }}:</p>
          <button type="button" name="button" class="btn btn-primary btn-muted">{{ 'Button' | translate }}</button>
        </div>

        <!-- Botão -->
        <div class="col-md-12 text-center my-4" *ngIf="item.button != ''">
          <div *ngIf="item.button != ''">
            <button
            type="button" class="btn btn-primary"
            [ngStyle]="{'background': item.buttonOptions.background}" (click)="goNext()">{{ item.button }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Layout 4 -->
    <div class="row" *ngIf="item.layout === '4'">
      <div class="col-md-12 p-0">
        <!-- Box Template: Nome do Componente -->
        <div *ngIf="item.title.text === ''">
          <p class="text-muted m-0 fw-600">
            <i class="material-icons fs-35">flag</i>
          </p>
          <p class="text-muted mb-3 fs-13 fw-500">{{ 'Tool' | translate }}: Introdução (Template 4)</p>
        </div>
      </div>

      <!-- Coluna Esquerda -->
      <div class="col-md-6 pl-0 pr-2">
        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model box-media flex-cc wrap my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60 mx-3">wallpaper</i>
            <i class="material-icons fs-60">ondemand_video</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Mídia: Imagem (Coluna Esquerda) -->
          <div class="row" *ngIf="item.media.type === 'image'">
            <!-- Bloco de Imagem -->
            <div class="col-md-12 mt-3 mb-4 minh-vh-40 flex-cc nowrap" *ngIf="item.media.image != ''">
              <img style="width: auto !important; max-width: 100%; max-height: 300px" [src]="item.media.image" alt="" *ngIf="item.media.image !== ''" />
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>

          <!-- Mídia: Vídeo (Sem Coluna) -->
          <div class="row mt-4" *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo'">

            <!-- Player de Vídeo -->
            <div class="col-md-12 pb-4 text-center" *ngIf="item.link !== ''">
              <iframe width="100%" height="315" [src]="item.link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Coluna Direita -->
      <div class="col-md-6 pr-0 pl-2">
        <!-- Box Template: Título -->
        <div class="col-md-12 item-box-model my-2 fs-20 fw-500" *ngIf="item.title.text === ''">{{ 'SetTitle' | translate }}</div>

        <!-- Título -->
        <div class="col-md-12 mt-4" *ngIf="item.title.text != ''">
          <h4 id="intro-title"
            class="card-title bold-600 animated"
            [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}"
            [ngClass]="item.title.animation">
            {{ item.title.text }}
          </h4>
        </div>

        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60">subject</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Bloco de Texto (Sem Coluna))-->
          <div class="row mb-4" *ngIf="item.media.type === 'image' || item.media.type === 'youtube' || item.media.type === 'vimeo'">
            <div class="col-md-12 p-0 minh-vh-40 flex-cc">
              <p id="intro-text" class="anim-typewriter animated ws-pre-line lh-1-3"
                [ngClass]="item.media.animation"
                [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
                {{ item.media.text }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0">
        <!-- Box Template: Botão -->
        <div class="col-md-12 item-box-model my-2 text-center" *ngIf="item.button === ''">
          <p class="fs-15 fw-500">{{ 'SetCharacteristicsButton' | translate }}:</p>
          <button type="button" name="button" class="btn btn-primary btn-muted">{{ 'Button' | translate }}</button>
        </div>

        <!-- Botão -->
        <div class="col-md-12 text-center my-4" *ngIf="item.button != ''">
          <div *ngIf="item.button != ''">
            <button
            type="button" class="btn btn-primary"
            [ngStyle]="{'background': item.buttonOptions.background}" (click)="goNext()">{{ item.button }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Layout 5 -->
    <div class="row" *ngIf="item.layout === '5'">
      <div class="col-md-12 p-0">
        <!-- Box Template: Nome do Componente -->
        <div *ngIf="item.title.text === ''">
          <p class="text-muted m-0 fw-600">
            <i class="material-icons fs-35">flag</i>
          </p>
          <p class="text-muted mb-3 fs-13 fw-500">{{ 'Tool' | translate }}: {{ 'Introduction' | translate }} ({{ 'Template' | translate }} 5)</p>
        </div>
      </div>

      <!-- Coluna Esquerda -->
      <div class="col-md-6 pl-0 pr-2">
        <!-- Box Template: Título -->
        <div class="col-md-12 item-box-model my-2 fs-20 fw-500" *ngIf="item.title.text === ''">{{ 'SetTitle' | translate }}</div>

        <!-- Título -->
        <div class="col-md-12 mt-4" *ngIf="item.title.text != ''">
          <h4 id="intro-title"
            class="card-title bold-600 animated"
            [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size, 'color': item.title.color}"
            [ngClass]="item.title.animation">
            {{ item.title.text }}
          </h4>
        </div>

        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60">subject</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Bloco de Texto (Sem Coluna))-->
          <div class="row mb-4" *ngIf="item.media.type === 'image' || item.media.type === 'youtube' || item.media.type === 'vimeo'">
            <div class="col-md-12 p-0 minh-vh-40 flex-cc">
              <p id="intro-text" class="anim-typewriter animated ws-pre-line lh-1-3"
                [ngClass]="item.media.animation"
                [ngStyle]="{'text-align': item.media.align, 'font-size.px': item.media.size, 'color': item.media.color}">
                {{ item.media.text }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Coluna Direita -->
      <div class="col-md-6 pr-0 pl-2">
        <!-- Box Template: Mídia -->
        <div class="col-md-12 item-box-model box-media flex-cc wrap my-2" *ngIf="item.media.type === 'none'">
          <p class="fs-15 fw-500">{{ 'SetMedia' | translate }}:</p>
          <p>
            <i class="material-icons fs-60 mx-3">wallpaper</i>
            <i class="material-icons fs-60">ondemand_video</i>
          </p>
        </div>

        <!-- Mídia -->
        <div class="col-md-12" *ngIf="item.media.type != 'none'">
          <!-- Mídia: Imagem (Coluna Esquerda) -->
          <div class="row" *ngIf="item.media.type === 'image'">
            <!-- Bloco de Imagem -->
            <div class="col-md-12 mt-3 mb-4 minh-vh-40 flex-cc nowrap" *ngIf="item.media.image != ''">
              <img style="width: auto !important; max-width: 100%; max-height: 300px" [src]="item.media.image" alt="" *ngIf="item.media.image !== ''" />
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>

          <!-- Mídia: Vídeo (Sem Coluna) -->
          <div class="row mt-4" *ngIf="item.media.type === 'youtube' || item.media.type === 'vimeo'">

            <!-- Player de Vídeo -->
            <div class="col-md-12 pb-4 text-center" *ngIf="item.link !== ''">
              <iframe width="100%" height="315" [src]="item.link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            <!-- Bloco da Legenda -->
            <div class="col-md-12 p-0 text-center" *ngIf="item.media.title != '' || item.media.description != ''">
              <h4 class="fs-12 fw-600 mt-0 mb-1" [ngStyle]="{'color': item.media.color}">{{ item.media.title }}</h4>
              <p class="fs-12 ws-pre-line lh-1-3 m-0" [ngStyle]="{'color': item.media.color}">{{ item.media.description }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-0">
        <!-- Box Template: Botão -->
        <div class="col-md-12 item-box-model my-2 text-center" *ngIf="item.button === ''">
          <p class="fs-15 fw-500">{{ 'SetCharacteristicsButton' | translate }}:</p>
          <button type="button" name="button" class="btn btn-primary btn-muted">{{ 'Button' | translate }}</button>
        </div>

        <!-- Botão -->
        <div class="col-md-12 text-center my-4" *ngIf="item.button != ''">
          <div *ngIf="item.button != ''">
            <button
            type="button" class="btn btn-primary"
            [ngStyle]="{'background': item.buttonOptions.background}" (click)="goNext()">{{ item.button }}
            </button>
          </div>
        </div>
      </div>
    </div>

</div>
