.intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #DDD;
  color: #fff;
  text-align: center;
  min-height: calc(100vh - 163px);
  height: auto;
  padding: 0 15px;
}

.btn-primary { color: #da1d52; background-color: #fff !important; border-color: #fff; box-shadow: none; font-size: 1em; padding: 10px 30px; }

.btn-primary:hover { color: #da1d52; background-color: #f9f9f9; border-color: #f9f9f9 !important; box-shadow: 0 14px 26px -12px rgba(89, 89, 89, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(89, 89, 89, 0.2); }

.btn-primary:focus, .btn-primary.focus { box-shadow: 0 0 0 0.2rem rgba(89, 89, 89, 0.5); }

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
}

.minh-385 {
  min-height: 385px;
}

.box-media{
  height: 230px;
}

#intro-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
