<div *ngIf="loading">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
    <p>Carregando...</p>
  </div>
</div>
<div *ngIf="!loading">
  <h2 mat-dialog-title>Curtidas na postagem</h2>
  <mat-dialog-content>
    <mat-list>
      <mat-list-item *ngFor="let user of inputData">
        <img matListAvatar [src]="user.photo" alt="" *ngIf="user.photo !== null" />
        <div matListAvatar class="avatar-40-null" *ngIf="user.photo === null">
          <i class="material-icons">person</i>
        </div>
        <h3 matLine>{{ user.name }}</h3>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
</div>
