.avatar-40-null {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  padding: 7px;
  color: #888;
  background: #eee;
}

.loader {
  width: 60px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.card {
  height: 130px;
}

p {
  margin-top: 40px;
  margin-left: -10px;
}
