/* Material Design
===============================================================*/
/* Tooltip */
::ng-deep .mat-tooltip { background: rgba(233, 30, 99, 0.95) !important; color: #FFFFFF !important; font-size: 0.7em !important; font-weight:600; }

/* Link
===============================================================*/
.no-link { color:#3c4858; }

/*Ícone
===============================================================*/
.icon-del { color: #D2D2D2; }
.icon-del:hover { color: #e91e63; }

/*Cor de Texto - Color Text
===============================================================*/
.fc-gray-light { color:#aaa !important; }
.green-text{ color: #12b6a9; }
.rose-text{ color: #e91e63; }
.blue-text{ color: #126bb5; }
.gray-text{ color: #999; }

/*Fontes - Fonts
===============================================================*/
.fs-8 { font-size: 10px !important; }

.fw-normal { font-weight: normal !important; }



.ball{width: 7px; height: 7px; border-radius: 100%;}

.w-2 { width: 2%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-40 { width: 40%; }
.w-45 { width: 45%; }
.w-58 { width: 58%; }

.mt-25 { margin-top: 25px !important; }

.bg-cyan{ color: #fff; background-color: #00BCD4 !important;}
.bg-cyan-light{ color: #fff; background-color: #6ec9d3 !important; }
.bg-green{color: #fff; background-color: #36C1B6 !important;}
.bg-green-dark{color: #fff; background-color: #2fa79e !important;}
.bg-rose{color: #fff; background-color: #e91e63 !important;}
.bg-rose-dark{color: #fff; background-color: #bf1850 !important;}
.bg-gray{color: #333; background-color: #ddd !important;}
.bg-gray-light{color: #333; background-color: #F9F9F9 !important;}

.info-icon{ font-size: 40px; color: #e91e63; }
.success-icon{ font-size: 40px; color: #12b6a9; }
.blue-icon{ font-size: 40px; color: #126bb5; }



.table th, .table tr { text-align: center; }
table tr td .btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 0px;
    margin: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 991px){
.card-header .card-header-text{
    display: inline-block;
    padding: 20px 0px;
  }
  .card .card-header.card-header-text {
      display: inline-block;
  }
  .nav-pills > li > a {
      line-height: 24px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      min-width: 0px;
      text-align: center;
      color: #555555;
      transition: all .3s;
  }
}
