<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content">
        <h4 class="mt-0 fw-md">Custos fixos mensais</h4>
        <p>Percentual médio dos gastos com insumos de Mão de obra e outros produtos</p>
		    <div class="bar-chart primary" animated attr.data-total="{{data_uniformity}}">
	        <span class="bar-chart--inner primary"></span>
	        <span class="bar-chart--text">{{data_uniformity}}%</span>
	    	</div> 
      </div>
    </div>
  </div>
</div>


