
.box-points { display: flex; flex-direction: row; align-items: center; justify-content: center; height: 80px; }

.box-points h1 { font-weight: 600; color: #f4ac1e; font-size: 2.2em; margin-right: 10px; margin-top: 5px; }

.box-points h5 { text-align: left; font-weight: 600; color: #414141; text-transform: uppercase; letter-spacing: 3px; font-size: 1.7em; }

.box-points p { text-align: left; font-weight: 600; color: #414141; text-transform: uppercase; letter-spacing: 1px; font-size: 0.9em; margin-top: -5px; }
