<div class="card">
  <div class="card-content text-center">
    <div class="mt-0"><img src="assets/img/points.png" class="badges" alt=""></div>
    <div class="box-points">
      <div><h1>{{ score == null ? 0 : score }}</h1></div>
      <div>
        <h5>{{ 'Points' | translate }}</h5>
        <p>{{ 'Conquered' | translate }}</p>
      </div>
    </div>
    <button type="button" name="" class="btn btn-medium btn-black" [routerLink]="['/my-page']">
      {{ 'Report' | translate }}
    </button>
  </div>
  <div class="helper-card">
    <svg [matTooltip]="textHelper" aria-hidden="true" class="helper-svg" height="40" viewBox="0 0 250 250" width="40">
      <path  d="M0,0 L115,115 L115,115 L142,142 L250,250 L250,0 Z"></path>
      <text class="helper-svg-text" x="-100" y="200">?</text>
    </svg>
  </div>
</div>
