.card {
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  -moz-box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  -webkit-box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  border: none;
  margin-bottom: 30px;
  margin-top: 0;
}

.card .card-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.name {
  font-size: 16px;
  color: #414141;
  margin-bottom: 0;
}

.post-text {
  font-size: 14px;
}

.comments {
  margin: 20px;
}

/* Cortar imagem do feed para mostrar sempre a mesma proporção
===============================================================*/

.img-responsive-feed { display: block; max-width: 100%; height: auto; max-height: 80vh; }

.thumbnailf { display: flex; margin-top: 5px;}

.thumbnailf img { height: 250px; object-fit: cover; outline: 1px solid rgba(0,0,0,.2); outline-offset: -1px;}

.thumbnailf img.portrait { width: 100%; height: auto; }

/* Fullscreen imagem modal
===============================================================*/

.full-screen-dialog .mat-dialog-container { max-width: none; }

.form-feed { width: 100%; margin: 0 0 25px !important; padding: 10px 15px !important; border-radius: 8px; box-shadow: 1px 1px 15px rgba(201,191,187,0.7); -moz-box-shadow: 1px 1px 15px rgba(201,191,187,0.7); -webkit-box-shadow: 1px 1px 15px rgba(201,191,187,0.7); }

.form-feed input[type=text] { float: left; width: 470px; border: none; box-shadow: none; padding: 15px 15px 10px; }

.form-input-btn a { float: right; border: none !important; box-shadow: none !important; background: none; padding: 0; margin-top: 12px; position: relative; right: 0; left: 0; margin-bottom: 0; color:#8e8994; }

.form-input-btn a .material-icons { font-size: 18px; }

.form-comment { width: 100%; margin: 0 !important; padding: 5px 20px !important; border-top: 1px solid #eee; }

.form-comment input[type=text] { float: left; width: 420px; border: none; box-shadow: none; padding: 15px 15px 10px; }

.form-comment .form-input-btn a { float: right; border: none !important; box-shadow: none !important; background: none; padding: 0; margin-top: 12px; position: relative; right: 0; left: 0; margin-bottom: 0; color:#8e8994; }

.form-comment .form-input-btn a .material-icons { font-size: 18px; }

.avatar-30 { float: left; width: 30px; height: 30px; margin-right: 10px; border-radius: 50%; }

.avatar-45 { float: left; width: 40px; height: 40px; margin-right: 10px; border-radius: 50%; }

.name { font-weight: 600; color: #8e8994; text-transform: capitalize; }

.add-file { display: flex; align-items: center;; justify-content: space-between; margin: 20px 0 0; padding: 15px 0 5px; }

.super-post { position: absolute; right: 15px; top: 10px; font-size: 1.8em; color: #888; }

.icons-comments { margin: 10px 0 0; padding: 10px 20px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}

.icons-comments li { display: inline-block; margin-right: 30px; font-size: 14px; }

.icons-comments li:last-child { margin-right: 0; position: absolute; right: 20px; }

.icons-comments li a { color: #4a4a4a; cursor: pointer; }

.icons-comments li a.active,
.icons-comments li a:hover { color: #ffb612; }

.icons-comments .fa { font-size: 16px; }

/* CARDS */
/*  CARDS
----------------------------------------------------- */

.card-file { box-shadow: 0 0 30px rgba(204, 204, 204, 0.4); border: none; border-radius: 16px; transition: all 0.5s; margin-bottom: 30px; }

a .card-file:hover { transition: all 0.5s; box-shadow: 0 0 30px rgba(0,0,0,0.3);}

.card-cover { display: flex; align-items: center; justify-content: center; padding: 15px; position: relative; width: 100%; height: 160px; border-top-left-radius: 16px; border-top-right-radius: 12px; object-fit: cover; z-index: 1; background: #ffb612; color: #fff !important; }

.card-body { border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; }

.card .circle { float: left; position: relative; display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; border-radius: 50%; margin: -30px 10px 15px 15px; background: #eee; z-index: 1; font-size: 1.5em; color: #414141 !important; }

.card-file .card-content { height: 150px; }

.card-file .title { color: #fff; margin-bottom: 0; font-size: 18px; }

.card-file .card-content .description { color: #888; }

.card-team .card-content { width: 100%; height: 160px; margin-bottom: 10px; }

.card-classroom { padding: 15px; box-shadow: 1px 1px 5px rgba(201,191,187,0.7); -moz-box-shadow: 1px 1px 5px rgba(201,191,187,0.7); -webkit-box-shadow: 1px 1px 5px rgba(201,191,187,0.7); margin-bottom: 20px; }
.card-content-file-shared{ overflow:hidden; height: 100px; width: 80%; margin-top: 10px;}
/*
/* ---------------- */

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0 -2px;
}

.masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 2px;
  position: relative;
  cursor: pointer;
}

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 291px;
  line-height: 291px;
  background: rgba(0, 0, 0, .05);
}

.play-overlay img {
  width: 80px;
  height: 80px;
}

.preview-wrapper {
  position: relative;
  margin-top: 30px;
}

.preview-image img {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.preview-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.preview-text {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 11px;
  margin-top: -7px;
}

.img-with-outline {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.masonry-brick:nth-child(4n+1) {
  width: 50%;
}
.masonry-brick:nth-child(4n+2) {
  width: 40%;
}
.masonry-brick:nth-child(4n+3) {
  width: 20%;
}
.masonry-brick:nth-child(4n+4) {
  width: 30%;
}

.video-container {
  min-height: 200px;
}

.video-container img {
  height: 291px;
  width: 100%;
  object-fit: cover;
  filter: blur(10px);
}

.video-player {
  height: 291px !important;
  position: absolute;
  top: 0;
  left: 1px;
  width: calc(100% - 2px);
}

.masonry-brick-full {
  width: 100% !important;
  height: 291px !important;
  overflow: hidden;
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.mt-5 {
  margin-top: 2em;
}
