
$im: !important;

$primary-color: #d31244;
$primary-color-hover: #b7103a;
$primary-box-shadow: rgba(233, 30, 99, .5);
$primary-outline-box-shadow: rgba(255 , 255 ,255 , .5);

$secondary-color: #111;
$secondary-color-hover: #333;
$secondary-box-shadow: rgba(0, 0, 0, .5);
$secondary-outline-box-shadow: rgba(0 , 0 ,0 , .5);

ul, li {
  list-style: none $im;
}

.card {
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  -moz-box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  -webkit-box-shadow: 1px 1px 10px rgba(201,191,187,0.7);
  border: none;
  margin-bottom: 30px;
  margin-top: 0;
}

.card .card-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.name {
  text-transform: uppercase;
  font-size: 12px;
  color: #414141;
  margin-bottom: 0;
  font-weight: 600;
}

.post-text {
  font-size: 14px;
}

.comments {
  margin: 20px;
}

.no-mg{
  margin: 0px !important;
}

.form-feed {
  width: 100%;
  margin: 0 0 25px $im;
  padding: 10px 15px $im;
  border-radius: 8px;
  box-shadow: 1px 1px 15px rgba(201, 191, 187, 0.7);
  -moz-box-shadow: 1px 1px 15px rgba(201, 191, 187, 0.7);
  -webkit-box-shadow: 1px 1px 15px rgba(201, 191, 187, 0.7);
  .title {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  input[type=text] {
    float: left;
    width: calc(100% - 50px);
    border: 1px solid #eee; ;
    box-shadow: none;
    border-radius: 30px;
    padding: 5px 10px;
    outline: none;
  }
  .add-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0;
    padding: 15px 0 0;
    label {
      a {
        border-radius: 30px $im;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}

.form-input-btn a {
  float: right;
  border: none $im;
  box-shadow: none $im;
  background: none;
  padding: 0;
  margin-top: 12px;
  position: relative;
  right: 0;
  left: 0;
  margin-bottom: 0;
  color: #8e8994;
  .material-icons {
    font-size: 18px;
  }
}

.form-comment {
  width: 100%;
  margin: 0 $im;
  padding: 15px $im;
  border-top: 1px solid #eee;
  input[type=text] {
    float: left;
    width: calc(100% - 60px);
    border: 1px solid #eee; ;
    box-shadow: none;
    border-radius: 30px;
    margin-right: 10px;
    padding: 5px 10px;
    outline: none;
  }
  .form-input-btn {
    margin-top: 5px;
  }
}

.avatar-30 {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.avatar-30-null {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background: #fafafa;
  color: #bbb;
}

.comment-time{
  margin-left: 9%;
}

.avatar-45 {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.avatar-45-null {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background: #fafafa;
  color: #bbb;
}

.super-post {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.8em;
  color: #888;
}

.icons-comments {
  margin: 10px 0 0;
  padding: 10px 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  li {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    &:last-child {
      margin-right: 0;
      position: absolute;
      right: 20px;
    }
    a {
      color: #4a4a4a;
      cursor: pointer;
      &.active, &:hover {
        color: $primary-color;
      }
    }
  }
  .fa {
    font-size: 16px;
  }
}

.card-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: relative;
  width: 100%;
  height: 160px;
  border-top-left-radius: 16px;
  border-top-right-radius: 12px;
  object-fit: cover;
  z-index: 1;
  background: $primary-color;
  color: #fff $im;
}

.card-file {
  box-shadow: 0 0 30px rgba(204, 204, 204, 0.4);
  border: none;
  border-radius: 16px;
  transition: all 0.5s;
  margin-bottom: 30px;
}

a .card-file:hover {
  transition: all 0.5s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card-file {
  .card-content {
    height: 150px;
  }
  .title {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
  }
  .card-content .description {
    color: #888;
  }
}

.card-body {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card .circle {
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -30px 10px 15px 15px;
  background: #eee;
  z-index: 1;
  font-size: 1.5em;
  color: #414141 $im;
}

.card-team .card-content {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}

.clickable{
  cursor: pointer;
}
.card-classroom {
  padding: 15px;
  box-shadow: 1px 1px 5px rgba(201, 191, 187, 0.7);
  -moz-box-shadow: 1px 1px 5px rgba(201, 191, 187, 0.7);
  -webkit-box-shadow: 1px 1px 5px rgba(201, 191, 187, 0.7);
  margin-bottom: 20px;
}

.card-content-file-shared {
  overflow: hidden;
  height: 100px;
  width: 80%;
  margin-top: 10px;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0 -2px;
}

.masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 2px;
  position: relative;
  cursor: pointer;
}

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 291px;
  line-height: 291px;
  background: rgba(0, 0, 0, .05);
}

.play-overlay img {
  width: 80px;
  height: 80px;
}

.preview-wrapper {
  position: relative;
  margin-top: 30px;
}

.preview-image img {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.preview-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.preview-text {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 11px;
  margin-top: -7px;
}

.img-with-outline {
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.masonry-brick:nth-child(4n+1) {
  width: 50%;
}
.masonry-brick:nth-child(4n+2) {
  width: 40%;
}
.masonry-brick:nth-child(4n+3) {
  width: 20%;
}
.masonry-brick:nth-child(4n+4) {
  width: 30%;
}

.video-container {
  min-height: 200px;
}

.video-container img {
  height: 291px;
  width: 100%;
  object-fit: cover;
  filter: blur(10px);
}

.video-player {
  height: 291px $im;
  position: absolute;
  top: 0;
  left: 1px;
  width: calc(100% - 2px);
}

.masonry-brick-full {
  width: 100% $im;
  height: 291px $im;
  overflow: hidden;
  outline: 1px solid rgba(0,0,0,.2);
  outline-offset: -1px;
}

.mt-5 {
  margin-top: 2em;
}

// app-publication
.tmp-file-wrapper:hover .tmp-file-buttons-overlay {
  opacity: 1;
  visibility: visible;
}

.tmp-file-status-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 9999999999;
  color: #fff;
  width: 156px;
  height: 120px;
  padding: 20px;
  p {
    color: #fff;
  }
}

.tmp-file-buttons-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 156px;
  height: 120px;
  position: absolute;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-out;
}

.tmp-file-remove-button {
  position: absolute;
  right: 0px;
  top: 0;
  color: #fff;
  padding: 0 5px;
}

.tmp-file-content {
  width: 156px;
  height: 120px;
  overflow: hidden;
}

.tmp-upload-video {
  object-fit: contain;
}

.tmp-file-wrapper {
  position: relative;
}

.preview-wrapper {
  position: relative;
  margin-top: 30px;
}

.preview-image img {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
}

.preview-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.preview-text {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 11px;
  margin-top: -7px;
}

.img-with-outline {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
}

.tmp-upload {
  object-fit: cover;
  width: 156px;
  height: 120px;
}

.tmp-file-wrapper-container {
  padding: 20px 0 0;
  margin: 20px -15px;
  border-width: 1px 0;
  border-color: #CCC;
  border-style: solid;
}

.hide {
  display: none;
}



//BTN-secondary

.btn {
  border-radius: 30px $im;
  text-transform: uppercase;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 5px 15px;
  font-size: 12px;
  line-height: 1.1;
}

// BTN-PRIMARY

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    color: #fff;
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }
  &:focus, &.focus {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
    box-shadow: 0 0 0 0.2rem $primary-box-shadow;
  }
  &.disabled, &:disabled {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: #fff;
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }
  }
}

.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary:not(:disabled):not(.disabled) {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.2rem $primary-box-shadow;
  }
}

.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary-box-shadow;
}

// BTN-secondary

.btn-secondary {
  color: #fff;
  background-color: $secondary-color;
  border-color: $secondary-color;
  &:hover {
    color: #fff;
    background-color: $secondary-color-hover;
    border-color: $secondary-color-hover;
  }
  &:focus, &.focus {
    background-color: $secondary-color-hover;
    border-color: $secondary-color-hover;
    box-shadow: 0 0 0 0.2rem $secondary-box-shadow;
  }
  &.disabled, &:disabled {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: #fff;
      background-color: $secondary-color-hover;
      border-color: $secondary-color-hover;
    }
  }
}

.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: $secondary-color-hover;
  border-color: $secondary-color-hover;
}

.btn-secondary:not(:disabled):not(.disabled) {
  &:active:focus, &.active:focus {
    box-shadow: 0 0 0 0.2rem $secondary-box-shadow;
  }
}

.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $secondary-box-shadow;
}
