<app-publication></app-publication>

<ng-container *ngIf="list?.length > 0">
  <ng-container *ngFor="let item of list">
      <div *ngIf="filtered(item)">
        <app-post [item]="item" [listBackup]="listBackup"></app-post>
      </div>
  </ng-container> 
 <ng-container *ngIf="debug">
  <b>endlist: {{ endList }}<br></b>
  <b>loadingFeed: {{ loadingFeed }}</b>
 </ng-container>
  <div infiniteScroll 
       [infiniteScrollDistance]="200" 
       [infiniteScrollThrottle]="500" 
       [infiniteScrollDisabled]="endList"
       (scrolled)="getFeed()">
  </div>
  
  <div *ngIf="!endList">
    <!-- <app-skeleton-feed></app-skeleton-feed> -->
  </div>
</ng-container>
<!-- <ng-container *ngIf="!list || list?.length <= 0">
<div class="empty-list">
    <h4>Nenhum post foi associado a este canal ainda.</h4>
</div>
</ng-container> -->

