<div class="row">
    <div class="col-sm-8 pr-0">
        <div *ngIf="component.type == 'title'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <input matInput placeholder="Título" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="component.type == 'input'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <span matPrefix>
                        <i class="fa fa-info-circle text-primary fs-10 mr-3" [class.fa-bolt]="component.kind=='action'" [class.fa-info-circle]="component.kind=='orientation'" ></i>
                    </span>
                    <input matInput placeholder="Texto do Botão" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="component.type == 'document'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <span matPrefix>
                        <i class="fa fa-info-circle text-primary fs-10 mr-3" [class.fa-bolt]="component.kind=='action'" [class.fa-info-circle]="component.kind=='orientation'" ></i>
                    </span>
                    <input matInput placeholder="Texto do Botão" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="component.type == 'pdf'" class="row">
            <div class="col-md-8">
                <mat-form-field class="w-100 mt-0">
                    <span matPrefix>
                        <i class="fa fa-info-circle text-primary fs-10 mr-3" [class.fa-bolt]="component.kind=='action'" [class.fa-info-circle]="component.kind=='orientation'" ></i>
                    </span>
                    <input matInput placeholder="Texto do Botão" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block btn-xs" type="button" (click)="upload.openDialog()">Enviar PDF</button>
                <app-upload-plugin [type]="'file'" [hidden]="true" #upload (AddArchive)="getArchive($event)"></app-upload-plugin>    
            </div>
        </div>

        <div *ngIf="component.type == 'upload'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <span matPrefix>
                        <i class="fa fa-info-circle text-primary fs-10 mr-3" [class.fa-bolt]="component.kind=='action'" [class.fa-info-circle]="component.kind=='orientation'" ></i>
                    </span>
                    <input matInput placeholder="Texto do Botão" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
        </div>
        
        <div *ngIf="component.type == 'shorttext'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <input matInput placeholder="Texto Simples" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
        </div>
        
        <div *ngIf="component.type == 'longtext'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <textarea rows="5" matInput placeholder="Texto Longo" [(ngModel)]="component.value" style="resize: none;"></textarea>
                </mat-form-field>
            </div>
        </div>
        
        <div *ngIf="component.type == 'topic'" class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100 mt-0">
                    <span matPrefix>
                        <i class="fa fa-circle text-primary fs-10 mr-3"></i>
                    </span>
                    <input matInput placeholder="Tópico" [(ngModel)]="component.value">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-sm-4 pl-0">
        <div class="col-md-12">
            <mat-form-field class="w-100 mt-0">
                <mat-select placeholder="Tipo" [(ngModel)]="component.type">
                    <mat-option *ngIf="component.kind == 'edit'" value="title">Título</mat-option>
                    <mat-option *ngIf="component.kind == 'edit'" value="shorttext">Texto Simples</mat-option>
                    <mat-option *ngIf="component.kind == 'edit'" value="longtext">Texto Longo</mat-option>
                    <mat-option *ngIf="component.kind == 'edit'" value="topic">Tópico</mat-option>

                    <mat-option *ngIf="component.kind == 'orientation'" value="document">Documento de Orientacao</mat-option>
                    <mat-option *ngIf="component.kind == 'orientation'" value="pdf">Upload de PDF</mat-option>
                    
                    <mat-option *ngIf="component.kind == 'action'" value="input">Preencher Dados</mat-option>
                    <mat-option *ngIf="component.kind == 'action'" value="document">Criar Roteiro</mat-option>
                    <mat-option *ngIf="component.kind == 'action'" value="upload">Upload de Arquivo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-md-12" *ngIf="(component.type == 'document') && (component.kind == 'orientation')">
        <mat-form-field class="w-100 mt-0">
            <textarea rows="5" [froalaEditor]="{placeholderText: 'Documento de Orientação', toolbarButtons: ['bold', 'italic', 'underline', 'paragraphFormat','alert']}" matInput placeholder="Documento de Orientação" style="resize: none;" [(ngModel)]="component.orientation"></textarea>
        </mat-form-field>
    </div>
</div>

