<form class="form-custom" style="overflow-x: hidden;">

<p class="tool-name">{{ 'ChallengeTitle' | translate }}</p>
<div class="wrapper-input">
    <input
    name="title" type="text" class="w-100 px-2" placeholder="{{ 'EnterTitle' | translate }}"
    [(ngModel)]="item.title.text" [formControl]="title">
</div>

<div class="wrapper-input">
  <div class="pull-left mt-2">{{ 'Alignment' | translate }}</div>
  <div class="pull-right mt--5">
    <button
        (click)="setAlign(item.title, 'left')" [class.btn-primary]="item.title.align == 'left'"
        type="button" class="btn btn-custom btn-xs btn-default">
        <i class="material-icons">format_align_left</i>
      </button>
      <button
        (click)="setAlign(item.title, 'center')" [class.btn-primary]="item.title.align == 'center'"
        type="button" class="btn btn-custom btn-xs btn-default">
        <i class="material-icons">format_align_center</i>
      </button>
      <button
        (click)="setAlign(item.title, 'right')" [class.btn-primary]="item.title.align == 'right'"
        type="button" class="btn btn-custom btn-xs btn-default">
        <i class="material-icons">format_align_right</i>
      </button>
  </div>
</div>

<hr />

<div class="row" style="margin-top: -10px; border-bottom: 1px solid #ddd; margin-bottom: 20px;">
  <div class="col-xs-9">
    <p class="tool-name" style="line-height: 45px;">{{ 'Media' | translate }}</p>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-primary btn-block" (click)="insertMedia()">+</button>
  </div>
</div>

<div style="background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;" *ngFor="let media of item.medias; let mx = index">

  <div class="wrapper-input">
    <div class="w-40 pull-left">{{ 'MediaType' | translate }}</div>
    <select [(ngModel)]="media.type" name="media_type_{{mx}}" class="w-60 pull-left">
      <option value="text">{{ 'Text' | translate }}</option>
      <option value="image">{{ 'Image' | translate }}</option>
      <option value="youtube">Youtube</option>
      <option value="vimeo">Vímeo</option>
    </select>
  </div>

  <hr class="mt-0" />

  <div *ngIf="media.type === 'text'">

    <div>
      <div class="w-100 pull-left">{{ 'Text' | translate }}</div>
      <textarea rows="4" name="media_text_{{mx}}" class="w-100 pull-right" placeholder="{{ 'EnterText' | translate }}" [(ngModel)]="media.text.text"></textarea>
    </div>

    <div class="wrapper-input">
      <div class="pull-left w-100 mt-2">{{ 'Alignment' | translate }}</div>
      <div class="pull-right mt--5">
         <button
          (click)="setAlign(media.text, 'left')" [class.btn-primary]="media.text.align == 'left'"
          type="button" class="btn btn-custom btn-xs btn-default">
          <i class="material-icons">format_align_left</i>
        </button>
        <button
          (click)="setAlign(media.text, 'center')" [class.btn-primary]="media.text.align == 'center'"
          type="button" class="btn btn-custom btn-xs btn-default">
          <i class="material-icons">format_align_center</i>
        </button>
        <button
          (click)="setAlign(media.text, 'right')" [class.btn-primary]="media.text.align == 'right'"
          type="button" class="btn btn-custom btn-xs btn-default">
          <i class="material-icons">format_align_right</i>
        </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="media.type === 'image'">
    <div class="col-xs-12">
      <p class="title-config">{{ 'PasteLinkImage' | translate }}</p>
      <input name="media_image_{{mx}}" class="w-100 text pull-left" placeholder="Ex.: https://image.freepik.com" [(ngModel)]="media.image">
      <p class="title-config text-center"> - {{ 'Or' | translate }} -</p>
      <app-upload-plugin [type]="'image'" [hidden]="true" #upload [horizontal]="true" [resizeToWidth]="800" [aspectRatio]="4 / 3" (AddPhoto)="getPhoto(media, $event)"></app-upload-plugin>
      <button type="button" class="btn btn-sm btn-block btn-primary" (click)="upload.openDialog()">
        {{ 'SendFile' | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="media.type === 'youtube' || media.type === 'vimeo'">
      <input
        name="media_image_{{mx}}" type="text" class="w-100" placeholder="{{ 'VideoURL' | translate }}"
        [(ngModel)]="media.url" (ngModelChange)="videoChanged(media)">
  </div>

  <div *ngIf="media.type === 'youtube' || media.type === 'vimeo' || media.type === 'image'">

    <hr class="mt-0" />

    <div class="wrapper-input">
      <input name="media_title_{{ mx }}" type="text" class="w-100 px-2" placeholder="{{ 'EnterTitle' | translate }}" [(ngModel)]="media.title">
    </div>
    <div class="wrapper-input">
      <input name="media_description_{{ mx }}" type="text" class="w-100 px-2" placeholder="{{ 'EnterDescription' | translate }}" [(ngModel)]="media.description">
    </div>
  </div>

  <hr class="mt-0" />

  <button class="btn btn-danger btn-sm" (click)="removeMedia(media)">{{ 'RemoveMedia' | translate }}</button>

</div>

<hr class="mt-0" />

<p class="tool-name">{{ 'Button' | translate }}</p>
<div class="wrapper-input">
  <input [(ngModel)]="item.button" name="button" type="text" class="w-100 mb-4 px-2" placeholder="{{ 'EnterButtonText' | translate }}" [formControl]="button">
</div>

<div class="wrapper-input">
      <div class="w-30 pull-left">{{ 'Background' | translate }}</div>
      <input
        name="button_bg"
        [(colorPicker)]="item.button_bg"
        [style.color]="item.button_bg"
        [(ngModel)]="item.button_bg"
        cpPosition="top" class="w-70" />
    </div>

<hr class="mt-0" />

<button class="btn btn-primary btn-sm" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>

</form>

<app-file-manager (event)="uploadSubmited($event)" #fileManager="appFileManager"></app-file-manager>
