<div class="col-md-12 pl-2 pr-2">
  <p class="tool-name border-bottom pb-3">Sim/Não</p>

  <div class="row mb-3">
    <!-- Nav tabs -->
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#perguntas" aria-controls="perguntas" role="tab" data-toggle="tab">Pergunta</a>
        </li>

        <li role="presentation">
          <a href="#midia" aria-controls="midia" role="tab" data-toggle="tab">Mídia</a>
        </li>
      </ul>
    </div>

    <!-- Tab panels -->
    <div class="col-md-12">
      <div class="tab-content">
        <!-- Tab Pergunta -->
        <div role="tabpanel" class="tab-pane fade in active" id="perguntas">
          <form action="">
            <div class="row mb-3">
              <div class="col-md-12">
                <!-- Título -->
                <p class="tool-name">Título</p>
                <div class="wrapper-input">
                  <input name="" type="text" class="w-100 px-2 text" placeholder="Digite o título...">
                </div>
              </div>
            </div>

            <!-- Botão de Salvamento -->
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right">Salvar</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Tab Mídia -->
        <div role="tabpanel" class="tab-pane fade" id="midia">
          <form action="">

            <!-- Tipo de Mídia -->
            <div class="row mb-3">
              <div class="col-md-12">
                <p class="tool-name">Tipo de Mídia</p>
                <select name="media" class="w-100 mb-3 text">
                <option value="NONE">Sem mídia</option>
                <option value="IMAGE">Imagem</option>
                <option value="YOUTUBE">Vídeo - Youtube</option>
                <option value="VIMEO">Vídeo - VIMEO</option>
              </select>
              </div>
            </div>

            <!-- Se a opção imagem for selecionada -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">Imagem:</p>
                <input name="url" type="text" class="w-100 text" placeholder="URL">
              </div>
              <div class="col-md-12 mb-3">
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right">Enviar Imagem</button>
              </div>
            </div>

            <!-- Se a opção youtube ou vimeo for selecionada -->
            <div class="row">
              <div class="col-md-12">
                <p class="title-config">URL do Vídeo:</p>
                <input name="url" type="text" class="w-100 text" placeholder="Endereço do Vídeo">
              </div>
            </div>

            <!-- Botão de Salvamento -->
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /Tab panels -->
  </div>
</div>
