  <div class="row mt-4">

    <div class="col-md-12">

      <div class="row" *ngIf="loading">
          <app-clientes-spinner></app-clientes-spinner>
      </div>

      <div *ngIf="!loading">
        <div class="question" *ngIf="forum">
          <p class="title">{{ forum?.ambiente }}</p>
          <h3>{{ forum?.pergunta }}</h3>
          <div class="row mt-5">
            <div class="col-md-6"><small>{{ forum?.created_at?.date | amTimeAgo }}</small></div>
            <div class="col-md-6 text-right">
              <small class="mr-5"><i class="fa fa-comments"></i> {{ forum?.qtd_resposta }}</small>
              <small><a data-toggle="collapse" data-target="#answer" aria-expanded="true" aria-controls="answer">
                {{ 'Reply' | translate }}</a></small>
            </div>
          </div>
          <div id="answer" class="collapse" aria-labelledby="heading" data-parent="#accordion">
            <div class="user">
              <div *ngIf="loggedUser?.picture == null" class="avatar-null"><i class="material-icons">person</i></div>
              <div *ngIf="loggedUser?.picture == ''" class="avatar-null"><i class="material-icons">person</i></div>
              <img *ngIf="loggedUser?.picture != '' && loggedUser?.picture != null " [src]="loggedUser?.picture" class="avatar" alt="">
              <form [formGroup]="form" (ngSubmit)="save()">
                <mat-form-field class="input">
                    <input matInput placeholder="{{ 'EnterAnswer' | translate }}" formControlName="resposta">
                </mat-form-field>
                <div class="flex-end">
                  <button type="button" class="btn btn-medium btn-light" (click)="ResetPost()">
                    {{ 'Cancel' | translate }}
                  </button>
                  <button type="submit" class="btn btn-medium btn-orange">{{ 'Save' | translate }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="answer" *ngIf="response?.length == 0">
            <p class="text mt-4">{{ 'NoAnswersFound' | translate }}</p>
        </div>

        <div class="answer"*ngFor="let item of response" (mouseenter)="getHidden(item)" (mouseleave)="getHidden(item)">
          <!--h4 class="mb-4">Melhor resposta</h4-->
          <div [matTooltip]="item?.name" *ngIf="item?.picture == null" class="avatar-null"><i class="material-icons">person</i></div>
          <div [matTooltip]="item?.name" *ngIf="item?.picture == ''" class="avatar-null"><i class="material-icons">person</i></div>
          <img [matTooltip]="item?.name" *ngIf="item?.picture != '' && item?.picture != null " [src]="item?.picture" class="avatar" alt="">
          <div class="flex">
              <h4 class="name">{{ item?.name }}</h4>
              <div class="pull-right">
                <div class="dropdown pull-right pt-3" *ngIf="item?.status && item?.hidden">
                  <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right m-top">
                      <li><a *ngIf="!item?.disable" (click)="onEdit(item)">{{ 'Edit' | translate }}</a></li>
                      <li><a *ngIf="item?.disable" (click)="onClose(item)">{{ 'Cancel' | translate }}</a></li>
                      <li><a (click)="onRemove(item)">{{ 'Delete' | translate }}</a></li>
                  </ul>
                </div>
              </div>

          </div>
          <small>{{ item?.created_at?.date | amTimeAgo }}</small>
          <small class="pull-right">
            <button class="btn btn-vote" [class.like]="item?.voto == 1" [disabled]="item?.voto != 0" (click)="vote(item, 1)"><i class="material-icons">thumb_up</i> {{ item?.qtd_like }}</button>
            <button class="btn btn-vote" [class.unlike]="item?.voto == 2" [disabled]="item?.voto != 0"  (click)="vote(item, 2)"><i class="material-icons">thumb_down</i> {{ item?.qtd_unlike }}</button>
          </small>
          <p class="text mt-4" *ngIf="!item?.disable">{{ item?.resposta }}</p>
          <form [formGroup]="formUpdate" *ngIf="item?.disable" (ngSubmit)="updateForm()">
            <mat-form-field class="w-100">
                <input matInput formControlName="resposta"  [value]="item.resposta"  placeholder="{{ 'PressEnterAnswer' | translate }}">
            </mat-form-field>
          </form>
          <div class="row mt-5">
          </div>
        </div>

        <div class="col-md-12 text-center tt-upper mt-5 mb-5" *ngIf="!loading && pagination?.total_pages > 1">
          <button class="btn btn-page" (click)="nextPage(pagination?.current_page)" *ngIf="pagination?.current_page != pagination?.total_pages">Carregar mais</button>
        </div>
      </div>

    </div>
  </div>
