.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


/* Material Design (mat-radio-button)
===============================================================*/
/* Radio Button */
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: #E91E63; }
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle { background-color: #E91E63; }
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element { background-color:rgba(233, 30, 99,.26); }
::ng-deep .mat-radio-label { cursor: pointer; white-space: nowrap; padding: 10px; }

/* Tooltip */
::ng-deep .mat-tooltip { }

  /* Stepper */
::ng-deep .mat-horizontal-stepper-header { height: 40px !important; padding: 0px 15px !important; }
::ng-deep .mat-step-header .mat-step-icon { background-color: #e91e63; color: #fff; }
::ng-deep .mat-stepper-horizontal-line { margin: 0px !important; }

/* checkbox */
::ng-deep .checkbox .checkbox-material .check { width: 15px; height: 15px; border: 1px solid #DDDDDD; border-radius: 3px;}
::ng-deep .checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 0.5em;
    width: 1;
    height: 0;
    -webkit-animation: checkbox-off 0.3s forwards;
    animation: checkbox-off 0.3s forwards;
}
::ng-deep .checkbox label {
    cursor: pointer; padding-left: 0;
    font-size: 0.8em; font-weight:500; color: #525859;
}

/* Margens
===============================================================*/
.mt--5 { margin-top: -7px; }
.mt-20 { margin-top: 20px; }

.ml-3 { margin-left: 3px; }

.no-margin {margin: 0 !important;}

/* Backgrounds
===============================================================*/
.bg-purple { background: #9c27b0; }

/* Texto - Cor da Fonte
===============================================================*/
.fc-gray { color: #525859 !important; }
.fc-purple { color: #9c27b0 !important; }
.fc-red { color: #e50606 !important; }
.fc-green { color: #2ac994 !important; }

/* Texto - Estilo (Negrito)
===============================================================*/
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }

/* Texto - Placeholder
===============================================================*/
.placeholder { color: #d5d5d5; }

/* Bordas
===============================================================*/
.border { border: solid 1px #D2D2D2; }
.no-border { border: none; }
.bl-0 { border-left: none; }
.border-label { padding: 0px 0px; border-radius: 3px; border: 1px solid #ccc; background: rgba(255,255,255,0.5); }
.border-top {border-top: solid 1px #eeeeee; }
.border-bottom {border-bottom: 1px solid #eeeeee;}

/* Display
===============================================================*/
.block { display: block; }
.col-center-block { float: none; display: block; margin: 0 auto; }

/* Botão
===============================================================*/
.btn:focus, .btn.focus { color: #fff; background-color: #595959; border-color: #595959; outline: 0; box-shadow: 0 0 0 0.2rem rgba(89, 89, 89, 0.25); }

.btn-primary { color: #fff; background-color: #6C757D !important; border-color: #6C757D !important; box-shadow: none; font-size: 1em; padding: 10px 30px; }

.btn-primary:hover { color: #fff; background-color: #595959; border-color: #595959; box-shadow: 0 14px 26px -12px rgba(89, 89, 89, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(89, 89, 89, 0.2); }

.btn-primary:focus, .btn-primary.focus { box-shadow: 0 0 0 0.2rem rgba(89, 89, 89, 0.5); }

.btn-primary.disabled, .btn-primary:disabled { color: #fff; background-color: #6C757D; border-color: #6C757D; }

.btn-primary.disabled, .btn-primary:disabled:hover {  color: #fff; background-color: #595959; border-color: #595959; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle { color: #fff;  background-color: #595959; border-color: #595959; }

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(89, 89, 89, 0.5); }

.btn-xs, .btn-group-xs > .btn { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 6px; }

.btn-muted { background: #CCCCCC; }
.btn-muted:hover { background: #BBBBBB; }
/* Boxs
===============================================================*/
.box-group { padding: 10px; background: #f5f5f5; border: solid 1px #eeeeee; border-radius: 3px;}

.box {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  margin-left: auto;
}

.box-list {  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
    height: 100%;
    padding-bottom: 30px;
    width: 100%;
}

.box-ask-border {
    display: inline-block;
    margin: 2%;
    max-width: 190px;
    min-height:190px;
    text-align: left;
    width: 46%;
}

.box-ask-border:hover{
  border-color:#dedede;
  color:#dedede;
  background: #fff7fa;
  border-radius: 7px;
}

.box-label{
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 12px;
}

.box-img {
    background-position: 50%;
    background-size: cover;
    border-radius: 1px;
    height: 160px;
    margin: 0px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.box-input {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.box-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -17px;
    left: -17px;
    background: transparent;
    border: 2px solid #dadada;
    color: #3c3c3c;
    border-radius: 10px;
    display: inline-block;
    margin: 2%;
    width: 116%;
    height: 120%;

    min-height:190px;
}

/* On mouse-over, add a grey background color */
.box-input:hover input ~ .checkmark {
    /*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.box-input input:checked ~ .checkmark {
    /*background-color: #dedede;*/
    border: 2px solid #dedede;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.box-input input:checked ~ .box-ask-border:after {
  border: 2px solid #dadada;
  color: #3c3c3c;
  border-radius: 10px;
  display: inline-block;
  font-size: 15px;
  margin: 2%;
  max-width: 190px;
  text-align: left;
  width: 46%;
}

/* Style the indicator (dot/circle) */
.box-ask-border:after {
  border-color:#dedede;
  color: rgba (233, 30, 99, .3);
  background: #fff7fa;
}



/* Títulos
===============================================================*/
.title { font-size: 13px; float: left; padding: 2px 10px; position: fixed; }
.title-question { font-size: 1.12em; font-weight:900; color: #525859; margin-bottom: 20px; }
.title-config { font-size: 0.8em; font-weight:500; color: #525859; margin-bottom: 0px; width: 100%; }
.tool-name { font-weight: 600; color: #9c27b0; }
.tool-name-subtitle { font-weight: 600; color: #525859; }

/* Imagens e Vídeo
===============================================================*/
.img-responsive, .vid-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.img-thumbnail, .vid-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* Colunas
===============================================================*/
.col-left { border-right: 1px solid #eee; }
.col-center { float: left; width: 60%;}
.col-right { border-left: 1px solid #eee;  }

.col-left, .col-right { float: left; width: 20%; overflow-x: hidden !important; }

.col-sup {
  height: 28vh;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 25px;
}

.col-sub {
  height: 51.5vh;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #eee;
  margin-top: 25px;
}

.col-int {
  height: 83.5vh;
  overflow-y: auto;
  padding: 10px;
  margin-top: 25px;
  border-top: 1px solid #eee;
}

/* Ícones
===============================================================*/
.icon {
  float: left;
  width: 50%;
  height: 70px;
  text-align: center;
  margin: 20px 0;
}

.icon i{ font-size:40px; }
.icon a { display: block; color: #999; }
.icon a:hover { color: #777; }
.icon p { font-size: 14px; margin: 5px; }

/* Tabelas
===============================================================*/
table thead th{ font-size: 1em; font-weight: 900; color: #383838; }
table tfoot .amount{ font-size: 1em; font-weight: 900; color: #383838; text-align: right;}

/* Tabs
===============================================================*/
.nav-tabs { border-bottom: 1px solid #ddd; margin-bottom: 20px; background: transparent; }
.nav-tabs > li > a { margin-right: 0 !important; padding: 4px 8px; color: #9c27b0 !important; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { color: #555; cursor: default; background-color: #fff; border: 1px solid #ddd !important; border-bottom-color: transparent !important; }

/* Divisor
===============================================================*/
.divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

/* Input - Tipo texto (Pesonalizado)
===============================================================*/
input.cell-text::placeholder { color: #d5d5d5; }

input.text { border: solid #dddddd 1px; padding: 5px 10px; border-radius: 3px; color: #333; }
input.text::placeholder { color: #d5d5d5; }

select.text{ border: solid #dddddd 1px; padding: 5px 2px; border-radius: 3px; color: #333; }
select.text::placeholder { color: #d5d5d5; }

textarea.text { border: solid #dddddd 1px; padding: 5px 10px; border-radius: 3px; color: #333; resize: none;}
textarea.text::placeholder { color: #d5d5d5; }

.text-input {
  color: #b5b4b4; font-size: 1.12em; position:relative; vertical-align: middle; display: inline-block;
  transition: 0.5s; padding: 0; cursor: pointer; border-bottom: 2px solid #fff; -webkit-transition:0.5s;
}

.text-input::before, .text-input::after {
 width: 100%; height:100%; z-index: 3; content:''; position: absolute; top:0; left:0; box-sizing: border-box;
 -webkit-transform: scale(0); transition: 0.5s;
}

.text-input::placeholder { color: #dcb8e3; font-size: 1.09em; }
.text-input:focus { color: #dcb8e3; font-size: 1.09em; border-bottom: 2px solid #dedede; }
.text-input:hover { color: #dcb8e3; font-size: 1.09em; border-bottom: 2px solid #dedede; }


/* Input - Tipo RadioButton
===============================================================*/
input[type="radio"] { display:none; }

input[type="radio"] + label { color:#b5b4b4; font-size: 1.09em}

input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  /* background:url(check_radio.png) -38px top no-repeat; */
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  /* background:url(check_radio.png) -57px top no-repeat; */
}

/* Input - Tipo checkbox
===============================================================*/
input[type="checkbox"] { display:none; }

input[type="checkbox"] + label { color:#b5b4b4; font-size: 1.09em}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-2px 10px 0 0;
  vertical-align:middle;
  /* background:url(check_radio.png) left top no-repeat; */
  cursor:pointer;
  transition: 0.1s;
}

input[type="checkbox"]:checked + label span {
  /* background:url(check_radio.png) -19px top no-repeat; */
  transition: 0.1s;
}

/* RadioButton Personalizado para o Multiple-Question */
.multiple-questions label span{
  display: block;
  cursor: pointer;
  max-height: 242px;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 10px 10px 0px 10px;
  margin: 5px;
  max-width: 180px;
  min-height: 180px;
}

.multiple-questions input[type="radio"]:checked + span{
  border: 1px solid #595959 !important;
  background: #fcfcfc;
}

.multiple-questions label span img{
  border-radius: 7px;
  width: 180px;
  height: 180px;
}

.multiple-questions .text{
  text-align: center;
  padding: 15px 0px;
  min-height:30px;
}

/* FlexBox
===============================================================*/
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-vertical-center {
  -ms-align-items: center !important;
  align-items: center !important;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.content-wrapper {
  min-height: 100%;
  background-color: #fff;
  z-index: 800;
  padding-top:40px;
}

.top-menu {
  position: absolute;
  border-bottom: 1px solid #eee;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
}

.tool {
  float: right;
  padding: 2px 5px;
}

.footer {
  position: absolute;
  border-top: 1px solid #eee;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
}

.cliente {
  font-size: 16px;
}

.modulo a{
  padding: 2px 5px;
  border-radius: 4px;
  display: block;
  background: #9c27b0;
  color: #fff;
  margin-bottom: 5px;
}

.modulo a:hover{
  background: #831596;
}

.modulo span  a{
  float: right;
  font-size: 12px;
  padding: 0;
  background: transparent;
  margin-left: 5px;
  margin-top: 1px;
}

.modulo span  a:hover{
  color: #e9e9e9;
}

.etapa a{
  padding: 2px 5px 2px 20px;
  border-radius: 4px;
  display: block;
  background: transparent;
  color: #777;
  margin-bottom: 5px;
}

.etapa a:hover{
  background: #f4f4f4;
}

.etapa span  a{
  float: right;
  font-size: 12px;
  padding: 0;
  background: transparent;
  color: #ddd;
  margin-left: 5px;
  margin-top: 1px;
}

.etapa span  a:hover{ color: #999; }

.form-custom input[type=text],  .form-custom input[type=number], .form-custom select, .form-custom textarea {
  border: 1px solid #dadde2;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 13px;
  overflow-x: hidden;
}

.form-custom .txt {
  border: 1px 1px 0px 1px solid #dadde2;
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 13px;
}

.form-custom ::-webkit-input-placeholder { font-size: 13px; color: #999; }
.form-custom ::-moz-placeholder { font-size: 13px; color: #999; }
.form-custom ::-ms-input-placeholder {  font-size: 13px; color: #999; }

.wrapper-input {
  height: 45px;
}

/* .btn { padding: 4px 8px 2px; } */

.btn-rose { background: #e91e63; }

.cursor {
  cursor: pointer;
}

/*Stage */

.midia-w iframe {
  width: 100%;
}

.midia-h iframe {
  height: 400px;
}

.breadcrumb {
  padding: 0 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  font-size: 12px;
}

.config-label{width: 100%; margin:5px 0px; float: left; font-size: 0.8em; display: block; line-height: 1.5em;}
.config-textarea{width: 100%; margin:5px 0px; float: left; resize:initial; overflow-y:auto; display: block; font-size: 0.9em !important; color: #999999;}
.config-select{width: 100%; margin:5px 0px; float: left; display: block; font-size: 0.9em !important; color: #999999; }
.config-input{width: 100%; margin:5px 0px; float: left; display: block; font-size: 0.9em !important; color: #999999; }
.config-box{width: 100%; margin:5px; float: left;}
.config-box-50{width: 45%; min-height: 110px; margin:5px; float: left; background: #f9f9f9; border: solid 1px #eee; border-radius: 5px; padding: 10px; }
.config-box-title{width: 100%; padding: 10px; font-size: 0.85em}

.no-bg-image {background-image: none;}
.space-inside {padding: 10px;}
.block{display: block;}

.fake-link {
  cursor: pointer;
}

/* Item Components
===============================================================*/
.item-component { margin: 0; border-radius: 2px; border: 1px solid #fff; }
.item-component:hover { border-color: #9c27b0; }
.item-component.active { border-color: #9c27b0; background-color: #f9f9f9; }

.item-box-model{
  border: dashed 3px #DDDDDD;
  padding: 20px;
  color: #CCCCCC;
  min-height: 50px;
}

.item-component-challenge,
.item-component-conclusion,
.item-component-download,
.item-component-dynamic-input,
.item-component-dynamic-table,
.item-component-image,
.item-component-intro,
.item-component-long-text,
.item-component-multichoise,
.item-component-multiple-questions,
.item-component-pdf,
.item-component-rating,
.item-component-sales-channel,
.item-component-sheet-correct-incorrect,
.item-component-star-point,
.item-component-text,
.item-component-upload,
.item-component-video,
.item-component-yes-no {
  padding: 0px;
}

.item-component-video .material-icons,
.item-component-image .material-icons,
.item-component-pdf .material-icons {
  font-size: 80px;
}

.item-component-title-content { }

.item-component-title .title-bold { font-weight: bold; }
.item-component-title .title-italic { font-style: italic; }
.item-component-title .title-underline { text-decoration: underline; }

.icon.disabled { opacity: 0.3; }

.item-component-video-icon-container,
.item-component-image-icon-container,
.item-component-pdf-icon-container {
  background: #eee; border: 1px solid #ccc; text-align: center;
  color: #444; font-size: 50px; padding: 160px;}

.btn-container { text-align: center; }

.etapa.active a,
.etapa a:hover{
  background: #f4f4f4;
}

.etapa.active:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0da";
  float: left;
  font-weight: bold;
  color: #9c27b0;
  position: relative;
  top: 5px;
  left: 5px;
}

.scroll { overflow-y: auto; }

#trail-status {
  color: #DDD;
  margin-right: 10px;
  background: none;
  border: none;
}

#trail-status.active {
  color: #6C9;
}

.item-btn-delete {
  position: relative;
}

.item-btn-delete button {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid #9c27b0;
  background-color: #fff;
  color: #9c27b0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  z-index: 1;

}

.item-btn-delete button:hover {
  background-color: #9c27b0;
  color: #fff;
}

.custom-divisor {
  margin: 10px 0;
}

#tbl-objetivo td {padding: 0px 8px; height: 0px;}

/* Collapse
===============================================================*/

#accordion .tool-name:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
}

#accordion .tool-name.collapsed:after {
  content: "\e080";
}


#editor-components-wrapper img {
  max-height: 500px;
  object-fit: contain;
  background: #eee;
  width: auto;
}

.input-styled {
  border: 1px solid #CCC;
  padding: 4px 6px;
  border-radius: 2px;
}

/* Animação
===============================================================*/

/* Pulse */
.pulse:hover {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.cover { position: relative; }

.cover img { width: 100%; min-height: 320px; object-fit: cover; opacity: 1; transition: .5s ease; backface-visibility: hidden; }

.mask-item { position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 70; display: flex; align-items: center; justify-content: center; flex-direction: column; top: 0; transition: .5s ease; opacity: 0; }

.mask-item .material-icons { color: #fff; font-size: 92px; margin-top: -30px; }

.embed-responsive-16by9:hover img {
  opacity: 0.3;
}

.embed-responsive-16by9:hover .mask-item {
  opacity: 1;
  cursor: pointer;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
::ng-deep .sheet-correct .radio { width: 90% !important; }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
::ng-deep .sheet-correct .radio { width: 45% !important; }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  ::ng-deep .sheet-correct .radio { width: 65% !important; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ::ng-deep .sheet-correct .radio { width: 45% !important; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .col-sup { height: 45vh; }
  .col-sub { height: 55.5vh; }
  .col-int { height: 88.5vh; }


}
