<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-content p-4">
        <div class="row">
          <div class="col-md-12">
            <mat-horizontal-stepper #stepper="matHorizontalStepper" class="px-0">
              <mat-step *ngFor="let group of groups; let i = index">
                <form>
                  <ng-template matStepLabel></ng-template>
                  <h4 class="fw-500 my-5">{{group.name}}</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <tr class="bg-grey">
                        <th class="border-table">Critérios</th>
                        <th class="border-table text-center">Sim</th>
                        <th class="border-table text-center">Não</th>
                      </tr>

                      <tr *ngFor="let pergunta of group.perguntas; let x = index">
                        <td class="text-left">{{ pergunta }}</td>
                        <td class="w-10 text-center">
                          <div class="radio ml-3 mt-3">
                            <label><input type="radio" name="item{{ x + 1 }}"></label>
                          </div>
                        </td>
                        <td class="w-10 text-center">
                          <div class="radio ml-3 mt-3">
                            <label><input type="radio" name="item{{ x + 1 }}"></label>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <button class="btn btn-rose pull-right my-5" mat-button matStepperNext>Próximo</button>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cenários -->
  <app-exercicio1-scenario></app-exercicio1-scenario>

  <!-- Instruções Gerais -->
  <div class="col-md-3 mt-0">
    <div class="card">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table" colspan="2">Instruções</th>
            </tr>
            <tr>
              <td>1</td>
              <td class="text-left">Escolha e clique em um dos cénário acima para carregar as respostas enviadas.</td>
            </tr>
            <tr>
              <td>2</td>
              <td class="text-left">Visualize e navegue por entre as respostas informadas no painel a esqueda.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
