<!-- NavBar -->
<div class="row">
  <div class="col-md-6">
    <h4 class="fw-500 mt-0 mb-4">Vamos definir agora quem é seu cliente</h4>
  </div>
</div>

<div class="row">
  <!-- Coluna Esquerda - Calculadora -->
  <div class="col-md-9">
    <div class="card mt-0">
      <div class="card-body pb-4">
        <form #clientForm="ngForm">
          <div class="row">
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">1</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Qual é o seu nome?</label>
                    <input name="name" type="text" class="form-control" [(ngModel)]="cliente.name">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">2</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Ela trabalha com o quê?</label>
                    <input name="ocupation" type="text" class="form-control" [(ngModel)]="cliente.ocupation">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">3</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Qual o seu nível de educação?</label>
                    <input name="education" type="text" class="form-control" [(ngModel)]="cliente.education">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">4</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Qual é sua faixa de salário?</label>
                    <input name="salary" type="text" class="form-control" currencyMask [(ngModel)]="cliente.salary">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">5</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Onde essa pessoa vive?</label>
                    <input name="location" type="text" class="form-control" [(ngModel)]="cliente.location">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">6</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Com quem vive?</label>
                    <input name="home" type="text" class="form-control" [(ngModel)]="cliente.home">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">7</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Qual é a sua idade?</label>
                    <input name="age" type="number" min="1" class="form-control" [(ngModel)]="cliente.age">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">8</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">Qual é o seu gênero?</label>
                    <input name="gender" type="text" class="form-control" [(ngModel)]="cliente.gender">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row my-2 px-2">
                <div class="col-md-2 box-letter-desktop box-letter-tablet bg-rose b-radius1">9</div>
                <div class="col-md-10 border-box-input b-radius2">
                  <div class="form-group form-focus label-floating">
                    <label class="control-label">O que ela gosta de fazer aos finais de semana ou nos seus momentos de lazer?</label>
                    <input name="hobby" type="text" class="form-control" [(ngModel)]="cliente.hobby">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary" [disabled]="!clientForm.valid" (click)="save()">Salvar</button>
      </div>
    </div>
  </div>

  <!-- Coluna Direita - Cenário -->
  <div class="col-md-3">
    <div class="card mt-0">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table">Cenários</th>  
            </tr>
            <tr *ngFor="let cenario of dataArray; let i = index;">
              <td class="text-left" [ngClass]="{'cenario-active': cenario === cenarioSelected}">
                <span class="pull-left" (click)="selectCenario(i)">
                  <a class="fake-link">Cenário {{i + 1}} </a> <br />
                  <small class="fs-8 fc-gray-light mt-1 visible-lg">* Salvo em: {{ cenario.updated_at.date | date:"dd/MM/yyyy" }}</small>
                </span>
                <a class="pull-right icon-del ml-4 fake-link" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'" (click)="delete(i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-left" [ngClass]="{'cenario-active': !cenarioSelected}">
                <a class="fake-link" (click)="newCenario()">Novo cenário</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-12 text-center mb-4">
    <button type="button" class="btn btn-primary" (click)="goNext()" >Próximo</button>
  </div>
</div>
