/* Material Design
===============================================================*/
/* Tooltip */
::ng-deep .mat-tooltip { background: rgba(233, 30, 99, 0.95) !important; color: #FFFFFF !important; font-size: 0.7em !important; font-weight:600; }

/* Link
===============================================================*/
.no-link { color:#3c4858; }

/* Form
===============================================================*/
.form-group { margin: 0; }
.form-group.is-focused.form-focus .form-control {
  background-image: linear-gradient(#d60d47, #d60d47), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label { top: -30px; font-size: 13px; line-height: 1.22857143; }

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label { top: -38px; left: 0; font-size: 0.7em; line-height: 1.07142857; }

/* Box
===============================================================*/
.box-letter-desktop{display: flex; align-items: center; justify-content: center; font-size: 1.5em; padding: 0 !important; text-align: center; border: solid 1px #e91e63; font-weight: 900;}

.border-box-input { display: flex; align-items: center; justify-content: center; min-height: 120px; border-top: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }

/*Ícone
===============================================================*/
.icon-del { color: #D2D2D2; }
.icon-del:hover { color: #e91e63; }

/* Margens - Margin
===============================================================*/
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }

.mb-15 { margin-bottom: 15px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }

/*Espaçamento - Padding
===============================================================*/
.padding-10{ padding: 10px; }
.pl-0 { padding-left: 0px !important; }
.pr-0 { padding-right: 0px !important; }

/*Cor de Fundo - Background
===============================================================*/
.bg-rose{ color: #fff; background-color: #e91e63 !important; }
.bg-gray-light{ color: #333; background-color: #F9F9F9 !important; }

/*Borda - Border
===============================================================*/
.border{border: solid 1px #ddd;}

/*Arredondamento de Bordas - Border Radius
===============================================================*/
.b-radius1{border-radius: 5px 0 0 5px;}
.b-radius2{border-radius: 0 5px 5px 0px;}
.b-radius3{border-radius: 5px;}

/*Fonte - Color Text (Cor do texto)
===============================================================*/
.rose-text{ color: #e91e63; }
.blue-text{ color: #126bb5; }
.gray-text{ color: #999999; }
.green-text{ color: #12b6a9; }
.fc-gray-light { color:#aaa !important; }
.fc-gray-light-100 { color:#bbb !important; }
.fc-gray-light-200 { color:#ccc !important; }
.fc-gray-light-300 { color:#ddd !important; }

/*Fonte - Font Size (Tamanho)
===============================================================*/
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }

/* Botão primário
===============================================================*/
.btn-primary { color: #fff; background-color: #6C757D !important; border-color: #6C757D !important; box-shadow: none; font-size: 1em; padding: 10px 30px; }

.btn-primary:hover { color: #fff; background-color: #595959; border-color: #595959; box-shadow: 0 14px 26px -12px rgba(89, 89, 89, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(89, 89, 89, 0.2); }

.btn-primary:focus, .btn-primary.focus { box-shadow: 0 0 0 0.2rem rgba(89, 89, 89, 0.5); }



/**************** Mobile - CSS ****************/

.box-letter-mobile{ padding: 22px 0; text-align: center; border: solid 1px #e91e63; font-weight: 900; }
.title-mobile{ display: block; font-size: 0.9em; font-weight: bold;}
