<div class="row my-4">
  <div class="col-md-6">
    <h4 class="fw-500">Resumo</h4>
  </div>
</div>

<!--a [routerLink]="['/visualizador/gestao/exercicio1']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Ficha de canais de venda</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a-->

<a [routerLink]="['/visualizador/gestao/calculadora-financeira']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Calculadora financeira</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a [routerLink]="['/visualizador/gestao/como-resolver-dividas']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Como resolver minhas dívidas</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a [routerLink]="['/visualizador/gestao/trabalhar-pra-ganhar']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Calculadora: Quanto trabalhar para ganhar?</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a [routerLink]="['/visualizador/gestao/meu-cliente']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Vamos definir agora quem é o seu cliente</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a [routerLink]="['/visualizador/gestao/semana']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Calculadora da semana</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

<a [routerLink]="['/visualizador/gestao/tempo-de-producao']">
  <div class="card mt-0">
    <div class="card-content">
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt-0"><b>Tempo de produção</b></h4>
          <p>Tenha acesso as ferramentas utilizadas nos cursos e utilize como desejar para o desenvolvimento do seu negócio</p>
        </div>
        <div class="col-md-6 hide">
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
          <div class="content-grey">
            <div class="col-md-6">Simulação</div>
            <div class="col-md-6 text-right">último acesso em: 05/03/2018</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
