/*Stage */

.midia iframe{ width: 100%; height: 400px; }

.midia-thumb {
    width: 100%;
    height: 82px !important;
    object-fit: cover;
    outline: 1px solid rgba(0,0,0,.3);
    outline-offset: -1px;
}

#challenge-button {
    padding: 20px;
    font-size: 20px;
}

.scroll { overflow-y: auto; height: 400px; }

.scroll::-webkit-scrollbar { width: 8px; height: 1px; }
 
.scroll::-webkit-scrollbar-track { background-color: rgba(255,255,255,0.8); }
 
.scroll::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.25) ; }

.scroll::-webkit-scrollbar-corner {  }