<div id="challenge-wrapper">
  
<div class="card-header">
  <h4 id="challenge-title" class="card-title bold-600" [ngStyle]="{'text-align': item.title.align}">{{ item.title.text }}</h4>
</div>

<div class="card-content">

  <div class="row mb-4">
    <div class="col-md-9">
      <div *ngFor="let media of item.medias">
        <div *ngIf="media.featured">
          <div class="midia">
      
            <iframe 
              width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen  
              *ngIf="media.link && media.type == 'youtube'"
              [src]="media.link"></iframe>
      
            <iframe 
              width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen  
              *ngIf="media.link && media.type == 'vimeo'"
              [src]="media.link"></iframe>
      
            <img class="img-responsive" [src]="media.image" alt="" *ngIf="media.type == 'image'" />
      
            <p *ngIf="media.type == 'text'" [ngStyle]="{'text-align': media.text.align}">
            {{ media.text.text }}</p>

          </div>
          <div class="text-left">
            <h4 class="my-0 fs-15"><b>{{ media.title }}</b></h4>
            <p class="mt-0 fs-14">{{ media.description }}</p>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-3 scroll" style="cursor: pointer;">
      <div *ngFor="let media of item.medias" (click)="setFeatured(media)">
        <div  style="margin-bottom: 20px;" *ngIf="!media.featured">
          <p style="background: #eee; padding: 10px; height: 150px;" [ngStyle]="{'text-align': media.text.align}"  *ngIf="media.type === 'text'">
            {{ (media.text.text.length > 120) ? (media.text.text | slice:0:120) + '..' : (media.text.text) }}
          </p>
          <div *ngIf="media.type === 'image'">
            <div *ngIf="!media.image">
              <i class="material-icons" style="font-size: 100px;">wallpaper</i>
            </div>
            <img [src]="media.image"  *ngIf="media.image" class="midia-thumb" />
          </div>
          <div *ngIf="media.type === 'youtube' || media.type === 'vimeo'">
            <div *ngIf="!media.thumb">
              <i class="material-icons">play_circle_filled</i>
            </div>
            <img *ngIf="media.thumb" [src]="media.thumb" class="midia-thumb" />
          </div>
          <div *ngIf="media.type === 'youtube' || media.type === 'vimeo' || media.type === 'image'">
            <h4 class="my-0 fs-15"><b>{{ media.title }}</b></h4>
            <p class="mt-0 fs-14">{{ media.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="text-center mt-4">
        <button 
          id="challenge-button" type="button" class="btn btn-primary" 
          (click)="goNext()"
          [ngStyle]="{'background': item.button_bg}" [disabled]="btnBlocked">{{ item.button }}</button>
      </div>
    </div>
  
  </div>

</div>

</div>
