
<div class="modal_content">
  <form (ngSubmit)="returnProduct()">
    <h1 mat-dialog-title class="modal_title">Produtos</h1>
    <div mat-dialog-content>
      <mat-form-field class="w-100">
          <input matInput placeholder="Produtos" [matAutocomplete]="auto" [formControl]="productsCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name" (click)="selected(product.id)">
              <span>{{ product.name }}</span> |
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="row" mat-dialog-actions>
      <div class=" col-md-12 text-right">
         <button class="btn btn-default" (click)="onNoClick()">Cancelar</button>
      <button class="btn btn-rose">Finalizar</button>
      </div>
    </div>
  </form>
</div>