<div class="main-content assessment-inner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div  class="grid-girl">
          <svg class="current-stage-girl"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 137.4 258.55"><defs><style>.cls-1{fill:#fff}.cls-2{font-size:36px;fill:#3e484f;font-family:BebasNeueRegular, Bebas Neue;}</style></defs><title>girl</title><path  [attr.fill]="themingColor" d="M91.21,48.67h17.28C97.6,38.21,100,27.73,95.72,17.26h-.25a29.57,29.57,0,0,0-53.77,0h0v0a29.42,29.42,0,0,0-2.38,8.16c-1.65,7.73-2.51,15.47-10.63,23.2H45.95a29.55,29.55,0,0,0,45.26,0m45.43,76.19-25-55.62c-1.77-3.93-4.68-4.9-7.07-4.93a9.58,9.58,0,0,0-3.21-.52H35.85a10.68,10.68,0,0,0-2.9.52c-2.41,0-5.37.95-7.17,4.93l-25,55.62s-3.4,7.56,4.24,10.92l3.49,1.54s7.64,3.36,11-4.19l21.6-48H45c-.76,1.4-1.51,2.89-2.22,4.52l-29,66.54s-6.62,15.2,10.1,15.2H41.72V248.9s0,9.65,9.76,9.65h5.23s9.76,0,9.76-9.65V171.39h4.25V248.9s0,9.65,9.75,9.65h5.23s9.76,0,9.76-9.65V171.39h17.8s16.72,0,10.11-15.2L92.46,85.13h3.82l21.6,48c3.4,7.56,11,4.19,11,4.19l3.49-1.54c7.64-3.36,4.24-10.92,4.24-10.92"/><text class="cls-2" transform="translate(45.26 147.74)" *ngIf="total>0"></text></svg>
          <p class="porcent-text">{{total}}%</p>
        </div>
        <h2 class="title-nivel">SEU NÍVEL</h2>
        <div class="grid-girls">
          <div class="content-girl"  *ngFor="let item of girls">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 69.3 120.8" style="enable-background:new 0 0 69.3 120.8;" xml:space="preserve">
            <style type="text/css">
                  .body-girl{stroke-miterlimit:10; opacity: 0.25}
                  .activedSVG{opacity: 1}
                  .body-font{font-family:'Roboto-Black';}
                  .body-size{font-size:8px; text-align: center;}
            </style>
              <path class="body-girl" [attr.fill]="item.color" [ngClass]="{activedSVG: item.current}" d="M44.9,23.4h7.8c-5-4.7-3.9-9.5-5.8-14.3h-0.1c-3.1-6.7-11-9.7-17.8-6.6c-2.9,1.3-5.3,3.7-6.6,6.6l0,0
              c-0.5,1.2-0.9,2.4-1.1,3.7c-0.8,3.5-1.1,7-4.8,10.5h7.8c4.8,5.7,13.2,6.4,18.9,1.7C43.8,24.5,44.3,23.9,44.9,23.4 M65.4,57.9
              L54.1,32.6c-0.5-1.3-1.8-2.2-3.2-2.2c-0.5-0.2-1-0.2-1.5-0.2H19.7c-0.4,0-0.9,0.1-1.3,0.2c-1.4,0-2.7,0.8-3.3,2.2L3.8,57.9
              c-0.9,1.9-0.1,4.1,1.8,4.9c0,0,0.1,0,0.1,0.1l1.6,0.7c0,0,3.5,1.5,5-1.9l9.8-21.8h1.8c-0.4,0.7-0.7,1.3-1,2L9.7,72.1
              c0,0-3,6.9,4.6,6.9h8.1v35.2c0,0,0,4.4,4.4,4.4h2.4c0,0,4.4,0,4.4-4.4V79h1.9v35.2c0,0,0,4.4,4.4,4.4h2.4c0,0,4.4,0,4.4-4.4V79h8.1
              c0,0,7.6,0,4.6-6.9l-14-32.2h1.7l9.7,21.7c1.5,3.4,5,1.9,5,1.9l1.6-0.7C67,61.3,65.4,57.8,65.4,57.9"/>
            </svg>
            <p [ngClass]="{activedGirl: item.current}">{{item.name}}</p>
          </div>
        </div>
        </div>
      <div class="col-lg-8 col-md-12">
          <h1 class="title animated bounceInDown">
              SUPERE SEU <strong>DESAFIO</strong>
          </h1>
        <p class="text animated bounceInRight" [ngClass]="nivel">

          Olá<strong > {{loggedInUser}}</strong> ,
          você atingiu o nível <strong>{{nivel== 'basic' ? 'BÁSICO' : (nivel== 'intermediary' ? 'INTERMEDIÁRIO' : 'AVANÇADO')}}</strong>! Veja aqui abaixo como você desempenhou em cada área e clique em detalhes para saber mais.
        </p>
        <div class="row">
            <div class="icon-circle col-md-4 col-sm-6 col-lg-3" (click)="openModal(item)" *ngFor="let item of icons">
              <div class="svg-content">
                  <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid meet">
                      <circle
                          cx="10"
                          cy="10"
                          r="9"
                          fill="none"
                          stroke="#e6e6e6"
                          stroke-width="2">
                      </circle>
                      <circle class="circle-progress"
                          cx="10"
                          cy="10"
                          r="9"
                          fill="none"
                          [attr.stroke]="item.color"
                          stroke-width="2"
                          stroke-linecap="round"
                          [attr.stroke-dasharray]="item?.dasharray"
                          [class.done]="item?.done"
                          transform="rotate(90, 10, 10)">
                      </circle>
                    </svg>
                <!-- <svg class="icon-progress" viewBox="0 0 200 200">
                  <circle stroke="#e6e6e6" cx="100" cy="100" r="90" stroke-width="12" fill="none" />
                  <circle [attr.stroke]="item.color" [attr.value]="item.value" transform="rotate(90, 0, 0)" cx="100" cy="100" r="90" stroke-width="12" fill="none" class="progress__value"/>
                  <circle cx="100" cy="100"  r="45" fill="#bbc3c9" r="80"/>
              </svg> -->
              <span *ngIf="item?.done">{{item.percentil}}%</span>
              </div>
              <p *ngIf="item?.done">{{item.tema}}</p>
              <button *ngIf="item?.done">detalhes</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-modal" *ngIf="showModal">
  <div class="custom-modal-overlay" (click)="closeModal()"></div>
  <div class="custom-modal-body" [style.backgroundColor]="data.color" [@itemAnim]>
    <a class="custom-modal-button-close" (click)="closeModal()" [style.backgroundColor]="data.color">x</a>
    <h1>{{data?.tema}}</h1>
    <p>{{ (data?.percentil < 33) ? data?.basic : (data?.percentil < 66 ? data?.medium : data?.advanced )}}</p>
  </div>
</div>
