$im:!important;

.assessment-inner{
    padding-top:0 $im;
    padding-bottom:0 $im;
    .title-nivel{
        text-align:center;
        padding-top:20px;
        font-size:1.5em;
        font-weight:700;
    }
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:before, &:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  }

    .grid-girl{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        position: relative;
        .current-stage-girl{
            width: 50%;
        }
        .porcent-text{
            font-size:2.5em;
            font-weight:700;
            position: absolute;
            transform:translate(-50%,-50%);
            display:block;
            left:50%;
            top:55%;
            text-align:center;
        }
        
        
    }
    .title{
        margin-bottom: 15px $im;
    }
    .text{
        font-size: 1.7em;
        line-height: 1.8;
        margin-bottom: 15px $im;
    }
    .grid-girls{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin: 10px 0;
        .content-girl{
        svg{
            width: 100px;
            text{
                transform:translate(50,50);
            }
        }
        p{
            text-align:center;
            font-size:1em;
            &.activedGirl{
                font-weight:700 $im;
            }
        }
        }
    }
    .svg-content{
        position: relative;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        svg{
            width: 80%;
            .circle-progress{
                opacity: 0;
                transition: stroke-dasharray ease 2s, opacity ease-out 200ms;
                &.done{
                    opacity: 1;
                }
            }
        }
    }
    .icon-circle {
        position: relative;
        margin-bottom:15px;
        cursor: pointer;
        span{
            position: absolute;
            top:50%;
            left:50%;
            display:block;
            transform:translate(-50%,-50%);
            text-align:center;
            font-size:3.4em;
            font-weight:700;
            color:#666;
        }
        p{
            text-align:center;
            padding:10px 20px;
            font-size:1.5em;
            line-height:1.7;
            font-weight:300;
            height: 72px;
        }
        button{
            text-align: center;
            line-height: 1.7;
            font-weight: 300;
            background: transparent;
            border: 0;
            color: #9c27b0;
            width: 100%;
        }
      }
      
      .text-porcent {
        font-size: 3.5em;
      }
    
      .icon-progress{  
          width: 70%;
          display:block;
          margin:0 auto;      
        .cls-2 {
            fill: none;
            stroke: #333;
            stroke-miterlimit: 10;
            stroke-width: 12px;
        }
        .progress__value{
            fill: none;
            //transform:rotate(90deg);
            transform-origin:center center;
            stroke-linecap: round;
            //animation: progressDark 3s ease-out forwards;
            transition: stroke-dasharray ease 5s,stroke-dashoffset ease 1s;
            
        }

      }
      #bar {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      
}

@keyframes progressDark {
    0% {
      stroke-dasharray: 0 568;
    }
  } 

/* MODAL STYLES
-------------------------------*/
.custom-modal {
    /* modals are hidden by default */
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
    right: 0;
    bottom: 0;
    /* z-index must be higher than .modal-background */
    z-index: 9999;
    overflow: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    .custom-modal-overlay {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        /* semi-transparent black  */
        background-color: #fff;
        opacity: 0.75;
        width: calc(100% - 260px);
        /* z-index must be below .modal and above everything else  */
        z-index: 1;
    }

    .custom-modal-body{
        z-index: 2;
        width: 800px;
        min-height: 100px;
        background-color:#ff9800;
        padding:20px;
        position: relative;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        color:#fff;
        .custom-modal-button-close{
            background-color:#ff9800;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            width: 48px;
            height:48px;
            text-align:center;
            line-height:48px;
            font-size:32px;
            color:#fff;
            position: absolute;
            right: -20px;
            top:-20px;
            display:block;
            border:none;
            cursor: pointer;
        }
        h1{
            padding:10px 0;
            margin:0 $im;
            font-weight:700;
            font-size:2.5em;
        }
        p{
            padding:10px 0;
            font-size:1.3em;
            line-height:1.47;
        }
    }
}
 //basic
 .basic{
    .cls-1{
      fill:#f46e70$im;
    }
    button{
      background-color:#f46e70$im;
      color: #fff$im;
    }
    strong{
      color: #f46e70 $im;
    }
    .asta{
      color:#f46e70$im;
    }
  }

  //intermediary
  .intermediary{
    .cls-1{
      fill:#f99e38$im;
    }
    button{
      fill:#f99e38$im;
      background-color:#f99e38$im;
      color: #fff$im;
    }
    strong{
      color: #f99e38 $im;
    }
    .asta{
      color:#f99e38$im;
    }
  }

  //advanced
  .advanced{
    .cls-1{
      fill:#81c4a2$im;
    }
    button{
      background-color:#81c4a2$im;
      color: #fff$im;
    }
    strong{
      color: #81c4a2 $im;
    }
    h2{
      //background-color:#81c4a2$im;
      color:#fff;
    }
    .asta{
      color:#81c4a2$im;
    }
  }
@media  (min-width: 1800px) and (max-width: 2000px) {
    .icon-circle{
        min-height: 270px;
        margin-bottom:0 $im;
        .icon-progress{
            width: 65%;
        }
        
        span{
            font-size:2em $im;
        }
        p{
            font-size:1.2em $im;
        }
    }
    .grid-girls{
        img{
            width:96px $im;
        }
    }
}
@media  (min-width: 1271px) and (max-width: 1799px) {
    .text{
        font-size:16px $im;
        line-height:1.5;
    }
    .icon-circle{
        min-height: 250px $im;
        margin-bottom:0 $im;
        span{
            font-size:2em $im;
        }
        p{
            font-size:1.1em $im;
        }
    }
    .grid-girls{
        img{
            width:96px $im;
        }
    }
}
@media  (min-width: 1024px) and (max-width: 1270px) {
    .text{
        font-size:16px $im;
        line-height:1.5;
    }
    .icon-circle{
        min-height: 200px;
        margin-bottom:0 $im;
        span{
            font-size:2em $im;
        }
        p{
            font-size:1em $im;
        }
    }
    .grid-girls{
        img{
            width:96px $im;
        }
    }
}
