<div class="minh-vh-75 flex-cc" [ngStyle]="{'background': item.background}">
  <div class="col-md-12">
    <!-- Título -->
    <div class="row mb-5">
      <!-- Bloco de Texto -->
      <div class="w-70 mx-auto">
        <p class="fw-600 lh-1-3 animated" [ngClass]="item.title.animation" [ngStyle]="{'color': item.titleColor, 'text-align': item.title.align, 'font-size.px': item.title.size}">
          {{ item.title.text }}
        </p>
      </div>
    </div>

    <!-- Slider -->
    <div class="row">
      <div class="col-md-12">
        <span class="pull-left w-10 text-center">
          <i class="fa fa-thumbs-o-down fa-size-50" aria-hidden="true"></i>
          <p class="mt-3 fw-500">{{ item.negative }}</p>
        </span>
        <span class="pull-left w-80 text-center">
            <mat-slider thumbLabel min="1" max="10" step="1" tickInterval="1" class="w-100"></mat-slider>
          </span>
        <span class="pull-right w-10 text-center">
          <i class="fa fa-thumbs-o-up fa-size-50" aria-hidden="true"></i>
          <p class="mt-3 fw-500">{{ item.positive }}</p>
        </span>
      </div>
    </div>

    <div class="row">
      <!-- Botão -->
      <div class="col-md-12 text-center mt-5">
        <button 
          type="button" class="btn btn-primary" 
          (click)="goNext()" [ngStyle]="{'color': item.mainButton.color, 'background-color': item.mainButton.background}"
        >
          {{ item.mainButton.text }}
        </button>
      </div>
    </div>
  </div>
</div>
