::ng-deep .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label { background-color: #9c27b0; }
::ng-deep .mat-accent .mat-slider-track-fill { background-color: #9c27b0; }

.fa-size-50 { font-size: 50px !important; color: #3b3b3b; }

.btn-primary { font-size: 1em; padding: 10px 30px; }

.btn-xs, .btn-group-xs > .btn { padding: 1px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-lg, .btn-group-lg > .btn { padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 6px; }

.btn-color { background: #8eb95e; color: #FFF; cursor: pointer; }
.btn-color:hover { background: #96ca5b; }
