<div class="col-md-3">
  <div class="card">
    <div class="card-content p-3">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr class="bg-grey">
            <th class="border-table">Cenários</th>
          </tr>
          <tr>
            <td class="text-left">
              <a href="" class="no-link">Cenário 1 </a>
              <a class="pull-right icon-del ml-4" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'"><i class="fa fa-trash"></i></a>
              <small class="pull-right fs-8 fc-gray-light">* Salvo em: 10/04/2018</small>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a href="" class="no-link">Cenário 2 </a>
              <a class="pull-right icon-del ml-4" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'"><i class="fa fa-trash"></i></a>
              <small class="pull-right fs-8 fc-gray-light">* Salvo em: 12/04/2018</small>
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a href="" class="no-link">Cenário 3 </a>
              <a class="pull-right icon-del ml-4" matTooltip="Excluir Cenário" [matTooltipPosition]="'left'"><i class="fa fa-trash"></i></a>
              <small class="pull-right fs-8 fc-gray-light">* Salvo em: 16/04/2018</small>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
