<button type="button" class="{{btnClass}}" (click)="openDialog()">
    <span *ngIf="type == 'image'">
        <i class="fa fa-image mr-4"></i> {{btnTitle}}
    </span>
    <span *ngIf="type != 'image'">
        <i class="fa fa-file-o mr-4"></i> {{btnTitle}}
    </span>
</button>
