.m-conc-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.m-conc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#conclusion-btn {
    padding: 12px 30px;
}

#image-container {
    height: 120px;
}

#image-container img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

#feedback-container {
    height: 54px;
}

#feedback-container p {
    font-size: 16px;
}

.logo-animation {
    animation-name: logoAnim;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-duration: 800ms;
    animation-delay: 300ms;
}

.list-inline {
  display: flex;
  justify-content: center;
}

.list-inline li {
  margin:  0 10px;
}

.fs-50 {
  font-size: 50px;
}

@keyframes logoAnim {
    from{
      transform: rotate(-360deg) scale(0);
    }
    70%{
      transform: rotate(0) scale(1.5);
    }
    to{
      transform: rotate(0) scale(1);
    }
  }

/* after click conclusion */
.after-conclusion {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 15px;
    right: 15px;
}

.after-conclusion button {
    background: transparent;
    border: 0;
    outline: none;
    padding: 10px;
    font-weight: 600;
}
