<div class="card-content" [ngStyle]="{'color': item.textColor, 'background-color': item.background}" style="height: calc(100vh - 163px);">
  <div class="row">
    <div class="col-md-12 text-center m-conc-container">
        <div class="text-center m-conc">

          <div *ngIf="item.feedback === 'feedback'">
            <div class="text-center" id="image-container">
              <img class="logo-animation" src="./assets/img/clientes/smartfit/logo_smart.svg" *ngIf="loggedUser.client_id === '20'" />
              <img class="logo-animation" src="./assets/img/clientes/bioritmo/logo.svg" *ngIf="loggedUser.client_id === '23'" />
            </div>

            <h3 class="my-4 animated" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size}"
            [ngClass]="item.title_animation">{{ item.title.text }}</h3>

            <div id="feedback-container" *ngIf="loading"></div>
            <div id="feedback-container" *ngIf="!loading">
              <ul class="unstyled-list list-inline" @icons>
                <li @icon *ngFor="let seq of sequence">
                  <i id="conclusion-icon" class="material-icons fs-50 text-warning" *ngIf="seq">check_circle</i>
                  <i id="conclusion-icon" class="material-icons fs-50 text-danger" *ngIf="!seq">cancel</i>
                </li>
              </ul>
            </div>

            <p class="my-4 animated" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size}" [ngClass]="item.text_animation">
              Você acertou <b>{{ performance }}%</b> das questões
            </p>
          </div>

          <div *ngIf="!item.feedback">
            <i id="conclusion-icon" class="material-icons fs-60 animated" [ngStyle]="{'color': item.featureColor}"
            [ngClass]="item.icon_animation">check_circle
            </i>

            <h3 class="my-4 animated" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size}"
            [ngClass]="item.title_animation">{{ item.title.text }}</h3>

            <p class="my-4 animated" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size}" [ngClass]="item.text_animation">
              {{ item.text.text }}
            </p>
          </div>

          <div *ngIf="item.feedback === 'icon'">
            <i id="conclusion-icon" class="material-icons fs-60 animated" [ngStyle]="{'color': item.featureColor}"
            [ngClass]="item.icon_animation">check_circle
            </i>

            <h3 class="my-4 animated" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size}"
            [ngClass]="item.title_animation">{{ item.title.text }}</h3>

            <p class="my-4 animated" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size}" [ngClass]="item.text_animation">
              {{ item.text.text }}
            </p>
          </div>

          <div *ngIf="item.feedback === 'badge'">
            <div class="text-center" id="image-container" *ngIf="!badge">
              <div style="height: 140px"></div>
            </div>

            <div class="text-center" id="image-container" *ngIf="badge">
              <img class="logo-animation" [src]="badge" />
            </div>

            <h3 class="my-4 animated" [ngStyle]="{'text-align': item.title.align, 'font-size.px': item.title.size}"
            [ngClass]="item.title_animation">{{ item.title.text }}</h3>

            <p class="my-4 animated" [ngStyle]="{'text-align': item.text.align, 'font-size.px': item.text.size}" [ngClass]="item.text_animation">
              {{ item.text.text }}
            </p>
          </div>

          <div class="text-center">
            <button
              type="button" class="btn btn-primary"
              [ngStyle]="{'background': item.featureColor}"
              (click)="onDone()"
              [ngClass]="item.button_animation">
              {{ item.button }}
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
