<h4 mat-dialog-title>O que você achou deste Curso?</h4>
<div mat-dialog-content>
  <app-mini-visualizador-modal-rating-star [maxScore]="5"  [forDisplay]="false" (rateChanged)="onRateChange($event)"></app-mini-visualizador-modal-rating-star>
  
</div>
<div mat-dialog-actions class="text-center">
  <button class="btn btn-primary col-md-5 mr-1" mat-button (click)="onNoClick()">Agora Não</button>
  <button class="btn btn-primary col-md-5" mat-button cdkFocusInitial (click)="save()">Avaliar</button>
</div>
