.star-rating {
    margin: 15px 0;
    text-align: center;
}
  
.star-rating p {
    margin-top: 10px;
}

.no-selected-start {
    color: #ccc;
    font-size: 1.6em !important;
    margin-left: 5px;
}

.selected-start  {
    color: #f4ac1e;
    font-size: 1.6em !important;
    margin-left: 5px;
}

.mat-dialog-title { text-align: center; }

.mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}

.mat-dialog-actions button {
    background: transparent;
    border: 0;
    color: #f4ac1e;
    outline: none;
    padding: 10px;
    font-weight: 600;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.9) !important;
}
  
::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1 !important;
}