<!-- Carregamento do Título -->
<div class="row">
  <div class="col-12">
    <h1 class="title-question text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
  </div>
</div>

<!-- Carregamento de Imagem -->
<div class="row">
  <div class="col-12 text-center">
    <div>
      <a><img src="http://partiupelomundo.com/wp-content/uploads/2016/03/Rendas-artesanato-nordeste-e1459308564551.jpg" class="img-responsive"></a>
    </div>
  </div>
</div>

<!--Carregamento de Vídeo (Vimeo/YouTube)-->
<div class="row">
  <div class="col-12">
    <!-- 16:9 aspect ratio-->
    <div class="embed-responsive embed-responsive-16by9 mb-4">
      <iframe class="embed-responsive-item" width="100%" height="500" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<!-- Carregamento do Radio Button (Sim/Não) -->
<div class="row">
  <div class="col-12 text-center">
    <mat-radio-group>
      <mat-radio-button value="1" ng-style="{'display':'inline'}">Sim</mat-radio-button>
      <mat-radio-button value="2" ng-style="{'display':'inline'}">Não</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
