
<div class="flex-box flex-column minh-vh-70">
  <p [ngStyle]="{'text-align': item.title.align, 'width.%': '100'}"><strong class="p-5">{{ item.title.text }}</strong></p>

  <div class="mb-6 border rounded minw-90 bg-white w-100 mb-4" *ngFor="let line of item.lines; let i = index;">
    <div class="px-4 py-5 text-center">
      <p><strong>{{ line.title }}</strong></p>
      <div class="radio d-inline-block mx-4">
        <label class="radio-true" [ngClass]="{'radio-checked':(line.selected == 'sim')?true:false, 'radio-disabled':sended}"><input type="radio" name="option_{{i}}" [(ngModel)]="line.selected" value="sim">Certo</label>
      </div>

      <div class="radio d-inline-block mx-4">
        <label class="radio-false" [ngClass]="{'radio-checked':(line.selected == 'nao')?true:false, 'radio-disabled':sended}"><input type="radio" name="option_{{i}}" [(ngModel)]="line.selected" value="nao">Errado</label>
      </div>
    </div>

    <div *ngIf="sended">
      <div class="border-top w-100 p-2 bg-green-opt pos-bottom" *ngIf="(line.selected === 'sim' && line.correct) || (!line.correct && line.selected === 'nao')">
        <span class="text-left fc-green-dark-2">
          <span *ngIf="item.feedback === 'BYQUESTION'"><i class="fa fa-check mx-2"></i> <em>{{ line.feedback }}</em></span>
          <span *ngIf="item.feedback === 'GENERAL'"><i class="fa fa-check mx-2"></i> <em>{{ item.feedbackMessage }}</em></span>
        </span>
      </div>

      <div class="border-top w-100 p-2 bg-red-opt pos-bottom" *ngIf="(line.selected === 'sim' && !line.correct) || (line.correct && line.selected === 'nao')">
        <span class="text-left fc-red-dark-2">
          <span *ngIf="item.feedback === 'BYQUESTION'"><i class="fa fa-close mx-2"></i> <em>{{ line.feedback }}</em></span>
          <span *ngIf="item.feedback === 'GENERAL'"><i class="fa fa-close mx-2"></i> <em>{{ item.feedbackMessage }}</em></span>
        </span>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="!sended">
    <div class="col-12 text-center mb-4">
        <button class="btn btn-primary" (click)="onSubmit()">Checar Opções</button>
    </div>
  </div>

    <div class="row" *ngIf="sended">
      <div class="col-12 text-center mb-4">
        <button type="button" class="btn btn-primary" (click)="goNext()" >Próximo</button>
      </div>
    </div>
</div>
