.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos-bottom{
  position: relative;
  bottom: 0px;
}

.d-inline-block {display: inline-block;}

.radio label {
    color: #333;
}

input[type="radio"] {
  display: none;
}

.bg-green-opt{
  background-color: rgb(185, 247, 185) !important;
}

.bg-red-opt{
  background-color: rgb(247, 189, 185) !important;
}

.radio-false {
  background-color: rgb(247, 189, 185);
  border-radius: 5px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.radio-true {
  background-color: rgb(185, 247, 185);
  border-radius: 5px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.radio-checked {
  border: 2px solid rgb(135, 171, 248)
}

.radio-disabled {
  pointer-events: none;
  background-color: rgb(223, 223, 223);
  cursor: not-allowed;
}