<div class="row">
  <ng-container *ngFor="let field of config;" [config]="field" [data]="[]"
                appDynamicConfigBox="appDynamicConfigBox" (changed)="dataChanged($event)"
                (detailItem)="goToNextStep($event)">
  </ng-container>
</div>
