<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-content p-4">
        <!-- Atenção:
          ******* Remover este comentário a includar a ferramenta sales-channel do editor de curso. *******
        <div class="row">
          <div class="col-md-12">
            <mat-horizontal-stepper #stepper="matHorizontalStepper" class="px-0">
              <mat-step *ngFor="let group of groups; let i = index">
                <form>
                  <ng-template matStepLabel>{{group.name}}</ng-template>
                      <h4 class="fw-500 my-5">{{group.name}}</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <tr class="bg-grey">
                            <th class="border-tabl">Critérios</th>
                            <th class="border-table">Sim</th>
                            <th class="border-table">Não</th>
                          </tr>

                          <tr *ngFor="let pergunta of group.perguntas; let x = index">
                            <td class="text-left">{{ pergunta }}</td>
                            <td class="w-10 text-center">
                              <div class="radio ml-3 mt-3">
                                <label><input type="radio" name="item{{ x + 1 }}"></label>
                              </div>
                            </td>
                            <td class="w-10 text-center">
                              <div class="radio ml-3 mt-3">
                                <label><input type="radio" name="item{{ x + 1 }}"></label>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                  <div>
                    <button class="btn btn-rose pull-right my-5" mat-button matStepperNext>Próximo</button>
                  </div>
                </form>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Finalizado</ng-template>
                  <h2 class="text-center mt-5">Parabéns!</h2>
                  <p class="text-center">Você concluiu todos os grupos de perguntas com sucesso!</p>
                  <p class="text-center">Para ver o relatório <a data-toggle="tab" href="#tab3"><strong>clique aqui</strong></a></p>
                <div class="text-center my-5">
                  <button mat-button class="btn btn-rose">Salvar</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>

        </div>
        -->
      </div>
    </div>
  </div>

  <!-- Instruções Gerais -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-content p-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr class="bg-grey">
              <th class="border-table" colspan="2">Instruções</th>
            </tr>
            <tr>
              <td>1</td>
              <td class="text-left">Responda "Sim" ou "Não" de cada uma das perguntas no painel ao lado.</td>
            </tr>
            <tr>
              <td>2</td>
              <td class="text-left">Ao responder todas as perguntas do 1 grupo de questões clique no botão próximo para mudar grupo de questão e repita o passo 1.</td>
            </tr>
            <tr>
              <td>3</td>
              <td class="text-left">Ao responder todos os grupos de questões clique no botão salvar no ultimo grupo de questões.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
