    /*
    Flaticon icon font: Flaticon
    Creation date: 01/03/2018 17:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./icons.eot");
  src: url("./icons.eot?#iefix") format("embedded-opentype"),
       url("./icons.woff") format("woff"),
       url("./icons.ttf") format("truetype"),
       url("./icons.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./icons.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .pricing-cube:before { content: "\f100"; }
.pricing-coin:before { content: "\f101"; }
.pricing-percent:before { content: "\f102"; }
.pricing-calculator:before { content: "\f103"; }
.pricing-tabs:before { content: "\f104"; }
.pricing-internet:before { content: "\f105"; }
.pricing-calendar:before { content: "\f106"; }
.pricing-info:before { content: "\f107"; }
.pricing-list:before { content: "\f108"; }
.pricing-edit-1:before { content: "\f109"; }
.pricing-graph:before { content: "\f10a"; }
.pricing-filter:before { content: "\f10b"; }
.pricing-home:before { content: "\f10c"; }
.pricing-budget:before { content: "\f10d"; }
.pricing-shipped:before { content: "\f10e"; }
.pricing-close:before { content: "\f10f"; }
.pricing-squares:before { content: "\f110"; }
.pricing-bars:before { content: "\f111"; }
.pricing-package:before { content: "\f112"; }
.pricing-box:before { content: "\f113"; }
.pricing-pencil:before { content: "\f114"; }
.pricing-wrench:before { content: "\f115"; }
.pricing-invoice:before { content: "\f116"; }
.pricing-trash:before { content: "\f117"; }
.pricing-left-arrow:before { content: "\f118"; }
.pricing-plus-symbol:before { content: "\f119"; }
.pricing-sharing-big-symbol:before { content: "\f11a"; }
.pricing-check:before { content: "\f11b"; }
.pricing-open-cardboard-box:before { content: "\f11c"; }
.pricing-clock:before { content: "\f11d"; }
.pricing-calc:before { content: "\f11e"; }
.pricing-down-arrow:before { content: "\f11f"; }
.pricing-right-arrow:before { content: "\f120"; }
.pricing-edit:before { content: "\f121"; }
.pricing-money:before { content: "\f122"; }
.pricing-logout:before { content: "\f123"; }
.pricing-magnifying-glass:before { content: "\f124"; }
.pricing-checked:before { content: "\f125"; }
.pricing-email:before { content: "\f126"; }
.pricing-medical-result:before { content: "\f127"; }
.pricing-profile-1:before { content: "\f128"; }
.pricing-profile:before { content: "\f129"; }
.pricing-locked:before { content: "\f12a"; }
.pricing-school:before { content: "\f12b"; }
.pricing-menu-button:before { content: "\f12c"; }
    
    $font-pricing-cube: "\f100";
    $font-pricing-coin: "\f101";
    $font-pricing-percent: "\f102";
    $font-pricing-calculator: "\f103";
    $font-pricing-tabs: "\f104";
    $font-pricing-internet: "\f105";
    $font-pricing-calendar: "\f106";
    $font-pricing-info: "\f107";
    $font-pricing-list: "\f108";
    $font-pricing-edit-1: "\f109";
    $font-pricing-graph: "\f10a";
    $font-pricing-filter: "\f10b";
    $font-pricing-home: "\f10c";
    $font-pricing-budget: "\f10d";
    $font-pricing-shipped: "\f10e";
    $font-pricing-close: "\f10f";
    $font-pricing-squares: "\f110";
    $font-pricing-bars: "\f111";
    $font-pricing-package: "\f112";
    $font-pricing-box: "\f113";
    $font-pricing-pencil: "\f114";
    $font-pricing-wrench: "\f115";
    $font-pricing-invoice: "\f116";
    $font-pricing-trash: "\f117";
    $font-pricing-left-arrow: "\f118";
    $font-pricing-plus-symbol: "\f119";
    $font-pricing-sharing-big-symbol: "\f11a";
    $font-pricing-check: "\f11b";
    $font-pricing-open-cardboard-box: "\f11c";
    $font-pricing-clock: "\f11d";
    $font-pricing-calc: "\f11e";
    $font-pricing-down-arrow: "\f11f";
    $font-pricing-right-arrow: "\f120";
    $font-pricing-edit: "\f121";
    $font-pricing-money: "\f122";
    $font-pricing-logout: "\f123";
    $font-pricing-magnifying-glass: "\f124";
    $font-pricing-checked: "\f125";
    $font-pricing-email: "\f126";
    $font-pricing-medical-result: "\f127";
    $font-pricing-profile-1: "\f128";
    $font-pricing-profile: "\f129";
    $font-pricing-locked: "\f12a";
    $font-pricing-school: "\f12b";
    $font-pricing-menu-button: "\f12c";