	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/03/2018 17:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./icons.eot");
  src: url("./icons.eot?#iefix") format("embedded-opentype"),
       url("./icons.woff") format("woff"),
       url("./icons.ttf") format("truetype"),
       url("./icons.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./icons.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-cube:before { content: "\f100"; }
.flaticon-coin:before { content: "\f101"; }
.flaticon-percent:before { content: "\f102"; }
.flaticon-calculator:before { content: "\f103"; }
.flaticon-tabs:before { content: "\f104"; }
.flaticon-internet:before { content: "\f105"; }
.flaticon-calendar:before { content: "\f106"; }
.flaticon-info:before { content: "\f107"; }
.flaticon-list:before { content: "\f108"; }
.flaticon-edit-1:before { content: "\f109"; }
.flaticon-graph:before { content: "\f10a"; }
.flaticon-filter:before { content: "\f10b"; }
.flaticon-home:before { content: "\f10c"; }
.flaticon-budget:before { content: "\f10d"; }
.flaticon-shipped:before { content: "\f10e"; }
.flaticon-close:before { content: "\f10f"; }
.flaticon-squares:before { content: "\f110"; }
.flaticon-bars:before { content: "\f111"; }
.flaticon-package:before { content: "\f112"; }
.flaticon-box:before { content: "\f113"; }
.flaticon-pencil:before { content: "\f114"; }
.flaticon-wrench:before { content: "\f115"; }
.flaticon-invoice:before { content: "\f116"; }
.flaticon-trash:before { content: "\f117"; }
.flaticon-left-arrow:before { content: "\f118"; }
.flaticon-plus-symbol:before { content: "\f119"; }
.flaticon-sharing-big-symbol:before { content: "\f11a"; }
.flaticon-check:before { content: "\f11b"; }
.flaticon-open-cardboard-box:before { content: "\f11c"; }
.flaticon-clock:before { content: "\f11d"; }
.flaticon-calc:before { content: "\f11e"; }
.flaticon-down-arrow:before { content: "\f11f"; }
.flaticon-right-arrow:before { content: "\f120"; }
.flaticon-edit:before { content: "\f121"; }
.flaticon-money:before { content: "\f122"; }
.flaticon-logout:before { content: "\f123"; }
.flaticon-magnifying-glass:before { content: "\f124"; }
.flaticon-checked:before { content: "\f125"; }
.flaticon-email:before { content: "\f126"; }
.flaticon-medical-result:before { content: "\f127"; }
.flaticon-profile-1:before { content: "\f128"; }
.flaticon-profile:before { content: "\f129"; }
.flaticon-locked:before { content: "\f12a"; }
.flaticon-school:before { content: "\f12b"; }
.flaticon-menu-button:before { content: "\f12c"; }