<div class="row">
  <div class="col-md-12">
    <mat-horizontal-stepper #stepper="matHorizontalStepper" class="px-0">
      <mat-step *ngFor="let group of groups; let i = index">
        <form>
          <ng-template matStepLabel>{{group.name}}</ng-template>
              <h4 class="fw-500 my-5">{{group.name}}</h4>
              <div class="table-responsive">
                <table class="table">
                  <tr class="bg-grey">
                    <th class="border-tabl">{{ 'Criterion' | translate }}</th>
                    <th class="border-table">{{ 'Yes' | translate }}</th>
                    <th class="border-table">{{ 'No' | translate }}</th>
                  </tr>

                  <tr *ngFor="let pergunta of group.perguntas; let x = index">
                    <td class="text-left">{{ pergunta }}</td>
                    <td class="w-10 text-center">
                      <div class="radio ml-3 mt-3">
                        <label><input type="radio" name="item{{ x + 1 }}"></label>
                      </div>
                    </td>
                    <td class="w-10 text-center">
                      <div class="radio ml-3 mt-3">
                        <label><input type="radio" name="item{{ x + 1 }}"></label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
          <div>
            <button class="btn btn-rose pull-right my-5" mat-button matStepperNext>{{ 'Next' | translate }}</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ 'Conclude' | translate }}</ng-template>
          <h2 class="text-center mt-5">{{ 'Congratulations' | translate }}!</h2>
          <p class="text-center">{{ 'YouSuccessfullyCompleted' | translate }}!</p>
          <p class="text-center">{{ 'ToViewReport' | translate }} <a data-toggle="tab" href="#tab3"><strong>{{ 'ClickHere' | translate }}</strong></a></p>
        <div class="text-center my-5">
          <button mat-button class="btn btn-rose">{{ 'Save' | translate }}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
