/* Cards
=================================================================*/
.card-header{ padding: 15px 15px 10px 15px !important; }
.card-header-text{ width: 96%; margin-left: 2%; margin-right: 2%; font-size: 0.8em !important;}

/* Form
===============================================================*/
.form-group { margin: 19px 0 0 0; }
.form-group.is-focused.form-focus .form-control {
  background-image: linear-gradient(#d60d47, #d60d47), linear-gradient(#D2D2D2, #D2D2D2);}

.form-group.label-floating label.control-label,
.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label { top: -22px; font-size: 1em; line-height: 1.42857143; }

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label { top: -28px; left: 0; font-size: 11px; line-height: 1.07142857; }

.form-group.label-floating input.form-control:-webkit-autofill ~ label.control-label label.control-label {
  top: -28px; left: 0; font-size: 11px; line-height: 1.07142857; }

/* Radio Button */
::ng-deep .radio input[type="radio"]:checked ~ .check { background-color: #d60d47; }
::ng-deep .radio input[type=radio]:checked ~ .circle { border-color: #d60d47; }
::ng-deep .radio label .circle { border: 1px solid rgba(0,0,0, .54); }
::ng-deep .radio label input[type=radio]:not(:checked) ~ .check:after { -webkit-animation: rippleOff 500ms; animation: rippleOff 500ms; }
::ng-deep .radio label .check:after { background-color: rgba(233,30,99, 0.5); }

/* Stepper */
::ng-deep .mat-horizontal-stepper-header { height: 40px !important; padding: 0px 24px 0px 0px !important;}
::ng-deep .mat-step-header .mat-step-icon { background-color: #e91e63; color: #fff; }
::ng-deep .mat-stepper-horizontal-line { margin: 5px !important; min-width: 15px !important; }
::ng-deep .mat-horizontal-content-container { overflow: hidden; padding: 0px !important; }

/*Larguras - Width Tables
===============================================================*/
.w-2 { width: 2%; }
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-45 { width: 45%; }
.w-58 { width: 58%; }

/*Tabelas - Tables
===============================================================*/
.table th, .table tr { text-align: center; }
.table tr td .btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 0px;
    margin: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
