
<div class="messenger">

  <div class="card">
    <div class="card-content">
      <div class="card-header">
        <div class="card-title">
          <img src="assets/img/sergio.jpg" class="avatar" alt="">
          <span class="status online"><i class="fa fa-circle"></i></span>
          <div class="username">Sérgio Borges</div>
          <button type="button" class="close"  routerLink="/messenger">
            <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="chat">
          <div class="chat-conversation">
            <div class="chat-date">
              <span>2 DE JAN DE 2019</span>
            </div>
            <div class="yours messages">
              <div class="message">
                E aí jovem?
                <div class="hour">14:10</div>
              </div>
              <div class="message last">
                Tudo bem contigo?
                <div class="hour">14:10</div>
              </div>
            </div>
            <div class="mine messages">
              <div class="message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis augue orci, non fermentum sem vulputate et. Nulla sollicitudin feugiat efficitur. Vestibulum congue dui in efficitur scelerisque. Phasellus non diam vitae justo euismod laoreet eget maximus purus. Maecenas dui nibh, lacinia pulvinar congue nec, gravida sed orci. Fusce nibh sem, semper ut eros ut, suscipit accumsan orci. Nulla volutpat tincidunt libero ut rutrum. Mauris convallis felis vitae dui mattis aliquam. Curabitur condimentum purus felis, a tempor nisl congue nec. Aliquam diam nulla, porttitor nec tristique quis, hendrerit vitae arcu. Etiam lorem metus, convallis ut ipsum eget, hendrerit egestas tortor.!
                <div class="hour">14:13</div>
              </div>
              <div class="message last">
                E vc?!?
                <div class="hour">14:13</div>
               </div>
            </div>
          </div>
          <div class="chat-conversation">
            <div class="chat-date">
              <span>Hoje</span>
            </div>
            <div class="mine messages">
              <div class="message">
                Ola!
                <div class="hour">15:48</div>
              </div>
              <div class="message last">
                Pode madar aquela imagem?
                <div class="hour">15:49</div>
               </div>
            </div>
            <div class="yours messages">
              <div class="message">
                <img src="assets/img/a.jpg" alt="">
                <div class="hour">16:02</div>
              </div>
              <div class="message last">
                De boa?
                <div class="hour">16:02</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group input-group-sm">
          <div class="input-group-preppend">
            <div class="input-group-append">
              <i class="fa fa-paperclip"></i>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Digite uma mensagem" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <i class="fa fa-send"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
