<div class="wrapper">
  <div class="sidebar" data-active-color="purple" data-background-color="black">
    <app-precificacao-sidebar></app-precificacao-sidebar>
    <!-- <div class="sidebar-background" style="background-image: url(assets/img/clientes/asta/background-sidebar.png)"></div> -->
  </div>
  <div class="main-panel">
    <app-precificacao-navbar></app-precificacao-navbar>
    <app-viewer-precification></app-viewer-precification>
  </div>
</div>
