@import "../../@core/fonts/icons.css";

/* ====================== RESETS ====================== */

a { cursor: pointer; }

.fw-md { font-weight: 500; }

.h-160 { min-height: 160px; }

.text-rose { color: #e91e63; }

/* ====================== BTN FIXED ====================== */

.btn_fixed { position: fixed; bottom: 20px; right: 20px; border: 0; width: 60px; height: 60px; display: flex; text-align: center; padding: 0; background: #e91e63; border-radius: 50%; color: #fff; text-transform: uppercase; }

.btn_fixed .btn_fixed__i::before { align-items: center; font-size: 1.5em; }

/* ====================== PRODUCTS LIST ====================== */

.items-list { background: #fff; padding: 10px; border-bottom: 1px solid #e8e8e8; }

.items-list .title { font-weight: 500; }

.items-list .cod { color: #999; }

/* ====================== BTN ACTION ====================== */

.btn-action { margin: 10px 0; padding: 0; }

.btn-action li { display: inline-block; margin: 0; padding: 0; }

.btn-action li a { color: #686868; }

.btn-action li a i::before { font-size: 0.9em; }

/* ====================== MATERIAL RESETS ====================== */

::ng-deep .mat-option:hover, .mat-option.mat-selected { background-color: #E91E63 !important; }

::ng-deep .mat-focused .mat-input-placeholder { color: #E91E63 !important; }

::ng-deep .mat-focused .mat-input-ripple { background-color: #E91E63 !important; }

::ng-deep .cdk-focused { background: #E91E63; color: #fff; }

::ng-deep mat-step-header .mat-step-icon { display: none; }

::ng-deep mat-step-header .mat-step-icon-not-touched { display: none; }

::ng-deep .mat-stepper-horizontal-line { display: none; }

/* ====================== FORMS ====================== */

.form-new-product h3 { color: #E91E63; font-weight: 500; }

.form-new-product p { font-style: italic; font-weight: 500; }

.form-new-product .input-box label { border: 1px solid #97989c; padding: 40px; width: 100%; text-align: center; text-transform: uppercase; font-weight: 400; border-radius: 3px; cursor: pointer; }

.form-new-product .input-box-input { display: none; }

/* ====================== MODAL ====================== */

.modal_content { width: 100%; overflow-y: auto; overflow-x: hidden; min-height: 200px; max-height: 90vh; padding: 0; margin: 0; }

.modal_content h4, .modal_content h5 { font-weight: 500; }

/* ====================== TABELAS ====================== */

.table th { font-size: 14px; font-weight: 500; }

/* ====================== STEPPERS ====================== */

.steppers { width: 100%; background: #4e4e4e; }

.steppers li { display: inline-block; }

.steppers li a { padding: 10px 15px; background: #4e4e4e; box-shadow: none; color: #fff; outline: none; font-size: 1em; text-align: center; text-transform: uppercase; }

.steppers li a.actived { background: #E91E63; color: #fff; }


/* ====================== MENU-TOP ====================== */

.menu-top { margin: 0; padding: 0; background: #f6f6f6; }

.menu-top ul { width: 100%; }

.menu-top li { display: inline-block; margin-left: 15px; }

.menu-top li a { color: #4a4a4a; cursor: pointer; }

.menu-top li a:hover, .menu-top li a:focus { color: #e91e63; }

.bg-grey { background: #f6f6f6; }

.variables { margin-top: 10px; font-size: 1.2em; border-top: 1px solid #80828e; display: flex; justify-content: space-between; padding: 20px 10px; text-transform: uppercase; font-weight: 600; }

.variables a { justify-content: flex-end; background: transparent; border: 0; color: #aaa; width: 40px; margin-left: 5px; margin-top: 0; }

.variables a i::before { font-size: 1.6em; margin-left: 0px; }
