<div class="row">
  <div class="card-content">
    <form>
      <div *ngIf="item.questions.length < 2">
        <div *ngFor="let question of item.questions; let i = index;">
          <fieldset [disabled]="question.sended">
            <!-- Título -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="d-flex flex-wrap justify-content-center">
                  <h1 class="title-question text-center">{{question.title}}</h1>
                </div>
              </div>
            </div>

            <!-- Bloco de Imagens -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                <div class="d-flex flex-wrap justify-content-center">
                  <div *ngFor="let option of question.options; let j = index" class="multiple-questions">
                    <label class="pulse">
                      <input type="radio" name="option_{{i}}" (change)="storeAnswer(question, option)" />
                      <span>
                        <img src="{{ option.image }}" alt="" class="img-responsive fit-cover">
                        <div class="text">{{ option.text }}</div>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="col-sm-12" *ngIf="question.sended">
            <div class="alert alert-success mt-5 mb-5" *ngIf="question.correct">
              <i class="material-icons"></i> Resposta Correta
            </div>

            <div class="alert alert-danger mt-5 mb-5" *ngIf="!question.correct">
              <i class="material-icons"></i> Resposta Incorreta
            </div>
          </div>

          <div class="card-footer text-center mt-4">
            <button mat-button class="btn btn-rose" (click)="verify(question)" *ngIf="!question.sended">Verificar Questões</button>
          </div>
        </div>
      </div>
      <mat-horizontal-stepper linear *ngIf="item.questions.length > 1">
        <mat-step *ngFor="let question of item.questions; let i = index;" [stepControl]="'step-' + i" [label]="'Questão ' + (i + 1)">
          <fieldset [disabled]="question.sended">

            <!-- Título -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="d-flex flex-wrap justify-content-center">
                  <h1 class="title-question text-center">{{question.title}}</h1>
                </div>
              </div>
            </div>

            <!-- Bloco de Imagens -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                <div class="d-flex flex-wrap justify-content-center">
                  <div *ngFor="let option of question.options; let j = index" class="multiple-questions">
                    <label class="pulse">
                      <input type="radio" name="option_{{i}}" (change)="storeAnswer(question, option)" />
                      <span>
                        <img src="{{ option.image }}" alt="" class="img-responsive fit-cover">
                        <div class="text">{{ option.text }}</div>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="col-sm-12" *ngIf="question.sended">
            <div class="alert alert-success mt-5 mb-5" *ngIf="question.correct">
              <i class="material-icons"></i> Resposta Correta
            </div>

            <div class="alert alert-danger mt-5 mb-5" *ngIf="!question.correct">
              <i class="material-icons"></i> Resposta Incorreta
            </div>
          </div>

          <div class="card-footer text-center mt-4">
            <button mat-button class="btn btn-rose" (click)="verify(question)" *ngIf="!question.sended">Verificar Questões</button>
            <button mat-button matStepperNext class="btn btn-rose" *ngIf="question.sended">Continuar</button>
          </div>

          <div class="row" *ngIf="question.sended && question.correct">
            <div class="col-12 text-center mb-4">
              <button type="button" class="btn btn-primary" (click)="goNext()" >Próximo</button>
            </div>
          </div>

        </mat-step>

      </mat-horizontal-stepper>
    </form>

  </div>
</div>
