/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

 :root {
    --app-logo: url(https://logodownload.org/wp-content/uploads/2014/09/google-logo-1.png);
    --bg-client: #fff !important;
    --primary-color: #d31244 !important;
    --primary-color-hover: #b7103a !important;
    --primary-box-shadow: rgba(233, 30, 99, .5) !important;
    --primary-outline-box-shadow: rgba(255 , 255 ,255 , .5) !important;
}
