<h3 class="container_vizualized__title">{{ produto.name }}</h3>
<div class="materials">    

    <form class="forms" [formGroup]="form">
        <div class="forms_title">
            <h3 class="forms_title__h3">Novo mão de obra</h3>
            <p class="forms_title__p">Preencha todos os campos abaixo.</p>
        </div>

        <div class="forms__radio">
            <h3 class="forms__radio__h3">Cálculo</h3>
            <span class="forms__radio__span">Como você prefere calcular a mão de obra desse produto?</span>        
            <mat-radio-group class="forms__radio__group" formControlName="checkbox">
                <mat-radio-button class="forms__radio__group__input" value="producao" (change)="checking($event.value)" checked>
                    Por tempo de produção
                </mat-radio-button>
                <mat-radio-button class="forms__radio__group__input" value="artesao" (change)="checking($event.value)">
                    Por valor pago por artesã
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="forms__box">
            <button (click)="openDialog()" type="button" class="forms__box__button" mat-raised-button>CONTINUAR <i class="forms__box__button__i flaticon-right-arrow"></i></button>
        </div>


        <button mat-fab type="button" class="btn_fixed"><i class="btn_fixed__i flaticon-right-arrow"></i></button>
    </form>

    <div class="materials__aside_box">
        <div class="materials__aside_box__fixed">
            editar valor mensal
            <button class="materials__aside_box__fixed__button"><i class="materials__aside_box__fixed__button__i flaticon-edit-1"></i></button>
        </div>

        <div *ngIf="calcMobra">
            <div class="materials__aside_box__title">
                <h3 class="materials__aside_box__title__h3">Cálculo de obra</h3>
                <p class="materials__aside_box__title__p">Itens adicionado a este cálculo de obra.</p>
                <div class="materials__aside_box__title__content">
                    <div class="materials__aside_box__title__content__duration">Duração: <strong>3 horas</strong></div>
                    <div class="materials__aside_box__title__content__value">Valor: <strong>R$300,00</strong></div>
                </div>
            </div>

            <div class="materials__aside_box__itens" *ngFor="let etapa of etapas">
                <div class="materials__aside_box__itens__product">
                    <p>{{ etapa.service }}</p>
                    <small><i class="flaticon-clock"></i> {{ etapa.time }} {{ etapa.type}}</small>
                </div>
                <div class="materials__aside_box__itens__actions">
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-edit-1"></i></button>
                    <button class="materials__aside_box__itens__actions__button"><i class="materials__aside_box__itens__actions__button__i flaticon-close"></i></button>
                </div>
            </div>

        </div>
    </div>

</div>