
.nav > li > a > .fa{ font-size: 14px;  margin:0 5px; }

.sidebar-wrapper { overflow-x: hidden; }

.icon-angle { float: left; color: #fff; margin: 0 20px; }

.icon { width: 34px; height: 34px; overflow: hidden; position: absolute; font-size: 24px; top: 2px; left: 23px; z-index: 5; color: #fff; text-align: center; }

.midia iframe, .midia video, .midia img{ width: 100%; height:  450px; frameborder: 0; }

.mb-50 { margin-bottom: 50px; }

.link-relatorios .material-icons { font-size: 22px; margin-top: -5px; }

/* sidebar style */
::ng-deep .sidebar[data-active-color="purple"] li.active > a {
  background-color: #394B55; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(57, 75, 85, 0.4); }

::ng-deep .icon-done { margin: 0; color: #5A7373 !important; }

/* Navbar style */
.navbar-back { float: right !important;  margin-right: 15px; margin-left: 15px;}

@media (min-width: 768px) {
    .full-width { width: 100% !important; }
}

.navbar-back { float: right !important;  margin-right: 15px; margin-left: 15px;}

