

<ul class="influencers-list" *ngIf="menuItems">
  <li *ngFor="let menuitem of menuItems" (click)="menuNavigate(menuitem)"
    style="cursor: not-allowed !important;pointer-events: none !important;opacity:0.6;">
    <a [class.active]="menuitem === current"></a>
  </li>
</ul>

  
  <!--div class="logo-normal text-center pt-4">
    <img src="assets/img/logo.png" class="w-75" alt="">
  </div>
 <div class="sidebar-wrapper">
  <div class="user">
    <div class="icon">
      <i class="material-icons">class</i>
    </div>
    <div class="info">
      <a class="collapsed">
        <span style="white-space: normal;">{{(menuItems) ? menuItems[0].title : null }}</span>
      </a>
    </div>
  </div>
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a><i class="fa fa-angle-left"></i> Anterior</a>
      </li>
      <li>
        <a>Próximo <i class="fa fa-angle-right"></i></a>
      </li>
      <li>
        <a [routerLink]="urlEscola"><i class="fa fa-close"></i></a>
      </li>
      <li class="separator hidden-lg hidden-md"></li>
    </ul>
  </div>
  <div class="nav-container">
    <ul class="nav" *ngIf="menuItems"-->
      <!--(click)="(menuitem.status == 1) ? menuNavigate(menuitem) : null"-->
      <!--li *ngFor="let menuitem of menuItems"
      (click)="menuNavigate(menuitem)"
      [ngStyle]="{cursor: 'pointer'}"
      [class.active]="menuitem === current">
      <a>
        <i class="material-icons" [ngClass]="(menuitem.status == 1) ? ['icon-done'] : ['']">
          {{(menuitem.status == 1) ? 'done' : 'fiber_manual_record'}}
        </i>
        <p style="white-space: normal; margin-left: 45px;">{{ menuitem.nome }}</p>
      </a>
      </li>
    </ul>
  </div>
</div-->
