<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="card">
            <div class="card-header card-header-text" data-background-color="rose">
              <div class="col-md-12">
                <h4 class="card-title">Produção de Mídia</h4>
              </div>
            </div>

            <div class="card-content">
              <mat-horizontal-stepper linear>
                <div *ngFor="let formGroup of formGroup; let i = index">
                  <mat-step [stepControl]="formGroup.name" editable="{{formGroup.editable}}" label="{{formGroup.label}}">
                    <form>
                      <div class="box mt-5">
                        <h1 class="tite-ask">{{formGroup.title}}</h1>
                        <ul class="box-list">
                          <li class="box-ask-border" *ngFor="let questao of formGroup.questao; let j = index">
                            <div class="box-label">
                              <img src="{{questao.img}}" alt="" class="box-img">
                              <label class="box-input">{{questao.opcao}}
                              <input type="radio" name="questao1" value="{{questao.opcao}}" (change)="radioChangeHandler($event)" [disabled]="objectDisabled">
                              <span class="checkmark"></span>
                            </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div *ngIf="contentVisible">
                        <div class="alert alert-success mt-5 mb-5" *ngIf="opcaoMarcada === formGroup.resposta">
                          <i class="material-icons"></i>Resposta Correta
                        </div>

                        <div class="alert alert-danger mt-5 mb-5" *ngIf="opcaoMarcada !== formGroup.resposta">
                          <i class="material-icons"></i>Resposta Incorreta
                        </div>
                      </div>

                      {{opcaoMarcada}}

                      <div class="card-footer">
                        <button mat-button matStepperNext class="btn btn-rose pull-left" *ngIf="!contentVisible">Pular</button>
                        <button class="btn btn-rose pull-right" *ngIf="!contentVisible" (click)="contentVisible = true && objectDisabled = true">Verificar</button>
                        <button mat-button matStepperNext class="btn btn-rose pull-right" *ngIf="contentVisible" (click)="contentVisible = false">Continuar</button>
                      </div>
                    </form>
                  </mat-step>
                </div>
              </mat-horizontal-stepper>

              <!--      Wizard container
              <div id="rootwizard">
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                      <ul>
                        <li><a href="#tab1" data-toggle="tab">Questão 1</a></li>
                        <li><a href="#tab2" data-toggle="tab">Questão 2</a></li>
                        <li><a href="#tab3" data-toggle="tab">Questão 3</a></li>
                        <li><a href="#tab4" data-toggle="tab">Questão 4</a></li>
                        <li><a href="#tab5" data-toggle="tab">Questão 5</a></li>
                        <li><a href="#tab6" data-toggle="tab">Questão 6</a></li>
                        <li><a href="#tab7" data-toggle="tab">Questão 7</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="bar" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div>
                <div class="tab-content">
                  <div class="tab-pane" id="tab1">
                    1
                  </div>
                  <div class="tab-pane" id="tab2">
                    2
                  </div>
                  <div class="tab-pane" id="tab3">
                    3
                  </div>
                  <div class="tab-pane" id="tab4">
                    4
                  </div>
                  <div class="tab-pane" id="tab5">
                    5
                  </div>
                  <div class="tab-pane" id="tab6">
                    6
                  </div>
                  <div class="tab-pane" id="tab7">
                    7
                  </div>
                  <ul class="pager wizard">
                    <li class="previous first" style="display:none;"><a href="#">First</a></li>
                    <li class="previous"><a href="#">Previous</a></li>
                    <li class="next last" style="display:none;"><a href="#">Last</a></li>
                    <li class="next"><a href="#">Next</a></li>
                  </ul>
                </div>
              </div>
              wizard container -->

            </div>

            <!--<div class="card-footer">
              <div class="pull-right mb-3">
                <a [routerLink]="['/smartfit-proposta']" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-rose">Salvar</button>
              </div>
            </div>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
