<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-content">
        <form class="forms" [formGroup]="form">
          <h4 class="mt-0 fw-md">Dados do pedido</h4>
          <p>Preencha todos os campos abaixo.</p>
          <div class="row">
            <div class="col-md-6 mb-4">
              <mat-form-field class="w-100">
                <input formControlName="name" matInput placeholder="Nome do cliente:">
              </mat-form-field>
            </div>
            <div class="col-md-6 mb-4">
              <mat-form-field class="w-100">
                <input formControlName="email" matInput placeholder="Email:">
              </mat-form-field>
            </div>
            <div class="col-md-12 mb-4">
              <mat-form-field class="w-100">
                <input formControlName="end" matInput placeholder="Endereço:">
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-4">
              <mat-form-field class="w-100">
                <input formControlName="uf" matInput placeholder="Estado:">
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-4">
              <mat-form-field class="w-100">
                <input formControlName="cidade" matInput placeholder="Cidade:">
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-4">
              <mat-form-field class="w-100">
                <input formControlName="bairro" matInput placeholder="Bairro:">
              </mat-form-field>
            </div>
            <div class="col-md-6 mb-4">

              <mat-form-field class="w-100">
                <input formControlName="telefone" matInput placeholder="Telefone:">
              </mat-form-field>

            </div>
            <div class="col-md-6 mb-4">
              <mat-form-field class="w-100">
                <input matInput formControlName="dt_entrega" [matDatepicker]="pedido" placeholder="Data de entrega:">
                <mat-datepicker-toggle matSuffix [for]="pedido"></mat-datepicker-toggle>
                <mat-datepicker #pedido></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
              <button *ngIf="new_register" (click)="register()" type="submit" class="btn btn-rose">Cadastrar</button>
              <button *ngIf="!new_register" (click)="update()" type="submit" class="btn btn-rose">Atualizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>







  <div class="row">
    <form class="forms" [formGroup]="form">
      <div class="forms_title">
          
      </div>

      <div class="col-lg-5 col-md-6">
       







        
        

      </div>
      
     
    </form>
  </div>
