<div class="row">
    <div class="col-12 col-sm-12">
        <i (click)="dialogRef.close();" class="fa fa-times fa-lg pull-right"></i>
    </div>
</div>
<asap-checkout-component [data]="data"></asap-checkout-component>