<div class="col-md-12 pl-2 pr-2">
  <p class="tool-name border-bottom pb-3">{{ 'Spreadsheet' | translate }}: {{ 'RightWrong' | translate }}</p>

  <div class="row mb-3">
    <!-- Nav tabs -->
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#cabecalho" aria-controls="cabecalho" role="tab" data-toggle="tab">
            {{ 'Settings' | translate }}
          </a>
        </li>
        <li role="presentation">
          <a href="#linhas" aria-controls="linhas" role="tab" data-toggle="tab">
            {{ 'Questions' | translate }}
          </a>
        </li>
      </ul>
    </div>

    <!-- Tab panels -->
    <div class="col-md-12">
      <div class="tab-content">
        <!-- Tab cabeçalho -->
        <div role="tabpanel" class="tab-pane fade in active" id="cabecalho">
          <form action="">
            <div class="box-group mt-3">
              <!-- Título da Coluna -->
              <div class="row">
                <div class="col-md-12 mb-3">
                  <p class="title-config av-1">{{ 'Title' | translate }}:</p>
                  <input name="title" type="text" class="w-100 mb-3 text" placeholder="{{ 'Column' | translate }} 1" [(ngModel)]="item.title.text">
                </div>
              </div>

              <!-- Alinhamento de Texto -->
              <div class="row">
                <div class="col-md-12 mb-3">
                  <p class="title-config av-1">{{ 'AlignText' | translate }}:</p>
                  <button (click)="setAlign(item.title, 'left')" [class.btn-primary]="item.title.align == 'left'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons">format_align_left</i>
                  </button>
                  <button (click)="setAlign(item.title, 'center')" [class.btn-primary]="item.title.align == 'center'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons">format_align_center</i>
                  </button>
                  <button (click)="setAlign(item.title, 'right')" [class.btn-primary]="item.title.align == 'right'" type="button" class="btn btn-custom btn-xs btn-default">
                    <i class="material-icons">format_align_right</i>
                  </button>
                </div>
              </div>

              <!-- Tipo de FeedBack -->
              <div class="row">
                <div class="col-md-12 mb-3">
                  <p class="title-config">{{ 'FeedBackType' | translate }}:</p>
                  <div class="wrapper-input">
                    <select name="size" class="w-100 text" [(ngModel)]="item.feedback">
                      <option value="GENERAL">{{ 'Generic' | translate }}</option>
                      <option value="BYQUESTION">{{ 'ByIssue' | translate }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Se a opção general selecionado -->
              <div class="row" *ngIf="item.feedback === 'GENERAL'">
                <div class="col-md-12">
                  <p class="title-config">{{ 'GeneralFeedback' | translate }}:</p>
                  <div class="wrapper-input mb-3">
                    <textarea name="feedback_text" type="text" class="w-100 text" placeholder="Resposta Padrão" [(ngModel)]="item.feedbackMessage"></textarea>
                  </div>
                </div>
              </div>

              <!-- Botão de Salvamento -->
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="divider mb-3"></div>
                  <button type="button" name="button" class="btn btn-primary btn-xs pull-right" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="linhas">
          <form action="">
            <div class="row mb-3">
              <div class="col-md-12" *ngFor="let line of item.lines; let i = index;">
                <a class="tool-name-subtitle fs-12 w-100 block mt-3" role="button" data-toggle="collapse" href="#linha{{i}}" aria-expanded="false" aria-controls="linha1">
                  - {{ 'Question' | translate }} {{ i+1 }}
                </a>
                <div class="collapse" id="linha{{i}}">
                  <div class="box-group mt-3">
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <p class="title-config av-1">{{ 'Title' | translate }}</p>
                        <input [(ngModel)]="line.title" name="line_{{i}}_title" class="w-100 text" placeholder="{{ 'Title' | translate }}">
                      </div>
                    </div>

                    <div class="row mb-3" *ngIf="item.feedback === 'BYQUESTION'">
                      <div class="col-md-12">
                        <p class="title-config av-1">{{ 'FeedBackThisQuestion' | translate }}</p>
                        <input [(ngModel)]="line.feedback" name="line_{{i}}_feedback" class="w-100 text" placeholder="Feedback">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                        <div class="checkbox">
                          <label class="fs-12">
                            <input name="line_{{i}}_correct" type="checkbox" [(ngModel)]="line.correct"> {{ 'ThisQuestionCorrect' | translate }}.
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                        <button class="btn btn-danger btn-xs pull-right" (click)="removeLine(i)">{{ 'DeleteLine' | translate }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-12">
                <div class="divider mb-3"></div>
                <button class="btn btn-default btn-sm" (click)="insertLine()">{{ 'AddLine' | translate }}</button>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right" (click)="emitSendEvent()">{{ 'Save' | translate }}</button>
              </div>
            </div>

          </form>
        </div>

        <!-- Tab Tabela -->
        <div role="tabpanel" class="tab-pane fade" id="tabela">
          <form action="">

            <div class="row">
              <div class="col-md-12">
                <!-- Bordas -->
                <div class="box-group mt-3">
                  <div class="title-config mb-2">{{ 'Border' | translate }}:</div>
                  <div class="radio">
                    <label class="fs-12"><input type="radio" name="optionBorder" id="optionBorder" value="sim" checked>{{ 'Enable' | translate }}</label>
                  </div>
                  <div class="radio">
                    <label class="fs-12"><input type="radio" name="optionBorder" id="optionBorder" value="não">{{ 'Disable' | translate }}</label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Botão de Salvamento -->
            <div class="row mt-3">
              <div class="col-md-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right">{{ 'Save' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
