<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-content">
        <h4 class="mt-0 fw-md">Cálculo do pedido</h4>
        <form [formGroup]="form" (ngSubmit)="register()" class="variables_coasts__form">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-select placeholder="Produto selecionado:">
                  <mat-option (click)="getPropsProduct(produto.id, produto.name)" *ngFor="let produto of produtos" [value]="produto.id">
                    {{ produto.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput formControlName="qtd_parts" placeholder="Quantidade de preças:">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <input matInput formControlName="price_parts" placeholder="Preço da peça:">
              </mat-form-field>
            </div>
            <div class="col-md-3 text-right">
              <button class="btn btn-sm btn-rose">ADICIONAR</button>
            </div>
          </div>

          <table class="table table-striped" *ngIf="listas?.produto?.length > 0">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor unitário</th>
                <th>Valor total</th>
                <th class="text-center w-15">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lista of listas.produto">
                <td>{{ lista.name_produto }}</td>
                <td>{{ lista.qtd_parts }}x</td>
                <td>R$ {{ lista.price_parts }}</td>
                <td>R$ {{ lista.qtd_parts *  lista.price_parts | number : '2.2-2' }}</td>
                <td class="text-center py-0">
                  <ul class="btn-action">
                    <li><a (click)="edit(lista.id)"><i class="flaticon-edit-1"></i></a></li>
                    <li><a (click)="delete(lista.id)"><i class=" flaticon-close"></i></a></li>
                  </ul>
                </td>
              </tr>            
            </tbody>
          </table>
          <div *ngIf="listas?.length > 0" class="variables_coasts__footer">
              Tempo estimado para produzir este pedido: <strong> 48 horas = 6 dias</strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


