<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  pl-2 pr-2">
  <p class="tool-name border-bottom pb-3">{{ 'SalesChannel' | translate }}</p>

  <div class="row mb-3">
    <!-- Nav tabs -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#questoes" aria-controls="questoes" role="tab" data-toggle="tab">{{ 'Questions' | translate }}</a>
        </li>
      </ul>
    </div>

    <!-- Tab panels -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="tab-content">
        <!-- Tab Questões -->
        <div role="tabpanel" class="tab-pane fade in active" id="questoes">
          <form action="">
            <!-- Adição de novas alternativas de respostas -->
            <div class="row">
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                <p class="tool-name">{{ 'Questions' | translate }}</p>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  text-right">
                <a class="cursor" matTooltip="Adicionar Questão" matTooltipPosition="left">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>

            <!-- Grupo de alternativas -->
            <div class="row mb-3">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " *ngFor="let group of groups; let i = index;">
                <div class="row my-2">
                  <!-- Menu acordion Questões -->
                  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <a class="tool-name-subtitle fs-12 w-100 block" role="button" data-toggle="collapse" href="#group{{i + 1}}" aria-expanded="false"> - {{ 'Question' | translate }} {{i + 1}}</a>
                  </div>

                  <!-- Botão Remover Questões -->
                  <div class="col-md-2 text-right">
                    <a class="cursor" matTooltip="Remover Questão" matTooltipPosition="left">
                      <i class="fa fa-minus"></i>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse" id="group{{i + 1}}">
                    <!-- Encunciado -->
                    <div class="box-group mb-3">
                      <div class="row mb-2">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <p class="title-config">{{ 'Title' | translate }}:</p>
                          <input name="group{{i + 1}}" [(ngModel)]="group.name" class="w-100 text" placeholder="Ex.: {{ 'SelectOptionFolder' | translate }}">
                        </div>
                      </div>
                    </div>

                    <!-- Adição de novas imagens -->
                    <div class="row mt-3">
                      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <p class="tool-name">{{ 'Questions' | translate }}</p>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                        <a class="cursor" matTooltip="Adicionar Pergunta" matTooltipPosition="left">
                          <i class="fa fa-plus"></i>
                        </a>
                      </div>
                    </div>

                    <!-- Grupo de Perguntas -->
                    <div class="row mb-3">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let pergunta of group.perguntas; let x = index;">
                        <div class="row my-2">
                          <!-- Menu acordion Perguntas -->
                          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <a class="tool-name-subtitle fs-12 w-100 block" role="button" data-toggle="collapse" href="#pergunta{{x + 1}}" aria-expanded="false"> - {{ 'Question' | translate }} {{x + 1}}</a>
                          </div>

                          <!-- Botão Remover Pergunta -->
                          <div class="col-md-2 text-right">
                            <a class="cursor" matTooltip="Remover Pergunta" matTooltipPosition="left">
                              <i class="fa fa-minus"></i>
                            </a>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse" id="pergunta{{x + 1}}">

                            <!-- Bloco de Perguntas -->
                            <div class="box-group mb-3">
                              <div class="mb-2">
                                <!-- Texto alternativo -->
                                <div class="row mb-3">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p class="title-config">{{ 'Criterion' | translate }}:</p>
                                    <input name="" class="w-100 text" placeholder="Ex.: {{ 'ItCapacityTo' | translate }}...">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Botão de Salvamento -->
            <div class="row mt-3">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="divider mb-3"></div>
                <button type="button" name="button" class="btn btn-primary btn-xs pull-right">Salvar</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div><!-- /Tab panels -->
  </div>
</div>
