
<div class="modal_content">
  <h4 class="mt-0">RESUMO DO PEDIDO</h4>
  <p>Nº 1247</p>
  <h5>Dados do pedido</h5>
  <div class="row">
    <div class="col-md-6 mb-4">
      <span>Nome:</span> {{ dadosPedidos?.name }}
    </div>
    <div class="col-md-6 mb-4">
      <span>E-mail:</span> {{ dadosPedidos?.email }}
    </div>
    <div class="col-md-6 mb-4">
      <span>Data do pedido:</span> {{ dadosPedidos?.dt_pedido | date:'dd/MM/yyyy' }}
    </div>
    <div class="col-md-6 mb-4">
     <span>Data da entrega:</span> {{ dadosPedidos?.dt_entrega | date:'dd/MM/yyyy' }}
    </div>
    <div class="col-md-6 mb-4">
     <span>Cidade:</span> {{ dadosPedidos?.cidade }}
    </div>
    <div class="col-md-6 mb-4">
     <span>Estado:</span> {{ dadosPedidos?.uf }}
    </div>
    <div class="col-md-12 mb-4">
     <span>Endereço:</span> {{ dadosPedidos?.end }}
    </div>
  </div>

  <hr>

  <h4 class="mt-0">Lista do pedido</h4>
  <table class="table table-striped">
    <thead class="dark-header">
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor unitário</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Produto A</td>
        <td>2</td>
        <td>R$10,00</td>
        <td>R$20,00</td>
      </tr>
      <tr>
        <td>Produto B</td>
        <td>2</td>
        <td>R$10,00</td>
        <td>R$20,00</td>
      </tr>
      <tr>
        <td>Produto C</td>
        <td>2</td>
        <td>R$10,00</td>
        <td>R$20,00</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right fw-md">Sub-total</td>
        <td>R$60,00</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right fw-md">Transporte</td>
        <td>R$ {{ custos?.transporte | number : '2.2-2' }}</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right fw-md">Embalagens</td>
        <td>R$ {{ custos?.embalagem | number : '2.2-2' }}</td>
      </tr>
      <tr>
        <td colspan="3" class="text-right fw-md">Total</td>
        <td>R$ {{ custos?.valor_total_do_pedido_com_desconto | number : '2.2-2' }}</td>
      </tr>
      <!--
      <tr *ngFor="let lista of listas.produto">
        <td>{{ lista.name_produto }}</td>
        <td>{{ lista.qtd_parts }}x</td>
        <td>R$ {{ lista.price_parts }}</td>
        <td>R$ {{ lista.qtd_parts *  lista.price_parts | number : '2.2-2' }}</td>
      </tr>
    -->
    </tbody>
  </table>

  <h5 class="modal_content__shared__h5">Compartilhar resumo</h5>
  <p>Deseja compartilhar esse resumo com o cliente?</p>

  <button class="btn btn-sm btn-rose">Enviar por email</button>
  <button class="btn btn-sm btn-rose">Copiar link</button>


</div>

        

        <!--
      

       
    <div class="divider"></div>
    <div class="modal_content__table">
        <h5 class="modal_content__table__h5">LISTA DO PEDIDO</h5>

        
              
    </div>
    <div class="modal_content__shared">
        
    </div>
</div>

-->