<div class="col-md-12">
  <div class="form-group" [formGroup]="group">
    <mat-form-field>
        <input [formControlName]="config.name" type="text" matInput [placeholder]="config.label">
    </mat-form-field>
  </div>
</div>
